[2021-04-21 14:34] data-man commented on #956
I hope https://github.com/jhawthorn/fzy or https://github.com/forrestthewoods/lib_fts sources can be helpful.

[2021-04-21 14:41] jarun commented on #956
Sorry, no bandwidth to rebuild the wheel. The fxf integration as a plugin is seamless.

[2021-04-21 14:41] #956 closed

[2021-04-21 15:43] ldelossa commented on #956
Understood. I wasn't actually aware of this plugin, ill take a look.

[2021-04-21 19:17] dymn opened #958 "Selection marker dissapears and cpmvas copying files to themselves"
Gentoo x86-64, nnn-4.0

1.The "+" sign for file selections disappears when changing the context and returning back, but the selection itself is meant, as indicated by the number in the status bar. It can be very dangerous.

2. If I have a file named ‘a.txt’ and I want to make a copy of it named ‘b.txt’ in the same directory, I do the following: I select ‘a.txt’ so that it has a + prefixed to it’s

[2021-04-21 19:36] KlzXS commented on #958
1. This is intentional. Selection markers are clear on directory/context change. There isn't a way to keep them across directories that's both easy and low in resource usage. So that's that.

2. I haven't tested this myself, but I trust the finding fully. It would have to do with `gvim` being a graphical program, as such `nnn` doesn't wait for it to exit which in turn means that the temporary file

[2021-04-21 19:49] dymn commented on #958
Thanks for the quick response.
1. Is it possible to highlight the status of the selection in the status bar, and the "+" signs themselves next to the files, in some bright color so that they draw attention to themselves?
2. gvim in my case is an attempt to get away from a locked terminal with nnn while editing a file. Same behavior with ewrap and the xfce4-terminal -e "vim \" $ * \ "" command in i

[2021-04-21 22:06] jarun commented on #958
1. Yes, it's very easy now. Use any color and attribute you like around the following line:

https://github.com/jarun/nnn/blob/a629707eecc6ffc1023b93670400830554676487/src/nnn.c#L3670

2. Please read the following section, specially the note that starts with IMPORTANT:

https://github.com/jarun/nnn/wiki/Basic-use-cases#detached-text

For individual files: https://github.com/jarun/nnn/wiki/Basic-us

[2021-04-21 22:06] #958 closed

[2021-04-22 07:27] jtourlamain opened #959 "Get the selected file for live preview to work with a MS Window previewer"
**Is your feature request related to a problem? Please describe.**

I can't get the live preview to work on WSL2 running on MS Windows.
On windows I use quicklook from https://github.com/QL-Win/QuickLook to preview my files. I would like to do the same from nnn running in WSL2.

**Describe the solution you'd like**

If a hook is available that provides the file name and path every time the selecti

[2021-04-22 10:35] luukvbaal commented on #959
See if #960 works for you. I'm not familiar with `QuickLook` and I'm not quite sure what's the point of the `Bridge.exe` but this seems to work fine.

[2021-04-22 15:36] jarun commented on #959
Closed at #960.

[2021-04-22 15:36] #959 closed

[2021-04-22 21:24] shedali opened #962 "ability to start nnn with preset contexts"
happy fourth birthday nnn!

nnn ~/myfolder launches nnn at position of first argument. Then every context begins at the same position.

It would be cool to set context positions on lauch as additional arguments like:

nnn ~/folder1 ~/folder2 ~/folder3 ~/folder4

[2021-04-22 22:30] jarun commented on #962
Please use sessions and persistent sessions.

Having to type the full path of multiple directories when you start `nnn` each time defeats the purpose of having `nnn`. ;)

You should just fire `nnn`, <kbd>Tab</kbd> to open a new context and navigate to another directory in the new context.

[2021-04-22 22:30] #962 closed

[2021-04-24 16:47] sudomain opened #964 "feature requests (and PR's) for gpg* plugins"
Thank you for developing `nnn`. Here are a few things I think can improve the gpg plugins:

Suggestions for both gpge and gpgd:
1. better handling of invalid input. These `else`s allow the user to input nonsense such as:
`(s)ymmetric, (a)symmetric? [default=a] g
(s)election/(c)urrent? [default=c] i`

And the defaults will be used. Don't get me wrong, I like the default options, but I think an erro

[2021-04-24 17:08] jarun commented on #964
@KlzXS please have a look.

[2021-04-24 17:41] akimdi commented on #937
i love this theme https://github.com/morhetz/gruvbox

this popular theme is also used by the maintainer nnn in ArchLinux (gruvbox dark)
https://archlinux.org/packages/community/x86_64/nnn

[2021-04-24 18:31] KlzXS commented on #964
1. Other plugins we have also do it that way. I think we should be consistent.
2. This is mostly fine. It would require another prompt and the default should be write to file. The only potential issue is piping binary data to `$PAGER`.
3. What would you do then? You can't output it back to the same filename. Remove the (.gpg) extension? What if the file doesn't have any? You posed it as a problem,

[2021-04-24 18:34] KlzXS commented on #964
To add for 2. There would also need to be a delimiter between the contents of the files, obviously.

[2021-04-24 19:40] akimdi commented on #964
can sequoia be added as an alternative?
https://archlinux.org/packages/community/x86_64/sequoia

[2021-04-24 20:49] sudomain commented on #964
1. Fair.

2. (I don't have further comment. this is put here because GH markdown messes with the numbering of the list, please ignore)

3. >What would you do then? You can't output it back to the same filename. Remove the (.gpg) extension? What if the file doesn't have any?

Now I understand what it's for. I was focused on the fact that `gpge` always creates files with the .gpg extension, I hadn't

[2021-04-24 22:04] luukvbaal commented on #964
Are you talking about a tty environment? If you're in a graphical environment you should be getting a [`pinentry`](https://wiki.archlinux.org/index.php/GnuPG#pinentry) prompt if your key is locked.

[2021-04-24 22:05] sudomain commented on #964
yup. Vanilla Termux

[2021-04-24 22:13] luukvbaal commented on #964
Try `gpg --pinentry-mode loopback`

[2021-04-24 22:15] luukvbaal commented on #964
Works for me, might as well be default for the plugins since `nnn` is a terminal program anyways.

[2021-04-24 22:47] KlzXS commented on #964
3. Seems reasonable. See if you can squeeze it into the pipeline while keeping it a pipeline.
4. I see you are in a middle of a discussion and also github formatting.
5. I still fail to see why the error. If you can tell me for each file from the selection if it is encrypted or not then why don't you choose the appropriate option for each one individually? But in that case prompts get awkward.

On

[2021-04-25 00:25] jarun commented on #937
@akimdi can you please share a screenshot and the values of the configuration settings?

[2021-04-25 09:55] jarun commented on #964
@sudomain there's no point in merging these 2 now. They are already installed for many users who may not even notice OR get confused. For the other improvements, please go by the suggestions from @KlzXS.

[2021-04-25 09:55] #964 closed

[2021-04-25 09:56] jarun commented on #964
I am closing this because I prefer to haev these discussions in the ToDo list rather than in one issue for each feature suggestion/improvement.

[2021-04-26 12:46] mortezadadgar opened #969 "Weird looking nerd icons on St terminal"
#### Environment details

[x] Operating System: Archlinux
[x] Desktop Environment: bspwm
[x] Terminal Emulator: st
[x] Shell: zsh
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[ ] Issue exists on `nnn` master
![image](https://user-images.githubusercontent.com/27911493/116084085-ec003180-a68c-11eb-814e-ec61037334fc.png)
Also st error about inval

[2021-04-26 13:04] KlzXS commented on #969
I don't know what those escape sequences mean, couldn't find them on wikipedia, but I myself have never seen such an error on st.

I know of the icon issue, but I don't know of a reliable way to fix it. The best thing I found is to add extra spaces after it as having pther characters "too close" to it can make it look like that. The place to add padding is [here](https://github.com/jarun/nnn/blob/

[2021-04-26 13:12] jarun commented on #969
@mortezadadgar are you using the option `-x`?

@KlzXS these are from printing the xterm title to terminal. And I have no plans to add and option to toggle xterm title printing.

[2021-04-26 13:25] jarun commented on #969
@luukvbaal can you please take a look?

[2021-04-26 13:25] mortezadadgar commented on #969
It's not related to -x, same issue after removing the option

[2021-04-26 13:27] jarun commented on #969
And you are not using sessions, right?

[2021-04-26 13:29] jarun commented on #969
I am pretty sure these are from xterm title printing as there prints are:

https://github.com/jarun/nnn/blob/eea4d34423f3b1aabebcd36ba707a25a4780f990/src/nnn.c#L5938

https://github.com/jarun/nnn/blob/eea4d34423f3b1aabebcd36ba707a25a4780f990/src/nnn.c#L7540

[2021-04-26 13:29] mortezadadgar commented on #969
No

[2021-04-26 13:39] mortezadadgar commented on #969
I think it's related to how St manges icons overlaps
St:
![image](https://user-images.githubusercontent.com/27911493/116091787-b4958300-a694-11eb-9442-6cdaaa44ad7d.png)
Alacritty:
![image](https://user-images.githubusercontent.com/27911493/116091837-c2e39f00-a694-11eb-9021-2817b6113ce5.png)

[2021-04-26 14:07] KlzXS commented on #969
That's right. We can't do anything about that. `nnn` just sends text for the terminal to render, it's up to the terminal to decide how it should do that. Try adding extra padding to avoid overlap, that's the best advice I can give you.

[2021-04-26 14:08] luukvbaal commented on #969
You can fix this issue with the patch mentioned [here].

[2021-04-26 14:12] jarun commented on #969
Cool! Closing the defect.

[2021-04-26 20:55] luukvbaal commented on #807
You can now toggle `preview-tui(-ext)` with the same key due to
https://github.com/jarun/nnn/blob/b97e2d02ea92c390977a94810b3f0afc076b81a3/plugins/preview-tui-ext#L150

[2021-04-26 22:37] akimdi commented on #937
[.zshrc](https://gist.github.com/akimdi/58d1b1772580f37dc02b5ee65d393ada)
[.Xresources](https://gist.github.com/akimdi/7fbdd88824b51312cdbece285eab8483)
[kitty.conf](https://gist.github.com/akimdi/6e2a5108e5856bf520d065aa2d0d4c8a)

[Terminess Nerd Font](https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/Terminus/font-info.md)

![1619460006](https://user-images.githubusercontent.com/

[2021-04-26 23:09] akimdi commented on #937
![1619478489](https://user-images.githubusercontent.com/6793168/116162040-a2036400-a6fd-11eb-9123-78c29a117e2b.png)

[2021-04-27 01:50] jarun commented on #937
Thank you so much! This appears to be a dark colorscheme right?

[2021-04-27 17:19] Cephian opened #971 "Swapping names when batch renaming files deletes one of the files"
#### Environment details

[X] Operating System: Arch Linux 5.11.16
[X] Desktop Environment: None/DWM
[X] Terminal Emulator: st
[X] Shell: Bash
[X] Custom desktop opener (if applicable): Not sure what this means but probably N/A
[X] Program options used: None
[X] Configuration options set: None
[X] Issue exists on `nnn` master: Yes

#### Exact steps to reproduce the issue

I did the following on a

[2021-04-27 17:28] jarun commented on #971
Do you have plugins installed?

Otherwise please see - https://github.com/jarun/nnn/wiki/Troubleshooting#default-batch-rename-limits

[2021-04-27 17:28] KlzXS commented on #971
See https://github.com/jarun/nnn/wiki/Troubleshooting#default-batch-rename-limits.

[2021-04-27 17:28] #971 closed

[2021-04-27 17:29] jarun commented on #971
@KlzXS can we make the `mv` in `batchrenamecmd` interactive? I think that would help us confirm the overwrites.

[2021-04-27 17:45] KlzXS commented on #971
I guess. Yes.

[2021-04-27 21:44] amanjitsk opened #974 "picker mode broken"
#918 is open again on master when using `NNN_OPTS=x` in picker mode.
It would be nice to make picker mode work with this option set

[2021-04-27 22:24] luukvbaal commented on #974
#975 is how I would fix it, let's see if @jarun agrees :)

[2021-04-28 01:04] Kabouik commented on #854
When unmounting a folder with `u` in nnn and it fails, nnn offers to try lazy loading. How does that work exactly? I know `umount -l example` but it requires `sudo`.

I think I progressed towards a small script to do the thing discussed above with:

[code]

but `fusermount -u` fails because my mounted folder (a phone mounted with sshfs) busy due to nnn itself, so I would need to include another me

[2021-04-28 02:14] amanjitsk opened #976 "Populating selection with `x2sel` plugin"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Ubuntu 20.04 LTS
[x] Desktop Environment: BSPWM
[x] Terminal Emulator: st and kitty
[x] Shell: zsh
[x] Custom desktop opener (if applicable): nuke
[x] Program options used:

[code]

[x] Configuration options set: `export NNN_OPTS="cCdEfHorQSUx"`
[x] Issue exists on `nnn` master: yes

#### Exact ste

[2021-04-28 03:25] jarun commented on #976
@amanjitsk these are basic scripts. Please go through your issues one by one and try to fix them. And then raise a PR. Personally I don't have the time to check these basic stuff. If someone else is interested, they can have a look.

[2021-04-28 03:57] amanjitsk commented on #976
Noted/ I agree its pretty basic, but that is exactly why I don't have much to work with.
The script is pretty clear in what its supposed to be doing, issue is that `nnn` seems to be ignoring
(null-delimited) paths which are manually appended to the selection file `NNN_SEL`. Anyways, I'll
look into it more.

[2021-04-28 03:57] #976 closed

[2021-04-28 03:59] jarun commented on #976
the selection printed out (the selection populated with x2sel that is).

Yes, when the local buffer is empty that means your selection is from another instance or from X. So it's just listed without any option to edit. The idea is - you should be fixing your selection from the source.

prompt 'c'urrent / 's'el ?

See if you are using the option `-u`. Also check if `rm` tries to delete the current

[2021-04-28 04:10] amanjitsk commented on #976
I am not using the `-u` option, but yes it just deletes the current file.

Ah I see, that design choice makes more sense now that you explained it. Thanks!

[2021-04-28 06:01] jarun commented on #976
This is a case we need to handle.

[2021-04-28 06:20] jarun commented on #976
Please confirm that the patch works as intended and deletes the selection when selection is chosen and current file when current is chosen.

This was a very good issue and I've fixed it in one place. Thanks for being patient!

[2021-04-28 06:23] #974 closed

[2021-04-28 06:37] amanjitsk commented on #976
Nicee, I can confirm this is now fixed.
Thanks for the quick response, y'all are awesome maintainers!

[2021-04-28 10:11] 0xACE commented on #854
Can't comment on it as I don't have the code infront of me. Look at the source, `nnn.c` source is rather easy to navigate... look for `SEL_UMOUNT` or w/e it's called

That is by design for busy resources... `man fusermount` mentions `-z` for lazy, and `man umount` mentions:

[code]

Do with it what you please, but be vary of potential issues.

In my personal use case, i just unmount after everyone

[2021-04-28 10:34] Kabouik commented on #854
Alright, thanks a lot @0xACE.

I think this should work:

[code]

Pleast let me know if it´s worth a PR.

[2021-04-28 23:10] Kabouik commented on #854
### Short update

[![asciicast](https://asciinema.org/a/410580.svg)](https://asciinema.org/a/410580)

This cast shows the script in action:
1. When invoked from outside of `~/.config/nnn/mounts`, operation is aborted because the script is only meant to deal with resources mounted with nnn `c` command.
2. When invoked while hovering a directory in `~/.config/nnn/mounts` but that is not a mountpoint

[2021-04-29 23:46] gyvess opened #978 "Include milliseconds when sorting by time"
Linux Kernel 5.11.10
nnn v4.0
BTRFS

Long story short, I was trying to get `sxiv` to order pictures in the same way `nnn` presents them from newest to oldest. These are hundreds of images downloaded within seconds using `wget2`. I think `nnn` ignores milliseconds when sorting by time, and therefore is unable to match the order of something like `ls --full-time -t`.

For example, here is a list of

[2021-04-30 03:46] jarun commented on #978
`nnn` considers up to nanoseconds. By default we use the modification time from `stat`. From `man stat`:

[code]

The time comparison is done in `entrycmp()`:

[code]

Note that `nnn` can sort by access time and change time too based on user preference.

[2021-04-30 07:46] KlzXS commented on #971
Check out #979

[2021-04-30 17:20] gyvess commented on #978
I don't understand. Then why does `nnn` sort in the wrong order. My example was using modified time, which doesn't match `ls -t` sort. However, I also changed the time preference to access time and change time within `nnn` and neither sort within `nnn` matches `ls -ut` nor `ls -ct` respectively.

[2021-04-30 19:00] jarun commented on #978
I don't know why you are seeing this. I checked in /bin and saw the order is same for `nnn` and `ls`.

[2021-04-30 19:24] gyvess commented on #978
Interesting, because mine isn't. Guess I have to examine this ebuild next
![21-04-30-032234_maim](https://user-images.githubusercontent.com/6826350/116744284-a378a900-a9e9-11eb-8b83-ee886200bad3.png)
.

[2021-04-30 23:54] jarun commented on #978
![](https://i.imgur.com/f3MYokm.png)

Confirm that you are not using sessions and it's retained. Check your `nnn` startup options also your system locale , filesystem (ext4 for me) etc.

My locale:

[code]

My `nnn` compilation options:

    sudo make CFLAGS=-march=corei7 O_NORL=1 O_NOMOUSE=1 O_NOBATCH=1 O_NOSSN=1 O_QSORT=1 O_NOUG=1 O_CKBOARD=1 O_NOX11=1 strip install

[2021-05-01 02:12] gyvess commented on #978
Ran without sessions, same thing. Recompiled without my arrow patch and without compilation options, same thing.

/bin is located on a drive using XFS and the original files I discovered this problem with are an another drive using BTRFS.

My locale:
[code]

My `nnn` compilation options:
[code]

[2021-05-01 03:13] jarun commented on #978
And what are the program options you use to start `nnn`?

[2021-05-01 03:30] jarun commented on #978
I can reproduce this with the following script:

[code]

[2021-05-01 04:22] #978 closed

[2021-05-04 01:19] dv-blk opened #985 "tmux nnn split cd"
**Is your feature request related to a problem? Please describe.**

tmux -> nnn -> vim -> tmux split -> wrong directory

**Describe the solution you'd like**

If there aren't any hooks within nnn to accomplish this and/or not intended to be, I am posting to ask if anyone has implemented this somehow or that can advise

**Describe alternatives you've considered**

I have tried using $PWD from withi

[2021-05-04 01:45] jarun commented on #985
I am not sure what your expectation is but I see this (taking `vim` out of the equation:

- open tmux at `~`
- cd to `Pictures` directory
- tmux split
- new split starts at `~`

Not sure what `nnn` can do here.

You may find something similar in #759. However, fork()s are costly and we do not want to maintain such code either.

BTW, something that may help you - open the file in vim in a new pane

[2021-05-04 01:45] #985 closed

[2021-05-04 01:49] jarun commented on #985
@luukvbaal are you aware of a way to open a file with vim in a new pane in tmux?

[2021-05-04 02:10] dv-blk commented on #985
I was trying to avoid implementing a hybrid vim/tmux key command pattern for doing splits but if I have to do that i'm totally cool with it.

My hope here was someone may know somehow perhaps to supercede nnn and change the directory that tmux is watching - maybe writing that into a script that is called with `EDITOR`, or executed from vim

[2021-05-04 02:42] jarun commented on #985
I do not use too many tabs myself (not even previews for that matter). If I need to open multiple files together for editing I use vim with the `nnn.vim` plugin but that's a rare scenario. If your main purpose is to edit multiple files together from different locations, probably that's a better way to do that. Check out the vim Mini Buffer Explorer plugin too.

[2021-05-04 07:48] dv-blk commented on #985
With a tip from an earlier thread https://github.com/jarun/nnn/issues/565#issuecomment-626358927 ...

I resolved my issue with a little bash, example:
[code]
I have this function in the tmux path and run it with `run-shell`

Now I have `nnn -> split` and `nnn -> vim -> split` using the cwd from nnn

Nnn is worth the effort, TY!

[2021-05-04 09:22] jarun commented on #985
Thanks! Can you please update the Wiki with this info?

The right section should be: https://github.com/jarun/nnn/wiki/Troubleshooting#tmux-configuration

[2021-05-04 20:19] dv-blk commented on #985
Sounds good. I have it written, do I need permission to do add it?

[2021-05-05 00:28] jarun commented on #985
Not at all! Anyone can edit.

[2021-05-05 04:15] dv-blk commented on #985
Updated :+1:

[2021-05-05 07:23] jarun commented on #985
This is not correct. Now we do it:

[code]

[2021-05-05 07:26] jarun commented on #985
But we do not advertise that out of `nnn` is probably the issue.

[2021-05-05 07:31] jarun commented on #985
Updated.

[2021-05-05 07:33] jarun commented on #759
@Kratacoa now we have a solution to get the `nnn` cwd: https://github.com/jarun/nnn/wiki/Troubleshooting#new-windowpane-using-cwd

[2021-05-05 12:01] Moldytzu opened #986 "7469: Read-only file system"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Linux 4.16.3
[ ] Desktop Environment:
[x] Terminal Emulator: Linux's tty0 (no gui)
[x] Shell: busybox's ash
[ ] Custom desktop opener (if applicable):
[x] Program options used: none
[ ] Configuration options set:
[x] Issue exists on `nnn` master: yes

#### Exact steps to reproduce the issue
NOTE: I

[2021-05-05 12:18] KlzXS commented on #986
First off, if you are using a custom distro, especially if it's not publicly available, don't expect people to really care about the issue. Just a general tip.

Now, I see you said you're booting for a DVD. Potentially it mounted the filesystem as ro. You should really check how `/` and `/usr` are mounted and if you can change the mount option.

But if you are booting from a live DVD why would you

[2021-05-05 12:36] Moldytzu commented on #986
I want it to be a linux rescue disk, so if your linux instalation gets corrupted and you can't boot into it you can use it, and I want a small and cool terminal file manager

[2021-05-05 13:19] KlzXS commented on #986
I see. That is useful, but I think it's done a bit differently. Of course, I know nothing about creating a linux image, but I think you would need to include the compiled binary with the rest of the stuff and then compile it all into an image.

In any case I'm closing this issue as it's not a problem with `nnn`, but rather a problem of building an image with `nnn` included.

[2021-05-05 13:19] #986 closed

[2021-05-05 13:38] jarun commented on #986
Please check the source code of `nnn` for your instalaltion. The error that you get is from `xerror()` which prints the line number. So my guess is some function call fails and most probably it is at line number 7469 in nnn.c.

See if it is `xdiraccess()` -> `opendir()`.

[2021-05-05 13:40] jarun commented on #986
`man errno` shows `EROFS           Read-only filesystem (POSIX.1-2001).`

[2021-05-05 13:42] jarun commented on #986
So my best guess is `nnn` tried to write to a file on a read-only filesystem. This is inline with the analysis from @KlzXS.

[2021-05-07 21:04] luukvbaal commented on #267
For anyone still interested in this I'm currently maintaining a [fork](https://github.com/luukvbaal/nnn) that implements this.

[2021-05-07 21:47] Kabouik commented on #267
Thanks for it by the way @luukvbaal. I'm not using it currently because I don't use icons in `nnn` so having details before filenames like in `ls -la` is not a particular inconvenience for me. Also I was not sure the fork would be easy to maintain given how actively `nnn` is being developed. But I do like that your fork gives flexibility regarding the order I starred it because I may well try it s

[2021-05-07 22:31] luukvbaal commented on #267
I got rid of the custom ordering and further simplified the patch since last we talked about it. It's only ~80 LOC now(net diff(https://github.com/luukvbaal/nnn/commit/2956c9fc274a437b047a4a3e6c9f37c0cd0811c0 is actually smaller than upstream) and can usually just `git rebase` without issues so I'll keep maintaining it since I really prefer the names to be first.

I assume you're talking about kee

[2021-05-07 23:56] Kabouik commented on #267
Absolutely, I am referring to that. I actually I did reply in the previous discussion (but I'm not neutral, I was also the one [requesting the feature](https://github.com/jarun/nnn/issues/881#issuecomment-808417452)).

Glad to see it's a simple change I could make locally too, but I'm not a great git expert and am already struggling with my couple stashed changes at every update. Would love to see

[2021-05-08 01:04] luukvbaal commented on #267
I suggest keeping your personal changes in a git branch. Then you can easily generate a diff with upstream (to apply with `patch`) with something like `git diff <upstream>/master <branch>`.

This [PKGBUILD](https://gist.github.com/luukvbaal/3c04845e89bfccc40baf969a46e93ba0)(beware this uses my fork as a base, adapt for upstream) automates the process further using the github diff url. Using this P

[2021-05-08 01:50] jarun commented on #267
When you have a long filename, it's something you want to see (as much as possible). What if there are 5 files with the same long prefix and only the last character is a changing index. We cannot drop that functionality.

If you prefer, feel free to use @luukvbaal's patch.

[2021-05-08 02:03] jarun commented on #937
@akimdi can you add it here? https://github.com/jarun/nnn/wiki/Themes

I am closing this thread as there is no light colorscheme in a month.

[2021-05-08 02:03] #937 closed

[2021-05-08 02:09] luukvbaal commented on #267
@jarun if you hadn't noticed this is a really old issue, I just posted here for anyone who might come across it if they're interested in this feature.

That functionality is not present on upstream though is it? The name is cut off at the end, same as on upstream. If anything my patch can show more of the file names in such a case due to optimizing the size column width to the longest entry instea

[2021-05-08 02:50] jarun commented on #267
I think it will be the same if we fill to the last entry with the same columns in detail mode. However, now I remember we had the issue of dancing columns vs. the columns too far away.

[2021-05-08 03:00] luukvbaal commented on #267
My representation shows more of the name in case the largest size entry is smaller than the fixed width of the size column.

Yeah if you consider the "dancing" an issue that can't be avoided unfortunately when optimizing for screen estate. It only happens when holding down <kbd>J/K</kbd> in a large directory however and my eyes are focused on the name(which is static) when scrolling so I don't see

[2021-05-08 03:20] jarun commented on #958
Settled with reverse. Try commit 7acc9196d5d7ce98446d23531ccf2a171ded7187.

[2021-05-08 09:11] akimdi commented on #937
@jarun
Due to illness, I don't feel well, so now I rarely reply to messages. Excuse me.
I will definitely add a light theme.

[2021-05-08 09:47] jarun commented on #937
Get well soon!

[2021-05-08 10:02] akimdi commented on #937
Thank you 😊️

[2021-05-08 10:53] luukvbaal commented on #935
Following discussion from #267 I do think showing the the last characters of the file name should be prioritized in the case of file names longer than the name column. I was wondering if we should consider changing the `unescape()` function to return something like `abcmnopqrst.txt` or `abc...pqrst.txt` for `abcdefghijklmnopqrst.txt`.

[2021-05-08 11:38] jarun commented on #935
Doesn't cover all cases inclusively. For some filenames the difference may be in the middle. There's always <kbd>f</kbd>/<kbd>^F</kbd> for file details. Just leave it be.

[2021-05-08 21:39] heroin-moose opened #990 "nnn does not cleanup mount points on exit"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Arch Linux
[x] Desktop Environment: None
[x] Terminal Emulator: alacritty
[x] Shell: zsh
[x] Custom desktop opener (if applicable): no
[x] Program options used: none
[x] Configuration options set: none
[x] Issue exists on `nnn` master: yes

#### Exact steps to reproduce the issue

1. Install archiv

[2021-05-08 22:02] uffejakobsen opened #991 "Type-to-nav question"
Given the addditional special keys at empty filter prompt

how do you search for something that starts with a dot ?

example:
.profile

nnn 4.0 (@archlinux)

[2021-05-08 22:39] luukvbaal commented on #991
You can type <kbd>\\.</kbd> with the regex filter enabled. Not being able to type <kbd>.</kbd> with the regular filter is probably intended behavior although I'm not sure about that.

[2021-05-09 01:13] jarun commented on #990
When you mount an archive/remote manually from bash, do you see it unmounted when you close the terminal? ;)

There is no magic with `nnn` mountpoints and `nnn` can't decide if you will access them after quitting `nnn` or not. So you'll have to unmount manually or from `nnn` using <kbd>u</kbd>.

[2021-05-09 01:13] #990 closed

[2021-05-09 01:20] jarun commented on #991
Yes, a <kbd>.</kbd> at the empty filter prompt is re-used to toggle hidden. Use the regex alternative.

It's in the man page as well as in the wiki: https://github.com/jarun/nnn/wiki/concepts#filters

[2021-05-09 01:20] #991 closed

[2021-05-11 04:55] CantoroMC opened #996 "Broken(?) behaviour of invert sel ('A')"
One of the commit made yesterday, i think have broken(probably) one of the feature on nnn.
If I know press 'A' without any already selected item, nnn will no more select all the elements; whereas if i select some one or more elements and then press 'A', nnn will correctly invert the selection.

[2021-05-11 06:06] jarun commented on #996
Probably commit e4c3f7d739e25e8f670ddb3366ef347471218619. I will take a look.

[2021-05-11 06:20] CantoroMC commented on #996
Probably this is not the right spot, but i would like to say that is the best file manager I have ever seen, and probably the most useful application i have discovered so far.
Congratulations.

[2021-05-11 06:28] jarun commented on #996
Thank you for the compliment!
The issue should be fixed on master now. Please test and confirm.

[2021-05-11 06:36] CantoroMC commented on #996
Fixed

[2021-05-11 10:55] jarun commented on #499
Guys, can you please confirm this issue is not re-introduced with commit 29baa7cbdca864d438bb9f876392bb7fb50f044e?

Don't want to break the next release.

[2021-05-11 17:15] jarun opened #998 "Broken window on closing `preview-tui-ext` after navigating to parent dir"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: Ubuntu 20.04 x86_64
- [x] Desktop Environment: XFCE4
- [x] Terminal Emulator: xfce4-terminal
- [x] Shell: zsh
- [x] Custom desktop opener (if applicable): nuke
- [x] Program options used: `-acdDEnQrux`
- [x] Configuration options set: `NNN_PLUG`
- [x] Issue exists on `nnn` master

#### Exact step

[2021-05-11 23:47] jarun commented on #998
Adding @leovilok.

@luukvbaal Does the message `dir changed, range sel off` give some ideas? `MSG_DIR_CHANGED` is used at only one place in `nnn.c`. It looks like somehow the program has entered the `SEL_SELMUL` case.

[2021-05-11 23:51] luukvbaal commented on #998
Well the only I can see that happening is if `preview-tui-ext` somehow passes key presses to `nnn` right?

[2021-05-11 23:53] jarun commented on #998
Yes, possible. I just tested with `preview-tabbed` and I don't see this problem.

Also note that I am pressing <kbd>Alt-P</kbd> to close the previewer.

[2021-05-12 00:00] luukvbaal commented on #998
Yeah I am too, couldn't reproduce yet.

BTW `netbsd-curses` doesn't seem to play nice with `st`(suckless` simple terminal). When toggling  preview-tui I see flickering of the trailing whitespace in `nnn`. Doesn't happen when just opening/closing `tmux` panes though🤔

[2021-05-12 00:05] jarun commented on #998
Does `preview-tui(-ext)` write something back to `nnn` when it's closed with the same plugin key?

[2021-05-12 00:13] luukvbaal commented on #998
If it does it's not intended. Toggling is done by killing the `cat "$NNN_FIFO"` pipe.

Could you try
[code]
`cat ~/test`

[2021-05-12 00:19] luukvbaal commented on #998
But this behavior is still specific to the netbsd-curses and musl libc compilation right?

[2021-05-12 00:35] luukvbaal commented on #998
I see, weird stuff. I'm off to bed for now though, good luck.

[2021-05-12 01:38] jarun commented on #998
Unrelated to this issue.

I see sabotabge-linux has a [recipe for `nnn`](https://github.com/sabotage-linux/sabotage/blob/master/pkg/nnn) but the version is dated.

@rofl0r can you please update it to use the latest `nnn` v4.0?

[2021-05-12 03:26] jarun commented on #998
@luukvbaal I have explained the issue in https://github.com/sabotage-linux/netbsd-curses/issues/46. `netbsd-curses` sends a `NULL` (0) which is registered as <kbd>^Space</kbd> (mark range/clear sel keybind) in `nnn`.

See if the flickering issue on `st` is also due to the same problem.

I am considering removing the <kbd>^J</kbd> keybind and just leave the <kbd>m</kbd>. As someone who uses the _na

[2021-05-12 04:47] #998 closed

[2021-05-12 10:14] luukvbaal commented on #998
No the problem is still there, although it seems to go away after changing directories a few times:
![out](https://user-images.githubusercontent.com/31730729/117956927-d12eed80-b319-11eb-904e-48d68f3ae25f.gif)

Was also able to confirm that it's a problem only occurring with netbsd-curses in combination with the [alpha](https://st.suckless.org/patches/alpha/) patch, issue is not present on `st` ma

[2021-05-12 11:49] jarun commented on #998
Thanks for checking it!

While we are at it, and to have the notes for later, I see another issue with `xfce4-terminal` (no `-n`) where if I keep opening and closing a text file detached in another tab again and again, the window breaks. The statusbar is printed after the last entry. Not sure if it is due to the same redraw issue we reported.

If I repeat the open and close the file once or twice,

[2021-05-12 13:17] GeorgVIII opened #999 "Question: nnn leaves zombies while running plugins"
I noticed that each time i run plugin in nnn it creates zombie nnn child processes.
It happens both with plugins which run in background, such as
[code]
and foreground plugins, such as
[code]
After each plugin call nnn gets new child zombie, which will remain till death of the main nnn process.
![exmpl](https://user-images.githubusercontent.com/52504534/117978697-d486a100-b33a-11eb-9252-ffef8fb2b4

[2021-05-12 13:53] KlzXS commented on #999
No. Good catch.

#1000 addresses this.

[2021-05-12 14:00] jarun commented on #999
Haha! A good 1000th one @KlzXS! Love it that it comes from you! :+1:

[2021-05-12 14:01] #999 closed

[2021-05-12 14:07] jarun commented on #999
@KlzXS I still see the zombie process with this. I tried the plugin:

[code]

[2021-05-12 14:08] jarun commented on #999
Note that we have a 3-level fork here. Also, a previous discussion here on opening files: https://github.com/jarun/nnn/issues/449

It it's not straight I will take the same stand - just live with it.

[2021-05-12 14:10] jarun commented on #999
Sorry! It's fixed!!!
I forgot to copy the binary to bin dir.

[2021-05-12 14:14] KlzXS commented on #999
You scared me with that zombie for a moment 😄

[2021-05-12 14:15] jarun commented on #999
LOL! :dancing_men:

[2021-05-12 14:56] GeorgVIII commented on #999
Thank you for your work!

[2021-05-13 10:00] lawnowner commented on #935
@jarun (https://github.com/jarun/nnn/issues/499#issuecomment-838266621) The prompt looks better than before with repl now. This morning, I got a three line error message starting with "`Assembler: `" after running `sleep 1; date` and typing stuff while asleep, although all I can do is wishing you good luck with reproducing that as I can't even remember the full error message, let alone the keys pr

[2021-05-13 10:31] jarun commented on #935
Get used to the tilde. It was requested by multiple users.

[2021-05-13 21:38] Kabouik commented on #935
I noticed `preview-tui` and `preview-tui-ext` queue image previews when scrolling through multiple files. It is probably a non-issue on most machines, but breaks previews on slower ones (_i.e._, SBCs running on SD cards, machines/VM/LXC without hardware acceleration for kitty image preview, _etc._) because load times add up for every file hovered along the way.

It may be true for other file types

[2021-05-13 22:29] jarun commented on #935
@leovilok @luukvbaal can you please take a look?

Yes, it actually looks awful to anyone from sane more/less background. Please raise a PR to remove this from all plugins.

[2021-05-13 23:12] luukvbaal commented on #935
The preview plugins work with a FIFO so the previews are inherently queued. Not sure anything can be done about a slow machine that can't keep up with how fast you change the selection.

Never noticed the `bat` defaults since I have `BAT_STYLE` in my profile. I agree the grid is only clutter so I'm fine with getting rid of it.

[2021-05-13 23:20] Kabouik commented on #935
I really have no clue how a FIFO works, but was hoping there was a way to interrupt prior previews if a new one is being issued, without waiting. Something I vaguely remember [@leovilok solved](https://github.com/jarun/nnn/issues/617#issuecomment-638518110) with a simple `&` when I was having a similar issue with `viu` (hence why I tried `&` here, but I guess it's only a partial solution and reach

[2021-05-14 01:38] luukvbaal commented on #935
I was actually able to reproduce the queuing to some extent with kitty on my laptop with key-repeat and #1006 should fix the issue.

If at all possible I would suggest using `ueberzug` instead of kitty's `icat` if speed is an issue for you since it is ALOT faster.

[2021-05-14 02:19] jarun commented on #935
Completely agree! As someone who multitasks all the time my experience with kitty has been horrible. And I have started compiling with `O_FIFO=1` only after @luukvbaal added ueberzug support.

[2021-05-14 07:00] KlzXS commented on #935
TIL github will match "fix #XXX" in a middle of a sentence.

[2021-05-14 07:09] jarun commented on #935
Nice image BTW @KlzXS!

[2021-05-14 08:10] jarun commented on #935
@luukvbaal and @Kabouik can you guys audit `nuke` + `preview-tui*` (all plugins in general) and see if it can be optimized?

Things I can think of:

- `case` in place of too many `if`s
- use of [shell builtins](https://tldp.org/LDP/abs/html/internal.html#BUILTINREF) (e.g. `type` instead of `which`)
- it would be great to get rid of `echo` for `printf`

This [optimization document](https://tldp.org

[2021-05-14 10:22] luukvbaal commented on #935
Yeah some of those things have been bothering me since I started working on `preview-tui` but I didn't want to change the style you guys adopted. I'll see what can be done for `preview-tui` however I don't use `nuke` myself so I'd rather if someone else could pick that up.

[2021-05-14 10:24] jarun commented on #935
Doesn't matter. Please have a look if you have the time.

[2021-05-14 11:00] enes4949 opened #1007 "Icons doesn't work properly on ST"
- [x] Operating System: Arch Linux
- [x] Terminal Emulator: st
- [x] Shell: Bash, Zsh

#### Exact steps to reproduce the issue
Clone and install [my st fork](github.com/enes4949/st). Launch nnn with icon support.

Icons are cropped on my terminal.
![2021-05-14_13-58](https://user-images.githubusercontent.com/63241739/118261723-7fb26a00-b4a3-11eb-9edb-37b68a80e11a.png)

[2021-05-14 11:01] luukvbaal commented on #1007
Please look through the issue history, see #969.

[2021-05-14 11:01] #1007 closed

[2021-05-14 11:01] jarun commented on #1007
@luukvbaal @KlzXS any ideas?

[2021-05-14 11:03] luukvbaal commented on #1007
About whether this can somehow be avoided in `nnn` without the `st` patch mentioned in #969, I'm not sure.

[2021-05-14 11:07] luukvbaal commented on #1007
I did notice the issue sometimes went away while working on my `print_details` fork. I think it had something to do with printing `ICON_PADDING_RIGHT` with or without certain `attrs`. Fixing it on `st` side with the patch mentioned in #969 should be the better option though.

[2021-05-14 11:42] wustho commented on #935
@jarun hello there, sorry the tread is locked. About cleanfilename, with latest commit (merged) it won't overwrite any file...

Instead, it will be prepended with _ if file with the same name already exists... Eg. file1 --> _file1 if file1 already exists...

[2021-05-14 11:44] jarun commented on #935
@wustho awesome! Thanks for the confirmation.

[2021-05-14 14:52] Kabouik commented on #935
Ha, thanks for the advice! That's frustrating after I spent time configuring kitty **exactly** because I wanted to use `icat` and finally have real image previews in terminal. I assumed `icat` being native to kitty, it would perform better than alternatives. I'll try the combination `kitty` + `ueberzug` on the slow machine instead.

@jarun what exactly was horrible for you with kitty? Overall perf

[2021-05-14 16:01] jarun commented on #935
Image rendering.

[2021-05-14 19:52] Kabouik commented on #935
I failed at prioritizing `ueberzug` over kitty's `icat` in the plugin (I shifted its close to the top but broke previews, won't bother you with that here), but to get a better idea of `ueberzug`'s performance, I compared image preview between a [`fff` fork using `ueberzug`](https://github.com/zeljkobekcic/fff) and [`fff` upstream using `w3mimgdisplay`](https://github.com/dylanaraps/fff).

I got mu

[2021-05-14 20:32] Kabouik commented on #935
`w3mimgdisplay` doesn't support `tmux` so problem solved!

[2021-05-14 20:32] luukvbaal commented on #935
You're right, prioritzing `ueberzug` over `icat` in `kitty` requires more changes than shifting the order in `image_preview()`. See e.g. lines such as: `[ "$TERMINAL" != "kitty" ] && exists ueberzug && ueberzug_remove` in `preview_fifo()`.

`ueberzug` previews are pretty much instantaneous on the machines I use `nnn` on but I can believe `w3mimgdisplay` could be faster as its writting in C as oppo

[2021-05-14 21:00] luukvbaal commented on #935
@Kabouik This is the [diff](https://gist.github.com/luukvbaal/a2f30395287567539f076ce2c1478f2d) you would need for `ueberzug` previews in `kitty`.

[2021-05-14 21:13] Kabouik commented on #935
Nice, thanks a lot @luukvbaal! It's not instantaneous on my slow device but I can feel an improvement indeed. The queuing is there though (which is expected, it was prevented just for `icat` as far as I understand). However I have mixed feelings about the queuing in this case: on the one hand it's ugly and can go bad if scrolling for several seconds continuously, on the other hand `ueberzug` appea

[2021-05-14 21:33] luukvbaal commented on #935
I do believe `ueberzug` does some kind of caching yeah but I would also suggest following
`# Consider setting NNN_PREVIEWDIR to $XDG_CACHE_HOME/nnn/previews if you want to keep previews on disk between reboots` on a slow device if you havent already. If disk space is less of an issue that is.

This will place converted images in `$XDG_CACHE_HOME` instead of the default `$TMPDIR` which is lost afte

[2021-05-14 22:31] Kabouik commented on #935
Will do. Disk space is an issue since this is a [phone](https://www.youtube.com/watch?v=8PnDZtKzsSc) but I know where to clear the cache when I reach the limit.

Probably out of scope since it's not the official plugin, but with the diff to prioritize `ueberzug` over `icat` in kitty, the preview does not properly follow layout. See here with patched `preview-tui-ext` (`ueberzug` previews) on the l

[2021-05-14 23:06] luukvbaal commented on #935
Yeah `preview-tui` is not aware of the preview pane origin as is the case for `tmux`. I already accounted for this for horizontal splits in the initial diff but forgot about vertical splits.

Try the following `ueberzug_layer()`
[code]

Updated the gist as well.

[2021-05-15 22:01] rieje opened #1012 "Update selection file when file list updates"
I have a script that trashes a file selected by nnn using the selection file. I run it externally, and when I return to nnn, the file trashed still shows until I attempt to open it (should nnn have updated the file list automatically or is this by design?).

Anyway, once the file list is updated to reflect that the file was trashed, nnn still shows this file/directory as marked. This seems never u

[2021-05-15 22:10] jarun commented on #1012
Your plugin should [clear selection on exit](https://github.com/jarun/nnn/tree/master/plugins#send-data-to-nnn) and should _not_ [disable dir refresh on exit](https://github.com/jarun/nnn/tree/master/plugins#skip-directory-refresh-after-running-a-plugin).

[2021-05-15 22:10] #1012 closed

[2021-05-16 03:37] dankamongmen opened #1014 "notcurses ui backend"
The other day, I posted [about Notcurses 2.3.0](https://www.reddit.com/r/linux/comments/nbyee2/notcurses_230_released_with_portable_terminal/) to r/linux, and u/sablal (who i *think* is @jarun) mentioned a potential nnn rewrite. I wanted to open up communication channels and offer whatever help I could as author of that library. `nnn` moving to Notcurses would get me some great exposure and exerci

[2021-05-16 03:42] jarun commented on #1014
Thanks for the heads-up!

Adding @KlzXS. Whenever he has the time.

[2021-05-16 20:19] mizlan commented on #937
I can take a shot at this. One question I have is, since `nnn` by default uses the terminal ANSI colors, would it be odd for there to be a custom light palette but not a custom dark palette?

[2021-05-16 20:56] jarun commented on #937
The default we have is appropriate for dark terminals if that's what you are asking.

If you are suggesting we should have both the light and dark variants for a theme - yes, that makes sense.

[2021-05-16 20:59] jarun commented on #937
BTW, this can wait. I am more concerned about the outstanding `nnn.vim` issues. So feel free to prioritize those.

[2021-05-16 21:30] Kabouik commented on #935
This didn't solve the issue from my first tests, but that was just a quick test while on the move, I'll test more thoroughly with more terminals and scenarios.

Unrelated: I mentionned in [977](https://github.com/jarun/nnn/pull/977#issuecomment-830308763) that scripts and vanilla functions outputs are garbled after several actions because they are displayed on top of each other. In `cmusq` I just

[2021-05-17 03:26] jarun commented on #935
You can do that for all the scripts. Just ensure you see the problem in the script and then you do the change.

This is not an `nnn` issue. `nnn` uses the interactive option of `cp`. See `cp` options. If you have something you'll have to recompile the code with that.

That prompt is from [advcpmv](https://github.com/jarun/advcpmv). You can try to add an `fflush()` after every progress bar ending a

[2021-05-17 03:56] jarun commented on #1014
Added a line item in the rolling ToDo list with a reference to this defect for details. Closing this thread.

[2021-05-17 03:56] #1014 closed

[2021-05-18 15:36] KlzXS commented on #1014
Hey @dankamongmen, nice to you here!
Sorry for such a late reply I am and will be quite short on time until June.

`nnn` won't be replacing ncurses with notcurses. At least not yet. The plan is to port it to notcurses to see how it feels like and what it can do.

I think it would be best to start work based on the next release of nnn which I'm expecting to be around the begining of June. That way

[2021-05-18 16:12] jarun commented on #1014
This. And take your time. This will remain an experimental option like `netbsd-curses` till someone does a thorough testing.

[2021-05-18 16:32] jarun commented on #935
@Kabouik the broken overwrit eprompt is fixed at https://github.com/jarun/advcpmv/commit/6adf5441b995c1bc614c51ffa0cb0e0545d23b94.

@mizlan unfortunately no such documentation exists. Please feel free to ask any questions you have. Also, I invited to the nnn devs group. Please join that. We generally discuss there.

[2021-05-18 16:54] mizlan commented on #935
So sorry, but I am unaware of the dev group and can't seem to find it. What platform is it on? Gitter?

[2021-05-18 17:25] Kabouik commented on #935
Awesome, thanks @jarun. I didn't even have the time to try what you suggested, can't keep up with your pace. :>

On 2021-05-18 18:33 Piña Colada ***@***.***> wrote:

[2021-05-18 22:50] jarun commented on #935
Please check your mail. I sent you an invitation 1/2 days back.

[2021-05-19 01:25] mizlan commented on #935
The invitation for was collaboration (push access) right? I do not see any sort of discussion group associated with it. Sorry for the inconvenience.

[2021-05-19 01:36] jarun commented on #935
Not that one. I've resent the invitation just now. Please check.

[2021-05-19 07:53] dankamongmen commented on #1014
thanks for the lengthy reply, @KlzXS . i think a branch seems the way to go, so that it can track development on your trunk easily.

based on a survey of `nnn`, i think Windows and OSX support would be necessary before any kind of port is worth working on. I'm thus prioritizing that work, with the goal of having it done by the end of June, probably before 3.0.0 is released. Until we can demonstrat

[2021-05-19 12:30] ThomasBucaioni opened #1021 "Key remap"
Is it possible to remap the keys with a config file (my keyboard is Dvorak)?

[2021-05-19 12:44] KlzXS commented on #1021
All the keybinds are located in [src/nnn.h](https://github.com/jarun/nnn/blob/master/src/nnn.h). Update them to your liking and recompile.

`nnn` doesn't use any config files, all config is done at compile time.

[2021-05-19 12:44] #1021 closed

[2021-05-19 12:48] jarun commented on #1021
Also, see option `-K`.

[2021-05-19 13:00] jarun opened #1022 "ToDo list"
Rolled from #935.

### Cooking

- [x] a patch management model for approved patches
- [x] multi-threaded disk usage calculation using pthreads and FTS
- [x] dynamic view update when calculating disk usage
- [x] <kbd>Bksp</kbd>/<kbd>Del</kbd> at empty filter prompt to refresh dir
- [x] Try to create new context with <kbd>Shift-TAB</kbd>, else reverse cycle
- [x] <kbd>Alt+Esc</kbd> to quit context f

[2021-05-19 13:01] #935 closed

[2021-05-19 13:05] ThomasBucaioni commented on #1021
Cheers, having a look

[2021-05-19 16:08] Kabouik commented on #1021
Note that if you edit keybindings in `nnn.h` (which I do at every pull to disable <kbd>x</kbd> to delete), you'll have to edit the
keybinding descriptions (`?` screen in `nnn`) accordingly too.

[2021-05-20 01:05] mizlan opened #1023 "Persistent named sessions"
**Is your feature request related to a problem? Please describe.**

Right now, you can either have a persistent default `@` session (`-S`), or non-persistent named sessions (`-s <name>`)

**Describe the solution you'd like**

I want the ability to persist named sessions. This would help where `nnn` is embedded in text editors, for example.

**Describe alternatives you've considered**

I have not c

[2021-05-20 02:59] mizlan commented on #1023
Here's the deal. Currently, when both `-S` flag and `-s <name>` flag are passed, only the later one has any effect. This is because the value of `session` is overwritten during option parsing:

https://github.com/jarun/nnn/blob/36e1544b323e0ba4f5d81a7f5a840ad757fc952b/src/nnn.c#L7766-L7772

Also good to note is that `nnn` only checks if the session should be persistent when the program exits:

htt

[2021-05-20 03:01] jarun commented on #1023
I am already working on it. In the same line so we are good.

[2021-05-20 04:50] mizlan commented on #1022
I've read a past thread but am still confused as to what this means.

[2021-05-20 05:03] jarun commented on #1022
Updated now. Basically filter keys to apply a filter at the start of the program. However, I don't see much benefit.
See if the multi-threaded `du` interests you.

However, I would like the `nnn.vim` plugin enhancement to support sessions first.

[2021-05-20 14:08] ThomasBucaioni commented on #1021
@Kabouik Indeed, thank you for the warning

[2021-05-20 17:51] mizlan commented on #1023
The behavior isn't exactly as desired. There is still an error message when I try to create a session that is nonexistent (I would instead expect for it to be created).

[2021-05-20 17:55] jarun commented on #1023
It is created. The msg comes the first time you load it because it's non-existent.

[2021-05-20 17:55] jarun commented on #1023
Maybe we can get rid of it now that we know we will create it if it doesn't exist.

[2021-05-20 17:57] mizlan commented on #1023
Yeah, I was referring to the error message. I agree with removing it since `-s <name>` will always succeed, but its behavior may differ.

[2021-05-20 18:06] jarun commented on #1023
On second thoughts, I think we should have it to indicate that the session file doesn't exist.
It would be correct to indicate in cases where, say user had created the session earlier but somehow it was removed. He may want to be notified in that case. And it's also useful for us to debug later.

I am not sure why it's confusing. When you are creating the session for the first time, it doesn't exi

[2021-05-20 18:08] mizlan commented on #1023
I see where you are coming from but I think there should be some method of disabling that, especially if the user is not directly controlling the session as in the case with nnn.vim. It would be odd for the user to see "failed!" or other messages when they expect it to be more discreet.

[2021-05-20 18:11] Kabouik commented on #1023
How about rephrasing the error so that it looks like a simple warning/feedback about the newly created session?

[2021-05-20 18:14] mizlan commented on #1023
Sure. My main concern is mostly the 1-second delay that occurs with the error message. So if that could be removed that would be much better already.

[2021-05-20 18:46] jarun commented on #1023
It's necessary information.

I think it's just fine for a 1-time message. Let's not overthink. We can document if if we want. I do not want 3 people to spend time discussing it.

[2021-05-20 18:56] mizlan commented on #1023
I'll let you try it out after I'm done with the nnn.vim patch. I personally think its annoying, since a nice part of nnn is its fast startup time.

[2021-05-20 19:33] jarun commented on #1023
OK.

[2021-05-21 17:02] jarun commented on #1023
Closed at https://github.com/jarun/nnn/commit/54d760b9f533b26c36e915743fe521a05b72aa23.

[2021-05-21 17:02] #1023 closed

[2021-05-22 02:12] jarun commented on #1022
@Kabouik can you please audit `nuke` in the lines of https://github.com/jarun/nnn/issues/935#issuecomment-841088727?

It would be good to have that done before the next release.

[2021-05-22 02:16] jarun commented on #1022
Leave it. I took a look, it's more or less clean.

[2021-05-25 13:06] jayp0501 commented on #1022
I need someone to help me to try to build and go through this I have issues with readingBut I do have someone that is going through my phone blocking me from things and I need to put a stop to it they help me where I cannot advertise on craigslist they had me where I was not able to go on some websites and I will stop at Jewett

[2021-05-26 11:10] leomayer opened #1025 "Current version won't compile"
- [x ] Operating System: OpenSuse
- [ ] Desktop Environment:
- [ ] Terminal Emulator:
- [ x ] Shell: fish 3.2.2
- [ ] Custom desktop opener (if applicable):
- [ ] Program options used:
- [ ] Configuration options set:
- [x ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

[code]

Where to find `readline` dir?

[2021-05-26 12:38] jarun commented on #1025
You need to install the readline development files: https://github.com/jarun/nnn/wiki/Usage#dependencies

And if you can't, use the make option `O_NORL=1`: https://github.com/jarun/nnn/wiki/Developer-guides#make-options

[2021-05-26 12:38] #1025 closed

[2021-05-26 14:57] mohammad5305 opened #1026 "icon not set"
hi i compile nnn with flag O_ICONS=1 but icon not set and nerdfont and awesomefont also installed I even change my terminal font and terminal  but same happend
termianl = st, konsole
font = nerd
distro = arch with i3wm
![image](https://user-images.githubusercontent.com/71145952/119682460-2578b800-be58-11eb-8839-04e6b5e8aed3.png)

[2021-05-26 15:14] jarun commented on #1022
@CodeforEvolution does Haiku have libpthread? Planning to implement threaded disk usage calculator.

[2021-05-26 17:01] jarun commented on #1022
Note that we will also need fts.

[2021-05-26 17:08] CodeforEvolution commented on #1022
Sure thing! And yes, it looks like we have fts. :)

[2021-05-26 17:09] jarun commented on #1022
Cool! This is very important for the next release.

[2021-05-26 17:24] CodeforEvolution commented on #1022
@jarun Well, better yet, I can confirm that no additional changes are required! I was able to successfully build the latest commit of nnn and run the test you posted in the commit message.

[2021-05-26 17:25] jarun commented on #1022
Just awesome!!! :+1:

[2021-05-26 17:32] luukvbaal commented on #1026
Looks like you're compiling with with `O_NOLC=1`, you can't do that if you wan't to use icons. See https://github.com/jarun/nnn/wiki/Developer-guides#compile-in-icons-in-terminal.

[2021-05-26 18:25] luukvbaal commented on #1026
Please confirm this was your issue. #1027 should prevent this situation from now on.

[2021-05-26 18:25] #1026 closed

[2021-05-27 10:45] luukvbaal commented on #1026
Do icons work in your terminal outside of `nnn`? You say you're using a nerd font but are compiling with `O_ICONS=1`, you should compile with `O_NERD=1`.

The only way I know your icons would look like that is if your compiling with both `O_NOLC=1` and `O_NERD/O_ICONS=1`. If that's not what's going on I'm afraid I don't know.

[2021-05-27 11:23] jarun commented on #1026
@mohammad5305 this appears to be a local issue. I'm afraid you'll have to debug it yourself or use `nnn` without icons (which is really not an issue because I see you have colors).

Also please ensure you have installed the icons in correctly e.g. following https://github.com/sebastiencs/icons-in-terminal#installation

I have `~/.fonts/icons-in-terminal.ttf`

and `~/.config/fontconfig/conf.d/30-ic

[2021-05-27 11:38] mohammad5305 commented on #1026
yeah icon show outside of nnn ,I try it too but not working
![image](https://user-images.githubusercontent.com/71145952/119819448-a346cd00-bf05-11eb-929b-5a807ad5d095.png)

[2021-05-27 12:00] mohammad5305 commented on #1026
i have to and added this my fontconfig but same happend
![image](https://user-images.githubusercontent.com/71145952/119822137-8f509a80-bf08-11eb-83ff-f27749a01bb0.png)

[2021-05-27 12:23] luukvbaal commented on #1026
Outisde of `nnn` but inside your terminal?

Your images now show no icons at all; not the widechar -> char glyphs you were experiencing in your initial post. I.e. you must not be compiling in icons correctly or else there would be spacing in front of the file/dir names.

[2021-05-27 18:28] mohammad5305 commented on #1026
inside of terminal I use nerdtree with icon in vim and show me the icon as well  and for showing widechar I accidentally compile with wrong flag I try with right flag too but not working
![image](https://user-images.githubusercontent.com/71145952/119878014-ea9d7f80-bf3e-11eb-8ed3-8a79bb25b6a0.png)

[2021-05-27 20:24] luukvbaal commented on #1026
I don't see how this could happen except when compiling with both `O_NERD/O_ICONS` and `O_NOLC` (which is not possible anymore if you're on the latest commit).

Again, please make sure you're not including `O_NOLC` if you want icon support in `nnn`. If that's not what you're doing I'm also at a loss of why you would get those character instead of icons and I can't help you further.

[2021-05-28 17:05] luukvbaal commented on #1022
Not sure what .thumbs is but no, thumbnails go to `$TMPDIR` by default and a suggestion to set `$NNN_PREVIEWDIR` to `$XDG_CACHE_HOME/nnn/previews` is present in the docs.

[2021-05-28 17:19] Stig124 commented on #1022
Hello,
I can make a multi-arch docker container to build the arm images if needed

[2021-05-28 17:28] jarun commented on #1022
@luukvbaal

Thanks for confirming! Yes, I confirmed it's not from our previewers.

@KlzXS @luukvbaal @0xACE what do you guys say?

[2021-05-28 17:31] 0xACE commented on #1022
Not sure what to say about it. Do as you please...

[2021-05-28 17:46] KlzXS commented on #1022
If it can be nicely integrated into your release workflow and produces a useable build, sure.

Do we have someone with these architectures? All I have that is not x86 is a pi zero.

[2021-05-28 18:05] jarun commented on #1022
I have a Pi 4 but can't guarantee I'll be able to test on every release.
However, I think it's a good idea in general if we can auto-generate these. We do have a line item.

I think @Stig124 you cna go ahead. Please do the CI integration as well.

[2021-05-28 18:08] Stig124 commented on #1022
Will do

[2021-05-28 20:12] KlzXS commented on #1022
Users will test it out in time. Let's just make sure the first binary we release doesn't have any major issues.

[2021-05-28 20:18] jarun commented on #1022
The next release is going to be a massive one with the features that are in.

[2021-05-28 21:25] 0xACE commented on #1022
One of my `ARM Cortex-A73` is running on my personal branch based on 950a8f6a6560f32a5f8737922e03c7bc0bdc9bd5 and it has been running fine for 3 years, nor have i experienced any issues exclusive to my `arm` machines...

[2021-05-28 21:37] Stig124 commented on #1022
Had time to tinker with the image, it builds just fine, but I'm afraid that it won't go fine in CircleCI

[2021-05-29 09:37] jarun commented on #943
@GeorgVIII please check commit c37bc90918336028897afdd5a6e2e642ba6cb570.

You should be able to get past both the `'Enter' to continue` and the prompt with <kbd>^D</kbd>.

This is one of those cases where we need time to get to the correct solution.
We don't always have ready solutions for these tiny little things and looking up in the web doesn't really help. As you'll see in this case, it's real

[2021-05-29 15:03] ahillio opened #1029 "can nnn do `cp file.txt new-filename.txt`?"
I see that I can use `space` key to select a file, and then I can paste that file into a different directory by navigating there and doing `Ctrl p`.... but what if I want to copy the file to the same directory with a new name?  Is that possible?

Does nnn allow for `cp file.txt new-filename.txt`?

[2021-05-29 15:19] jarun commented on #1029
Relevant wiki section: https://github.com/jarun/nnn/wiki/Basic-use-cases#duplicate-file

Please read the wiki. It will take some time, but I can assure you, it's super-useful.
We spend a lot of time writing it and keeping it up-to-date. If users read it, the purpose will be met. :)

[2021-05-29 15:19] #1029 closed

[2021-05-29 15:24] KlzXS commented on #1029
I think what you are asking is more along the lines of copy/move as. The keybind for that is `w`. After answering the prompt for cp/mv you will be greated by your `$EDITOR` to enter the new names.

[2021-05-29 15:37] ahillio commented on #1029
Thanks for the proper link!  I was reading https://github.com/jarun/nnn/wiki/Usage#keyboard-mouse and hadn't found the "basic usage" page.  Thanks for the `w` tip too!

[2021-05-29 19:56] Stig124 commented on #1022
Hello,

I thank about that, it will not be possible to build executables on ARM using CircleCI, I spoke of that w/my boss, and he can loan me for free a ARM64-based machine that I can configure to respond to webhook so that It will be building the executables for nnn in both ARM64 and ARM32, what do you think @jarun?

[2021-05-29 20:02] KlzXS commented on #1022
The main issue with that becomes whether that machine will be available in the future or not. It would really suck if suddenly the arm builds stopped being built.

[2021-05-29 20:13] jarun commented on #1022
Can we use some service other than CircleCi? How about GitHub's own service?

[2021-05-29 20:17] Stig124 commented on #1022
Travis seems to build ARM executable just fine, but I don't see any that would build armhf executables

[2021-05-29 21:14] jarun commented on #1022
In that case, we can drop the plan. With the very few deps `nnn` has, compiling it locally is not an issue.

[2021-05-29 21:59] Stig124 commented on #1022
I think this would be the best thing to do

[2021-05-30 06:58] jarun commented on #1022
@Stig124 does this help: https://circleci.com/blog/managing-ci-cd-pipelines-with-arm-compute-resource-classes/

[2021-05-30 07:00] jarun commented on #1022
Also see https://github.com/falcosecurity/falco/issues/1445

[2021-05-30 19:34] Kabouik commented on #1022
When I follow the suggestion to set `$NNN_PREVIEWDIR` either to the XDG variable or hardcoded to `~/.cache`, the preview directory gets created in the current directory for me, not in `~/.cache` as I would expect. Is that the expected behaviour? Could be a local env issue too, unfortunately I was on the move and haven't had the time to investigate more.

Other things I noticed, the `fzplug` detect

[2021-05-30 19:48] luukvbaal commented on #1022
I don't observe any of the thins you mention no. Are you sure you're on master? How are you settings those environment variables?

[2021-05-30 19:57] luukvbaal commented on #1022
It would place the previews in the current directory is empty if your `NNN_PREVIEWDIR` is somehow empty. Please let me know how you set your environment variable so I can try to reproduce. I set them in my `.zprofile` and never experienced any of those issues.

The master version of `fzplug` contains
[code]
Not sure how that could ever result in reversed detection. Same for `preview-tui` with
[cod

[2021-05-30 20:20] Kabouik commented on #1022
Yes, I'm on `master` with just a few changes on `fzplug` pending for a future PR, but none of them has to do with `bat` detection:

[code]

If I replace `type bat` with `! type bat`, then it works correctly. However I'm not sure why `bat` doesn't work with `preview-tui*` either. Note that I have no `BAT_STYLE` set in my `.bashrc`, this might be a difference with your setup.

Regarding `NNN_PREVIEW

[2021-05-30 21:22] luukvbaal commented on #1022
`NNN_PREVIEWDIR` being empty meaning the environment variable as seen by `preview-tui`. That must be what's going on if it's creating the previews in `PWD` i.e. `mkdir -p "$NNN_PREVIEWDIR/${3%/*}"`. No idea why that would be the case if you're on master and exporting `NNN_PREVIEWDIR` in your `.bashrc`, and `bash` is your default shell.

[2021-05-30 21:36] Kabouik commented on #1022
`type bat` returns `bat is /home/user/.cargo/bin/bat` on my end, not `0`. `! type bat` too, but that inverts the condition I guess.

[2021-05-30 21:44] luukvbaal commented on #1022
I'm talking about the exit status, we're redirecting the actual return value to `>/dev/null`.

[2021-05-30 21:46] luukvbaal commented on #1022
It must not return `/home/user/.cargo/bin/bat` in your "`nnn` plugin environment" or else you wouldn't have to invert the condition.

[2021-05-30 21:48] Kabouik commented on #1022
I think the issue with `NNN_PREVIEWDIR` is simply that it doesn't accept the `~/` abbreviation. I got confused by my other nnn environment variables where `~/` works (like plugins, bookmarks).

One issue though is that if you preview images in the preview directory, it will create another subdirectory for that, but then that means it can loop on itself. Wouldn't it be best to prevent `preview-tui*

[2021-05-30 21:51] luukvbaal commented on #1022
I've come across that situation while developing the plugin yeah but indeed no one should open `preview-tui` in the cache directory. Not sure if it's worth preventing that, perhaps it is.

[2021-05-30 21:52] luukvbaal commented on #1022
Indeed always prefer using `$HOME` over `~` in shell variables. `~` is not expanded when quoted.

[2021-05-30 21:54] Kabouik commented on #1022
I feel it could be useful even if it's weird to preview that folder on purpose. If the preview pane is already opened, then anything hovered will be previewed, meaning one would have to know about that issue in advance before going into the cache folder with nnn to remember that the preview pane should be closed beforehand. Going into that folder is not a rare use case I think, I would expect peop

[2021-05-30 21:58] Kabouik commented on #1022
Right, I was just testing the command directly in terminal here, I misunderstood from your message that `0` was the expected result. The above reports in my previous messages are all from executing the script through `nnn` though, and adding `!` does fix the use of `bat` on that machine. Can't tell yet if I observe the same on other machines, but I assume I won't since you have no such issue on yo

[2021-05-30 22:01] Stig124 opened #1034 "[CRITICAL] RPM uninstall wipe root filesystem on openSUSE"
Hello,

I installed nnn v4.0 using the github release RPM's for my opensuse tumbleweed machine [this one](https://github.com/jarun/nnn/releases/download/v4.0/nnn-4.0-1.opensuse.tumbleweed.x86_64.rpm), but I want to switch to auto updates using the opensuse repos, so I changed vendors and it tried to uninstalled the package.

BUT uinstalling it Icompletely **wipe** the root file system of the machi

[2021-05-30 22:02] Kabouik commented on #1022
Thanks! Yeah I already use `$HOME` everywhere else in my `.bashrc` but got spoiled for nnn variables because nnn tends to be flexible: https://github.com/jarun/nnn/wiki/Basic-use-cases#add-bookmarks

Maybe we should edit the wiki to discourage this use, or is there a way to make `NNN_PREVIEWDIR` equally tolerant to `~/`?

[2021-05-30 22:07] luukvbaal commented on #1022
Yeah `export NNN_BMS="d:$HOME/Documents;u:$HOME/Cam Uploads;D:$HOME/Downloads/"` is more appropriate as an environment variable in my opinion. Not sure how @jarun feels about it.

[2021-05-30 22:20] jarun commented on #1022
Can you summarize the NNN_BMS thing for me?

[2021-05-30 22:22] Stig124 commented on #1034
And this is not a isolated bug to my machine, just reproduced on official opensuse docker image

[2021-05-30 22:23] luukvbaal commented on #1022
@Kabouik ran into an issue with `preview-tui` because they used "~" in `NNN_PREVIEWDIR` like suggested in the [wiki](https://github.com/jarun/nnn/wiki/Basic-use-cases#add-bookmarks) for `NNN_BMS`. This does not work for shell scripts without manually expanding "~", using "$HOME" instead is more appropriate.

[2021-05-30 22:33] jarun commented on #1022
Why can't the script expand `~`?

[2021-05-30 22:37] luukvbaal commented on #1022
Shells don't expand quoted `~`'s.

[2021-05-30 22:37] luukvbaal commented on #1022
See e.g. https://stackoverflow.com/questions/40223060/home-vs-for-use-in-bash-scripts

[2021-05-30 22:39] jarun commented on #1034
Can you check if this is coming from the Makefile? Doesn't look so to me.

In that case it is coming from packagecore which we use to package our resources.

@dlasalle can you please take a look at the earliest?

[2021-05-30 22:40] jarun commented on #1034
@Stig124 can you please audit the other packages for other OS-es? No need to install, just download an verify.

[2021-05-30 22:41] Stig124 commented on #1034
Only openSUSE packages for some reasons are impacted

[2021-05-30 22:43] luukvbaal commented on #1022
Nothing needs to change, it's just a matter of whether you want to change the wiki to reflect using `$HOME` over `~` to possibly avoid users running into the same problem.

[2021-05-30 22:45] jarun commented on #1022
OK. I was expecting at least double quotes to work. Why can't you specify the unquoted string in a controlled script?

If space is a problem, doesn't the following work?

~/"Arun Pictures"/something

Anyway, the `NNN_BMS` thing stays.

[2021-05-30 22:47] jarun commented on #1022
@Kabouik mentioned `NNN_BMS` which is parsed by `nnn`. It resolves `~` but doesn't understand `$HOME`. hence the explicit `~` usage in the example. I think @Kabouik is mixing up stuff. The shell limitation is not `nnn` issue.

[2021-05-30 22:48] Stig124 commented on #1034
It is for sure not coming for the Makefile, no RPM spec is done there

[2021-05-30 22:49] luukvbaal commented on #1022
`$HOME` doesn't need to be parsed by `nnn` as it is expanded by the shell when assigned to a variable.

[2021-05-30 22:50] luukvbaal commented on #1022
It's just generally more advised to use `$HOME` in shell variables as it works in all cases as opposed to `~`.

[2021-05-30 22:53] jarun commented on #1034
TBH, I have concerns with [packagecore](https://github.com/BytePackager/packagecore) already. No one has looked into defects for months and there are no distro updates either.

@Stig124 can you think of any other way to generate these packages?

Also, I left some notes for you in the ToDo list regarding the arm and aarach64 packages. Have a look.

[2021-05-30 22:54] luukvbaal commented on #1022
@Kabouik is indeed at fault for using `~` in `NNN_PREVIEWDIR` although I can understand why he would expect it to work when it does work for `NNN_BMS` since it is parsed by `nnn`.

Again, changing the wiki to use `$HOME` instead of `~` could prevent other users making the same mistake.

[2021-05-30 22:54] jarun commented on #1022
OK. Please update. You may have t do it in the man page as well (for `NNN_BMS`).

[2021-05-30 22:54] Kabouik commented on #1022
No that's my understanding too now, but yeah initially I was thinking I could use the same syntax in environment variables parsed directly by `nnn`  or by its plugins, since all those environment variables look similar (`NNN_*`), which led me to misuse `NNN_PREVIEWDIR`.

I just find it misleading that the wiki shows `~` abbreviation working for variables parsed directly by `nnn` whereas it won't f

[2021-05-30 22:57] Stig124 commented on #1034
Directing people to use openSUSE built packages would be the best thing, they're located [here](https://build.opensuse.org/package/show/utilities/nnn) and cover the whole openSUSE/SLE, and you can even build your own packages for a load of distributions there by just building a RPM specfile and a Debian control file

[2021-05-30 22:57] jarun commented on #1022
That's fine. It's good to be uniform.

[2021-05-30 23:03] jarun commented on #1034
No, that's not the solution. Today we found this issue and I might have to drop generating the packages for SuSE. Our distro packaging is well maintained so no issue there. However, tomorrow we might find another issue on Ubuntu on packagecore. How will we mitigate that? Debian/Ubuntu are not the best players when it comes to software updates.

That would add a dependency on the OpenSuSE packaging

[2021-05-30 23:06] Stig124 commented on #1034
In this case, I can maintain a OBS project that would build for every supported platform, each time a version ships

[2021-05-30 23:08] Stig124 commented on #1034
The OBS can build for ![those distros](https://i.imgur.com/iM9pHzw.png)

[2021-05-30 23:08] jarun commented on #1034
That would be super-awesome!

[2021-05-30 23:12] Stig124 commented on #1034
Ok, will do that

[2021-05-30 23:18] jarun commented on #1034
Can you add all available versions for the distros other than Arch, ScientificLinux and Uninvention?

[2021-05-30 23:22] #1034 closed

[2021-05-30 23:22] jarun commented on #1034
I have also removed all auto-generated packages for SuSE till v3.0.

[2021-05-30 23:23] Kabouik commented on #1034
It could probably build for SailfishOS too with the same files I assume. I could try as I have an account on build.sailfishos.org which is also OBS, and have packaged nnn for this OS once (and then failed to keep it updated because I didn't automate things and nnn just evolves too fast for me to keep up).

[2021-05-31 20:29] dlasalle commented on #1034
@jarun It looks like this is the result of the updating the file list with rpmrebuild not behaving properly, I had never detected before as zypper would fail in removing `/` in the docker container, but return zero. I haven't had time to look at packagecore in a while, and I don't see that changing soon. Given the seriousness of this error, I think you should stop using it entirely (at the very le

[2021-05-31 21:42] jarun commented on #1034
Thanks for the update @dlasalle! Yes, I have blocked building the RMPs for OpenSUSE.

[2021-06-01 00:49] dlasalle commented on #1034
@jarun  As redhat RPMs are built using the same script, I would also consider them all potentially unsafe, even though they don't appear to have this problem. I wasn't able to determine why this was happening with OpenSUSE RPMs, so it may be a matter of time for others. I've also yanked all releases on PyPI, and removed the files from the github repo to prevent anyone else from running into this i

[2021-06-01 03:46] jarun commented on #1034
@dlasalle can you give a rough estimate of the cost of maintaining packagecore? TBH, I've always thought it's a great piece of utility. I am considering funding it/looking for some maintainers it if possible.

[2021-06-01 06:14] dilawar commented on #1034
OBS beta now allows directly integration with gihtub/gitlab: https://openbuildservice.org/2021/05/31/scm-integration/

[2021-06-01 06:27] jarun commented on #1034
@Stig124 can you please check it out?

[2021-06-01 06:29] jarun commented on #1034
If you need me to set it up, please share the details in the nnn-devs room so I can use them to set it up.

[2021-06-01 08:58] Stig124 commented on #1034
I saw that, but this is not a great idea for now. This is a really early beta,

I'll be more than happy to set it up when that will be a more matured integration

[2021-06-01 12:05] MarinPostma opened #1039 "autosaving of named sessions"
**Is your feature request related to a problem? Please describe.**

When using nnn.vim, I would like to have a nnn session per vim session. This allows me to work within multiple projects at the same time. It turns out that I have to manually save each session before I exit nnn.

**Describe the solution you'd like**

I would like nnn to be able to:
1. be launched from an unexisting session and cre

[2021-06-01 12:12] MarinPostma commented on #1039
seems from https://github.com/mcchrish/nnn.vim/issues/43#issuecomment-844678831 that this is unwanted. Closing.

[2021-06-01 12:12] #1039 closed

[2021-06-01 12:53] luukvbaal commented on #1039
I might have misunderstood you but I think this is the current behavior if you set `g:nnn#session = 'local'`.

Just make sure you exit `nnn` cleanly and the session file should be created/updated when you exit `nnn` and deleted when you exit vim.

[2021-06-01 13:20] MarinPostma commented on #1039
yes, sorry I just found out that the version from the AUR i was using was not good (v4.0 ?!). I installed the git version and it now works.

[2021-06-01 13:26] luukvbaal commented on #1039
Yes, sorry. That feature will be part of v4.1, which is yet to be released.

[2021-06-01 13:26] Stig124 commented on #1034
This is not your fault
openSUSE pushing BTRFS (auto root FS snapshot at each package manager use) saved me everything, so all good

[2021-06-01 13:58] Stig124 commented on #1034
I may have found the issue about packagecore @dlasalle,

In `rpm.py`line `190-191`
[code]

You can see a `/` before the `\n`, which is written to the spec file

[2021-06-01 14:02] dilawar commented on #1034
Doesn't packagecore uses rpmlint? On OBS, rpmlint warnings and errors are pretty exhaustive. Don't upload unless rpmlint clears the package.

[2021-06-01 14:13] Stig124 commented on #1034
If what I found is the bug, it has been here since the birth of packagecore

[2021-06-02 03:49] dlasalle commented on #1034
@jarun While the actual maintenance work is pretty minimal, as this exemplifies much better testing is needed (including things like `rpmlint` as @dilawar says), in addition to re-writing the RPM generation scripts to be more robust. I think the work required to get it to a point where it could be used again, would similar to that of a rewrite, as there may be other serious issues or fragile code,

[2021-06-02 03:59] jarun commented on #1034
@dlasalle as I understand your current commitments won't allow you to maintain this anymore. We are considering maintaining the project as it is a very useful independent way to package for Linux distros.

Just like you have explained your rationale behind this issue, we will need you guidance from time to time on the past considerations. In our discussions we found 2 areas where we need help imme

[2021-06-02 05:11] jarun opened #1040 "ToDo list"
Rolled from #1022.

### Cooking

- [x] make option `O_MATCHFLTR` to discard filter key if no match
- [x] list open locations in active contexts in help page
- [x] configurable `NNN_TMPFILE` to _cd on quit_
- [x] picker mode improvements
  - open tty for input if `STDIN` is non-tty
  - truncate output file before writing
  - do not double select a file on <kbd>Enter</kbd>
- [x] no redraw during du

[2021-06-02 05:11] #1022 closed

[2021-06-02 13:15] johnwuelk opened #1041 "Segmentation fault error when managing sessions"
When saving or loading a session for example, nnn outputs "segmentation fault (core dumped)" and crashes/exits. This does not happen with older versions like f.i. nnn v3.7.

I tried to find the cause with strace, these are the last lines of strace before nnn exits:
48 --- SIGSEGV {si_signo=SIGSEGV, si_code=SEGV_MAPERR, si_addr=NULL} ---
349 +++ killed by SIGSEGV (core dumped) +++

I'm trying to us

[2021-06-02 13:32] KlzXS commented on #1041
Which version is this on? What are the exact sequences of keypresses to reproduce this issue?

The trace you shared seems to be from the signal handler calls. Not much can be gathered from that.

[2021-06-02 13:32] jarun commented on #1041
Can you please compile`nnn` with debugging enbaled (https://github.com/jarun/nnn/wiki/Developer-guides#debugging-nnn) and share the backtrace after hitting the crash from `gdb`?

[2021-06-02 13:34] jarun commented on #1041
More info: https://gist.github.com/jarun/ea47cc31f1b482d5586138472139d090

[2021-06-02 13:38] jarun commented on #1041
We did have changes in release 4.1 to support named persistent sessions.
Please share which program options you are using.
Also please check if the issue goes away if you remove the older saved sessions.

[2021-06-02 14:57] jarun commented on #1041
@johnwuelk in case you haven't noticed, we have made a release today. So if you are seeing this on the latest release, please act a bit faster and help us fix the issue so we can make a quick release before downstream packagers pick this up for packaging.

[2021-06-02 15:28] Stig124 opened #1042 "CentOS/RHEL7 doesn't build"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: CentOS/RHEL7

#### Exact steps to reproduce the issue

OBS build logs (same for both CentOS and RHEL) :

[code]
Command used ; `make -j16`

[2021-06-02 15:32] Stig124 opened #1043 "Ubuntu 16.04 and 18.04 doesn't build"
#### Exact steps to reproduce the issue

*This might be a dependency issue on the OBS Side, assigning myself to fix it*

[code]

[code]

[2021-06-02 15:38] jarun commented on #1042
RHEL 7 problem is probably https://github.com/redis/redis/issues/6286.

Does CentOS 8 build?

[2021-06-02 15:38] Stig124 commented on #1042
It does

[2021-06-02 15:39] jarun commented on #1042
Please drop RHEL 7 and whatever does not build. I am expecting those are dated.

[2021-06-02 15:40] #1042 closed

[2021-06-02 15:42] jarun commented on #1043
I am not sure why `nnn` version shows as 4.0.1 above.

Anyway here are the deps. Please make sure those are added. Seems like ncursesw headers are missing:

[code]

[2021-06-02 15:42] jarun commented on #1043
Note that it's ncursesw and not ncurses.

[2021-06-02 15:44] Stig124 commented on #1043
Like I said, cross-distro dependencies are a mess in Debian, will try to fix that asap

[2021-06-02 15:49] jarun commented on #1043
Yes, we have to get PackageCore back up. Give me a week and I'll see what I can do to resolve this.

[2021-06-02 15:52] jarun commented on #1043
At the same time, I also believe this is a one time thing. Once we are through, we should not see these again other than when new distros are added to the matrix.

[2021-06-02 16:00] Stig124 opened #1044 "Raspbian 9 and 10 not building"

[2021-06-02 16:27] jarun commented on #1042
Fixed at commit ccce80a1e91b99c58d1a4e1453b5238036e84f22.

[2021-06-02 16:48] johnwuelk commented on #1041
Sorry for getting back late. The error still persists, here is what I did:
1. Remove nnn completely
2. git clone https://github.com/jarun/nnn.git
3. cd nnn
4. sudo make
5. ./nnn
6. hit 's' key key two times (sessions -> save session)
7. type 'test' for session name
8. nnn exits with "Segmentation fault (core dumped)"
It failed on two different devices, Manjaro and Debian, same behavior.

[2021-06-02 16:51] Stig124 commented on #1041
`sudo make`? This is not good, try without sudo

[2021-06-02 16:58] johnwuelk commented on #1041
Same behavior also without sudo (only make).

@jarun Here is the output of the nnndbg file:

ln __line__: VERSION=4.1
ln __line__: g_tmpfpath=/tmp
ln __line__: tmpfplen=5
ln __line__: home=/home/dojo
ln __line__: cfgpath=/home/dojo/.config
ln __line__: cfgpath=/home/dojo/.config/nnn
ln __line__: selpath=/home/dojo/.config/nnn/.selection
ln __line__: opener=xdg-open
ln __line__: getenv(envs[ENV_VIS

[2021-06-02 18:36] ldelossa opened #1045 "nnn -P not working"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: Fedora 34
- [x] Desktop Environment: Gnome 40
- [x] Terminal Emulator: Tilix
- [x] Shell: zsh
- [ ] Custom desktop opener (if applicable):
- [x] Program options used: -P
- [ ] Configuration options set:
- [ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

I'm attempting to

[2021-06-02 19:17] Stig124 commented on #1045
Hello, thanks for opening an issue, though we'll need a bit more insight at that. Can you please run the [debugging procedure](https://github.com/jarun/nnn/wiki/Developer-guides#debugging-nnn) and join the logfile after this please

[2021-06-02 19:25] ldelossa commented on #1045
Thanks @Stig124

Since the output is so small, I'll paste the entire procedure:

[code]

As you can see, working off the 4.1 tag.

[2021-06-02 19:26] Stig124 commented on #1045
Thanks

[2021-06-02 19:29] luukvbaal commented on #1045
The correct format is

    nnn -P<plugin key>.

I.e. the following will work:

    export NNN_PLUG="f:fzplug"
    nnn -Pf

[2021-06-02 19:31] ldelossa commented on #1045
Yup that worked, sorry I had assumed the key was the plugin name, not the configured shortcut key.

[2021-06-02 19:31] #1045 closed

[2021-06-02 21:35] johnwuelk commented on #1041
I use no program options, just "nnn". I also removed all saved sessions, compiled and ran it again which led to the same error.

[2021-06-02 21:39] jarun commented on #1041
I can repro it. Thanks!

[2021-06-02 21:45] #1041 closed

[2021-06-02 21:46] jarun commented on #1041
Please confirm the patch works. Please explore the other session options also.

We'll make another release soon with some other fixes.

[2021-06-02 22:56] jungle-boogie opened #1047 "Can't build on raspberry pi"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System:
[code]

- [x] Shell: Bash
- [x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

[code]

[code]

[2021-06-02 23:00] jarun commented on #1047
Fixed at ccce80a1e91b99c58d1a4e1453b5238036e84f22.

Will make a new release soon.

[2021-06-02 23:08] jungle-boogie commented on #1047
Verified fixed with git commit 29ef23230197faf2b125b9abb8e16f14a7f83769

[2021-06-02 23:08] #1047 closed

[2021-06-03 00:47] johnwuelk commented on #1041
It works now! Thanks for this quick patch. This even fixed a rendering issue I had with the fzcd plugin.

[2021-06-03 18:31] ahloiscreamo opened #1050 "nnn image preview dissappeared when resizing and switching kitty's terminal tab."
- [x] Operating System: `Linux artix 5.12.8-artix1-1 #1 SMP PREEMPT Fri, 28 May 2021 22:51:03 +0000 x86_64 GNU/Linux`
- [x] Desktop Environment: i3-gaps `i3 version 4.19.1 (2021-02-01) © 2009 Michael Stapelberg and contributors`
- [x] Terminal Emulator: kitty `kitty 0.20.3 created by Kovid Goyal`
- [x] Shell: `fish, version 3.2.2`
- [x] Issue exists on `nnn` master

#### Exact steps to reproduce t

[2021-06-03 18:39] luukvbaal commented on #1050
Can you please confirm that you're not only on the latest version of `nnn`, but also using the latest versions of the plugin? These do not automatically update when you update `nnn`. You would have to run `~/.config/nnn/plugins/getplugs`.

[2021-06-03 18:47] ahloiscreamo commented on #1050
Yes i also update all the plugin just after updating nnn.

i updated the plugin without changing any value, in this case the preview-tui
[code]

[2021-06-03 18:56] luukvbaal commented on #1050
I tested this extensively why adding the resize handler. I normally don't use `kitty` but I tested it again just now and can't reproduce it.

https://user-images.githubusercontent.com/31730729/120697488-11fbcb80-c4ae-11eb-86a3-e3ff92c2ace2.mp4

[2021-06-03 19:02] ahloiscreamo commented on #1050
Thanks for the fast response, i cannot watch the video as the file's corrupted.
let me check on my end if i could see anything wrong with my config and such.
![Screenshot from 2021-06-04 03-01-29](https://user-images.githubusercontent.com/9318372/120698086-21483c80-c4e1-11eb-8246-e9e4d69837e7.png)

[2021-06-03 19:04] luukvbaal commented on #1050
Sorry, just noticed you were talking about opening tabs. I can reproduce the behavior there, never tested that.
Not sure if anything can be done about it though, we don't know when `kitty` is opening a new tab in `preview-tui`.
Still don't see any issues when resizing though.

[2021-06-03 19:06] luukvbaal commented on #1050
I think you would have to accept the fact that you will have to close/open `preview-tui` after spawning a `kitty` tab.
Please confirm that you don't see any issues when resizing only, no tabs.

[2021-06-03 19:14] ahloiscreamo commented on #1050
The issues is still happen on resizing but not as fatal as i can just activate the plugin again,
i can close the issues for now.

https://user-images.githubusercontent.com/9318372/120699325-d0d1de80-c4e2-11eb-9de6-42cbd04e3513.mp4

[2021-06-03 19:15] luukvbaal commented on #1050
After further testing I was actually able to reproduce the broken preview after only resizing. It seems the resize handler is still not working correctly for `kitty`, thanks for reporting. The previewer is broken after: resizing window-> changing entry.

This behavior is not present on `tmux` though.

[2021-06-03 19:20] luukvbaal commented on #1050
This behavior I can't reproduce...:thinking: The previewer only breaks after changing entry on my end...
But yeah in any case, resizing is finicky although it seems to work fine for `tmux`. Your best bet is to close/open the preview when resizing the window. Will see if it can be improved.

[2021-06-03 19:20] #1050 closed

[2021-06-03 19:21] ahloiscreamo commented on #1050
I see, thanks for the confirmation.
I will switch to alacritty n ueberzug for the time's being. Thanks for taking time to help really appreciate it.

[2021-06-03 20:04] luukvbaal commented on #1050
Yeah we have zombie `preview_fifo()` processes for the non-`ueberzug` case.
![image](https://user-images.githubusercontent.com/31730729/120705041-99017180-c4b7-11eb-8349-010edd4280c2.png)
Not sure what the fix is, shell process management...

[2021-06-03 20:38] #1043 closed

[2021-06-04 01:21] jarun commented on #1050
@KlzXS any thoughts on the leftover process?

[2021-06-04 01:58] luukvbaal commented on #1050
I think I found something that covers all cases, please test @ahloiscreamo.
Resizing now also works properly for the non-`ueberzug` case.

[2021-06-04 05:13] ahloiscreamo commented on #1050
Hello, sorry for the late response.
I just test the new build alongside the new plugin but unfortunately the issues still persist, just let me know anything that you need.

[2021-06-04 06:11] ahloiscreamo commented on #1050
Out of curiosity, i installed the old version (nnn 4.0 sushi) just to confirm the issues, the old preview work just fine.

https://user-images.githubusercontent.com/9318372/120754035-aca3eb00-c53e-11eb-96b4-cf3a53ed0c0b.mp4

[2021-06-04 06:25] luukvbaal commented on #1050
Thanks for testing. Are you sure though? I really don't see any issues any more on #1051, no matter what I do.

It works fine on 4.0 because resizing is only handled for `ueberzug` there, the `kitty` preview would stay the same size.

[2021-06-04 06:33] ahloiscreamo commented on #1050
I guess i should use `ueberzug ` to handle the preview, i have no idea why kitty icat is buggy on my system.
I'll be back after investigating.

[2021-06-04 06:34] Stig124 commented on #1050
Out of curiosity, will have no effect normally

If it isn't already, try setting `TERM=linux` or `TERM=xterm`, it sometimes help with some incompatibilities

[2021-06-04 06:43] luukvbaal commented on #1050
Please check if you a have leftover `preview-tui` process for each resize on #1051. This is what happened before #1051 and is what broke the previewer. I don't see that issue at all anymore no matter how much I resize.

[2021-06-04 22:18] KlzXS commented on #1040
We should mention patches in README and wiki. I can't do it this exact moment so I'm leaving it here as a note.

[2021-06-04 23:27] jarun commented on #1040
Added to the readme at commit e1a9aa0aa59fd96b861b6f18fbad237b5382d126. We do not need to add this to the Wiki. I intentionally kept the documentation subdir like in case of plugins.

[2021-06-06 04:21] thevan96 opened #1056 "nnn tree explore"
- How to make nnn like tree explore?

[2021-06-06 04:23] jarun commented on #1056
`nnn` doesn't have any tree explorer-like view. You can use `preview-tui` plugin to see the tree.

[2021-06-06 04:23] #1056 closed

[2021-06-06 09:15] binarious opened #1057 "Find move destination with fzcd"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: Linux Mint 20.1 Ulyssa
- [x] Desktop Environment: cinnamon-i3
- [x] Terminal Emulator: Alacritty
- [x] Shell: zsh
- [ ] Custom desktop opener (if applicable):
- [x] Program options used: none
- [x] Configuration options set:
[code]
- [x] Issue exists on `nnn` master

#### Exact steps to reproduce

[2021-06-06 11:34] jarun commented on #1057
I think we can remove the selection file clearing logic. In the latest version we do not read from the selection file.

[2021-06-06 11:40] jarun commented on #1057
Fixed at d87414eb61c1349c9eb00ff5bdc9ae20fde1eddb. Please confirm.

BTW, it seems you already know which dirs to look for. In that case, you can generate a path-list file and use it.

[2021-06-06 11:40] #1057 closed

[2021-06-06 11:45] binarious commented on #1057
@jarun Thanks for the quick response! I can confirm.

Can you elaborate on that?

[2021-06-06 11:54] jarun commented on #1057
`fzcd` is now more advanced to search multiple locations. It can read a list of paths from a path-list file and use them to search in `fzf`. And there are multiple ways to generate the path list file in `nnn`.

See https://github.com/jarun/nnn/blob/d87414eb61c1349c9eb00ff5bdc9ae20fde1eddb/plugins/fzcd#L3

[2021-06-06 12:01] jarun commented on #802
This is now available as user patch `gitstatus`: https://github.com/jarun/nnn/tree/master/patches

[2021-06-06 12:01] jarun commented on #654
This is now available as user patch `gitstatus`: https://github.com/jarun/nnn/tree/master/patches

[2021-06-06 14:14] simona70 opened #1058 "some icon is truncated some not"
![Screenshot_20210606_161359](https://user-images.githubusercontent.com/41611485/120927759-43f57380-c6e2-11eb-8137-ae1d057fd7d0.jpeg)

[2021-06-06 14:18] jarun commented on #1058
Looks to a duplicate of #969.

@luukvbaal can you please add the necessary notes in the WIki Troubleshooting section?

[2021-06-06 14:26] luukvbaal commented on #1058
It does look like a similar problem. #969 presents a solution for `st` though and this doesn't look like `st` to me.
If it is some kind of `st` gui wrapper you can try the patch but otherwise your best bet would be to switch to a different terminal where the issue isn't present(e.g. `alacritty/kitty`).

Still wondering if this issue can't be fixed on `nnn` side as I had never seen the truncated ic

[2021-06-06 14:27] #1058 closed

[2021-06-06 14:32] KlzXS commented on #1058
This has to do with the way the terminal renders these icons. `nnn` can't do much there. We could try printing the icon last. That should in theory print it on top of everything else.

Not sure if that would affect performance. I don't think it would be noticable.

[2021-06-06 19:26] jarun commented on #623
The latest releases have moved to OBS and we generate both arm and aarch binaries. If you need anything extra there, please pitch in without any further notes. ;)

[2021-06-06 19:29] jarun commented on #837
I don't think this is something that we need to add as a feature. You can always open a session, modify the one context you want to update and same the session. There would be no additional flexibility in this regard.

[2021-06-07 16:49] hrqmonteiro opened #1059 "Can't compile (fatal error: readline/history.h)"
Trying to compile,  i get this:

[code]

[2021-06-07 17:01] Stig124 commented on #1059
You're missing dependencies here
What distro are you running?

[2021-06-07 17:03] hrqmonteiro commented on #1059
I am on Void Linux, rolling release

Which dependencies could i be missing?

[2021-06-07 17:05] luukvbaal commented on #1059
I'm guessing you need https://github.com/void-linux/void-packages/blob/master/srcpkgs/readline-devel

[2021-06-07 17:06] Stig124 commented on #1059
Readline dev headers in this case

You use Void Linux `glibc` or `musl`?

[2021-06-07 17:10] Stig124 commented on #1059
Yes exactly

[2021-06-07 18:12] jarun commented on #1059
Please follow the deps in the template: https://github.com/void-linux/void-packages/blob/master/srcpkgs/nnn/template

Closing.

[2021-06-07 18:12] #1059 closed

[2021-06-07 18:23] stubkan opened #1060 "Plugins do not install"
Plugins do not install.

- [x] Operating System: Ubuntu
- [X] Desktop Environment: Cinnamon 20.04
- [x] Terminal Emulator: Guake or Terminal
- [ ] Shell:
- [ ] Custom desktop opener (if applicable):
- [ ] Program options used:
- [ ] Configuration options set:
- [x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

Followed install instructions on the plugin wiki, which has thi

[2021-06-07 21:38] #1060 closed

[2021-06-07 22:15] 0xACE commented on #1060
[![wisdom_of_the_ancients](https://user-images.githubusercontent.com/1482942/121094207-cadb4680-c7dd-11eb-9d38-b7184f449836.png)](https://xkcd.com/979/)

[2021-06-08 10:28] caduz opened #1061 "Is the .deb gone?"
Hi I remember the .DEB being available in the release assets, is that gone now?
I really liked the .DEB for Debian stable.

thanks all

[2021-06-08 10:34] caduz commented on #1061
Sorry, just found the link. pls ignore

[2021-06-08 10:34] #1061 closed

[2021-06-09 12:05] ThomasBucaioni opened #1062 "[tmux] preview not working"
Within Tmux, a panel opens when triggering the preview but it only shows binary info on the file. Any idea how to have the picture, or if it's possible?

[2021-06-09 12:16] luukvbaal commented on #1062
Have you looket at the dependencies?

[2021-06-09 13:23] ThomasBucaioni commented on #1062
Nope... The terminal is Kitty, where should I look at?

[2021-06-09 13:33] luukvbaal commented on #1062
You shouldn't use `tmux` in `kitty`. Image previews in `kitty` don't need any dependencies.

[2021-06-09 13:35] luukvbaal commented on #1062
The dependencies are listed as comments in `preview-tui`.

[2021-06-09 15:01] #1062 closed

[2021-06-09 15:04] ThomasBucaioni commented on #1062
It was to answer a question on Reddit, if you would like to add further comments there: https://www.reddit.com/r/KittyTerminal/comments/l2je2r/guide_nnn_preview_plugin/

[2021-06-09 21:41] stubkan opened #1063 "nnn does not quit properly when running preview-tui in tmux"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: Ubuntu 20.04
- [x] Desktop Environment: Cinnamon
- [x] Terminal Emulator: cool-retro-term, terminal
- [ ] Shell:
- [ ] Custom desktop opener (if applicable):
- [x] Program options used: tmux new-session -A -s nnn "nnn -Pp"
- [ ] Configuration options set:
- [x] Issue exists on `nnn` master

####

[2021-06-09 21:45] luukvbaal commented on #1063
This should have been fixed by https://github.com/jarun/nnn/commit/5533f152bd9f23bc26c4673b587d111003e76422. Try `getplugs master`.

[2021-06-09 21:48] stubkan commented on #1063
I did the thing ;
curl -Ls https://raw.githubusercontent.com/jarun/nnn/master/plugins/getplugs | sh

sadly, the issue still remains. Where are the plugins located? I will try manually replacing the file

[2021-06-09 21:51] luukvbaal commented on #1063
Plugins are located  `$XDG_CONFIG_HOME/nnn/plugins`. You can run `$XDG_CONFIG_HOME_nnn/plugins/getplugs master`.

[2021-06-09 21:52] stubkan commented on #1063
Good news, manually replaced the preview-tui plugin file and it now correctly quits.

I'm guessing the update plugins script doesn't overwrite plugins so that is maybe an issue.

[2021-06-09 21:53] luukvbaal commented on #1063
It will prompt you to replace but you have to provide it `master` as an argument to update to the latest versions available on the master branch...

[2021-06-09 21:53] #1063 closed

[2021-06-10 16:10] kevinsjoberg opened #1064 "Should `nnn -p -` emit file details to stdout?"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: macOS, `11.3.1`
- [x] Desktop Environment: macOS
- [x] Terminal Emulator: Kitty, `0.20.3`
- [x] Shell: bash, `5.1.8`
- [ ] Custom desktop opener (if applicable):
- [x] Program options used: `-p -`
- [ ] Configuration options set:
- [x] Issue exists on `nnn` master

#### Exact steps to reproduce t

[2021-06-11 09:50] jarun commented on #1064
That's correct!

No, this output is paged, `nnn` captures the output of `file` and shows it in PAGER. If not, please provide a screenshot or video of your observation.

Because `file` writes to stdout, it's not aware of the file you provided. However, as I mentioned above, `nnn` pages the `file` output.

[2021-06-11 09:53] jarun commented on #1064
Relevant code: https://github.com/jarun/nnn/blob/master/src/nnn.c#L4175

[2021-06-11 15:07] 0xACE commented on #1064
Hejsan Kevin, nice catch :)

from `8238410d4c6c1164f6dcf2dadc834e1a2e0b9d9a` (master) I can recreate this issue.

[code]

[code]

I'm replying via phone that is connected to my pc via VNC and my connection is spotty so i can't delve into this atm but a quick guess would be that we need to fork and then hijack the `STDOUT` before we exec the `PAGER` inplace. I'm not even sure how we handle the `-p`

[2021-06-11 15:24] jarun commented on #1064
I still see this in the pager in a temp file:

[code]

[2021-06-11 15:30] annagrram commented on #1064
@jarun Yeah. Me too.
But I managed to see it more clearly by using `nnn -p - > foo` and then when pressing `f` nothing would happen because the STDOUT was redirected to the file.

I didn't really dive into it much, but there's a place in the code the forks and duplicates the `STDOUT_FILENO` and then `execvp` a command that I think might be called when the pager is spawned, and the pager writes to

[2021-06-11 16:38] jarun commented on #1064
I don't have a solution for this, or maybe the time to explore a solution of this. Sorry.
Leaving it open for someone who has time to work on this.

[2021-06-11 16:57] jarun commented on #1064
BTW, I understand you guys are seeing it when you redirect/pipe the output from `nnn`. I don't think there's a way to block the stdout and stderr of a process and get the output in a pipe. So we just dup2 stdout and strerr. That's why when you redirect/pipe you see the std* output in the file.

I see the following:

[code]

So, @kevinsjoberg can you please confirm if you see the file details in th

[2021-06-11 17:04] kevinsjoberg commented on #1064
@jarun I can confirm that everything works as expected when there's no redirection. It seems I like it's only a problem when stdout is redirected.

[2021-06-11 17:06] jarun commented on #1064
Then do not redirect.
Why do you need to redirect when you have `nnn -p output_file` for the same purpose?

[2021-06-11 17:08] annagrram commented on #1064
I don't know if that's really a problem.
You ask `nnn` to redirect its selections to `stdout`; `nnn` uses a pager to show the stats of files and the pager also uses `stdout`. They are bound to step on each other's toes.

[2021-06-11 17:11] jarun commented on #1064
My first problem is - the redirection was completely missing from the issue description. Why? Others explored possibilities with redirection so we figured this out. Otherwise, I wouldn't even bother to try redirection because your steps were straight and should be reproducible easily. I was going to download kitty before I saw that you mentioned you redirected.

Please try to be accurate when you

[2021-06-11 17:11] annagrram commented on #1064
So I think the only solution is to show the stats on a `curses` screen instead of external pager. But, that's for @jarun to decide. (Well, or to use `stderr` for external spawning, which is also for @jarun to decide)

[2021-06-11 17:14] jarun commented on #1064
No there is no problem. The only problem here is user is using redirection for `-p` when it is clearly documented you can use a file to do that.

This is not an isolated use case. Paged out is necessary for large output on smaller screens... mediainfo output, for example.

[2021-06-11 17:16] annagrram commented on #1064
I always forget to clear my `expandtab` when working on `nnn` code :(

[2021-06-11 17:17] kevinsjoberg commented on #1064
@jarun sorry, I should probably have shared some backstory. I'm using [dte](https://craigbarnes.gitlab.io/dte/index.html) as my primary editor and it supports [exec-open](https://craigbarnes.gitlab.io/dte/dterc.html#exec-open) for opening files.

See https://gitlab.com/craigbarnes/dte/-/blob/master/src/commands.c#L465 for its implementation.

It will read from stdout and open the matching paths.

[2021-06-11 17:35] jarun commented on #1064
Does this mean all child processes with un-suppressed output will write to stderr instead of stdout?

[2021-06-11 17:43] jarun commented on #1064
I think we have a working design that covers this case (`nnn -p file`).

I wouldn't want to do anything that universally affects all spawned cli utilities.

[2021-06-11 18:19] kevinsjoberg commented on #1064
For that I could just use `nnn -p - | dte`. My hope was to get it working with `exec-open`.

In any case, I totally understand if this is a use case not worth supporting and if so, I'll see if I can create a shell wrapper instead.

[2021-06-11 21:42] dbolgheroni opened #1067 "nnn fails to redraw"
#### Environment details (Put `x` in the checkbox along with the information)

- [X] Operating System: `OpenBSD 6.9-current (GENERIC.MP) #39: Sun May 30 15:59:42 MDT 2021`
- [X] Desktop Environment: `i3 version 4.19.2 (2021-02-27)`
- [X] Terminal Emulator: `XTerm/OpenBSD(367)`
- [X] Shell: `@(#)PD KSH v5.2.14 99/07/13.2`
- [ ] Custom desktop opener (if applicable):
- [ ] Program options used:
- [

[2021-06-11 22:15] Stig124 commented on #1067
Looks like #1050, but it happens all time here, and only on the preview there

[2021-06-11 22:34] luukvbaal commented on #1067
Nah that was an entirely different issue. `preview-tui` has it's own `WINCH` handler, has nothing to do with `nnn` redraws.

I can't seem to reproduce this issue however.

[2021-06-11 22:38] luukvbaal commented on #1067
Seems we are checking `KEY_RESIZE` which is defined in `/usr/lib/curses.h` for me. Idk if this is present on OpenBSD?

[2021-06-12 04:50] etrigan63 opened #1069 "Preview-tui not showing directories and files correctly"
#### Environment details (Put `x` in the checkbox along with the information)

- [X ] Operating System: ArcoLinux
- [ X Desktop Environment: bspwm
- [X ] Terminal Emulator: kitty
- [X ] Shell: zsh
- [ ] Custom desktop opener (if applicable):
- [ ] Program options used:
- [ X] Configuration options set:
export NNN_PLUG='[:preview-tui;'
export NNN_OPTS="eaEox"

- [ ] Issue exists on `nnn` master

##

[2021-06-12 04:57] jarun commented on #1069
PAGER is not interpreting ASCII color codes. Here's what I have:

[code]

Look up the options in the man page.

[2021-06-12 04:57] #1069 closed

[2021-06-12 04:59] jarun commented on #1067
@dbolgheroni please share the steps to reproduce the issue consistently and a video to visualize the problem.

[2021-06-12 06:41] jarun commented on #1067
OK, I see the data available in the other defect.

`nnn` does handle `KEY_RESIZE`.

@0xACE can you please take a look?

[2021-06-12 06:49] jarun commented on #1067
If you see `redraw()`, the first call is:

    getmaxyx(stdscr, xlines, xcols);

which is supposed to get the correct screen dimensions on the next <kbd>^L</kbd> even if it misses the `KEY_RESIZE`.
That comes from the underlyign curses library. I am assuming you see this with `ncursesw`.

However, tagging @rofl0r from `netbsd-curses` in case he can share some insights. If not, we may have to check

[2021-06-12 06:51] jarun commented on #1067
Also tagging @dankamongmen from `notcurses` library for any hints.

[2021-06-12 07:30] jarun commented on #1067
Took some hints from [here](https://stackoverflow.com/questions/55554703/python-curses-getmaxyx-always-returning-same-value-on-windows).

Please confirm if the issue is fixed on master with the change.

[2021-06-12 12:03] kevinsjoberg commented on #1064
@jarun @annagrram quick follow up. I managed to get everything working by wrapping `nnn` with the following shell script:

[code]

Everything now works as expected for particular use case. 🙂

[2021-06-12 12:11] jarun commented on #1064
Thanks for the update!

[2021-06-12 12:29] kevinsjoberg commented on #1064
@jarun turns out there's actually something that can be addressed in `nnn` if you deem it worth it. I spoke to Craig (the author of dte) and it looks like we could check `isatty(STDOUT_FILENO` and if `false`, use `/dev/tty` instead of stdout.

See https://gitlab.com/craigbarnes/dte/-/issues/23#note_599738376 for details.

[2021-06-12 12:34] jarun commented on #1064
I understand that you are writing a script and want to get it right... now you have to understand that I am a chip guy and _silly terminal quirks_ are as trivial as it gets to me. :)

Please raise the PR or if @annagrram or @KlzXS can take a look I'm fine with it. :+1:

[2021-06-12 12:49] kevinsjoberg commented on #1064
@jarun absolutely. I'm a father of two myself, so I have nothing but respect for you prioritising your time. 🙂 I'm still fairly new to C, but if I manage to get something working, I'll definitely submit a pull request. 👍

[2021-06-12 12:53] jarun commented on #1064
Sure thing! I'm re-opening the issue. If we don't ave anything in a week, I will add a line item with reference to the issue.

[2021-06-12 14:53] 0xACE commented on #1067
I'm going to be away for the most of the summer all I have is a bluetooth keyboard and a broken phonescreen... So expect a very slow push from me.

It has almost been 1-2 years since I looked at that code, but if i remember correctly: the COL/ROW variables were not guaranteed to work on all systems (or was it key_resize?). So if your attempted fix doesn't work it'd be better to just debug his buil

[2021-06-12 15:04] 0xACE commented on #1064
assigning myself in case no one picks this up ill take a look at this by the end of summer...

[2021-06-12 16:00] annagrram commented on #1064
This relies on the output being piped, but that was what you eventually wanted, so nice idea :)
Please take a look at the PR and see if that works for you.

[2021-06-12 16:39] dbolgheroni commented on #1067
@0xACE, OpenBSD is the entire OS, not just the kernel. So, [OpenBSD](https://openbsd.org) is itself its distribution, with its own packages, package manager, daemons, etc. The latest version is 6.9, which runs without problem on a VM:

https://cdn.openbsd.org/pub/OpenBSD/6.9/amd64/install69.img

[2021-06-12 16:50] dbolgheroni commented on #1067
@jarun, tried last 69926a8eff971655112d950150802f92f8f4423c which includes your fix but didn't see any change in the behavior.

[2021-06-12 17:00] jarun commented on #1067
In that case can you add `resize_term(0, 0);` above this line https://github.com/jarun/nnn/blob/69926a8eff971655112d950150802f92f8f4423c/src/nnn.c#L6755 and see if pressing <kbd>^L</kbd> helps?

[2021-06-12 17:34] jarun commented on #1064
Fixed at #1070.

[2021-06-12 17:34] #1064 closed

[2021-06-12 18:47] #1067 closed

[2021-06-12 18:47] jarun commented on #1067
@dbolgheroni please ignore the above comment. Please try with master now. Your issue should be fixed.

[2021-06-12 21:07] dbolgheroni commented on #1067
@jarun, `^L` works as expected now. Thank you.

[2021-06-13 09:30] daniel-vera-g opened #1071 "Distro-specific packages"
Hey, I noticed that for the last two releases the Distro-specific packages are located on OBS.

I run Ubuntu v18.04 and till nnn v.4.0 there was a specific `.deb` for this version. OBS only gives me the option for the v20.04 Version.

Is this a premanent change? The nnn version from the package managers are pretty old, so I would have to get directly the binary.

[2021-06-13 09:33] jarun commented on #1071
@Stig124 @dilawar

There are some issues with generating the older release packages on OBS.
We will try to get it working. Need some time.

[2021-06-13 09:36] Stig124 commented on #1071
Hello,

This is a known issue with dependencies on OBS for Debian builds, I'm in the progress of fixing it

[2021-06-13 09:42] daniel-vera-g commented on #1071
Ok, thanks for the quick update  :+1:

[2021-06-14 23:58] eugene55 opened #1072 "Running archive list and resizing causes nnn to render ontop of running pager"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: Archlinux
- [ ] Desktop Environment:
- [x] Terminal Emulator: st+tmux
- [x] Shell: bash
- [ ] Custom desktop opener (if applicable):
- [ ] Program options used:
- [ ] Configuration options set:
- [x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
- Open archive, select `'l'

[2021-06-15 09:08] #1072 closed

[2021-06-19 03:36] ouuan opened #1076 "Extract archives to a subdirectory or PWD depending on whether the archive contains multiple top-level entries"
**Is your feature request related to a problem? Please describe.**

When I extract an archive, I usually expect its contents to be extracted to a single directory, so I sometimes need to extract it into a subdirectory instead of in the PWD. But this is only needed when the archive contains more than one top-level entry. If there's only a single top-level entry in the archive, it's fine to extract

[2021-06-19 05:46] #1076 closed

[2021-06-19 05:47] jarun commented on #1076
Yes, that's the way it is. I don't think there's any tool that provides the depth directly. So user has to list and take a call.

Now the filename will be shown in the prompt and the user can edit it.

[2021-06-19 05:55] ouuan commented on #1076
I just realized that removing the extension in the default path is not optional, because it conflicts with the archive itself.

[2021-06-19 06:02] ouuan commented on #1076
The GUI file manager Dolphin can do this well, though I'm not sure how it works.

It's OK if you don't want to support this feature right now, but I don't think this issue should be closed without the request being resolved.

[2021-06-19 06:18] jarun commented on #1076
I don't see a point in having micro-features which don't add any significant value.

On a different note, when you raise a defect on a project requesting a feature, you'll have to leave that at the project maintainer's discretion irrespective of your personal opinion. In this case I have a clear picture how many people contribute to `nnn` regularly and how many line items which I left open were ac

[2021-06-19 06:29] ouuan commented on #1076
Sorry, I didn't make myself clear. In fact, I'm OK with this issue being closed. What really made me confused was the "Fix #1076" in the commit message. I took it for granted that the request was accepted when I saw the "Fix #1076", and was disappointed when I discovered that this request was actually rejected rather than fixed.

[2021-06-19 06:37] jarun commented on #1076
Hence the commit message: `Fix #1076: show file name in archive extract prompt`

[2021-06-19 07:01] ouuan commented on #1076
Not related to the request, just an alternative solution in case someone finds this thread in the future and want a solution:

`ark -ab` can extract files and automatically create the subdirectory on-demand as described above. So I end up writing a tiny plugin `ark -ab "$1"` which does the job. This also solves the problem that `nnn` only supports `atool`, `bsdtar`, `zip` and `tar`.

Ark is a GUI

[2021-06-19 07:11] jarun commented on #1076
Is `ark` available outside KDE?

[2021-06-19 07:17] ouuan commented on #1076
You need to install a bunch of dependencies if you don't use other KDE apps, but Plasma is not required.

[2021-06-19 07:21] jarun commented on #1076
I think `atool` provides the behaviour you are looking for by default: https://linux.die.net/man/1/atool

I saw the need because i use `bsdtar`.

[2021-06-19 07:27] ouuan commented on #1076
Oh, I just discovered that I didn't have atool installed.

[2021-06-19 07:28] ouuan commented on #1076
It seems that installing `atool` is the actual best solution :sweat_smile:

[2021-06-19 07:34] jarun commented on #1076
Yes, and I have to do this specifically for the other tools.

[2021-06-19 07:38] ouuan commented on #1076
This is not solved yet. The extension should be removed in the default path, or alternatively 9bd16ed837f31775f6dc1e5e9595e079cbb72608 should be reverted. It's annoying to have an invalid value as the default.

[2021-06-19 07:39] jarun commented on #1076
Explain the first point. What's invalid?

[2021-06-19 07:40] jarun commented on #1076
Also, if we skip the workflow for atool, we can't create the smart context for atool. How does `nnn` kow atool has created a new dir or extracted in the same dir?

[2021-06-19 07:41] ouuan commented on #1076
"because it conflicts with the archive itself"

[2021-06-19 07:47] ouuan commented on #1076
I've no idea of a perfect solution, but I personally think it's just fine to stay in the current context.

[2021-06-19 07:54] jarun commented on #1076
That doesn't make it invalid. It tells the user he can press backspaces and have the desired directory name.

What we have is fine. We need a small change - I will make the change to provide the default as `.` when `atool` is detected and can just press `Enter` and move on. Note a new context is not opened when the files are extracted in the current dir so you get exactly the behaviour you were lo

[2021-06-19 08:37] ouuan commented on #1076
Then what's invalid :thinking: Any default value could be deleted by the user.

Can't we remove the extension automatically?

[2021-06-19 08:39] jarun commented on #1076
I have already mentioned in this thread why it's ambiguous and not possible without having a dictionary. I don't want that overhead.

[2021-06-19 08:44] ouuan commented on #1076
Sorry, but I don't know what you are referring to. Could you kindly point out where did you mention this?

[2021-06-19 08:46] jarun commented on #1076
I think I missed posting it. Archive names like source code can have `.` in them. And archive extensions are poorly designed in that the extension can have multiple tokens. So without having a reference dictionary of all possible extensions (hence increasing memory consumption) it's not possible to get the filename.

Showing a path "sdgshg" for an archive named "archive.tgz" is invalid. We are sho

[2021-06-20 15:37] CantoroMC opened #1077 "Applying the git patches fails with"
src/nnn.c: In function ‘dentfill’:
src/nnn.c:5464:61: error: ‘DIR_OR_LINK_TO_DIR’ undeclared (first use in this function)
 5464 |                                         if ((dentp->flags & DIR_OR_LINK_TO_DIR) ?(is_prefix(git_statuses.statuses[i].path, dentpath, namebuflen) &&
      |                                                             ^~~~~~~~~~~~~~~~~~
src/nnn.c:5464:61: note: each undec

[2021-06-20 15:47] jarun commented on #1077
Thanks for the note. We'll fix it. At the same time we don't support patching master. So next time you see this please leave a comment in the ToDo list.

[2021-06-20 15:47] #1077 closed

[2021-06-20 15:50] CantoroMC commented on #1077
Sorry to bother, what does it mean that you don't support patching master?

[2021-06-20 15:52] jarun commented on #1077
Quoting from the patch documentation: _The patches will be adapted on each release when necessary (v4.1 onwards)._

So intermediate changes may break them.

[2021-06-20 15:54] CantoroMC commented on #1077
Ok, thanks for the response.

[2021-06-20 22:14] dlasalle commented on #1034
@jarun Sorry I keep disappearing on you, it's been tough to find time.

1.
Adding new distros could be done in the `packagecore/distributions.py` file. The format is:
[code]

So for example, to add `fedora34`:
[code]

The real effort comes when a new package type needs to be created, or some special case needs to be handled. The packageType is used to create the "recipe" object:
https://github.com

[2021-06-20 23:21] jarun commented on #1034
@dlasalle thanks a lot!

I was discussing within the team and it seemed I'll need some time to get to it with my current commitments. However, I do have plans to resume it with a call-out to the community at some point. It would be great if you can transfer the repo. Thanks again!

[2021-06-21 00:01] dilawar commented on #1034
@dlasalle @jarun I did some work last weekend on it. I manage to add the `rpmlint` step after package is built. There are few fundamental issues that need solutions, for example: `%files` section in the spec file should be rewritten after the installation step. Currently it has `/`. I believe that was caused this issue. I am still learning the codebase and have been busy so I can't promise a timel

[2021-06-21 01:27] ldelossa opened #1079 "fzf open only fuzzy searches file names"
Currently when using fzfopen plugin the fuzzy searching only works on the base filename. Fuzzy searching against any strings in the path does not work.

for example with the path "/mycode/package1/file1.ext" searching for "package1" produces no results.

This is not how fzf works on the CLI when ran indepedently.

#### Environment details (Put `x` in the checkbox along with the information)

- [x]

[2021-06-21 03:20] jarun commented on #1034
@dilawar That's great news! 👍

[2021-06-21 06:28] jarun commented on #1079
Plugins are indicative. We can't address every user's preferences. So, please modify with preferred fzf options and use.

[2021-06-21 06:28] #1079 closed

[2021-06-21 13:40] ldelossa commented on #1079
Just a heads up, latest MASTER pull of plugins actually fixes this issue.
https://github.com/jarun/nnn/commit/8fc18fb9d66316710b8d9c960b12a4c521d1684e

any suggested way of keeping our plugin dirs update to date with changes ?

[2021-06-21 13:44] luukvbaal commented on #1079
[`getplugs`](https://github.com/jarun/nnn/blob/master/plugins/getplugs)`master` can be used to update/merge plugins from the master branch.

[2021-06-21 14:05] ldelossa opened #1080 "fzopen preview file"
**Is your feature request related to a problem? Please describe.**

Not a problem.

**Describe the solution you'd like**

The fzopen script can include a --preview flag to provide a file preview natively.

**Describe alternatives you've considered**

Just a nice to have.

**Additional context**

screenshot attached

**Consider contributing**

I am down to contribute this solution, I'm just opennin

[2021-06-21 15:06] jarun commented on #1080
Plugins are indicative because all user preferences cannot be addressed.

Please modify them as you prefer and use. Also, please do not open a defect for every plugin option you want added or removed, use the ToDo list.

[2021-06-21 15:06] #1080 closed

[2021-06-21 15:08] jarun commented on #1079
Note that plugins in master are not guaranteed to be in a working condition due to intermediate changes, plugin spec changes etc. I think there's no issue with this one, but please don't make it a habit to sync from master.

[2021-06-21 16:08] Stig124 commented on #1071
@daniel-vera-g Good news, the issue is fixed so the packages for Ubuntu 16/18 and *bian 9 are up on the OBS

Closing this issue

[2021-06-21 16:08] #1071 closed

[2021-06-24 14:34] luukvbaal commented on #1040
In an attempt to improve performance of the gitstatus patch after coming across e.g. https://github.com/libgit2/libgit2/issues/4230 and https://stackoverflow.com/questions/44340094/in-what-scenarios-libgit2-is-faster-than-git I wrote a version of the patch that parses `git status` instead of using `libgit2`: https://github.com/luukvbaal/nnn/commit/9fc5da6afa3bcd979b016f002ef1debc12954c7a.

Memory

[2021-06-24 14:41] jarun commented on #1040
I am fine with this.

[2021-06-24 23:12] crides commented on #1040
Same. I used the `libgit2` implementation as I followed how it was implemented in `exa`, so that I had a good reference for correctness. But parsing `git` itself is definitely faster

[2021-06-24 23:43] beaglesnuf opened #1081 "nnn-musl-static locale (sort) support?"
First off, kudos to nnn + musl + netbsd-curses support. I only needed to add terminfo information to netbsd-curses and everything came together. Only issue is that sort order no longer takes into account locale. It is as if NOLC=1 had been passed as build option. Is this a limitation imposed by netbsd-curses or musl or nnn? Sorting is as expected with the standard, dynamically linked build.

####

[2021-06-25 02:33] jarun commented on #1081
Unrelated - can you please explain what you meant by that? Please share the steps.

musl has open issues with locale support: https://wiki.musl-libc.org/open-issues.html

Also see:

- https://github.com/rilian-la-te/musl-locales
- https://grrr.tech/posts/2020/add-locales-to-alpine-linux-docker-image/

[2021-06-25 02:33] #1081 closed

[2021-06-25 03:47] beaglesnuf commented on #1081
Added a small snippet in the script:

[code]
Where the terminfo definitions of  the current TERM are added to the terminfo definitions file before the patch adjusts which TERMs will be compiled in:

``--- a/libterminfo/genterms
+++ b/libterminfo/genterms
@@ -41,18 +41,7 @@
 xterm
 linux
 xterm-256color
-ansi
-dumb
-vt100
-screen
-screen-256color
-tmux-256color
-rxvt-unicode
-rxvt-unicode-256color

[2021-06-25 17:56] jarun commented on #1081
Many thanks for the tip!

[2021-06-27 11:19] larrybotha commented on #1069
For anyone else experiencing this, and to add some keywords for issue search (`ESC`, `ESC[`), my `$PAGER` was just set to `less`.

I'm not sure exactly where the `$PAGER` variable is set, but setting it to `less -R`, as @jarun mentioned resolves the rendering due to escape ANSI color escape sequences:

[code]

[2021-06-27 16:59] tonijarjour opened #1083 "imgview does not open sxiv on the image that was hovered"
https://youtu.be/mDO9ks_D4OI

The first image I open is what should come up when using imgview. But as you can see, a different image comes up.

[2021-06-27 17:30] jarun commented on #1083
@luukvbaal I was checking the `imgview` code. Why are we creating the `.nthumbs` directory and calling `view_files` when the hovered entry is a file?

[2021-06-27 17:30] jarun commented on #1083
The question is for `sxiv`.

[2021-06-27 23:43] luukvbaal commented on #1083
To be consistent in showing thumbnails for media files regardless of whether  file or a directory is hovered. Could be changed if not desired but since we merged the thumbnail plugin and you did not want to lose functionality this seemed to make the most sense to me.

#1084 should restore opening the hovered image functionality that was lost in the merge.

[2021-06-28 08:06] 4nd3r opened #1085 "broken line prefix in detail mode"
first bad commit: 0691c4fb47fa35fcd72a97da31e93cc9d7799c3d

building without `O_ICONS` or `O_NERD`.

good:

![image](https://user-images.githubusercontent.com/7166727/123601445-5c980b80-d800-11eb-8b04-8ab73d1ce28a.png)

bad:

![image](https://user-images.githubusercontent.com/7166727/123601549-78031680-d800-11eb-9d99-acc574d1102d.png)

[2021-06-28 09:48] luukvbaal commented on #1085
Not broken. This was intentionally changed to a reverse block for visibility reasons.
I'm not a big fan either but you'll have to live with it or change it back and compile yourself.

[2021-06-28 09:48] #1085 closed

[2021-06-28 12:23] pvx- commented on #1040
Here are my three ideas after using nnn for a few weeks:

**Selection markers** - add new numeric env variable (NNN_MAXSELMARK?) and restore selection markers if number of selected files is lower that that (with value of 0 getting current behaviour); if number of selected items is bigger than this limit, highlight it in status line.

Reasoning: it is impossible to find a solution for huge selectio

[2021-06-28 16:05] jarun commented on #1040
The problem is the implementation takes much more memory whatever be the number of files. Anyway, we have thought about it and there's no great solution.

P1 is old. Not i5. And we need to support handhelds.

See if you can write a patch for the same. No plans form our side because we support instant filters using regex. Did you check the plugin which finds files by mime type as well (`mimelist`)?

[2021-06-28 18:29] jarun commented on #1083
Done!

[2021-06-28 18:31] jarun commented on #1083
Added a note in the review. Please check.

[2021-06-29 00:39] pvx- commented on #1040
I know there is no great solution, that is why I propose a limit; if you set it to 0, you get exactly the same behaviour (and resource usage) as in current version. But why not have an **optional** functionality, that will be OK for 90+% of real-world cases? (And I suspect 90+% systems running nnn spend an order of magnitude more CPU and memory just rendering the text in terminal ;). I also don't

[2021-06-29 03:54] jarun commented on #1040
I don't need any pf these and can't spend time even exploring solutions anymore. We have done these before.

If you need it, please write the filter thing. As you can see, no one else wants to pick it.

[2021-06-29 10:28] pvx- commented on #1040
Sorry for bothering you, given the number of closed issues mentioning this, it seems like something worth solving at least partially. And I personally would really like to understand what the resource problem is :), given that you only have to care for displayed items (some links to the discussions?). In any case, I understand if you don't want to open it anymore, thank you for your time.

Looking

[2021-06-29 12:58] KlzXS commented on #1040
@pvx- See #1086 for a patch for selection markers.

[2021-06-29 13:20] Kabouik commented on #1040
Speaking of selection, two feature ideas that I think could be useful in some workflows:

#### Concurrent selections
There could be multiple `.selection` files bound to multiple keybindings, and a user could append files/folder to multiple independent selections. Selection markers could reflect the concurrent selection, for instance with braille characters like `⠁`, `⠃`, `⠇`. Independent selection

[2021-06-29 13:33] KlzXS commented on #1040
I just submitted a patch for that but there is also `E` which opens the selection in `$EDITOR` so that you can not only see it, but edit it. There was some restriction, I think you can't add lines to it.

While I can see some merit to it the answer is no. That is just way too complicated and niche to implement. I just don't see it working out.

[2021-06-29 13:37] Kabouik commented on #1040
I must be sleep deprived (or dumb): I know about it and actually use it quite often. I have no idea how I could write such a wall of text about it just above and not remember that I already use `E` in my workflow. My bad, sorry.

Yes, I understand your view on concurrent selections. Perhaps as a plugin one day, be it merged in master or just for me (though a plugin would limit the power of it as i

[2021-06-29 14:59] jarun commented on #1040
@KlzXS

You can, but it's not supported.

[2021-06-29 15:03] KlzXS commented on #1040
Same difference in my eyes.
It clears the selection if you add anything.

[2021-06-29 15:06] jarun commented on #1040
Cool! We are hack-safe then.

[2021-06-29 21:09] pvx- commented on #1040
Thanks a lot; for me it works great, I don't think I ever needed to select even 1000 files ;), everything I tested (including invert) works without noticeable delay. I hope you manage to include it into mainline :).

[2021-06-29 22:52] jarun commented on #1040
@pvx- can you please support @KlzXS with testing the patch?

[2021-06-30 01:35] pvx- commented on #1040
Yes, of course; I also can compile it on one of our servers where we do have some real-world dirs with tens of thousands of files (but also quite powerful hardware and lots of memory). Anyway, just tell me what to do and I'll do my best :). I subscribed to the pull request conversation, if you want to communicate some other way just let me know.

[2021-07-01 06:34] galou opened #1089 "Documentation issue: what is `NNN_FIFO` supposed to point to?"
**Is your feature request related to a problem? Please describe.**

This is a documentation issue. The [Chapter "Set up NNN_FIFO"](https://github.com/jarun/nnn/wiki/Live-previews#set-up-nnn_fifo) doesn't state what `NNN_INFO` is supposed to point to. Is it a configuration file, is it a directory with executables? From the directory from where I ran `make` I tried `./nnn -a $(pwd)/plugins` but I do

[2021-07-01 07:35] KlzXS commented on #1089
FIFOs are [named first-in-first-out pipes](https://www.gnu.org/software/libc/manual/html_node/Pipes-and-FIFOs.html). It's a way for two processes to communicate. The manpage mentions it in passing. It also meantions that `-a` doesn't take a path. What you provided is taken as the starting path.

The preview doesn't start automatically. It's a plugin, must be assigned a plugin key and launched with

[2021-07-01 07:45] KlzXS commented on #1089
I don't think the documentation is lacking. Everything can be found and pieced together between the wiki, manpages and plugin scripts themselves. All of which you should read in general not just for `nnn`.

Wikis to find out how to use a program, manpages to find out how to invoke it from command line, what flags it accepts, etc. And plugins scripts simply because it is strongly recommended to at

[2021-07-01 07:45] #1089 closed

[2021-07-01 09:06] #1083 closed

[2021-07-02 05:17] Kabouik commented on #1040
Seeing that the `treeview` plugin is being removed and replaced in `preview-tui`, it might be worth mentioning that `treeview` did not work with all editors, especially those who don't need the `-` after a pipe. This is what I used for `kakoune` and `micro`:

[code]

[2021-07-04 09:03] Randalix opened #1092 "x and S option not working in combination"
- [x] Operating System: Debian bullseye
- [x] Desktop Environment: dwm
- [x] Terminal Emulator: st
- [x] Shell: bash
- [ ] Custom desktop opener (if applicable):
- [x] Program options used: x S
- [x] Configuration options set: NNN_TRASH NNN_USE_EDITOR NNN_FCOLORS='c1e2272e006033f7c6d6abc4'

- [x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
$ nnn -S -x
selection to clipboa

[2021-07-04 09:11] jarun commented on #1092
The reason is the first time you ran with `-S` you didn't include `-x`.
So the original option is stored in the session data as you wanted it. whenever you load the session at startup, your passed option is overwritten. And that's correct by the definition of session.

You can deleted the stored `@` session and start afresh with `-x` option passed.

[2021-07-04 09:11] #1092 closed

[2021-07-05 10:41] greenfoo opened #1093 "preview-tui with kitty+tmux no longer works."
**Problem description**
If I run nnn inside tmux inside kitty and try to use the "preview-tui" pluging, I get this error:

[code]

This did not happen before.

**Possible solution**
In commit d99894311941498b9bf93c9f3ff9b55a533ed6cf this change was made:

![image](https://user-images.githubusercontent.com/42691086/124458296-16592400-dd8d-11eb-80f7-5c64b71aa0be.png)

The thing is that, because of t

[2021-07-05 11:22] luukvbaal commented on #1093
I suppose the change is fine although I'm not sure why you would use tmux inside kitty terminal which already provides multiplexing.

[2021-07-05 11:26] luukvbaal commented on #1093
Also not sure the possibility to use `tmux` inside `kitty` for `preview-tui` is obvious from the current documentation.

If you say it works fine and has merit perhaps we should fix that.

[2021-07-05 11:47] Kabouik commented on #1093
To bring grist to the mill, I do use `tmux` inside `kitty` occasionally too, because `kitty` is my `TERMINAL` and with `tmux` I can easily restore complex sessions with multiple panes and tabs pre-configured, and because sometimes I need `tmux` not only for multiplexing but also for accessing sessions across different machines.

I am not using the latest version of `nnn` and `preview-tui` (my plug

[2021-07-05 16:03] greenfoo commented on #1093
Thanks.

PS: My use case is similar to Kabouik's: I use kitty **locally** (it's my default shell) to SSH into a machine where I start a **remote** tmux session I can restore at any point.

[2021-07-05 16:59] #1093 closed

[2021-07-06 02:07] stubkan opened #1096 "Cant show free/used disk usage"
#### Environment details (Put `x` in the checkbox along with the information)

- [ ] Operating System:
- [ ] Desktop Environment:
- [ ] Terminal Emulator:
- [ ] Shell:
- [ ] Custom desktop opener (if applicable):
- [ ] Program options used:
- [ ] Configuration options set:
- [x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

I am trying to find out how to display free disk

[2021-07-06 08:39] basbebe opened #1097 "nuke: expansion of $VISUAL variable"
I'm having a problem with nuke and I can't figure out why (probably because I'm not an expert with bourne shell and it's string expansions (?).

My `$VISUAL` variable consists of two words:
[code]

nuke uses it as follows:
[code]

No I'm getting errors like whit when I want to edit a text file:

[code]

using `kak` as a visual editor works.
using <kbd>e</kbd> works with `kcr edit` set as `$EDITOR`

[2021-07-06 10:03] 0xACE commented on #1097
![cap](https://user-images.githubusercontent.com/1482942/124581699-d784a600-de40-11eb-86c4-05ff83e180f1.png)

------

(assuming `~/bin` is in your `$PATH`)
[code]
![cap](https://user-images.githubusercontent.com/1482942/124582138-44983b80-de41-11eb-8579-322b9d132372.png)

[2021-07-06 10:50] basbebe commented on #1097
I know, I know

It's a pragmatic workaround but I thought there was something about nuke's code which I could look at since I don't have any problems with it anywhere else (including nnn).

[2021-07-06 11:02] jarun commented on #1097
@luukvbaal any quick way to handle this case in `nuke`?

[2021-07-06 11:42] luukvbaal commented on #1097
Best way to handle it is like @0xACE suggested or just directly replace `EDITOR` with `kcr edit` in `nuke`.

[2021-07-06 11:58] jarun commented on #1097
Closing as we have shared some solutions for this. Plugins are indicative so it's expected users would have to adapt them.

[2021-07-06 11:58] #1097 closed

[2021-07-06 11:59] jarun commented on #1096
Can you share a screenshot of your help screen?

[2021-07-06 15:41] CantoroMC opened #1098 "Clear statusbar selection."
I hope to be able to explain myself.
If you select some items, the statusbar will inform you that you have some selected items and the number of items selected(that's good), but then if you deselect all of the items the statusbar will still show the "selection mode" symbols.
I don't know if it is a bug or the intended behaviour, if so sorry to waste your time.

[2021-07-06 17:29] jarun commented on #1098
Currently we do not clear the selection mode even when number of selected files becomes 0. This saves some extra processing. Do you see any issues with that?

[2021-07-06 17:56] #1098 closed

[2021-07-06 17:57] jarun commented on #1098
I have made the change to clear the status when the last selected file is also deselected.

@KlzXS this overlaps with your PR. Please have a look.

[2021-07-06 18:09] stubkan commented on #1096
I looked again and discovered I could scroll the help screen and found the disk usage down there.  Sorry.

So it is in there after all.  It's a little complicated to go find it though, it'd be nice if there was a feature for having it displayed on the main panel.

[2021-07-06 18:09] #1096 closed

[2021-07-06 18:13] jarun commented on #1096
Try: <kbd>^T-d</kbd> to enter disk usage mode.

[2021-07-06 18:37] CantoroMC commented on #1098
@jarun I hadn't any issue with that but it seems counter-intuitive to me.

[2021-07-06 18:40] jarun commented on #1098
Understood. It was a leftover from the legacy mechanism of selection.

Please confirm it works as expected.

[2021-07-06 18:41] CantoroMC commented on #1098
Just tried, it works as expected.
Thanks again and good evening.

[2021-07-09 01:17] nezartarbin opened #1099 "Tree view"
I love nnn, but I am wondering if it is possible to have a directory tree type of view? Basically, if a directory contains sub-directories, I would be able to expand a sub-directory and see its contents and children, but I would still be in the parent directory's "view" and see its other children. A nested tree view. I included a photo below as an example. If this is out of scope for nnn, I'll und

[2021-07-09 01:20] jarun commented on #1099
First, please do not litter projects with essay-like issue subject lines.

Secondly, no there is no tree view planned. A persistent view is in progress here: https://github.com/mcchrish/nnn.vim/pull/103. Feel free to contribute.

[2021-07-09 01:20] #1099 closed

[2021-07-09 12:22] Hukuta opened #1100 "Navigation by Pasting path"
Is there any way to navigate by simple pasting path into the terminal in already opened nnn instance?
I have multiple tabs opened and i want to navigate in one of them to a long path, copied from other app.

I have tried this way, but it works not like i expected:
  ```]```
  ```cd my_path```
```Enter```

[2021-07-09 13:11] jarun commented on #1100
There's a hacky way, please visit the wiki. However, we don't want users to type and cd so their is no support in the program for this. You may want to check mc which jas this.

[2021-07-09 13:11] #1100 closed

[2021-07-09 14:43] engrka opened #1101 "best way to prevent accidental "move to waste" by hitting x"
I'm always a bit worried accidentally hitting x and moving a file to wastebasket while not noticing it. Switching to deletion without moving to wastebasket, which till trigger a prompt, isn't an option either.
Should I just change the hotkeys to something more specific than simply hitting "x" ? Are there any suggestions?
Thanks for the great software.

[2021-07-09 15:01] jarun commented on #1101
We can add a prompt but many users don't like additional steps in straight workflows.
However, I can understand that pressing `x` can go unnoticed. I am adding a prompt to confirm trashing.

[2021-07-09 15:32] #1101 closed

[2021-07-09 15:32] jarun commented on #1101
Please test and confirm the fix works as expected.

[2021-07-09 15:33] Kabouik commented on #1101
This is something I asked a couple years ago and @jarun indeed replied that many users wouldn't like that, so I ended up just patching `nnn.c` and `nnn.h` every time I `git clone` to remove the corresponding code and update the help screen so that just `X` is mentioned.

[2021-07-09 15:46] jarun commented on #1101
Yes, this is for both `x` and `^x`.

[2021-07-09 17:31] jungle-boogie opened #1102 "clang warnings generated"
I'm using this git commit: 5f5ee10e94d92c4cfbc5112394bc38b55d5a5f9 and I'm getting some clang warnings on OpenBSD i368 running the latest snapshot.

[code]
gmake info:
[code]

clang info:
[code]

[2021-07-09 17:56] Raytle opened #1103 "Does the dev behind nnn plan to allow users to create custom keybindings without the need to install packages?"
I'm currently trying to answer the question: **is nnn right for me?** The following is neither a rant nor even a screed but instead a forthright, blunt, and even harsh explanation of my current thoughts and concerns about nnn.

I'm not an engineer; instead I'm a mere "power-user" who occasionally cobbles together some very simple Python and Bash scripts based on examples I find on StackOverflow. I

[2021-07-09 18:08] jarun commented on #1102
Does the following patch work?

[code]

[2021-07-09 18:18] jarun commented on #1103
I don't see why you have to use `nnn` if you find it challenging to use. There are tons of terminal file managers available and probably all of them support customisable keybinds without the need to compile the program. And some of them are really good. Please choose one among those.

[2021-07-09 18:18] #1103 closed

[2021-07-09 18:20] jarun commented on #1103
That's intended for users with a permission problem who can't install packages. `nnn` doesn't support custom keybinds out of the box in any form.

[2021-07-09 18:26] jungle-boogie commented on #1102
Is this expected?

[code]

[code]

[2021-07-09 18:27] jarun commented on #1102
I don't know. It's a small change. Please go through the diff and make the effort to change it manually and confirm.

[2021-07-09 19:17] Raytle commented on #1103
I don't intend to use nnn.

That seems like a reasonable presumption.

I presume that is true.

I intend to do so.

For a guy—that would be you—who vigorously defended nnn against all comers (essentially all criticisms) on sites like HackerNews (Ycombinator) you folded up like a house of cards buffeted by a light breeze.

Whenever devs do functional architecture or user interface design, they inva

[2021-07-09 20:05] jungle-boogie commented on #1102
Only two generated now.

[code]

[2021-07-09 20:29] jarun commented on #1102
The following should work:

[code]

[2021-07-09 20:39] #1102 closed

[2021-07-09 20:40] jarun commented on #1102
Pushed the patch.

[2021-07-09 20:49] jungle-boogie commented on #1102
Thanks, that works.

[2021-07-09 23:23] engrka commented on #1101
Works as expected on first basic tests. I'll do some more testing in the next days and report if there are any issues. Thank you.

[2021-07-11 06:16] jarun opened #1104 "Defect to track persistent selection issues"
Seeing the following issues with new persistent selection implementation:

Env:

- My start dir is `nnn` directory
- I have 1662 files in `/usr/bin`

#### Issue 1

1. Go to `plugins` dir and select some files with <kbd>^J</kbd>
2. Go to `/usr/bin` dir and select some files with <kbd>^J</kbd>
3. Press <kbd>a</kbd>
4. Press <kbd>A</kbd>
5. Press <kbd>y</kbd> to continue
6. Go to parent `/usr`
7. Go

[2021-07-11 11:26] pvx- commented on #1104
The problem seems to be that after clearing/shrinking selection the space (memory buffer) after is still "active" (searched), simplest example I found:

1. Select first 2 files in any directory
2. `m` `m` to clear the selection
3. Select first file in the directory again
4. Change dir/context and come back - both files are selected again (the selection file correctly contains only the first one)

[2021-07-11 12:52] jarun commented on #1104
Maybe lacking a NUL-terminator or the selection buffer length not updated correctly.

[2021-07-11 15:54] syntezoid opened #1105 "zstd"
**Is your feature request related to a problem? Please describe.**
I can't open .zst .tar.zst archives.
I am currently using Zstandard for archiving files, but the distribution I am using, Arch, provides applications in the .tar.zst archive format and I need to check their contents or extract them.

**Describe the solution you'd like**
Add somehow Zstandard, but I'm not sure how. As I see atool an

[2021-07-11 16:16] jarun commented on #1105
Doesn't look like Zstandard is widely adopted yet. `nnn` uses `atool`/`bsdtar` internally so we can't do much natively. However, you can always write 2 plugins - one to archive and one to extract zst and assign 2 keybinds to them if that format is so important to you. I think you can also merge them into 1 i.e. if the file extension has .zst extract instead of archiving,

[2021-07-11 16:16] #1105 closed

[2021-07-11 18:17] KlzXS commented on #1104
Used the wrong selbuf length. Check the PR.

[2021-07-11 18:28] #1104 closed

[2021-07-11 19:59] toddyamakawa commented on #1100
I use a plugin for that:
https://github.com/toddyamakawa/bin/blob/7a8075797cab058adfd91d51dbe3242d9fe1483e/%2Cnnn#L35

Plugin:
https://github.com/toddyamakawa/bin/blob/master/nnn-cd-clipboard

[2021-07-11 20:01] jarun commented on #1100
The wiki section I was referring to: https://github.com/jarun/nnn/wiki/Basic-use-cases#sync-subshell-pwd

[2021-07-11 22:49] syntezoid commented on #1040
1. Umm, I'm just curious, but are you planning maybe support for Hex palette (like blue is #0000ff) in future? I'm completly new to theming and different palette (rgb, hex, 256 xterm) and I'm little confused by 256 xterm palette.
2. Why option for coloring 1234 windows is seperated from others (dir, exe etc.)?

[2021-07-11 23:28] jarun commented on #1040
No.

That's from the legacy implementation where we only had context colors.

[2021-07-11 23:51] syntezoid commented on #1040
As a person who know nothing about coding and programming: To add Hex color palette I needed to know C as it needed to be add to nnn core or if I learn some language I could make plugin for it and it would good for nnn?

[2021-07-12 00:00] jarun commented on #1040
You'll need to do it in the core program. Plugins cannot affect this.

[2021-07-12 01:34] 0xACE commented on #1040
haven't really looked at `master` in a while but look around the functions responsible for filling the file list in my case it's `printent` and `printent_long` but iirc they've moved on from that setup... and honestly you are probably better off sticking to your default 256 colors:
![cap](https://user-images.githubusercontent.com/1482942/125217832-2606ca00-e2b1-11eb-9959-d7bb5de0abb2.png)

[2021-07-13 23:43] seroam opened #1107 "tmux nested shell handling"
**Is your feature request related to a problem? Please describe.**

The [tmux configuration section](https://github.com/jarun/nnn/wiki/Troubleshooting#tmux-configuration) on the wiki suggests using this function to start nnn in tmux:

[code]

When trying to start nnn this way from a tmux session, this fails with error `sessions should be nested with care, unset $TMUX to force`.

**Describe the sol

[2021-07-14 11:28] jarun commented on #1107
I'll update this.

[2021-07-14 13:00] jarun commented on #1107
Done! Thanks for reporting the issue.

[2021-07-14 13:00] #1107 closed

[2021-07-14 16:44] jarun commented on #247
@faxotherapy I came across this thread which searching something.  You can invert selection in `nnn` now.

[2021-07-14 16:48] jarun commented on #464
@Eluminae persistent selection marker is on master now and will be available in the next release. So you shouldn't need any additional hacks. Probably you can try it and confirm.

[2021-07-14 16:49] jarun commented on #493
@daniel-vera-g persistent selection marker is on master now and will be available in the next release. Try it out!

[2021-07-14 16:49] jarun commented on #480
@foxcpp persistent selection marker is on master now and will be available in the next release. Try it out!

[2021-07-14 16:50] jarun commented on #535
@Randoragon persistent selection marker is on master now and will be available in the next release. This issue of duplicate entries in selection will also be gone with it. Try it out!

[2021-07-14 16:51] jarun commented on #801
@nathanielevan persistent selection marker is on master now and will be available in the next release. Try it out!

[2021-07-14 16:51] jarun commented on #882
@mdmawat persistent selection marker is on master now and will be available in the next release. Try it out!

[2021-07-14 16:52] jarun commented on #867
@Freespacer persistent selection marker is on master now and will be available in the next release. That fixes the issue of duplicate entries too. Try it out!

[2021-07-14 20:13] dror-weiss opened #1108 "[imgview] mkdir: cannot create directory '.nthumbs': File exists"
#### Environment details

- [x] Operating System: ubuntu 18.04 bionic
- [] Desktop Environment:
- [x] Terminal Emulator: iTerm
- [x] Shell: zsh
- [] Custom desktop opener (if applicable):
- [x] Program options used: nnn -e
- [x] Configuration options set:
   export NNN_PLUG='i:imgview'
   export NNN_FIFO="/tmp/nnn.fifo"
- [] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
0.

[2021-07-14 20:18] jarun commented on #1108
@luukvbaal please take a look.

[2021-07-14 22:22] luukvbaal commented on #1108
Is the master version you're trying executable?
What image viewer are you using?

[2021-07-15 02:22] kaushalyap opened #1109 "What does "no unconfirmed user data collection" mean?"
What does "no unconfirmed user data collection" mean in the ReadMe?

Does nnn have an option to collect usage statistics or something?

[2021-07-15 03:27] jarun commented on #1109
The only data stored is the config option and runtime paths, files etc. Those are already user-confirmed. No other data is used.

[2021-07-15 03:27] #1109 closed

[2021-07-15 06:58] dror-weiss commented on #1108
@luukvbaal , when running `getplugs` there is a `master` argument to install the master version's plugins also without argument to grab the latest release.

I'm trying to run with `sxiv`.

[2021-07-15 10:48] luukvbaal commented on #1108
I know... if that's how you're getting the `master` version then that's fine.

`master` version works fine for me though with `sxiv` so idk why it "won't start"  for you hence why I wanted to make sure it was executable.

Can you remove stdout/err redirection and see if that gives you anything?

[2021-07-15 12:48] 0xACE commented on #1109
I guess "no unconfirmed user data collection" refers to the case where you provide your own plugin that sends your data to 3rd parties, e.g.:
If you have a plugin that uploads images to _imgur_, `nnn` would be in no control of what _imgur_ collects from the metadata of your transfer. This is solely your own responsibility as a end user, use services that respect your privacy as per your wishes.

W

[2021-07-15 13:04] dror-weiss commented on #1108
I did what you suggested and found out I had a back x11 setup, fixing that everything works like a charm.
**Thank you** for your help!

[2021-07-15 13:04] #1108 closed

[2021-07-17 14:25] jarun commented on #1040
@superDuperCyberTechno please note that plugin `uidgid` will be removed in the next release as we support showing uid and gid using program option `-U` now.

[2021-07-18 21:42] pvx- opened #1110 "Segfault if dir set from plugin is not absolute (sanitize plugin cd input)"
#### Environment details

- [x] Operating System: Linux
- [x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

1. Create a plugin with one line `printf "%s" "0caaa" > "$NNN_PIPE"` (instead of `aaa` can be any string *not* starting with '/')
2. Run this plugin
3. nnn segfaults

Of course plugin authors should take care not to send invalid paths, but a simple typo in plugin sho

[2021-07-18 22:22] #1110 closed

[2021-07-18 22:22] jarun commented on #1110
Please confirm if the fix works as expected.

[2021-07-18 22:29] jarun commented on #1110
Get master for the test.

[2021-07-18 22:45] pvx- commented on #1110
Everything I tested works OK now, thanks for a quick fix :).

[2021-07-21 16:21] oscarpax commented on #1101
How about `x` with prompt and `^x` with no prompt? I'd prefer that..

[2021-07-21 16:33] jarun commented on #1101
Sorry, it's a genuine guard and safe. No plans to change anything in the workflow.

[2021-07-21 16:50] oscarpax commented on #1101
That's fine, thank you for very useful software!

[2021-07-22 14:54] eugene55 commented on #1105
I don't like to comment on closed issues but Arch's bsdtar in fact supports zst format. To support it from nnn side though, you just have to configure NNN_ARCHIVE environment variable to include zst extension to the list. After that zst will be treat as any other archive.

[2021-07-22 15:04] jarun commented on #1105
Link please.

[2021-07-22 15:06] eugene55 commented on #1105
https://man.archlinux.org/man/bsdtar.1

[2021-07-22 15:08] jarun commented on #1105
It appears the FreeBSD version does too - https://www.freebsd.org/cgi/man.cgi?query=bsdtar&sektion=1&format=html

[2021-07-22 16:43] Stig124 commented on #1105
Debian does too  (but Ubuntu doesn't):

https://manpages.debian.org/buster/libarchive-tools/bsdtar.1.en.html

[2021-07-23 20:11] jarun commented on #1064
@kevinsjoberg please confirm your implementation works fine with commit 25fab4cb2ef20140d2b2ac484e9ef6aa8171390a.

[2021-07-24 07:17] kevinsjoberg opened #1113 "Confirmation of #1064"
@jarun I just wanted to confirm #1064 is solved. Your GitHub bot locked the previous issue, so I had no way of answering you.

<img width="727" alt="Screenshot 2021-07-24 at 09 16 10" src="https://user-images.githubusercontent.com/503025/126860765-d687b3f2-8208-426b-895e-a5d21346f67f.png">

Feel free to close this one at your disposal. 🙂

[2021-07-24 07:32] jarun commented on #1113
Thanks for the confirmation!

You can always use the rolling ToDo list to contact the team.

[2021-07-24 07:32] #1113 closed

[2021-07-24 19:17] navneetankur commented on #1040
The .lastd, file's location can be made configurable, similar to selection file. Because .lastd file is also supposed to be read by some other program, it doesn't need to always be in nnn's config folder.

[2021-07-24 23:53] jarun commented on #1040
Sorry, no plans to add another config/arg.

[2021-07-25 01:35] jarun commented on #1040
@navneetankur on second thoughts, it appears a good flexibility so I added it in commit f6856f61f74977a7929a601a4fc28168d2cc043c.

[2021-07-25 02:59] navneetankur commented on #1040
Thanks, now it will be possible for me to keep it in the tmpfs.

[2021-07-25 08:44] nathanielevan opened #1115 "File not trashed after confirming"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: Arch Linux
- [x] Desktop Environment: dwm
- [x] Terminal Emulator: st
- [x] Shell: zsh 5.8
- [ ] Custom desktop opener (if applicable):
- [x] Program options used: eo
- [x] Configuration options set: NNN_TRASH=1
- [x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

1. Press

[2021-07-25 09:07] jarun commented on #1115
Last line here: https://github.com/jarun/nnn/wiki/concepts#prompts

[2021-07-25 09:07] #1115 closed

[2021-07-25 12:49] onlyvip opened #1116 "should i include plugins while packaging nnn in the pkgbuild for mpr?"
I am trying to include nnn in the [MPR](https://mpr.hunterwittenborn.com/)
and i have a pkgbuild ready as well. i have made it so that all the plugins gets cpoied into the /opt/nnn/plugins/*, folder. so do you recommend this path and way of adding the plugins with the initial install or some other path is suitable?
here is the pkgbuild
[PKGBUILD](https://termbin.com/h2n5)
check line 60.

[2021-07-25 13:10] jarun commented on #1116
Arch Linux packagers do that: https://archlinux.org/packages/community/x86_64/nnn/

I am not sure how they install the plugins for the user in the user-specific location.

`nnn` looks for plugins in `${XDG_CONFIG_HOME:-$HOME/.config}/nnn/plugins`.

@maximbaz may be able to help you with this.

[2021-07-25 13:31] onlyvip commented on #1116
yeah thanks i will change the plugins location to /usr/share/nnn/plugins as well then. .
does nnn look for plugins as a global environment in case the user havent set up the plugins but the package manager has as in this case.(the package manager cannot do anything with the user space thats why).
OR can we have nnn look for another standar location within / in case the plugins arent setup in `${XD

[2021-07-25 13:42] jarun commented on #1116
plugins are user-specific. The path is fixed.

I am not sure how this works on Arch Linux. Sorry.

[2021-07-25 13:42] #1116 closed

[2021-07-25 13:44] jarun commented on #1116
I would suggest you go ahead without the plugins. It's very easy to install them.

[2021-07-25 16:19] maximbaz commented on #1116
Hello, plugins that are included in Arch Linux `nnn` package are not auto-loaded (we wouldn't want to force usage of all plugins to all users anyway), they are included for two reasons mainly:

1. Offline installation: install `nnn`, board a seven hours flight without internet, decide to spend this time learning the app, while reading the manual discover that there are some awesome plugins, be hap

[2021-07-25 16:31] jarun commented on #1116
`getplugs` now checks the version of `nnn` installed and fetches the corresponding plugins (from the same release). so this is not an issue anymore.

However, I do agree there are advantages of having the plugins locally somewhere.

[2021-07-25 16:37] onlyvip commented on #1116
I decided not to include plugins and have given a link to plugin installation link in the optdepends function instead. This way the user can get plugins the way intended by arun.
[Mpr-pkgbuild](https://mpr.hunterwittenborn.com/cgit/aur.git/tree/PKGBUILD?h=nnn-git)
However after the reason provided by @maximbaz I should include the plugins installed as well just in case someone wants to try nnn whi

[2021-07-28 05:40] N-R-K opened #1117 "nnn visually hangs when searching again without redrawing"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: Gentoo
- [x] Desktop Environment: none (dwm)
- [x] Terminal Emulator: st and xterm
- [x] Shell: zsh v5.8
- [ ] Custom desktop opener (if applicable):
- [x] Program options used: reproducable on vanilla
- [x] Configuration options set: reproducable on vanilla
- [x] Issue exists on `nnn` master

##

[2021-07-28 07:15] N-R-K commented on #1040
``tree`` doesn't ship by default on gentoo or arch/artix either, neither does ``vi``
I assume its same with many other minimal distros.

[2021-07-28 08:30] Kabouik commented on #1040
Just out of curiosity, what is the default terminal text editor in Gentoo and Arch/Artix? I thought `vi` would be the most minimal and widespread so that's what I put in my version of `plugins/treeview`, but maybe there is something more sensible. I hesitated with `nano` but I don't think `nano` is as widespread in default installations.

Anyway, `plugins/treeview` is being removed, but I just wan

[2021-07-28 09:00] jarun commented on #1117
Did you read the release notes?

    ignore last pressed filter character when no matches

Pressing Esc does not clear a filter (read the docs). So _searching for something which exists the the dir but not on the current filter_ will not change anything in the view and you won't see anything typed because there is no match (the char is ignored).

[2021-07-28 09:00] #1117 closed

[2021-07-28 09:02] jarun commented on #1117
This is a change in behaviour. Now that you know it, live with it. It's better than typing characters even when there is not match.

[2021-07-28 09:06] N-R-K commented on #1117
Hmm, I see. The experience here is a bit jarring. But if it's intended then I guess there's nothing to be done here.

[2021-07-28 09:36] N-R-K commented on #1040
It's ``nano`` on gentoo. And iirc it's the same on arch/artix but I might be wrong on that.

[2021-07-28 10:29] 0xACE commented on #1117
![cap](https://user-images.githubusercontent.com/1482942/127306577-4aca9f18-00cd-4236-8284-ce2f2c7d0159.png)
_`Personal` build to the left. `Master` to the right._

trying to find a binary with `pdf` and `zip` in the file name.

Left hand side immediately tells me it doesnt exist.

Right hand side tells me to look through the list eventually realising that my key strokes were not accepted.

I'm no

[2021-07-28 11:20] jarun commented on #1117
@0xACE you type and you don't see anything typed. Doesn't that indicate something went wrong?

I can revert this back. However, just confirm if you think it's difficult to get accustomed to the behaviour.

[2021-07-28 11:21] jarun commented on #1117
Or do you think it's better to have it only if type-to-nav mode is on? I would prefer to keep it consistent.

[2021-07-28 11:24] jarun commented on #1117
I think we should revert it... I can see why it won't feel natural to users.

[2021-07-28 12:06] N-R-K commented on #1117
I don't think people are staring at the bottom bar while searching/typing (I don't, and I'd assume most keyboard driven users are no different), so seeing the list clear up is a more natural and *conventional* behavior for when there is no match.

As for ``type-to-nav`` mode, I don't use it often to have any strong opinion on what the behavior there should be.

[2021-07-28 14:28] jarun commented on #1117
And _you_ don't see that the list isn't changing?

[2021-07-28 17:36] N-R-K commented on #1117
Sure, but its not a conventional behaviour making the experience jarring.

Anyhow, I have the commit (https://github.com/jarun/nnn/commit/3ef50f06f86a962b465d50b7ffb6909436b69685) reverted on my system, so this is no longer going to be an issue for me.

[2021-07-28 22:06] jarun commented on #1117
I have reverted this as well. This does disrupt the workflow for the uninitiated.

[2021-08-06 20:58] akimdi opened #1120 "Question"
How do I run graphical applications? The new version broke everything. It used to be like this
```export NNN_PLUG=g:-_|gimp $nnn```

[2021-08-06 21:01] akimdi commented on #1120
```export NNN_PLUG='g:-_&gimp $nnn'``` This is not working for me

[2021-08-06 21:37] jarun commented on #1120
'export NNN_PLUG='g:-!&gimp $nnn'

`_` is not used anymore.

[2021-08-06 21:37] #1120 closed

[2021-08-07 11:26] akimdi commented on #1120
Thank you!

[2021-08-08 05:37] lawnowner commented on #1040
Right now the selection mode is ended after running a plugin. I think it's better to keep it on unless the plugin requests the selection to be cleared so that additional files can be selected after a plugin changes the active directory via NNN_PIPE. Sometimes it's quicker to navigate via a plugin instead of navigating manually.

[2021-08-08 08:09] jarun commented on #1040
At least over the last 2 releases, plugin have to explicitly clear the selection: https://github.com/jarun/nnn/tree/master/plugins#create-your-own-plugins

[2021-08-08 11:02] lawnowner commented on #1040
Yes, it's the behaviour when the plugin does **not** clear the selection that I'm talking about:
1. Select a file.
2. Run a plugin that changes the active directory in the current context via NNN_PIPE but does not clear the selection.
3. Select another file.

Since running the plugin ended the selection mode even though the plugin didn't clear the selection, additonal files cannot be selected in t

[2021-08-08 12:02] pvx- commented on #1040
I just want to add that this happens when you run a shell (`!`) or cmd prompt (`]`) as well - doesn't matter whether you actually run a command or exit it immediately, after you select a file the whole "old" selection is cleared and current one only contains this one file.

[2021-08-08 12:36] jarun commented on #1040
So you are telling me that you are using a tool that has awesome support for navigation and bookmarks and yet you need change in the program logic because you can't move away for third-party utilities for navigation?

The problem is using nav tools within a nav tool for navigation.

endselection() is not just ending selection mode. It does something more that I do NOT have the time to decipher rig

[2021-08-08 12:50] jarun commented on #1040
I think we are also replacing the listing root dir prefix with the actual file path prefix here.

[2021-08-08 13:02] jarun commented on #1040
I have made the necessary change at 62a04864805535d6bc8eea4e320c505de3d59818.

@KlzXS please confirm if this affects the case where some files are selected from the listing tmp dir and the user invokes plugins multiple times. Would we see duplicate entries?

[2021-08-08 13:18] KlzXS commented on #1040
After the selection has ended the listing root path would get replaced and you'd now have the real path in selection. Which means that, yes, you could get a duplicate.

Does it really matter? I'd say no.

[2021-08-08 13:22] jarun commented on #1040
Ok, done!

[2021-08-08 14:10] pvx- commented on #1040
Works for plugins now, is it possible to do it for shell/cmd as well? Because I run shell very often and losing the ability to update selection every time is really inconvenient (I ran into that a few days ago and wanted to report it myself :). But it is definitely not a critical issue, so if it is a technical problem, I'll manage ;).

Btw. I also use custom plugin for navigation ;), since at work

[2021-08-08 14:19] jarun commented on #1040
Try commit 75b5069675e1e5fc8cdc59d556973755ddcddf48.

[2021-08-08 14:22] pvx- commented on #1040
Works :), thanks a lot.

[2021-08-08 14:22] jarun commented on #1040
I reverted the last one. It's simply dangerous for people who select something and run a command on it.

Please use the patch locally for your use case.

[2021-08-08 14:25] jarun commented on #1040
What's the frequent use case where you start a selection, go to shell to do something and then return to resume the selection? And why is it so important to run the command in between and cannot be run at the end of selection? What's stopping you from bringing in that discipline in your workflow?

[2021-08-08 14:43] jarun commented on #1040
I think people should use `$nnn` instead. Adding it back.

[2021-08-08 14:45] jarun commented on #1040
See commit 49ee5b21e76ba13515f98af9ac280cc3c5f141de.

[2021-08-08 14:45] #1040 closed

[2021-08-08 14:47] jarun opened #1122 "ToDo list"
Rolled from #1040.

### Cooking

- [x] add `bookmarks` directory for flexible symlinked bookmarks
- [x] new key <kbd>B</kbd> to add a symlinked bookmark for current dir
- [x] sync multiple instances of `nnn` after operation on selection
- [x] save complete per-context filter when saving sessions
- [x] disable symlink resolution for paths in `NNN_BMS` and arg `PATH`
- [x] do not end selection mode

[2021-08-08 16:18] lawnowner commented on #1122
62a04864805535d6bc8eea4e320c505de3d59818 works well, thanks!

As @pvx- also pointed out, a bookmarks plugin can be handy at times!

[2021-08-08 17:04] pvx- commented on #1122
Just to repeat my older post, instead of "support applying filter by key (like bookmarks/plugins)" I suggest "allow to set filter from plugin using NNN_PIPE", if it is technically possible; I tried to look at the code myself, but the filter stuff is a bit too complicated for me ;).

Also if you have a symlink as directory bookmark, it is followed when used (symlink target is set as current directo

[2021-08-08 17:21] jarun commented on #1122
Yes, even I don't want to deal with it. normal string/regular/case/ignore case... too many combos.

In NNN_BMS?

You mean if you pass a symlink from plugin, it is not followed?

[2021-08-08 17:39] jarun commented on #1122
`NNN_BMS` is resolved using `realpath()` which resolves symlinks. The paths from plugins aren't. You can modify the plugin you use to achieve the same behaviour. A central place would be `.nnn-plugin-helper` for plugins those use it.

[2021-08-08 18:15] pvx- commented on #1122
Yes `NNN_BMS`; what I want is the exact opposite :), so that it is *not* resolved when set from bookmark (if you want that, just put the target directory directly). I use a few symlinks this way and would really prefer to have them set as current directory (instead of their target), if possible.

[2021-08-08 19:20] lawnowner commented on #1122
I've never needed to apply a filter via a plugin, although a workaround can be: http://github.com/jarun/nnn/tree/master/plugins#quick-find-using-fd

[2021-08-08 19:26] jarun commented on #1122
@pvx- can you try commit da193a4d3fef1a26fc51a4c421398f5ce8337ff0.

Also, there are some more uses of `realpath()` in the code. Can you check them and see which are really necessary? We can replace the rest with `abspath()`.

[2021-08-08 19:50] jarun commented on #1122
I think @lawnowner's solution is a good way for users to have plugins of their own defined by plugins.

[2021-08-08 19:55] pvx- commented on #1122
Thanks, works great.

Not sure I'm the best person to check :), but I tried. One that probably can be changed is `initpath` (to leave initial path as-is even if it's a symlink), also in picker option (`-p`) (if user selects symlink it should return it, not its target); the one in handle_archive may be needed, in SEL_NAV_IN as well (if I see correctly it just checks the symlink target is accessible

[2021-08-08 20:13] pvx- commented on #1122
That is what @jarun suggested the first time :), but it's not usable for what I need (like select those files and move them). But if I'm the only one with such weird workflow, I'll manage with pasting the regex into filter input, it's not like I need it that often :).

I just think that if someone needs bookmarks for filters, doing it with a plugin is much more flexible, you can add history, etc.

[2021-08-08 20:21] jarun commented on #1122
Why not? You can select, move, do whatever you want...

[2021-08-08 20:25] jarun commented on #1122
You can have your often used list of filters in the plugin, select the one you want and the listing will be done in a separate context. You can select those files and run all operations on them.

[2021-08-09 00:55] pvx- commented on #1122
Thanks, I will try to experiment with list mode more, there will be probably a way to use them to do what I need. When you do something a certain way for many years it's not easy to look at it "fresh" again ;).

[2021-08-09 01:45] lawnowner commented on #1122
Your idea of bookmarks for filters isn't different than bookmarks for directories/files when both are implemented with a plugin, except the plugin uses the opcode `c` to go to a bookmarked directory/file whereas it uses the opcode `l` to filter and then list a number of paths. The list mode (http://github.com/jarun/nnn/wiki/concepts#find-and-list) gives a temporary view with symlinks since it allo

[2021-08-10 01:20] jarun commented on #1122
@pvx- once you are done with the filter thing, can you please document it in the Wiki "How to" page?

I have removed symlink resolution in initpath in commit 59d90aa2ce9fb6ed4a12212fd61fc428d5f277e0.

[2021-08-10 01:22] jarun commented on #1122
Can you point me to the code?

[2021-08-10 09:40] pvx- commented on #1122
What exactly should I document?

Hm, no realpath() in code anymore, but if I open `nnn` in a symlinked directory, current path is resolved (like if `/tmp/sym` is a symlink to `/tmp/real`, opening `nnn` in `/tmp/sym/test` ends up with `/tmp/real/test` as current directory).

You already did it in commit above (`selpath = `).

[2021-08-10 12:37] raj-magesh commented on #1122
Are there are any plans to support selecting multiple files using click-and-drag for mouse users? If not, is it technically possible to implement that as a plugin?

PS: Thanks for the awesome file manager :)

[2021-08-10 13:33] luukvbaal commented on #1122
Not sure if click-and-drag is feasible but what you can do is configure `NNN_MCLICK` to range select i.e. `NNN_MCLICK='m' nnn` and use middle mouse button to mark the begin and and of your range selection.

[2021-08-10 14:02] 0xACE commented on #1122
I experimented with this, but honestly it felt too much like:

![xkcd-927-standards_2x](https://user-images.githubusercontent.com/1482942/128878101-1c31ea6e-fb7b-4d08-9f90-2a145219ad2b.png)

and felt that it wasn't worth the effort. KDE's `Konsole` seems like a candidate to implement mouse drag and drop support and what not, sometime in the future. So don't expect any magic unless your terminal is

[2021-08-10 17:06] jarun commented on #1122
@pvx-

Instead of documenting, I think we can make it a plugin if you can come up with such a script.

Fixed that at commit 97ac88dec2fe4cd2bde49d50817e359531c7280c.

@raj-magesh

@luukvbaal's solution is the closest you get. Technically, I don't think we can support it everywhere anyway. For example, termux doesn't support gestures as far as I know.

[2021-08-10 17:11] jarun commented on #1122
@pvx-

the workflow I was thinking for the plugin is - have and array of predefined filters, list and select by number, apply it through find. You can limit it to the current dir by setting the depth if you want.

[2021-08-11 01:20] pvx- commented on #1122
I was quite busy today, but I put together a first shot, any comments are welcome:

[code]

* `findfn` is bookmarks filename, lines with find expressions like `-name '*.txt'` (put it into nnn config dir or is there some other place for it?)
* I thought about which args to put as default, decided on maxdepth and type; if you think less/more is better let me know (also every user can change it, I pe

[2021-08-11 15:18] jarun commented on #1122
what is paste? cp/mv?

Anyway, are these 2 instances? In that case I don't think there is any simple way to left left instance of `nnn` know that you have used the selection. I don't want to go polling or IPC. Why can't you do this in 2 contexts?

[2021-08-11 16:27] jarun commented on #1122
@pvx-

OK. So you were looking for a way to find bookmarks easily. I am not sure if any of the existing plugins do that already.
Anyway, I can't say much about scripts. Please get help from @luukvbaal or @KlzXS or @Kabouik.

I was under the impression you were looking for a way to save some predefined filters and apply them.

[2021-08-11 16:40] jarun commented on #1122
@N-R-K the issue is fixed at commit 06e267642141c74e1d2d63d94b343160029bc717.

[2021-08-11 16:57] pvx- commented on #1122
Sorry for the confusion, by "bookmarks" here I mean predefined filters ("find" command expressions to be exact). And as I wrote repeatedly before, I only reacted to the "support applying filter by key (like bookmarks/plugins)" item already present in your todo list; I'm not sure it would useful for enough people to be included in plugins, but if you think it is, I'll be glad to help; let me know t

[2021-08-11 17:27] jarun commented on #1122
We won't have rlwrap as a dep so you can have it in your local copy.

What's the output of: `cat -n "$findfn"`?

[2021-08-11 17:48] N-R-K commented on #1122
That's what I typically do but I noticed this while trying to experiement with "dual plane" mode via tmux. Anyhow, https://github.com/jarun/nnn/commit/06e267642141c74e1d2d63d94b343160029bc717 fixed the issue on ``mv``, but it still persists on ``cp``.

[2021-08-11 18:18] jarun commented on #1122
When you say `cp`, what do did you do? Did you do a selection operation or did you just `cp` the file from one place to another? Note that you have to operate on the selection.

[2021-08-11 18:23] jarun commented on #1122
OK. I see what you mean. You have to understand that in this case the file is not moved so there is no change in the directory in the instance where you selected the file. So are doing this on directory notification (read _change_), so  mv and rm would work. I don't think it's a big deal anyway as long as we show the selection info in the bar and the symbols.

I will add this to the docs.

[2021-08-11 18:31] N-R-K commented on #1122
Pressed <kbd>p</kbd> on the other window.

The selection info on the bar and symbol visually shows that there's an active selection when there's none (since the other nnn already copied the file and cleared selection). And trying to do any operation on that selection fails with the error I described above.

[2021-08-11 18:51] jarun commented on #1122
Commit 42061b0399008f0ae7a2863e8a8e0e0465c41d62 detects this and blocks the operation early with a message.

[2021-08-11 21:04] pvx- commented on #1122
Of course, it's optional in the script (used only if present).

Adds number to each line.

Usually people want it separated :) and rlwrap needs it (it's given as history file for readline); but if you prefer it in the file, I can remove it. I use bash a lot but I see that nnn is used on many platforms, so I used string instead (hopefully more compatible):

[code]

[2021-08-11 21:28] jarun commented on #1122
@luukvbaal @KlzXS can you please review?

[2021-08-11 21:41] KlzXS commented on #1122
I will take a look. Should we move the conversation somewhere else?
I wasn't keeping an eye on the TODO list and now there seem to be at least two conversations going on in parallel.

[2021-08-11 22:03] jarun commented on #1122
Yes we can resume in the dev room.

[2021-08-14 22:41] charbelnicolas opened #1123 "When using the persistent session flag on launch (-S), the rollover at the edges ceases to function"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: Arch Linux
- [x] Desktop Environment: Awesome WM
- [x] Terminal Emulator: Kitty
- [x] Shell: Bash
- [x] Program options used: nnn -JHSdxu
- [x] Configuration options set: export NNN_PLUG='c:fzcd'
- [ ] Issue exists on `nnn` master: I would say so, I don't know.

#### Exact steps to reproduce the

[2021-08-14 22:57] jarun commented on #1123
It happens because rollover option is also saved along with the session.

[2021-08-15 04:52] jarun commented on #1123
Though we could move it, I would leave it at that. The idea of storing sessions is to start with a known environment. Users shouldn't have to remember each option.

[2021-08-15 04:52] #1123 closed

[2021-08-15 09:21] wazabees commented on #1122
I've been a (very) long time user of Total Commander on Windows, and later Double Commander on Linux. I'm looking to use nnn instead, and as such I'm wondering if a feature I frequently used is possible in nnn? In both Total Commander and Double Commander I can use the keyboard shortcut `Ctrl+B` to get a list of all files in subdirectories from my current directory. The shortcut is described as "*

[2021-08-15 09:41] jarun commented on #1122
2 things:

- Your current file managers support this because they don't allow selecting file from multiple directories. You can select files from multiple directories in `nnn`.
- You can use plugin `finder` to run the command `find . -mindepth 2 -type f -print0`, list the matches, select them by navigating and them move to another location using `^V`.

[2021-08-15 19:28] hrqmonteiro opened #1128 "Video and PDF previews on preview-tui doesn't work"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: Void Linux
- [X] Desktop Environment: AwesomeWM
- [X] Terminal Emulator: Kitty
- [X] Shell: Fish
- [ ] Custom desktop opener (if applicable):
- [ ] Program options used:
- [ ] Configuration options set:
- [ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

Just open nnn wit

[2021-08-15 19:35] luukvbaal commented on #1128
Are the previews generated? Check `"${NNN_PREVIEWDIR:-$TMPDIR/nnn/previews}"
` or `/tmp/nnn/previews`.
Does regular image preview work?

[2021-08-15 22:16] N-R-K commented on #1122
Would it be an acceptable feature request to ask for adding a new bookmark implementation that is managed via symlinks? This can be a runtime or a compile time toggle so that it doesn't break the existing workflow.

The idea here is very simple, when <kbd>b</kbd> is pressed, go inside `$NNN_BOOKMARK_DIR`. The [bookmarks](https://github.com/jarun/nnn/blob/master/plugins/bookmarks) plugin already do

[2021-08-15 23:44] 0xACE commented on #1122
I don't understand your request, but if you can't have it, this simple patch ought to help: You can use this to trigger plugins with 1 key. Caveat is that the key registered in `nnn` will have to be the same plugin used by `NNN_PLUG`. in this patch `NNN_PLUG=Z:foo.sh` should launch the plugin `foo.sh`. If you want it to link to another key, you'll have to either introduce a new array or do a littl

[2021-08-16 00:48] N-R-K commented on #1122
Thanks for the patch, however I already have what I want on my local build. It doesn't preserve backwards compatibility and has hard-coded values but maybe you can understand what I mean better by looking at the patch. I wasn't happy having to use an external tool when nnn is perfectly capable of visiting a given directory and activating filter mode (or in this case type-to-nav).

[code]

[2021-08-16 01:25] 0xACE commented on #1122
Haha, oddly enough I understood the patch better than the text.

These threads get out of hand frequently, and i practically ignore any scripting topics, you'll stick out more in a PR...

If the patch works: just submit a PR. It's cleaner that way... I'm not saying it will get adopted. But a PR is a better channel than discussing hypotheticals all day, specially in this case where you have a worki

[2021-08-16 02:40] jarun commented on #1122
@N-R-K what happens if someone wants to cancel the operation? i.e. she goes into the bookmarks directory but wants to cancel and return back to the original directory where she was?

[2021-08-16 02:50] jarun commented on #1122
Why does the plugin take an extra keypress and why can't we just have a simple list to pick from instead of fzf?

[2021-08-16 02:51] jarun commented on #1122
BTW, note that we have a way to mark directories temporarily.

[2021-08-16 08:45] N-R-K commented on #1122
In normal mode and type-to-nav mode, simply pressing <kbd>-</kbd> will do the trick. In filter mode since <kbd>-</kbd> doesn't have special meaning, an extra <kbd>esc</kbd> will need to be pressed before.

Because plugins need to be activated with <kbd>;</kbd> first.

I don't quite understand this. Do you mean the default nnn bookmarks? It _works_ but that means managing my nnn bookmarks separatel

[2021-08-16 13:23] jarun commented on #1122
I think we can have the following workflow:

Have a new directory `bookmarks` within config dir for bookmarks. We still retain the current implementation. if the user presses `Enter` at the bookmark prompt we take him to the bookmarks dir as we do with plugins.

You would still need a key to go to bookmark dir.

No. Pressing `/` or `^N` is not so difficult.

[2021-08-16 13:55] jarun commented on #1122
I have a working implementation.

I am not adding any code to create new bookmarks. To add bookmarks, user can select the directory to mark, go to the `bookmarks` directory, press `n` and create the symlink.

[2021-08-16 14:30] jarun commented on #1122
Also, if someone doesn't set `NNN_BMS` and there is no marked directory, we will directly take her to the `bookmarks` directory.

With this, I will remove the `bookmarks` plugin as well.

[2021-08-16 14:33] N-R-K commented on #1122
Yes that was my intention as well. Also I think the bookmark directory should be configurable via an env var for flexibility. If it's not set then falling back to a default seems reasonable.

[2021-08-16 14:35] jarun commented on #1122
I don't think so. We can't keep adding env vars.

[2021-08-16 14:39] N-R-K commented on #1122
Hmm, fair enough. Can this bookmark dir be a symlink to someplace else? If so then I guess env var is not needed.

[2021-08-16 14:40] jarun commented on #1122
Why?

[2021-08-16 14:41] jarun commented on #1122
You can always create symlinks to this bookmark dir instead.

[2021-08-16 14:51] N-R-K commented on #1122
For better flexibility. The plugin dir on my `.config/nnn` is a symlink for example. Whenever I do a git pull the plugin dir, being a symlink, gets updated automatically.
But it's not that big of an issue since I can either patch it to my liking locally or do what you suggested and symlink to nnn bookmark dir instead.

[2021-08-16 15:20] jarun commented on #1122
I think you can make `bookmarks` a symlink as well. try it.

I would leave it at that. Don't want to litter everything around.

That's unsupported and dangerous. We do not guarantee backward compatibility. These are things I like to avoid. Regular users mess things up with too much flexibility and come back asking us to fix their local problems.

[2021-08-16 15:35] N-R-K commented on #1122
Seems to be working as expected.

[2021-08-16 22:55] N-R-K commented on #1122
@jarun https://github.com/jarun/nnn/commit/86648ab391483cb72308a5035c55d6ca55b01254 is creating `bookmarks`, `plugins`, `mounts`, `sessions` directories inside `~/.config/` instead of `~/.config/nnn/`. I hope this is not intended.

[2021-08-16 23:15] lawnowner commented on #1122
@N-R-K I don't have any of those directories in my `~/.config`. However, let me mention this: https://github.com/jarun/nnn/commit/46294e9f3d613fb56d381e1637af6c0d7c30e9e4#commitcomment-54979648

[2021-08-16 23:28] N-R-K commented on #1122
@lawnowner  `bookmarks` or `plugins` being a symlink triggers this for me.

[2021-08-17 01:34] 0xACE commented on #1122
I'm not familiar with w/e these `bookmark` things are but:
[code]
Share `/tmp/mkdir.log` and maybe what you did... (maybe we debug print `SEL_*` ?)

gl

[2021-08-17 11:36] N-R-K commented on #1122
It's not just `bookmarks`, `plugins` being a symlink also triggers this.
This specific line seems to be responsible for this and changing it from 13 to 14 fixes the issue.
[code]

Anyhow, https://github.com/jarun/nnn/commit/9d4330e382e5b3542bd5f51690c8bb0bdbff1fd8 fixed it for me as well and is a much cleaner approach. Thank you @0xACE .

[2021-08-17 16:45] jarun commented on #737
@quantum-booty symlinked bookmarks is now implemented in the core program. Will be available on the next release.

[2021-08-17 16:46] jarun commented on #553
@sucrecacao symlinked bookmarks is now implemented in the core program. Will be available on the next release.

[2021-08-17 16:47] jarun commented on #420
@psevdaisthisi symlinked bookmarks is now implemented in the core program. Will be available on the next release.

[2021-08-17 16:48] jarun commented on #1122
At commit 78ea6702f7dae427c7a102cb8420533b7ebcc6ae it's possible to add bookmarks on the fly with `B`.

[2021-08-17 17:30] luukvbaal commented on #1128
Also make sure you follow the instructions and have `allow_remote_control` and `listen_on` set in kitty.conf.
Can't help if you don't respond...

[2021-08-17 17:30] #1128 closed

[2021-08-17 18:56] jarun opened #1133 "ToDo list"
Rolled from #1122.

### Cooking

- [x] add `bookmarks` directory for flexible symlinked bookmarks
- [x] new key <kbd>B</kbd> to add a symlinked bookmark for current dir
- [x] sync multiple instances of `nnn` after operation on selection
- [x] save complete per-context filter when saving sessions
- [x] disable symlink resolution for paths in `NNN_BMS` and arg `PATH`
- [x] do not end selection mode

[2021-08-18 01:54] #1122 closed

[2021-08-18 13:26] denik1981 opened #1134 "Can't run "batch rename" when $EDITOR is set to vscode (usr/bin/code)"
#### Environment details (Put `x` in the checkbox along with the information)

- [x ] Operating System: LinuxOS 5.11.0-25-generic #27~20.04.1-Ubuntu
- [x ] Desktop Environment: XDG_CURRENT_DESKTOP
- [x] Terminal Emulator: xterm-256color
- [x] Shell:/bin/bash
- [ ] Custom desktop opener (if applicable):
- [x] Program options used: 'nnn -de'
- [x] Configuration options set: 'export EDITOR=/usr/bin/c

[2021-08-18 13:35] jarun commented on #1134
What is your `$VISUAL`? Are you using detached edits?

[2021-08-18 13:37] jarun commented on #1134
I am able to use mousepad. So no issues with GUI programs in general. Can you try with a regular GUI editor?

[2021-08-18 13:43] jarun commented on #1134
Also, do you have plugins installed?

[2021-08-18 13:46] 0xACE commented on #1134
I can replicate. Seems like `code` is the problem.

`nnn` waits for the `$EDITOR` to finish running and then returning execution to `nnn`.

But: when you spawn `code` it practically uses some IPC to another instance of `code` and then it closes. Also for w/e reason `code` spawns as a child of `init` rather than w/e process spawned it, I wont delve deeper into this.

[2021-08-18 13:51] luukvbaal commented on #1134
`EDITOR="code -w"` seems to work.

[2021-08-18 13:53] 0xACE commented on #1134
Also beware of the potentiall issues with setting `EDITOR="code -w"` it probably more portable to introduce your own script `code-blocking`:
[code]

and use `EDITOR=code-blocking`

[2021-08-18 13:59] jarun commented on #1134
I am closing this.

Sorry, we can't document code-specific behaviour. But I'll add a generic note that the instance of the editor must wait for the editing to complete.

[2021-08-18 13:59] #1134 closed

[2021-08-19 20:49] KlzXS commented on #1014
@dankamongmen We'll hold off on implementing support for notcurses for now.
I don't have time to dedicate to this now and we believe it wouldn't benefit the project much, so we're putting it as low priority.
We'll revisit the idea at a later date when someone has ample time to dedicate to it.

I'm unlocking the issue so you that you can reply if you have anything to add.

[2021-08-19 20:50] dankamongmen commented on #1014
understood. don't hesitate to reach out if the situation changes! we are. ow supporting Mac and windows, btw.

[2021-08-19 20:55] KlzXS commented on #1014
Right, I just saw that that's a thing. Wish you the best of luck with that endeavor.

[2021-08-22 08:05] dinotheextinct opened #1139 "Problems with special characters like äüö etc"
Hello, I hope this issue is actually nnn related, but it only happens for me with said program.
How the folder and contents look with **nnn**
![image](https://user-images.githubusercontent.com/32158581/130347208-98453ff8-7fd0-486c-b81c-156a5b131ed4.png)
How it looks in dolphin
![image](https://user-images.githubusercontent.com/32158581/130347241-5922e0d3-4937-43b9-b280-07805f2af14b.png)

Its kind

[2021-08-22 08:15] jarun commented on #1139
Either your nnn binary is not compiled with ncursesw OR you are using the make option `-O_NOLC=1`.

[2021-08-22 08:22] dinotheextinct commented on #1139
I used the package delivered with opensuse:
![image](https://user-images.githubusercontent.com/32158581/130347659-9a1a80f0-bdcd-4e6e-ba3a-c0341fbb860a.png)
So I need to compile it myself to remedy the issue? Sorry not very technical or experienced.

[2021-08-22 08:25] jarun commented on #1139
What's the output of `ldd $(which nnn)`?

For example in my case it shows libncursesw:

[code]

@Stig124 can you please have a look?

[2021-08-22 08:27] dinotheextinct commented on #1139
![image](https://user-images.githubusercontent.com/32158581/130347813-e71c3e85-ca84-451e-abce-19f83accb610.png)

[2021-08-22 08:32] jarun commented on #1139
Ok, the binary is linked to libncursesw. Not sure if the package is built with `NORL`.

I created a dir structure with `äüö` on UBuntu (my custom build) and I can see everything fine:

![](https://imgur.com/R04ivLS.png)

[2021-08-22 08:37] jarun commented on #1139
@Stig124 in the [PKGBUILD](https://build.opensuse.org/package/view_file/home:stig124:nnn/nnn/PKGBUILD?expand=1) I see:

    depends=('readline' 'ncurses')

should it be:

    depends=('readline' 'ncursesw')

[2021-08-22 09:07] jarun commented on #1139
@dinotheextinct in the meantime, can you try the static binary available with the last release?

Or, if you are adventurous,

1. Clone this repo.
2. Run `make strip` // you may have to install gcc, make etc.
3. Run `./nnn` and see if you still see the problem.

[2021-08-22 09:40] dinotheextinct commented on #1139
I can try to check the static binary later.

[2021-08-22 13:31] Stig124 commented on #1139
ncursesw is not a thing in Arch, for openSUSE might be a thing that I need to test, but have no time rn

@dinotheextinct try using the upstream repo instead of the openSUSE one [link](https://software.opensuse.org//download.html?project=home%3Astig124%3Annn&package=nnn)

[2021-08-22 19:49] CantoroMC commented on #1139
The ArchLinux pkg ncurses provide also `usr/lib/libncursesw.so`

   |\_
  /o \\
 (_. ||
  /__\\
 )___(

I have found this nice knight ascii art on the web, you may like to add it in front of the new nnn ascii art

[2021-08-22 20:41] jarun commented on #1139
I think we should have:

[code]

[2021-08-22 21:26] ftpd opened #1140 "How to get rid of -i flag for rm while deleting files?"
So, when I hit x in nnn, I'm asked for confirmation if I really want to delete - which is fine. The problem is: after confirming my action, rm -i seems to be invoked, so I have to confirm twice. I could live with this for files, but rm -ri of a directory, especially including git repo with tons of files in .git subdir it just pain in the ass.

I haven't found answer in the docs - sorry if it's the

[2021-08-22 21:40] jarun commented on #1140
At the following prompt, press `y`:

    rm -rf hovered? [Esc cancels]

[2021-08-22 21:40] #1140 closed

[2021-08-22 21:43] ftpd commented on #1140
Oh but I do. It invokes rm -i anyway.

[2021-08-22 21:50] jarun commented on #1140
No problem! All binary questions in `nnn` accept y/n.

[2021-08-22 21:52] ftpd commented on #1140
Any chance to set Enter as a 'y' response equivalent? It's just quicker.

[2021-08-22 21:53] jarun commented on #1140
No. You will get accustomed in a few days.

[2021-08-22 21:53] ftpd commented on #1140
Hope so. Thanks for blazing fast response!

[2021-08-22 23:11] jarun commented on #1139
Settled for

[code]

[2021-08-23 15:10] CantoroMC opened #1142 "Support: How to use the B key."
How can i reach the directory added with the B key.
I know they are stored as symlinks in `${XDG_CONFIG_HOME}/nnn/bookmars/` but once stored how can i easily/rapidly access them?

[2021-08-23 15:19] jarun commented on #1142
<kbd>b</kbd> followed by <kbd>Enter</kbd>.

You can ask questions in the ToDo list.

[2021-08-23 15:19] #1142 closed

[2021-08-23 15:24] CantoroMC commented on #1142
Ok, sorry i was afraid of spamming it.

[2021-08-23 15:38] jarun commented on #1142
It's absolutely fine! :+1: