[2020-06-03 03:00] leovilok commented on #628
There are a ton of image to text tools, you can uncomment the example provided in `preview-tui`: https://github.com/jarun/nnn/blob/master/plugins/preview-tui#L73
and replace it with any one.

[2020-06-03 03:18] Kabouik commented on #628
Thanks. Interesting, I just downloaded all plugins 2 hours ago using the script recommended on the plugin page, but I do not have this latest version (the commented line is not here for instance). I'll try it.

[2020-06-03 03:27] jarun commented on #627
Thanks! I have updated the Live Previews page with the info.

[2020-06-03 03:30] leovilok commented on #614
@jarun Do you mean documenting which line to remove when the first file makes the previewer crash?
I think that it sounds like a bug that needs to get fixed anyways, and @basbebe can reproduce it.

@basbebe can you try this version of the script?
http://vgx.fr/preview-kitty-checkarg
I'm trying to figure-out why the first file might cause issues.
Also with your version with $1 removed, did you noti

[2020-06-03 03:32] jarun commented on #614
You are right.

[2020-06-03 03:35] leovilok commented on #628
Hum you're right, and live preview is less usefull on mobile OS I guess ...
But `preview-tui` works with tmux too, I don't know how well it's supported in these environments.

[2020-06-03 03:39] Kabouik commented on #628
I have packaged the latest tmux version just two days ago for SailfishOS so that shouldn't be an issue, I think xterm will be the problem.

Live preview would be very useful for me here because I use SFOS on a phone with a slider keyboard, and the preview would go very well with my 0x0 upload script to select the image I want before uploading it.

[2020-06-03 03:43] leovilok commented on #628
If you use tmux, you don't need xterm. Other dependencies are listed in the plugin, but they can be replaced.

[2020-06-03 03:53] jarun commented on #623
I have updated the listing to alphabetical order. Also removed the reference to the app because users are supposed to know the package manager app on the distro they use.

[2020-06-03 07:48] jarun commented on #627
@marioortizmanero for the unified plugin can I add a line item in the ToDo list and assign it to you?

[2020-06-03 08:33] marioortizmanero commented on #627
Hmm that's super interesting, I didn't think of this use case. But I'm not sure if that should be nnn's job? For Markdown and Latex I just open a tab in my explorer (with Grip and Vimtex in vim, respectively), for example. And I think closing the preview window is the more popular choice in this case.

Can't the FIFO be used to notify kitty? I'm not too sure about how the FIFO works, but if it was

[2020-06-03 08:40] marioortizmanero commented on #626
Okay, didn't think of that case. But other actions like compressing still don't make sense to me in that way. Anyway, I would have all of them act the same for consistency, thanks for the quick reply.

[2020-06-03 08:59] jarun commented on #627
Not necessarily. After this was discussed in another issue I made the terminal full screen and tried some minor edits in the markdown readme and man page of the project and it was indeed a new way of doing it.

In addition to my above response where I find the open preview useful:

I see you are trying to bring in some intelligence but I would argue that we want to couple less with the previewers.

[2020-06-03 08:59] #627 closed

[2020-06-03 09:06] jarun commented on #626
Thanks to a very well-organized code, if you don't really care for any of the cases, use the following patch:

[code]

[2020-06-03 09:42] harriott commented on #594
Reinstate [alignment of nodes listed in Batch rename #529](https://github.com/jarun/nnn/issues/529). It was implemented for a while, and was very helpful for me, then, before I could give my thanks, the thread was closed, and it was de-implemented. Can it be brought back?

[2020-06-03 09:55] jarun commented on #594
@harriott it's still there. Can you please confirm your copy of the plugins is the latest?

[2020-06-03 10:33] jarun opened #629 "ToDo list"
Rolled from #594.

### Cooking

- [x] audit and adapt all plugins for macOS (thanks @gpanders)
- [x] compile-in Alexey Tourbin's QSORT macro (thanks @leovilok)
- [x] cycle time, size, clear orders at sort order prompt with <kbd>^T</kbd>
- [x] option `-J` to disable auto-proceed on select
- [x] option `-D` to show dirs in context color, with `NNN_FCOLORS` set

### Up for grabs

- [ ] generate stati

[2020-06-03 10:33] #594 closed

[2020-06-03 10:34] jarun commented on #594
Rolled at #629.

[2020-06-03 10:35] jarun commented on #621
@midexe6380 I have replaced `|` with `Esc` to send hovered file path to FIFO.

[2020-06-03 12:55] Kabouik commented on #617
On Sailfish OS, I observe the same flickering behaviour @kuntau reported. That's with  `nnn -a` after running `tmux`.

[code]

The plugin works out of the box on my computer with git `nnn`, Tilix and `tmux` 3.1b, so I suppose I might just be missing a dependency or something. I tried changing `$TERMINAL` in the script but that will open a new terminal for previews instead of the pane preview.

[2020-06-03 13:07] jarun commented on #617
The problem is `tmux next-3.2`. The check we have currently is:

    "$(tmux -V | cut -c6)" -eq 3

which fails. I also compiled tmux from source and faced this problem. You can hack the code to change the version to "3.2". That's what I did.

[2020-06-03 13:15] Kabouik commented on #617
Excellent, thanks! For testing, I just removed the version check you quoted from `preview-tui` and that works. In my case it might be easier to do just that instead of changing the version `tmux` reports.

[2020-06-03 13:31] jarun commented on #617
@leovilok and @KlzXS any way to make the check more accurate?

[2020-06-03 13:31] jarun commented on #617
Maybe check if next is present?

[2020-06-03 14:07] Kabouik commented on #617
For the record, works pretty well on the phone (and from SSH too of course): https://asciinema.org/a/336296

I am happy.

I get these weird warnings with `tree`, but I suspect it's due to the fact that I had to use Node.js `tree-cli` instead of the usual `tree`.

[2020-06-03 16:30] kuntau commented on #617
@jarun I use my modified version with this regex.. so far it worked on all tmux version variations

[code]

[2020-06-03 17:47] jarun commented on #617
@Kabouik we are going to link it from the wiki or plugins doc. Is that fine?

@kuntau please raise the PR.

[2020-06-03 18:53] Kabouik commented on #617
@jarun The asciinema cast, you mean? If so, wait, I'll make a better version with true colors enabled (`viu` previews were rendered without true colors in `tmux`).

[2020-06-03 19:00] jarun commented on #617
Yes, the asciinema cast. A better version would be great! Thanks a lot in advance!

[2020-06-03 19:33] Kabouik commented on #617
Here is the new one: https://asciinema.org/a/r3cDlyp2UZ0kLbO5GavPGcM8z

I improved the description a little, and it now shows contexts in action as well as text preview. The `viu` previews looked better on the phone, `asciinema`'s conversion degraded them.

[2020-06-03 20:28] leovilok commented on #621
@jarun I'm not sure how you differentiate `Esc` and <kbd>Alt</kbd>+`key`, but well done.

[2020-06-03 20:47] jarun commented on #621
See `nextsel()`.

[2020-06-03 21:44] leovilok commented on #617
@Kabouik it's a shame that you have those "Terminated ..." messages, try this replacement:
[code]

@kuntau this might be a bit simpler, but not v4.0 proof:
[code]

[2020-06-03 21:47] toddyamakawa commented on #621
I don't have the full history here, but @jarun has constantly rejected previews as an nnn feature. To this day, previews are not built-in to nnn. nnn just writes stuff out to a FIFO. It just so happens that previewers read that FIFO.

This FIFO is so much more powerful than a previewer because it has the entire history of everything that is accessed. This would enable users to write a plugin that

[2020-06-03 22:16] Kabouik commented on #617
Awesome, that improves it a lot @leovilok! The warnings still show up if I scroll too fast, I'm guessing it happens when I hover a new directory while the previous was still being fetched. If that's not easily flexible, I am happy to make another cast now, otherwise we can try to fix that too.

[2020-06-03 22:34] jarun commented on #617
@leovilok I made it future version proof to version 9. See commit 56eea7e195e98eedca374cfc24cc43afe73d43db. Should give us a lot of time. ;)

[2020-06-03 22:58] Kabouik commented on #617
Nice @jarun.

Note this also causes issues with `viu` because if you scroll very fast (using key repeat on `DownArrow`), `viu` will not skip files you did not stop onto, but instead queue all of them before rendering the file you actually wanted to target. I think it would be good to implement a way to interrupt a preview still loading when another one is triggered on another file. When the previe

[2020-06-03 23:45] leovilok commented on #617
@Kabouik interrupting is already implemented, just use `viu "$1" &` instead of `viu "$1"`.

[2020-06-04 00:50] Kabouik commented on #617
Thanks all for your help. All issues fixed, so here is a clean cast for the wiki or the plugin page: https://asciinema.org/a/336439

[2020-06-04 02:55] jarun commented on #617
Thanks for the cast!

[2020-06-04 04:07] jarun commented on #617
Its live: https://github.com/jarun/nnn/blob/master/plugins/README.md

[2020-06-04 10:52] 0xACE commented on #628
Graphical preview could be done on android, I'd suggest you retro fit mupdf and mpv to handle this for you, not sure about text but that one should be easier then the others.

maybe a browser handles all scenarios...
![devs-these-days](https://user-images.githubusercontent.com/1482942/83748225-64af6700-a651-11ea-86cc-3c157e1972fa.jpg)

[2020-06-04 13:19] Kabouik commented on #617
Nice. I tried to make a .svg out of it so you could embed the animation in the readme (it's not obvious that there is an animation if you click on it), but so far it's [not working](https://github.com/marionebl/svg-term-cli/issues/62).

I'll post an update here with the file when/if I succeed.

[2020-06-04 17:16] leovilok commented on #617
It might be easier to turn it into a .gif?

[2020-06-04 18:25] jarun commented on #617
Even the asciicast is fine.

[2020-06-04 19:20] basbebe commented on #614
The Problem remains: I only get a persisting preview window if I start with an image and move my selection before the image loads.

With my version it is never shown (preview/window remains blank until I change selection).

[2020-06-04 20:10] leovilok commented on #614
OK, it's time to get serious with remote debugging then, let's try tracing what's happening, @basbebe please try this version:
http://vgx.fr/preview-kitty-traced
And show us the generated `/tmp/preview-kitty-err.log`

[2020-06-05 01:39] Kabouik opened #635 "Conflicting alias and cd on quit"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: SailfishOS
- [ ] Desktop Environment:
- [x] Terminal Emulator: havoc
- [x] Shell: bash
- [ ] Custom desktop opener (if applicable):
- [x] Program options used: -aA
- [x] Configuration options set: cd on quit
- [x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
I would like

[2020-06-05 01:44] jarun commented on #635
You need a wrapper function. Please refer to the following script: https://github.com/jarun/nnn/blob/master/misc/quitcd/quitcd.bash_zsh

Read the notes on cd on quit and change line 21:

    nnn "$@"
to

    nnn -aA "$@"

[2020-06-05 01:45] #635 closed

[2020-06-05 01:45] jarun commented on #635
The scripts are linked from Ste 3 in Quickstart: https://github.com/jarun/nnn#quickstart

[2020-06-05 01:51] jarun commented on #635
BTW, did you consider submitting SailfishOS to repology? Given the number of distros *nix has and package managers, I find the centralized database of package availability extremely handy and useful. Helps me find dated distros easily. Helps the community much more.

@AMDmi3 (who maintains the project) can help if you have any questions.

[2020-06-05 01:51] Kabouik commented on #635
I read the quickstart and the notes on the script, I had it added to my .bashrc already and it was working perfectly before I tried to combine that with options.

I tried adding them on the same line actually, but that failed. That was probably because my environment was already altered by the previous attempts to combine alias and cd on quit.

Wouldn't it make sense to add a comment on that line

[2020-06-05 01:53] Kabouik commented on #635
I checked repology but I don't know that tool, I didn't even find where to add a distribution when I was on the page. I didn't want to bother you with this and just thought I would try again later when I have some more time. To be honest I am in my very early days of packaging anything, still a lot to learn, and you would faint if you saw my workflow.

[2020-06-05 01:54] jarun commented on #635
This is implied because the enclosing function name is `n`.

[2020-06-05 01:57] jarun commented on #635
You probably don't need to package anything. The data you need to provide to repology would be the versions of your packages which should be available already, may be in a different format.

I think this may be the procedure to help: https://github.com/repology/repology-updater#running

@AMDmi3 correct me if I'm wrong.

[2020-06-05 02:41] Kabouik commented on #635
Thanks, I'll have a look.

I think I cannot combine `-S` with cd on quit with ^G (without `export`): when -S is enabled, quitting all contexts at once with Q will always cd to the path of the current context, and quitting with q will close contexts one by one so it will cd to the path of the last one. Ideally -S could be compatible with cd on ^G, but I don't know how to achieve that.

On Friday, 5

[2020-06-05 02:46] Kabouik commented on #635
Forget what I just said, it works. I must be drunk. Sorry.

On Friday, 5 June 2020, Mischievous Meerkat wrote:

[2020-06-05 04:03] jarun commented on #635
Yes, it helps if users explore more before reporting issues. All the nnn devs keep busy due to other professional/personal commitments and looking into non-issues is a waste of our time.

[2020-06-05 07:04] basbebe commented on #614
Thank you very much for your support!

`/tmp/preview-kitty-err.log`

[code]

[2020-06-05 11:39] AMDmi3 commented on #635
Well, yes, details are in the Docs section on the site. It should be easy since SailfishOS seem to use OBS, and we already have/have had support for OBS using projects already (Mer in particular, before it had all packages gone from the repository). Basically, I'd just need to know which project https://build.sailfishos.org/project/list_public can be used, as obvious ones like `sailfishos:latest`

[2020-06-05 13:07] leovilok commented on #614
Interesting ... so when your shell start `exec < "$NNN_FIFO"` it block until `nnn` opens it for writing, which happens only when you start moving the cursor. But while the script is bocked on `exec`, the previewing background job exits, which send a SIGCHILD signal, which interrups `exec` ... and your shell just aborts. I find it very strange for a shell to not handle blocking calls interrupted by

[2020-06-05 14:03] basbebe commented on #614
@leovilok

[code]

`/tmp/preview-kitty-err.log`
[code]

[2020-06-05 14:07] jarun commented on #614
In case you guys want to do it real time, use https://gitter.im/jarun/nnn

[2020-06-05 14:17] leovilok commented on #614
@basbebe So you can conform that this version works without crashing?

@jarun I don't use gitter (unless someone really want me to chat there) but I'm always available on IRC with the nick `lvgx` on a few servers including freenode.

[2020-06-05 14:18] basbebe commented on #614
sorry.

yes, this works!

[2020-06-05 14:46] leovilok commented on #614
Good, the next step will be to make it work in the version made by @marioortizmanero  in #634, but we can wait until it's integrated.

[2020-06-05 14:47] basbebe commented on #614
great, thanks!

[2020-06-05 17:01] leovilok commented on #614
I installed `dash` and I can now reproduce your issue directly.

[2020-06-05 23:04] leovilok commented on #614
I've found a new fix which should work in @marioortizmanero's version too:
we can just use:
[code]
instead of:
[code]
I guess that this count as an "useless" use of `cat`, but since `dash`'s `exec` doesn't handle background process exit while it's blocked, it's just more robust.

And we have to remember that `dash` is the default `/bin/sh` on debian (hence probably ubuntu), and now apparently OSX

[2020-06-06 00:50] Kabouik opened #637 "[Feature request] Option to automatically remove or rename remote mount points at unmount"
**tl;dr** the current remote system can be error prone, more so than GUI alternatives. We all agree that the `nnn` workflow is by far more efficient, and with great powers comes great responsibility, but maybe there could be simple things to reduce the risk without changing too much the `nnn` rationale.

---

**What are the risks?**

`nnn` leaves empty folders after unmounting remotes. For some, t

[2020-06-06 03:07] jarun commented on #637
We document this behaviour clearly: " nnn doesn't delete the mount point on unmount to prevent accidental data loss. Please ensure the mount point is not mounted if you are deleting it manually."

We can't rely on return values from third party utilities and do this risk free. Also, why do you want to delete? We generally access remote mounts regularly.

[2020-06-06 05:00] jarun commented on #637
I can see why leaving the directory can be an annoyance in case of archive mounts. So I think removing the directory is a good idea indeed.

So, we can:

- support unmount hovered and attempt to remove the mountpoint
- remove the support for mount hovered directory

[2020-06-06 10:53] jarun commented on #637
Please test and confirm if the behaviour works as expected.

[2020-06-06 11:39] dangerware opened #639 "NNNLVL increments on every shell invocation (macOS)"
[x] Operating System: macOS Mojave 10.14.6
[x] Terminal Emulator: iTerm2 (v3.3.10)
[x] Shell: either fish (v3.1.2) or bash (v5.0.17)
[x] Issue exists on `nnn` master (reproduced 65cf067)

#### Exact steps to reproduce the issue
Same as in #510. Works fine on my Arch box (LTS kernel v5.4.44, Fish v3.1.2), but on macOS `NNLVL` still increases as reported in that issue.

I was able fix it by doing th

[2020-06-06 12:30] jarun commented on #639
Can you please print `tmp` in debug mode after:

    tmp = getenv(env_cfg[NNNLVL]);

https://github.com/jarun/nnn/wiki/Developer-guides#debugging-nnn

[2020-06-06 13:09] Kabouik commented on #637
Thanks @jarun! Just before I try in real world, I notice before the change that unmounting my phone always returns "Unmount failed, try lazy?". I just want to make sure there's no risk that `nnn` would try to delete the folder before trying the fallback lazy unmounting solution when the first unmount fails.

[2020-06-06 13:12] jarun commented on #637
If lazy fails, `nnn` doesn't try to delete. Also, `nnn` uses `rmdir()`, so if the dir is not empty, it is not deleted. From the man page:

    rmdir() deletes a directory, which must be empty.

[2020-06-06 14:05] Kabouik commented on #637
Excellent, `rmdir` sounds safe indeed. I can confirm it works, thanks for being so quick to implement it!

Maybe echo some "Remote unmounted" in the terminal if the `unmount` and `rmdir()` word, so that the state is clear when the user quits `nnn`? I know I would like it but that doesn't mean it would be relevant for others, I'm just throwing the idea but it's fine either way.

[2020-06-06 14:27] Kabouik commented on #617
Does it work with tmux versions containing a letter too?

[code]

As a result the plugin tries to run `xterm` on this machine. Again I can just remove the version check manually since I know I use a version >3.0, but just wanted to report this corner case.

[2020-06-06 14:40] jarun commented on #637
You get a msg when it fails. Be happy with it. We don't want to waste 300 ms of your life seeing useless messages every time you unmount. At least I don't want to and can't add an option to disable it. ;)

[2020-06-06 14:42] jarun commented on #617
@leovilok help!!!!!!!!!!!!!!!!!!!! Guys can't you google search and raise a PR? Because if I want to fix it I'll do that.

[2020-06-06 14:49] Kabouik commented on #637
No problem, thanks!

[2020-06-06 15:11] leovilok commented on #617
@Kabouik it works:
[code]

[2020-06-06 15:19] leovilok commented on #637
@Kabouik you ran use `rmdir` instead of `rm` to be sure to avoir recursively removing anything: <kbd>o</kbd>`rmdir`<kbd>Return</kbd><kbd>c</kbd>

[2020-06-06 15:22] jarun commented on #637
@leovilok I have pushed the change to use `rmdir()` when unmount is successful. So no need to remove manually anymore.

[2020-06-06 15:25] leovilok commented on #637
Sorry, I missed a few messages ...

[2020-06-06 15:29] Kabouik commented on #617
Sorry jarun, regex is out of reach for me so I did try to fix it myself using some doc, but didn't succeed Turns out the issue was probably somewhere else anyway given what leovilok just showed (thanks by the way).

[2020-06-06 15:45] Kabouik commented on #637
Speaking of this, would it make sense to create the mount points in a directory that is **not** tied to `nnn`? I can understand why it was decided to put stuff mounted by `nnn` would be in the `nnn` folder. But on the other hand, nesting a remote file system inside a config folder (which people may manipulate outside `nnn` when forking/updating/synchronizing configs among their PCs) may be risky,

[2020-06-06 16:29] dangerware commented on #639
With this change:
[code]

I got the following log by starting nnn `./nnn` and repeating 3 times the process of spawning a shell with `!` and quitting it.  Please don't take offence on the `Junk` directory. It's my default directory to put anything I need to work with right way.
[code]

[2020-06-06 16:33] jarun commented on #637
We can definitely consider it as an improvement. I kept it the same as the archives. The problem is not all systems follow the /media hierarchy... I remember earlier RedHat used to have /mnt... How about macOS and *BSD?

[2020-06-06 17:02] leovilok commented on #637
I's seen `/run/mount/user` too, but I think that putting mounts somewhere else would be a good idea, we use `${XDG_CONFIG_HOME}` for stuff that totally aren't [configuration files](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html).

[2020-06-06 17:32] Kabouik commented on #637
Instead of asking just the name of the remote when hitting `c` then `s`, we could ask the user to fill in the absolute path he wants, and possibly pre-fill `/media/username` or  `/run/media/`?

[2020-06-06 17:37] jarun commented on #637
There is no standard directory and `nnn` config dir is already under `${XDG_CONFIG_HOME}`. I think we are OK with what we have right now. If people are not able to use `nnn` because they don't read/understand docs they should really use some other file manager that suits them. We are past the point where we spend time on issues like "I can't remember..." and "I missed...".

That just lengthens the

[2020-06-06 17:42] jarun commented on #639
Can you print `tmp` after:

    setenv(env_cfg[NNNLVL], xitoa((tmp ? atoi(tmp) : 0) + 1), 1);
and

    setenv(env_cfg[NNNLVL], xitoa(tmp ? atoi(tmp) : 0), 1);

Let's figure where `tmp` is changing.

[2020-06-06 18:03] jarun commented on #637
Also I missed something - we are discussing remote mounts. The mention of `/media` distracted me into considering drives.

Remotes are not mounted automatically. If you remember to mount a remote then you should also remember to unmount it.

I do not expect PRs from anyone so frequently that they should be deleting the `nnn` config dir every day.

[2020-06-06 18:16] Kabouik commented on #637
There is absolutely no problem with that and I totally respect that. I swear I read the docs and am trying to master `nnn` by myself, but I think the topic here is not only a matter of user workflow or environment issue.

There's a change of stance between your last and the one two hours ago. I don't know if this is my latest suggestion that changed your mind but that was just me throwing an idea

[2020-06-06 18:24] dangerware commented on #639
With these changes:
[code]

I get the following log:
[code]

The first pass seems fine. We get `null` in all evaluations because at the time of the first `getenv` that environment variable was not set. But then on further passes the value is changed after the first `setenv`.  I don't understand why this isn't also happening in the first pass.

I can imagine that the memory for which `getenv` retur

[2020-06-06 18:30] jarun commented on #637
They are two different issues. The first problem was about removing stale directories and I considered it a better approach because of stale archive mount dirs.

The second problem is unrelated to the first one where the mounted dir is not unmounted by user.

The documentation is here: https://github.com/jarun/nnn/wiki/Basic-use-cases#sshfs

But I think it's a good idea to highlight at the top tha

[2020-06-06 18:44] jarun commented on #639
Can you try an `unsetenv()` before the first `setenv()`?

[2020-06-06 19:05] #639 closed

[2020-06-06 19:05] jarun commented on #639
Please confirm if the following patch works.

[2020-06-06 19:10] Kabouik commented on #637
Yes there were two issues (didn't feel like it was worth creating a new one without knowing what you'd think about it) but I thought your message two hours ago was about the location of mount points too.

Yup I read that doc to get sshfs mount working, and it was clear to me when reading it that the mount point would be in `~/.config/nnn`, no surprise there.

The more I think about it, the more I

[2020-06-06 19:11] dangerware commented on #639
@jarun It works! I've tested it on both macOS and Arch Linux. Thank you!

[2020-06-06 19:24] leovilok commented on #637
There is a lot of stuff in `.config/nnn` that is not configuration files. It's probably too late to change it, as `nnn` users are probably already used to that, but some files really belong to other [standards dirs](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html):

This is where we should put sessions and plugins.

I don't think that there is any configuration file *p

[2020-06-06 19:35] Kabouik commented on #637
Speaking of, although it might deviate a little from what all those folders should be used for, I must say that I personally like that everything `nnn`-related is in one single place; plugins, sessions, *etc.* Makes everything simpler for me. I just wanted to make that clear after the discussion above, the only thing I am more uncomfortable with (or fear) is invoking files that are not related to

[2020-06-07 01:43] jarun commented on #639
Awesome!

[2020-06-07 02:14] jarun commented on #637
:+1: That's exactly something I like people who stick with `nnn` do. I myself build `nnn` with 7/8 flags to misuse stuff the general public won't like.

No, it's just too simple to ignore the benefits:

- one bookmark to reach all files related to `nnn`
- easy script for portability
- minimal checks when starting `nnn`
- lesser directories, lesser litter

Using multiple locations for multiple _typ

[2020-06-07 02:23] Kabouik commented on #637
I'm not in the field of software development at all though, meaning there is a high risk of massive failure because I might just not understand the code.

I fully agree about the simplicity of having all files related to `nnn` in one single place.

[2020-06-07 02:29] jarun commented on #637
My very first contributions to open source began with this tiny and superfast distro. The person who helped me configure the Linux kernel SCSI related defaults for the next release was actually into dramas and plays. Then there was this guy from Oxford biotech who wrote a widely used kernel driver. Technology is something people should just learn as a hobby. Everyone doesn't have to be an engineer

[2020-06-07 02:35] jarun commented on #637
And it also comes from instinct and need. Like how man learnt to build the fire. I was prepping a Pi 4 with Ubuntu 20.04 for my 6 yr old son last evening (while I was also responding here). He used to have it as a media center earlier. When I woke up this morning I found he has written his password (though it's very simple) in big letters on a slate.

So he has observed that the login screen retai

[2020-06-07 03:09] Kabouik commented on #637
That's exactly what I'm trying to do on some other open source stuff lately, but I'm far trailing far behind you. Or your son. :<

For now, there are just two things I'd like to change in `nnn` in the future if I can understand enough from the code, and they're both for security reasons because, while I love the speed of nnn, I want to shift the cursor down a little if it can significantly reduce

[2020-06-07 03:18] jarun commented on #637
LOL!

:+1:

:+1: There are contradictory opinions on this. Some people refuse to use Shift/Ctrl keys. Some say they find `x` risky. We have a confirmation in place.

It's very easy to change though. Here's the patch:

[code]

[2020-06-07 03:25] jarun commented on #637
Can you take a look at the `upload` plugin? This looks to be int he same lines.

Exactly. Keep reading the documentation as well. There are many many hidden things in `nnn`.

[2020-06-07 11:10] leovilok commented on #637
The unique dir way of `nnn` makes sense, and it's kind of nice, but XDG specs totally make sens too. I think that the rationale is something like that:
- you're supposed to be able to copy/backup or even share configuration files, so if every application follow the standard, you can copy the whole `.config/` dir to other machines, or even make it a git repo
- having user data files in a directory

[2020-06-07 12:21] jarun commented on #637
We have NNN_SEL to put selection anywhere.

[2020-06-07 13:22] jarun commented on #637
Speaking of `nnn`, all the files in .config/nnn are supposed to be copied to the new machine.

Also, I find it interesting that people believe that a system can be cloned manually, application by application (if you want ALL config files, definitely you want ALL apps too). The sanest way to _clone_ a system is to take a bare metal/OS backup and deploy it in a new system. Where everything goes.

No

[2020-06-07 14:30] jarun commented on #637
Anyway, @leovilok I think we have a middle ground. We do not have a config file and .selection can be configured by `NNN_SEL`. How about moving everything to `XDG_DATA_HOME` and be happy about it?

Feel free to raise a PR.

Note that the first check would be if we need to migrate the current files (maybe the `nnn` directory) safely if it exists and move to `XDG_DATA_HOME`.

If not, then setup as u

[2020-06-07 17:54] Kabouik commented on #637
Awesome, I'll try that. I was looking in `nnn.c`, turns out that was in `nnn.h`. I just to adjust my update workflow to apply this patch every time I update `nnn`. Today I managed to write my very complicated plugin to use in conjunction with `trash-cli` on `^X`, forceful removal function like default, but with conservative confirmation and not directly accessible:
[code]
More comments than code.

[2020-06-07 20:42] leovilok commented on #637
@jarun yeah, it's too late, It would mean rewriting a lot of stuff for something that works already an is used by a lot of people.

If it starts generating issues for actual users, we could have a `NNN_DIR` variable, defaultingt to the current location. But I think that there is no need to fix it while it's not broken. And we are not alone "abusing" the config dir to put non config data, so I gues

[2020-06-08 02:17] jarun commented on #637
I think we can have a `mounts` dir. I'll implement that.

[2020-06-08 03:19] jarun commented on #637
Subdir "mounts" is implemented at commit b62adec72ce31918e2ccd903bd29d382b03b799d.

[2020-06-08 08:25] leovilok commented on #637
Nice!

[2020-06-09 08:22] benoit-combes opened #640 "Cannot make a simple plugin work"
Dear developers,

First ! thanks for `nnn` ! and sorry if this is not the good place for my problem:

I am using the latest version of the available `nnn` binary (3.2,  for ubuntu 18.*) and do not manage to use plugins. More specifically, while putting in my bashrc:
[code]
and typing in nnn (I get the 'plugin keys:' prompt after ';')
[code]
I get
[code]

I am sure that the .bashrc file is loaded b

[2020-06-09 11:16] harriott commented on #629
@jarun, [re alignment of nodes](https://github.com/jarun/nnn/issues/594#issuecomment-638085873), I don't know what's going wrong here. `nnn 3.2-1` on Arch, `~/.config/nnn/plugins` emptied and re-curl'd, I still can't get back the nice number padding. (I also can't see which plugin handles it.)

[2020-06-09 11:30] KlzXS commented on #629
It's a hidden files called `.nmv`. Can you confirm that it's identical to what's on master?

[2020-06-09 12:09] jarun commented on #640
That's really strange. I checked out v3.2, added _only_ the NNN_PLUG you have and it works. Tried both bash and zsh.

There' something else at play here. Can you check what the help screen (press `?`) shows?

BTW, your NNN_BMS is incorrect - the single quote at the end is missing.

[2020-06-09 12:52] benoit-combes commented on #640
That's for your input and sorry for my question : I didn't realise that, as nnn uses the env variables, I had to reload the .bashrs and not just to relaunch nnn.... Thanks again and sorry.

[2020-06-09 12:52] #640 closed

[2020-06-09 13:15] jarun commented on #640
No problem! Hope you find `nnn` useful.

[2020-06-09 18:39] Kabouik commented on #635
Actually I did not build on OBS that time, I would need to work on a better `.spec` file to build from sources. This time I just built on device, packaged that, and distributed using the community repository (openrepos.net).

Using Using OBS in the future would definitely be better. There is no way I can keep up with the development speed of `nnn` though, so Il will probably just package some rele

[2020-06-09 18:46] Kabouik commented on #637
Would you mind explaining exactly what is your workflow for that? I started accumulating some custom changes locally (extra plugins, modified plugins, removal of the `x` to delete and `?` info edited accordingly, _etc._) but i don't want to miss `nnn` updates because there's just too much cool stuff at each update.

So far I `git stash`, `git pull`, `git stash apply`, `sudo make strip install`, bu

[2020-06-09 18:46] #637 closed

[2020-06-09 23:57] jarun commented on #637
I meant make options: https://github.com/jarun/nnn/wiki/Developer-guides#make-options

I use the most trimmed down version of `nnn` with the following resource usage:

[code]

[2020-06-11 05:59] jarun commented on #534
@tspivey this feature is added at commit f125802f4f30c5275d4d22b11aba0239f6216d58.

[2020-06-11 14:48] pizdjuk opened #650 "go in and return out of dir get me on a different row"
[x ] Operating System: linux
[x ] Desktop Environment: mate
[x ] Terminal Emulator: urxvt
[x ] Shell: bash
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[x ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

go into some directory dir1 (l), select some file with a cursor(jjjj), go out (h).
we are in the parent directory exa

[2020-06-11 14:55] jarun commented on #650
The behaviour is to highlight the directory you entered when you come out of it.

So in this case, when you come out of dir1, dir1 should be highlighted. If that's nto the case, share and asciicast.

[2020-06-11 16:40] jarun commented on #650
Closing this as explained.

[2020-06-11 16:40] #650 closed

[2020-06-13 00:44] pizdjuk commented on #650
the highlited directory is correct, when I'm out of the dir1. But the position is "incorrect". For example, dir1 is in a fifth row, then entering into the dir1 and coming out of dir1 makes the highlited dir1 appears in a first row.

[2020-06-13 02:23] jarun commented on #650
What's your sort order?

[2020-06-13 03:36] jarun commented on #650
I think you understand by now that I can't reproduce this. If you cannot provide a 100% way to reproduce the issue I cannot debug it.

Please test on master without:

- any `nnn` program options
- any `nnn` configuration settings

and see if you can reproduce it.

[2020-06-13 23:27] toddyamakawa commented on #650
I'm also unable to reproduce this issue. I played around with this for a little bit but I can't get the row of the active directory to change.

[2020-06-14 16:50] Kabouik commented on #617
I finally managed to convert it to .svg for automatic animation without going to asciinema.com, but the file is a bit large (6 MB), which might be inconvenient for small connections so maybe it's not a good idea anyway. I just wanted to update this post as I said I would, though. In any case, svg or not, I will try to make another asciicast in the future if you think that could be useful, now that

[2020-06-14 17:04] jarun commented on #617
That's a good idea. We can have a demo of the latest features, probably with better image rendering etc.

[2020-06-15 09:18] ksevelyar opened #651 "Delete files without confirmation"
Hi, is it possible to delete files/dirs without confirmation with `x`?

[2020-06-15 09:28] 0xACE commented on #651
Confirmation of what? The sel/cur option, or the `rm -rf`?

You would have to patch the source code anyhow. It has been discussed at least twice before, you can search amongst the old issues if you are interested or look up `SEL_RM` in https://github.com/jarun/nnn/blob/251a9a2e9c7172682a14da47a1270e4ea8bc7ff7/src/nnn.c#L6117

[2020-06-15 09:58] ksevelyar commented on #651
Thank you for the quick response!
I'll pick another fm then.

[2020-06-15 09:58] #651 closed

[2020-06-15 12:11] jarun commented on #651
Relevant notes here: https://github.com/jarun/nnn/issues/626#issuecomment-637903576

[2020-06-15 12:15] jarun commented on #651
I forgot we have the auto-lock bot in place now. :)

[2020-06-15 12:18] jarun commented on #651
@0xACE now that we have 3 issues where users are asking to prefer selection when it exists, do you think it makes sense to have a program option?

[2020-06-15 13:40] leovilok commented on #651
@ksevelyar you can also easily create a plugin like
[code]
to remove selection or
[code]
to remove current, give it plugin key `x`, and call it with a single <kbd>Alt</kbd>+<kbd>x</kbd>. (Use it at your own risks, as this doesn't asks for confirmation, of course)

[2020-06-15 13:48] jarun commented on #651
I think users are looking for a GUI-like behaviour - when you select multiple files (visually, say) the next operation is on the selection, no questions asked. So on second thoughts, I preferred to open a discussion. We have multiple requests already.

@leovilok I can't find a suitable program option (switch letter) right away, can we help me with that?

[2020-06-15 13:52] jarun commented on #651
There's another aspect... if we do this in `nnn`, it also makes sense to follow suit in plugins. In that case we need to have a config env variable (so plugins can read that too) rather than a program option.

[2020-06-15 13:54] leovilok commented on #651
@jarun `-u` for "*use selection*", `-D` for "*don't ask about using selection*"?

[2020-06-15 13:55] jarun commented on #651
Probably I'll leave out the plugins, because there's no easy way for `nnn` to know which one uses and which one doesn't use selection (and clear the selection after invoking it).

`-u` for _use selection always_` is nice! Thanks!

[2020-06-15 13:56] leovilok commented on #651
oh, you're right, some plugins have similar UI ... but plugins can be edited

[2020-06-15 13:56] jarun commented on #651
Yes, that's what I'm banking on. Asking the question doesn't lead to any data loss so we are good.

[2020-06-15 14:29] jarun commented on #651
@ksevelyar I have implemented the enhancement at commit 4b4bf6cca55e7f6710113e36c5ff8f776ca045a2 with option `-u`. Please confirm it works as you expect.

[2020-06-15 14:30] jarun commented on #517
@sinapis I have implemented the enhancement at commit 4b4bf6cca55e7f6710113e36c5ff8f776ca045a2 with option `-u`. Please confirm it works as you expect.

[2020-06-15 14:30] jarun commented on #626
@marioortizmanero I have implemented the enhancement at commit 4b4bf6cca55e7f6710113e36c5ff8f776ca045a2 with option `-u`. Please confirm it works as you expect.

[2020-06-15 16:30] marioortizmanero commented on #626
Wow, it's perfect! I've tried it and it's exactly what I was looking for :)

[2020-06-15 16:39] jarun commented on #626
Cool!

[2020-06-15 21:19] Kabouik commented on #626
Speaking of this, I always thought that "current"  is ambiguous. It could equally apply to the (current) selection, the files selected in the current folder and not those in other folders, just the hovered file, or all files in the current folder. Even if it's in the manual, multiple interpretations for something that may be followed by `rm -rf`  seems dangerous. Am I the only one finding "current

[2020-06-15 21:29] jarun commented on #626
I think we should change it to `hovered` for more clarity.

[2020-06-15 21:31] jarun commented on #626
But there will be a catch in case of batch rename where we would still have to pick all the files in the current directory when user selects hovered.

[2020-06-15 21:34] Kabouik commented on #626
I was about to reply that "hovered" would be perfect and consistent with the wording used elsewhere in `nnn`, but I'm not sure how to deal with the conflict you just raised.

[2020-06-15 21:35] jarun commented on #626
yes, and I do not want a different question/handling for a single case. I think we are find with what we have.

[2020-06-15 21:37] jarun commented on #626
I missed the fact the you are much newer to `nnn` than many users who are already accustomed to these. Let's not go back in time and try to fix thing no one bothers about anymore.

[2020-06-15 21:49] Kabouik commented on #626
The fact that "current" means two different things depending if the user is about to rename (all files in folder) or do any other action (just hovered file) shows that having the same system and wording is misleading though, but I understand your point too.

[2020-06-15 21:58] jarun commented on #626
Most words in every language has different meanings based on the context and people are used to that.

What's misleading here? You are pressing a key to _batch_ rename and you expect 1 file to be picked for the operation?

[2020-06-15 22:52] Kabouik commented on #626
I am sorry if this sounded bad, I did not mean to upset you (at all). I said above what sounded ambiguous to me and I explained why. However I cannot exclude that it might be clear to everyone else, I even asked this very question.If it is clear, then there's no issue.

To me "hovered" would be unequivocal and more consistent, even for experienced users, but I fully agree with you that it cannot w

[2020-06-15 23:09] jarun commented on #626
I'm not upset. When you use terms like _ambiguous_ or _misleading_ you have to back it up with reason.

Also, as a collaborator when you evaluate a software you have to look beyond personal interpretations (the _to me_ part). It doesn't matter what it appears to you or me. There are factors like code maintenance and uniform workflows. In addition, `nnn` is not for users who need to be spoonfed thi

[2020-06-15 23:42] jarun commented on #626
The strategy may sound alien to you because it's a lost art. But the thing is, running unnecessary stuff in your processor is a wastage of power and memory, printing longer strings takes time. And these things become evident when you work remotely over a trippy SSH connection or a old monitor (even 8-bit ttys on modern computers), one of the initial Pi offerings or Termux on a cheap Android phone.

[2020-06-15 23:54] jarun commented on #626
BTW, you can ignore the last part. I am kind of tired of users asking for patches for the most trivial things when all they need to do is to change the part they want (and we share the patches as well), install gcc/clang, and run `make` with O_NORL.

[2020-06-16 01:06] Kabouik commented on #626
I thought I did: "current" can be several things in this context, as opposed to "hovered" used in other places. Also, `nnn` is frugal on context words (which is good, we don't need any clutter), so when "hovered" is used elsewhere (wiki, plugins, not sure about `nnn` itself), a reasonable asumption is that any use of another word describes a different action. Here, "current" is favoured not becaus

[2020-06-16 01:44] theblackturtle opened #653 "Close preview windows when edit file"
Hi, I think the preview windows should be close when you edit the file and reopen the preview window when exiting the editor (like vifm).

[2020-06-16 02:00] leovilok commented on #653
The preview window is an external plugin, and don't have a way to know what happens in `nnn` (except what files are hovered). So we can't have this for now, as it would require changing the way `nnn` comunicates with plugins.

Of course, you can manually close the preview window (e.g. <kbd>Ctrl</kbd>+<kbd>c</kbd> in the preview window should work in `preview-tui`).

[2020-06-16 02:06] theblackturtle commented on #653
@leovilok Thanks for response. I think preview features should build in `nnn` because it is one of the core of the file manager. That make the file manager more useful.

[2020-06-16 04:00] jarun commented on #626
Nothing to apologise for. And I wasn't upset either. But I wanted to explain in detail why I think a lot before adding a byte. ;)

And you guys (collabs) should be aware of these as the future of all my utilities is with you.

That and users are coming back with very mundane stuff with the growing popularity, as if it's just another desktopware.

[2020-06-16 11:40] pizdjuk commented on #650
The bug is triggered, when there are a lot of subdirectories. start nnn, scroll down till the list of directories begins to scroll, then enter some directory, go out. The cursor will appear at the very top of the list.

[2020-06-16 11:40] pizdjuk commented on #650
I can make a screencast if needed

[2020-06-16 13:02] jarun commented on #653
Going by your preferences I don't think `nnn` is the right file manager for you. You already have found one that works as you expect. So stick to it or search more and find a suitable one. There are tons of file managers out there.

[2020-06-16 13:02] #653 closed

[2020-06-16 13:13] jarun commented on #650
Got it. When you scroll/pgup/pgdn the scrolloff decides the position. The position is not retained and when you get back into the parent directory it's decided by the index of the file among other files.

[2020-06-16 13:23] jarun commented on #653
Though it may not align with your expectations from a useful file manager - you can edit and preview at the same time with `nnn`. Pressing `Esc` on the entry will refresh the preview. So you can edit and preview side by side. This is on master.

[2020-06-16 13:48] jarun commented on #651
Locking this thread as the patch is confirmed to work an another thread.

[2020-06-16 15:52] Kabouik commented on #626
Related: is there an IRC channel or any other place to discuss `nnn` besides Github issues? Not a support chat of course, but just a place to check first and quickly ask collaborators when unsure if the question/suggestion/suspected bug is worth an issue.

[2020-06-16 18:53] jarun commented on #626
Gitter: https://gitter.im/jarun/nnn

[2020-06-16 19:43] marioortizmanero commented on #626
The Gitter link should be mentioned somewhere in the wiki or in the README (if you're actually interested in using it). There are no mentions of it in any of them currently. I think it would specially fit in a CONTRIBUTIONS.md. The repo currently doesn't have one and it helps new developers, as it was suggested here: https://github.com/jarun/nnn/pull/638

[2020-06-16 23:27] amitlevy21 opened #654 "Show git changes"
Hi,
I have opened the same issue in https://github.com/mcchrish/nnn.vim/issues/64 but was asked to ask this feature here.

**Is your feature request related to a problem? Please describe.**

When I change a file in vim, it would be nice if I could see which files were lastly modified since last commit.

**Describe the solution you'd like**

Basicly i'm looking for something like [this](https://git

[2020-06-17 02:11] jarun commented on #626
@marioortizmanero can you raise a PR for the CONTRIBUTIONS.md?

[2020-06-17 02:15] jarun commented on #654
`nnn` s a general purpose file manager and there are no plans to have git integration. The best you can have is to use sort by modification time.

[2020-06-17 02:15] #654 closed

[2020-06-17 06:17] marioortizmanero commented on #626
Will do.

[2020-06-17 09:52] pizdjuk commented on #650
So, I'm a bit confused.... will it be fixed, or is it a feature? :)

[2020-06-17 11:12] jarun commented on #650
It's a feature.

[2020-06-17 11:13] jarun commented on #650
or, the expected behaviour in this case.

[2020-06-17 11:33] akimdi commented on #654
@amitlevy21
use https://github.com/SpaceVim/SpaceVim

[2020-06-17 14:18] pizdjuk commented on #650
it would be nice to have an option to change this behavior, because it is a little bit confusing. I mean, VC, NC, MC, TC behaves on the described way (memorize the position of a cursor in every directory). And only nnn behaves different.

[2020-06-17 14:54] pizdjuk commented on #650
confusing I mean, that when I'm browsing directories, One expects to find a cursor on the same places where it was.

[2020-06-17 15:10] jarun commented on #650
That was the earlier behaviour in nnn as well, the position was based on the index always. however, there were pros and vons and we wanted to have scrolloff so ot was changed. As it's been this way for a long time, I would prefer to retain it. As the current item ia highlighted, there's no issue with identifying it.

[2020-06-18 02:28] githububub commented on #629
Thanks :) . I have yet to pin down the fifo issue as the day of my last post here regarding the issue, the kids were released from school for the summer and we left for a short vacation. Issue  continues to persist through 4b4bf6c. Will look into it.

[2020-06-18 02:47] githububub opened #656 "Resizing a window for a TUI app called through NNN_PLUG results in immediate termination of application"
Release and 4b4bf6c. Not sure if this is intended behavior, or whether the issue is Wayland or sway specific as I do not have a box with X on hand at the moment.

Arch + sway + alacritty
Debian 10 Testing + sway + alacritty

Repro:
1. Set arbitrary `e:-_nano $nnn*;`
2. Launch nano from plugin
3. nano is launched as expected; no issues with use
4. Move and/or resize window containing nnn/nano
5. na

[2020-06-18 03:02] githububub commented on #623
Raspbian Stable users will appreciate this (last I checked a few weeks back, nnn from the official repos was at 2.x)...

[2020-06-18 03:26] jarun commented on #656
@leovilok @toddyamakawa @marioortizmanero please take a look.

[2020-06-18 03:32] jarun commented on #623
Guys, we have a line item in ToDo list and no one is picking it up. Does that ring a bell?

I don't need it because I can compile directly on my boards and phone. Please refrain from leaving notes about something that's already added as a line item. I have to read hundreds of mails/comments in the morning and if I can save 2 minutes not re-reading known stuff that helps.

[2020-06-18 03:34] jarun commented on #623
Did you check Raspbian Testing version on repology? It's on 3.2. Why do I have to look that up for you and leave a note so the next reader doesn't get wrong info?

[2020-06-18 03:52] jarun commented on #656
I could repro this with vim and a text file as plugin. Perhaps the child is not handling SIGWINCH?

@leovilok please check f we need to add something here.

[2020-06-18 10:56] braykov opened #657 "Allow interrupting a long read process"
**Is your feature request related to a problem? Please describe.**

Yes, when I navigate to locations which are physically on a network and it takes a long time, nnn does not allow me to interrupt the directory read process.
I would expect to be able to navigate with `h` - to go back to parent, or `q` to close this context or `^Q` to close all of nnn, or `TAB` to move to another context while this

[2020-06-18 12:16] gandhiShepard opened #658 "Create multiple directories and files"
**Is your feature request related to a problem? Please describe.**
This is related to a convince problem. I often need to create sibling directories and or files.

**Describe the solution you'd like**
It would be awesome if NNN could allow for sibling directory and file creation. So, after pressing `n` and choosing `d` sibling directories could be created by typing something like this `dir1, dir2,

[2020-06-18 13:13] KlzXS commented on #658
If this is something we implement I think it is better to open `$EDITOR` and allow you to type the name of each entry on a separate line. That's at the same time more readable and practical.

I'll make a PR for this and notify you when it's in.

[2020-06-18 13:13] #658 closed

[2020-06-18 14:10] leovilok commented on #656
I can reproduce, I'll look into it.

[2020-06-18 15:09] leovilok commented on #656
@jarun @githububub  #659 should fix this

[2020-06-19 00:22] serpent-code opened #661 "Some files display as grayed out"
Hello.

Thanks a lot for this amazing piece of software. I've been using nnn for about a year and love many things about it. Multi level filtering is absolutely killer, among other things.

Just a quick question:

Since one of the recent updates some files (or directories) are displayed as grayed out, as shown in this screenshot:

![nnn_Screenshot_2020-06-15_02-44-55](https://user-images.githubuse

[2020-06-19 01:03] 0xACE commented on #661
Since I'm not on master, I'm not sure if this has changed...

but iirc the code responsible for changing color on items had some obscure if statement regarding `BOLD` and what not...

If anyone is taking care of this look at the `printent()` functions...

[2020-06-19 01:08] 0xACE commented on #658
*cough* plugin-system-may-also-appropriate-for-this *cough*

[2020-06-19 01:26] githububub commented on #656
A-OK on my end for the past two hours...

[2020-06-19 01:34] jarun commented on #661
All links are greyed out. Symlinks have @ after them.
Here's the wiki section: https://github.com/jarun/nnn/wiki/Usage#file-indicators

We work in 8-bit mode and we have to indicate links some way. So this was the way. This has nothing to do with NNN_COLORS.

[2020-06-19 01:34] #661 closed

[2020-06-19 01:36] jarun commented on #658
@KlzXS Adding a plugin may be a better option (done the same way - spawn editor and use the input). There was another request for this. It would be good to avoid having a new workflow just for this.

[2020-06-19 01:40] #656 closed

[2020-06-19 02:02] toddyamakawa commented on #661
Interesting, there must be something wrong with my terminal emulator. I see `A_DIM` is supposed to be set for symlinks in nnn, but I still see white.

[2020-06-19 02:08] jarun commented on #661
I see them greyed out in xfce4-terminal and xterm. I think dim indicates they will be greyed out.

[2020-06-19 02:20] jarun commented on #657
Have an alias to `killall -9 nnn` (probably add a keybind also) so `nnn` can gracefully exit.

[2020-06-19 02:20] #657 closed

[2020-06-19 02:24] toddyamakawa commented on #661
Maybe my version of `xterm` is just way too old.

[code]

[2020-06-19 08:38] serpent-code commented on #661
Thanks for all the replies and clarifying that.

[2020-06-19 22:49] KlzXS commented on #658
The new plugin is at #662.

[2020-06-20 15:41] Kabouik opened #663 "File and directory lists are not dynamically refreshed for sshfs mounts"
[x] Operating System: Solus
[x] Desktop Environment: i3wm
[x] Terminal Emulator: Tilix
[x] Shell: bash
[x] Program options used: `nnn -arAS -P t "$@"`
[x] Configuration options set:
[code]
[x] Issue exists on `nnn` master: yes

#### Exact steps to reproduce the issue
When mounting a remote with `sshfs` and creating or deleting files directly on the remote (not from within the local `nnn` session),

[2020-06-20 15:59] Kabouik opened #664 "preview-tui with tmux and tmux-resurrect leaves empty panes when restoring a tmux session"
`preview-tui` leaves an empty/unused pane when used with `tmux` and when restoring a previously saved `tmux` layout with `tmux-resurrect`).

Open `nnn` in `tmux` and load `preview-tui`:

[code]

Save the layout with `tmux-resurrect`, close, then reload the saved session:
[code]

I suspect the new preview pane is opened just because I run `nnn` with `-P t` where `t` is my `preview-tui` keybind, els

[2020-06-20 16:02] leovilok commented on #663
On linux, `nnn` uses `inotify` to trigger dir refresh, which is not supported by `sshfs`. So this is not our bug, please see:
https://github.com/libfuse/sshfs/issues/155

[2020-06-20 16:02] #663 closed

[2020-06-20 16:23] leovilok commented on #664
Once again, I don't use tmux too much, nor `tmux resurect`. But from the [docs](https://github.com/tmux-plugins/tmux-resurrect/blob/master/docs/restoring_programs.md), resoring programs is a tricky thing, that's why it's not enabled by default for every command. It seems that you modified your `tmux resurect` config already to add `nnn` to the whitelist, so you'll have to figure this out by yourse

[2020-06-20 16:24] #664 closed

[2020-06-20 17:51] Kabouik commented on #664
Thanks, I understand. I think the simplest will then be to close the preview manually before saving any session in `tmux-resurrect`, that should be enough. But it was worth asking if there would have been a way to force `NNN_FIFO` to exist or be restored at the same time.

[2020-06-21 01:24] leovilok commented on #664
This is possible if you manage `NNN_FIFO` yourself, and not through `nnn -a`. But then you'll have to magane the FIFO file yourself, e.g. it won't be deleted by `nnn`. See the manual on `NNN_FIFO` if you are interested, but this is much more trouble than just using `-a`.

[2020-06-24 19:18] rmwalk opened #667 "nnn won't differ symlinks colors in suckless st"
Hi. Not sure if it is really a bug, but the context colors are the same for files and symlinks in st. I've been using alacritty for quite some time and had st as my backup terminal but never really ran nnn in st, only in alacritty. Today I decided to make st my default terminal and noticed that there's no difference between said colors, whilst in alacritty I can see the different colors for files

[2020-06-24 19:33] KlzXS commented on #667
I'm also using st and for me symlink colors are displayed fine. I also installed a clean version from AUR and it works there too.

Which version of `nnn` are you using, is it from master?

[2020-06-24 19:49] rmwalk commented on #667
I'm using the version from the void repo, but I just clean built from master and still have the same result.

[2020-06-24 19:50] serpent-code commented on #667
They also don't show up for me in st. But I use Alacritty mainly.

Just replying to mention that as Jarun explained [here](https://github.com/jarun/nnn/issues/661#issuecomment-646386610) , grayed out files are not technically symlinks. They could be hard links if they don't have @ at the end.

[2020-06-24 19:55] rmwalk commented on #667
I understand, but those are symlinks. In fact, the blue directories are symlinks I just created from my dotfiles directory just to compare with alacritty.

[2020-06-24 20:40] leovilok commented on #667
The "dim" (or "faint") character attribute is supported in st: http://git.suckless.org/st/file/x.c.html#l1413
Run this in st:
[code]
In the output, the second word should be darker.

[2020-06-24 20:48] rmwalk commented on #667
It works when running in st, but in nnn it doesn't seem to work

[2020-06-24 21:27] rmwalk commented on #667
Guess I've found out what was causing it. I had to add the `export TERM=xterm-256color` variable in my .zshenv. After doing it the colors are shown as they're supposed to be. Never needed to export it before and alacritty was behaving as expected so I guess I missed that.

[2020-06-24 22:02] rmwalk commented on #667
nope, apparently it did not change permanently. I've ran some tests but exporting TERM is not the best choice, and even then it didn't work for the folders link colors, only for files.

[2020-06-24 22:12] leovilok commented on #667
You have a bad `st` entry in your termio db.

[2020-06-24 22:27] rmwalk commented on #667
How could I fix it?

[2020-06-24 22:27] KlzXS commented on #667
From `st` FAQ.

[2020-06-24 22:31] leovilok commented on #667
Actually I have the same issue with my `st` even though I have the right terminfo.
You can run `infocmp st-256color | grep 'dim='`, this should output a line containing `dim=\E[2m`.

[2020-06-24 22:39] rmwalk commented on #667
Yep I saw that when I reinstalled it but I did use make install.

It does:
` $ infocmp st-256color | grep 'dim='
        cvvis=\E[?25h, dch=\E[%p1%dP, dch1=\E[P, dim=\E[2m,`

[2020-06-24 22:43] KlzXS commented on #667
So we all did the same thing and the command above returns the same thing (the whole line) and yet only I can see the color properly?

[2020-06-24 22:48] leovilok commented on #667
Yes

[2020-06-24 22:53] rmwalk commented on #667
Yep

[2020-06-24 22:54] KlzXS commented on #667
Well that's lovely. Could it be `ncurses` misbehaving? Also my `$TERM` is `st-256color`. You mentioned `xterm-256color` above.

[2020-06-24 22:59] rmwalk commented on #667
I tried with st-256color but nothing changed, when I tried with xterm I could differ the links only on files, not directories. I don't even have xterm installed, not sure why I tried it though and why it change the colors of the file links.

[2020-06-24 23:01] leovilok commented on #667
Yes, this seems like an issue in the st terminfo entry. In st (from master), `$TERM` is `st-256color`, and A_DIM doesn't work. Manually setting `$TERM` to `xterm-256color` makes it work.

[2020-06-24 23:02] rmwalk commented on #667
@leovilok Do the colors of the symlinked direcotries change for you as well? For me it only changes the colors for the files.

[2020-06-24 23:07] leovilok commented on #667
@rmwalk running with `TERM=xterm-256color nnn`, `A_DIM` works for files, dirs, and file details (in detail mode).

[2020-06-24 23:13] rmwalk commented on #667
@leovilok oh yes, it does make it work!

[2020-06-24 23:18] leovilok commented on #667
Anyways, it looks like it's an issue with the default st terminfo entry.

[2020-06-24 23:52] KlzXS commented on #667
Seems like it. Closing the issue then.

[2020-06-24 23:52] #667 closed

[2020-06-28 20:27] rkulla opened #669 "fzopen macos support"
Currently typing `Return` doesn't open files from fzopen on Macs.

A possible solution is to add a condition that checks if the output of `uname` is Darwin and then check for `case *regular*` instead of `*text*`   and use `open` instead of `xdg-open`.

Sorry I didn't have time to write a PR but just wanted to mention this as I just came across it.

[2020-06-28 20:43] iressa commented on #669
I believe this is already the case, if I'm not mistaken. Have you tried using a debugger?

`static char * const utils[] = {
#ifdef __APPLE__
        "/usr/bin/open",`

[2020-06-28 22:14] rkulla commented on #669
I was referring to the `fzopen` shell script, not the nnn binary.

[2020-06-29 00:23] jarun commented on #669
I'm afraid you'll have to raise a PR for this. None of the devs are on macOS.

Also, plugins are indicative as they can be modified easily. We expect users to modify and use them according to their needs and environment.

[2020-06-29 00:23] #669 closed

[2020-06-30 16:29] marioortizmanero commented on #629
I find the user experience lacking in nnn a bit lacking. I've just created a PR at https://github.com/jarun/nnn/pull/670 to fix a small issue I found related to that. But I also wanted to give the user feedback on what action is taken. For instance, after answering a prompt to confirm a file overwrite you'd expect some message in the GUI to know what actually happened. The first times you do this,

[2020-06-30 17:24] jarun commented on #629
How do you know for sure the file is overwritten or not? You are calling a third-party utility in both the scenarios.

User knows when (s)he cancels.

[2020-07-01 13:07] utrack opened #671 "[q] hook to execute a command on chdir"
Hi, thank you for an awesome tool! I've just migrated to it from an array of custom shell scripts :)

It works great so far, but I've stumbled upon a problem: I'm using fzf+[fasd](https://github.com/clvv/fasd) to jump around directories quickly. [This](https://github.com/utrack/dotfiles/blob/master/nnn/.config/nnn/plugins/fzfasd) script works well with existing `fasd` database, however `nnn` doesn

[2020-07-01 14:19] 0xACE commented on #671
Not sure about only on folder changes, but at least have a look at the `plugins/preview-*` scripts if this is that urgent to you...

[2020-07-01 15:10] jarun commented on #671
You can read `NNN_FIFO`. It will have each hovered path name. Your script should track the change in the parent directory path and add it to fasd.

If you want your own FIFO, new directories are loaded in `dentfill()`. Look for the call to that function to write to your custom FIFO.

[2020-07-01 15:11] #671 closed

[2020-07-02 11:40] 0xACE opened #672 "Running plugin and resizing causes nnn to render ontop of running plugin"
Well I haven't checked it out exactly but here is how to reproduce:

1. `nnn` running within tmux
2. select 2 files
3. run `diffs` on these 2 files
4. enjoy the glory of `vimdiff`
5. resize the terminal window
6. H̵̠͇̱̤͌̂̇̊̊̎͌͑̀͂̚ͅͅę̸̯̟̲̤̌̿͛͆̂̅͆ ̴͓̿̿̇̈ẉ̶̲͖̥̺̀̌a̸̡̭̺̙͆̈͌͋̅̂͛̕͝t̷̨̨̗̖͓͔̼̝̙̬͌̓͝c̶̨̃̔̎̇͘͘͝ḧ̷̩͛̾̊͝e̵̙̠͔̭̲͗͗͑̋̎̈̑̓̃̆͘͜͠s̸̺̄͑̈́̓̃̿̕̚͝ ̸̪̟͉͖̯͈̺͚̜͖͉͆̐̏̎̋̔͠͝y̸̬̏̎͐͝o̸̢̺̝̰̣̫̞̮̩͒͋̅̃̊͛ṵ̴̳̥̲̬̼͆͋ ̴͒

[2020-07-02 12:24] leovilok commented on #672
Hey, I've fixed this in the past (bug #656, PR #659), how dare you resurecting this :wink:

[2020-07-02 12:30] leovilok commented on #672
Well actually I have no issue with this on master, so my fix seems to hold. Did you try out master?

[2020-07-02 12:55] 0xACE commented on #672
My bad, I was sure I rebased checked out `origin/master`, turns out i wasn't.

And yes you are correct this bug isn't present on master...

[2020-07-02 12:55] #672 closed

[2020-07-08 06:04] byulen commented on #629
When nnn opens at the top directories are listed then files at the bottom.  There is a command to jump to the top of the list with "g" and bottom with "G", Is there a command to jump to the first file after the last directory in the directory list?

[2020-07-08 06:12] jarun commented on #629
`'` followed by `'`.

[2020-07-08 06:16] byulen commented on #629
Thank you that works. Please feel free to remove my question since it is not suitable in "TODO list". :)

[2020-07-08 13:25] akimdi opened #673 "lines don't go out of borders"
Maybe can do it?
https://github.com/akimdi/nnn/commit/f094a63e39f22734a5803fc19df9e3e205594d92

[2020-07-08 13:49] leovilok commented on #673
@akimdi looks good, I think that we forgot to put `--terminal-width="$cols"` back after we got back to a version using an external pager.

I've set up a PR #674 for you.

[2020-07-08 15:23] #673 closed

[2020-07-09 02:30] fcying opened #675 "if cancel the delete operation will get a prompt in the shell"
### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: debian 10
[x] Desktop Environment: xfce4
[x] Terminal Emulator: xfce4-terminal
[x] Shell: zsh
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
[code]
![image](https://user-ima

[2020-07-09 03:12] jarun commented on #675
This is not a bug. The question `rm -rf current file?` emphasizes on the use of option force. If you press `n` it tries to interactively delete the files instead of force remove.

This is useful when deleting too many files at a time. If you press `y`, no questions will be asked, else each file will be removed interactively.

Because `nnn` internally calls `rm` which has to be run within the shell

[2020-07-09 03:12] #675 closed

[2020-07-09 03:19] jarun commented on #675
This option is chosen instead of having 2 different keys for force-delete OR interactively delete.

The other option would be having a program option to force-delete/interactively delete always but it's really a case by case thing:

- force delete always may lead to accidental loss of data anytime
- interactively delete always may be extremely annoying when trying to delete a directory with 100 fi

[2020-07-09 06:14] fcying commented on #675
question `rm -rf current file?` is fine. The interactively  after press `n` is too annoying.
Is there any way to disable interactively  after press `n`? just cancel this delete.
[code]

`trash-cli` looks good, I will try to test it, thanks~

[2020-07-09 11:17] leovilok commented on #675
@fcying you can press <kbd>Esc</kbd> instead of <kbd>n</kbd> to cancel the delete operation immediately (in the first prompt).

[2020-07-09 11:27] fcying commented on #675
This does not take effect.
[code]

[2020-07-09 14:20] jarun commented on #675
@leovilok currently it's not there. I think it would be a good idea to support cancel for this specific case.

[2020-07-09 14:57] jarun commented on #675
I have made the necessary changes. Note that we show the `cancelled` feedback only when removing multiple files. For a single file the user would still be on the same entry without any visual change so he would know that the file is not removed.

[2020-07-09 18:43] leovilok commented on #675
Oh I thought I tested it, it must have been before the 's'/'c' choice... Well now it here, thanks @jarun :+1:

[2020-07-10 00:44] fcying commented on #675
Now it works great, thanks
[code]

[2020-07-11 00:17] akimdi opened #676 "Maybe can use pv?"
like this
```tar -czvf - . | pv -s $(du -sb | grep -o '[0-9]*') > out.tar```

https://www.ivarch.com/programs/pv.shtml

[2020-07-11 00:34] KlzXS commented on #676
You can create a plugin which would execute a pipeline on your selection, current dir, or whatever else you'd like it to execute on.

You can read the wiki and use one of the existing plugins as an example for your custom one. Plugins are intended for such personalized use cases.

[2020-07-11 00:34] #676 closed

[2020-07-11 01:10] leovilok commented on #676
And if you want to show builtin cp/mv progress, see [this wiki page](https://github.com/jarun/nnn/wiki/Advanced-use-cases#cp-mv-progress).

[2020-07-11 01:35] akimdi commented on #676
A plugin can be created but isn't it easier to click ```z```

[2020-07-11 01:40] akimdi commented on #676
I am not an expert in information security, but using this patch is not safe, therefore it was not accepted in GNU Coreutils.
This has already been discussed earlier.

[2020-07-11 07:41] jarun commented on #676
In that case please modify/write your own way. We do not have the bandwidth for this ATM. Also, we are not planning to use this technique.

[2020-07-12 13:48] Inc0ns1st3nt opened #677 "[help] custom configuration for file opener without xdg-open"
Hi, I am using sway on 5.7.7-arch1-1, and I wish to find another way for file opening without xdg-open.

I found that for some basic configurations to set the default applications via [arch wiki environment variables](https://wiki.archlinux.org/index.php/Environment_variables#Default_programs).

However, for some files such as .pdf, it would be work very well.

Therefore, I would like to ask if an

[2020-07-12 13:58] 0xACE commented on #677
I can't seem to find references to `*.pdf` in that article you linked, did you actually mean that `*.pdf` are not working well?

Essentially, if you don't have `xdg-open` in your environment, you will have to supplement a replacement.

`nnn` provides a `plugin` that you can download called `nuke`, apparently you can set it up to your liking all I know about nuke is it's probably documented in the

[2020-07-12 14:14] Kabouik commented on #677
Not directly configured inside nnn, but I'm using handlr (installed with `cargo install handlr`, and I made a bash script in `/usr/local/bin/xdg-open` which just contains `handlr open "$@"`. It takes precedence over `/usr/bin/xdg-open`. Works well so far, and it also supports multiple applications for one file type, with a `rofi` selector.

On 2020-07-12 15:48 Danny <notifications@github.com> wrot

[2020-07-12 15:07] jarun commented on #677
There are plenty of options. You can also take a look at `nuke`, sample file handler: https://github.com/jarun/nnn/blob/master/plugins/nuke

[2020-07-12 15:07] #677 closed

[2020-07-13 15:16] leovilok commented on #677
Stock `xdg-open` is a mess, that's why there are a ton a drop-in [replacements](https://wiki.archlinux.org/index.php/Default_applications#Resource_openers) (most can replace the `/usr/bin/xdg-open` executable, and thus get used by `nnn` without configuring anything).

[2020-07-14 10:14] ThaDaVos opened #678 "NNN Freezes when pressing enter on a file, probably trying to open the file wrongly"
#### Environment details (Put `x` in the checkbox along with the information)

[X] Operating System: Windows 10 -> WSL 2 Ubuntu 18.04
[ ] Desktop Environment:
[X] Terminal Emulator: TMUX
[X] Shell: Bash
[X] Custom desktop opener (if applicable): Default or Nuke
[ ] Program options used: ...
[ ] Configuration options set: ...
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

[2020-07-14 10:19] 0xACE commented on #678
Which file are you trying to open? do you havae xdg-open installed in your `PATH` ?

[2020-07-14 10:22] ThaDaVos commented on #678
It does not open the file itself -> when using xdg-open to open the file it opens it with Chrome for some reason.
The file is just a normal `.sh` file

[2020-07-14 10:22] ThaDaVos commented on #678
I want to open it with Visual Studio Code instead, as that's my default editor

[2020-07-14 10:46] 0xACE commented on #678
It's likely opening in `chrome.exe` because `xdg-open` is cancer...

anyhow in your `~/.bashrc` put these atleast
[code]

optionally (in addition) you could add: `export PATH=~/pre-bin:$PATH`
and then create your own `xdg-open` script in ~/pre-bin` or replace it with one of the other existing alternatives...

and honestly read the wiki or our docs. `nnn` can't tell what your environment is, you ha

[2020-07-14 10:50] ThaDaVos commented on #678
Thanks that solved it - but how can I make it so it starts `code` instead of `nano`?
When I change `EDITOR=nano` to `EDITOR=code` it only flickers the screen

[2020-07-14 10:56] 0xACE commented on #678
I would use the same trick as before with providing a script within your `PATH` making a `wrapper-code` which basically looks like this:

[code]

and finally `export EDITOR=wrapper-code`

or maybe you could find better wrappers at https://stackoverflow.com/questions/29971053/how-to-open-visual-studio-code-from-the-command-line-on-osx or google

good luck.

Close this issue if your problem is solve

[2020-07-14 13:36] jarun commented on #678
@ThaDaVos please follow the steps here to register visual studio code with `xdg-open` for the correct mime type for sh files.

[2020-07-14 13:36] #678 closed

[2020-07-14 14:37] ThaDaVos commented on #678
If Visual Studio Code was installed normally, I think that would work -> but I'm using WSL 2 so as far as I can find there's no .desktop file available to register

[2020-07-14 14:49] 0xACE commented on #678
copy an existing `*.desktop` file and edit it to adjust for vscode, or copy one form linux ...

[2020-07-14 14:54] jarun commented on #678
Do you have `xdg-open` in WSL? If not, you can use the method suggested by @0xACE: https://github.com/jarun/nnn/issues/678#issuecomment-658110401

You can also consider using your own custom opener. See `nuke` under plugins.

[2020-07-14 15:15] ThaDaVos commented on #678
I did that change @jarun as mentioned in https://github.com/jarun/nnn/issues/678#issuecomment-658110401 but it opens inside `nano` -> if I change the editor to `code` it just flickers

[2020-07-14 15:16] ThaDaVos commented on #678
Fixed it... for some reason I need to full path to my code.exe file else it won't work

[2020-07-14 15:18] ThaDaVos commented on #678
Now I only have to get it working with the tmux-sidebar plugin... currently the screen shifts one up and then stops -> nothing opens

[2020-07-15 15:20] Inc0ns1st3nt commented on #677
[nuke](https://github.com/jarun/nnn/blob/master/plugins/nuke) seems like a great substitute for `xdg-ope#

[2020-07-15 17:40] arnauldb opened #680 "Can't install plugins in termux"
Hello,
I installed nnn using termux (pkg) on my phone. I am trying to install plugins using:
`curl -Ls https://raw.githubusercontent.com/jarun/nnn/master/plugins/getplugs | sh`
but received a message stating nnn is not installed.
What can be wrong?
Thank you.

[2020-07-15 20:12] 0xACE commented on #680
from what i can tell it runs `which nnn` to see if `nnn` is installed.

what happens when you write `which nnn` in termux?

[2020-07-15 20:24] arnauldb commented on #680
/data/data/com.termux/files/usr/bin/nnn

[2020-07-15 23:21] arnauldb commented on #680
The problem was solved installing "debianutils", plugins successfully installed. Thank you.

[2020-07-15 23:54] ashleysommer commented on #629
Feature Request:
I'd like the ability to choose to use `rsync` rather than cp for copying files.
The main reason is because I want progress output. I know `nnn` supports using patched cp and mv with the progress feature, but I don't have the permission to patch, build, and install modified cp and mv on the server. However `rsync` is already installed and already has a progress feature built in.

[2020-07-16 00:55] jarun commented on #680
Thanks for the confirmation.

[2020-07-16 00:55] #680 closed

[2020-07-16 01:12] jarun commented on #629
@ashleysommer I understand you need the option `-P` and I think it's a good improvement. However, we also use the options in `cp` to make it:

- interactive
- recursive
- preserve permissions

Please raise a PR with the correct options after confirming they are available on Linux, macOS and the *BSDs.

[2020-07-16 01:31] jarun commented on #629
@ashleysommer I could find the following:

- `-A`: preserve ACLs and permissions
- `-P`: show progress
- `-r`: be recursive

However, i don't see any _interactive_ option. Looks like you can either ignore or overwrite existing files in the destination. Having a preset doesn't work. Most of the time I do not know if the file in destination is something i want to remove or not. Please let me know if

[2020-07-17 18:36] dkabus opened #681 ""/dev/tty: Permission denied" when copying or moving"
#### Environment details

[x] Operating System: Arch Linux
[x] Desktop Environment: `dwm`
[x] Terminal Emulator: `st`
[x] Shell: `bash`
[x] Custom desktop opener (if applicable): default (`xdg-open`)
[x] Program options used: none
[x] Configuration options set: none
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

Select any file with `Space`.
Enter another directory.
Pas

[2020-07-17 19:31] KlzXS commented on #681
The redirect is needed for the shell to stay interactive. I never had problems with 'permission denied' even when running inside tmux.

[2020-07-17 19:33] KlzXS commented on #681
From https://linux.die.net/man/4/tty

[2020-07-17 21:02] dkabus commented on #681
I figured it out. There was an issue with my `getty` setup...
Everything works perfectly in `nnn` now. Thanks!

[2020-07-17 21:03] #681 closed

[2020-07-20 22:26] DoTheEvo opened #683 "Is there really no way to delete a folder with a lot of files in few key presses?"
I spent some time googling and reading, but there seems to be no way unless I am going in to reading about some patches...

I just want to make sure, if I am using nnn correctly and it is expected of me to exit my file manafer to delete directories in console or to get asked about descending in to directory on every single file in the directory.

That is how nnn is purposely designed.

[2020-07-20 22:47] KlzXS commented on #683
The right way to remove a directory, empty or full, is to select it with `space`, press `x`, then `s` which will delete it along with the redt of your selection.

Or you could hover over it and press `x` then `c` to remove just it.

I am not sure what question you are refering to.

[2020-07-20 22:55] DoTheEvo commented on #683
Ok, found the issue as I was writing out all the steps I needed to do during delete

for me it is

- `space` to select directory
- `x` to start the delete process
- `s` to apply it for selected
- `Enter` because I get question: `rm -rf 1 file(s) [Esc cancels]`

well that was wrong, it wanted 'y' to delete it, enter throws me in to console and asks me about every damn file

[2020-07-20 22:55] #683 closed

[2020-07-20 22:57] KlzXS commented on #683
Well that's a feature for extra carefull people :)

[2020-07-20 23:00] DoTheEvo commented on #683
well, enter might not want to do that thing but yeah,
`y` for confirmation is fine

[2020-07-21 10:53] microo8 opened #684 "sshfs mountpoint other then home"
**Is your feature request related to a problem? Please describe.**

I want to mount to remote folder other than home directory. Ideal would be root, so that I can browse all files on the remote server.

**Describe the solution you'd like**

something like adding a path to the remote name. pressing 'c', then type remote name with the path (`remotename:/var/www`)

**Describe alternatives you've cons

[2020-07-21 11:16] jarun commented on #684
I think you can configure the destination path in ssh config file.

[2020-07-21 12:03] 0xACE commented on #684
I couldn't find the config variable for that in `SSH_CONFIG(5)` so I'll provide a patch instead.

[code]

[2020-07-21 12:07] jarun commented on #684
Also, there's `LocalCommand`.

[2020-07-21 12:25] jarun commented on #684
Closing with the patch. No plans to prolong the workflow with an additional question.

[2020-07-21 12:25] #684 closed

[2020-07-21 12:26] jarun commented on #684
If it helps, there's also `NNN_SSHFS`.

[2020-07-21 12:38] Kabouik commented on #684
I can confirm this is what I'm using:

[code]

[2020-07-21 16:45] unknowledgeable opened #685 "indicator to show whether viewing hidden files or not"
I'm finding myself having to go back and forth between directories to see whether I'm showing hidden files or not. It's a very minor issue but what do you think about having some sort of indicator that shows whether they're being viewed or not?

Maybe just a `.` or `[.]` somewhere along the bottom that appears and disappears?

[2020-07-21 17:01] #685 closed

[2020-07-21 17:01] jarun commented on #685
I chose to use `H` as dot may be difficult to see. Please confirm the patch works as intended.

[2020-07-21 20:02] unknowledgeable commented on #685
Apologies but I think that's a bit beyond me! Thanks though, loving nnn!

[2020-07-22 06:48] microo8 commented on #684
This patch only mounts the root every time.
I was hoping, that I will be able to set the path if I wan to
like `remotename:/whatever/path/i/want`

@Kabouik where exactly is the mount path in that ssh config?

Can this be added to the TODO list and I make that optional path passing in a pull request? That would be ok?

[2020-07-22 07:30] Kabouik commented on #684
Actually you're right, I answered too fast, I just mount *as* root or *as* user in this config, but this doesn't necessarily alter the path (although it obviously allows me to browse and write in locations where the normal users has no permissions). Sorry for the confusion.

On 2020-07-22 08:48 Vlαdo Magyar <notifications@github.com> wrote:

[2020-07-22 08:00] jarun commented on #684
@microo8 please feel free to raise the PR!

[2020-07-22 11:32] jarun commented on #684
@microo8 can you please confirm the patch for both ssh and rclone? (you can use the same remote)

[2020-07-22 11:55] jarun commented on #684
I think I mixed this up with `scp`. This wouldn't work.

Not sure if it's even possible with ssh: https://superuser.com/questions/250533/how-to-ssh-to-the-remote-path

[2020-07-22 11:56] jarun commented on #684
Ignore my earlier comment. Deleted.

[2020-07-22 11:56] jarun commented on #684
Please test the patch and confirm it works as expected for SSHFS and rclone.

[2020-07-22 12:30] leovilok commented on #684
With sshfs mounting works, but not unmounting.

[2020-07-22 12:31] leovilok commented on #684
maybe because the mountpoint directory is `host:` instead of `host`

[2020-07-22 12:43] jarun commented on #684
I have fixed that in commit 32ec37a796d2c5934250bcd6b6dbbeb0c5133ce3. Please re-test.

[2020-07-22 12:49] microo8 commented on #684
Wow that was fast, it works! Thanks

[2020-07-22 13:02] jarun commented on #684
@leovilok @microo8 Please confirm that unmounting works fine for you.

[2020-07-22 14:22] leovilok commented on #684
Unmounting works now.

[2020-07-22 14:50] jarun commented on #684
Cool!

[2020-07-25 00:13] Miquoyi opened #687 "new way to selecting things"
nnn could have a different way of selecting things, instead of press space and it will flip selection of the current thing and go to the next file and wait there or keep doing it till the end, space could select the current thing and don't move if you just tap at it, or select it and stay on the same item(but without blinking as it happens when you are at the last one) and be ready to move based o

[2020-07-25 01:07] KlzXS commented on #687
You can select a range of file by pressing `m` moving to the end of range (either up or down the file list) and pressing `m` again. If you press `m` twice on the same file it will clear the seleoction.

If you want the cursor not to move after selecting it should be a simple patch. I'm on mobile so I don't have the code handy to paste it here.

[2020-07-25 01:07] #687 closed

[2020-07-25 02:59] Miquoyi commented on #687
Oh dude thanks for the reply, I probably just rushed through the help page and pressed "m", nothing happened and thought that it was an useless thing or a broken shortcut, I'm kinda new to this part of linux of having more cli things than gui(just went from plasma to dwm today), gonna read with more cautiousness next time :)

[2020-07-29 09:02] sirovstrukelj opened #688 "How does one extract a tar.gz file?"
I've been trying to find a way to unpack a tar.gz file but cannot find the command to do it. I see 'z' is for archiving but how to uncompress?

[2020-07-29 09:03] sirovstrukelj commented on #688
sorry, did not mean to label it as a bug.

[2020-07-29 09:24] sirovstrukelj commented on #688
well, found it. just try to open the tar archive and press 'x'.

[2020-07-29 09:24] #688 closed

[2020-07-31 23:59] mroavi opened #689 ""cd on quit" not working using (n)vim's nnn plugin"
**Is your feature request related to a problem? Please describe.**

If  `NNN_TMPFILE` is set, then the file *~/.config/nnn/.lastd* should be written on exit as described in jarun/nnn#350 (comment) and implemented in jarun/nnn@d1d491c. This is not working when using the (n)vim's nnn plugin.

I browsed through the code and this looks to be a design decision:
[code]

**Describe the solution you'd lik

[2020-08-01 14:56] jarun commented on #689
Yes, it is blocked by design. How does it help practically? You are opening `nnn` within `vim`. Even if you have cd on quit, you will ot exit vim when you quit. Can you please explain your use-case?

[2020-08-01 15:20] mroavi commented on #689
Vim provides built-in commands to print or change the *current working directory* without needing to exit vim. For example, you can run `:cd ~` to change to your home directory or `:pwd` to print the current working directory. The *nnn* (n)vim plugin could serve as a much faster alternative to change the `current working directory` without needing to exit vim. In my case, I want to take advantage

[2020-08-01 15:26] jarun commented on #689
Thanks a lot for clarifying! Please raise a PR.

[2020-08-01 17:22] #689 closed

[2020-08-03 08:29] sirovstrukelj opened #691 "Show output of archive feature"
Hi, I was archiving some data and when I deleted the folder I actually saw that the folder was not archived properly. It was 0 bytes big and I was not sure why. Then after some fiddling, I manage to see the stdout of nnn (the output of the archiver command) and saw it exited with a nonzero exit code.

Now I cant reproduce it anymore, but I was more wondering how can one see the output of the archi

[2020-08-03 08:32] jarun commented on #691
Which utility are you using to archive?

[2020-08-03 08:39] jarun commented on #691
Sorry, you mentioned that you could see the output. Yes, the output is not purged. You can see the output later by pressing `!` or `^]`.

I am thinking we can also add some other safeguards:

- check the exit status from th utility and fail if it is non-zero
- we check if output file is accessible or not, we can instead check if output file is zero bytes

[2020-08-03 09:27] #691 closed

[2020-08-03 09:28] jarun commented on #691
After weighing the pros and cons, it appears showing the output is the best option indeed. Please confirm if the changes work as expected.

[2020-08-05 17:36] qarmin opened #692 "Add out of box support for undefined and address sanitizer"
Undefined and address sanitizer are very helpful to check bugs with minimal effort.

When compiling nnn with this commands:
[code]
then this errors shows when I use nnn
[code]

[2020-08-05 18:19] jarun commented on #692
Please raise PRs with the fixes. Also, it's useful to at least highlight the lines with these reports. master chaegs and line numbers do not remain the same.

[2020-08-05 18:19] #692 closed

[2020-08-05 20:02] jarun commented on #692
I fixed the second one. Could not repro the first one. Not sure fi the line number is correct on master.

[2020-08-06 04:07] gyvess commented on #629
With file type colors enabled as default, how do you go back to the previous behavior where folders mimicked the color of the currently selected context? I looked for an environment variable or make option but I guess I missed it.

[2020-08-06 04:11] jarun commented on #629
Of your terminal supports > 256 colors it will be enabled by default. To fallback to older behaviour, use `-C`.

[2020-08-06 04:13] jarun commented on #629
General note: for binary choices we prefer program switches now.

[2020-08-09 18:07] jarun commented on #629
@bkauler, received a mail from a user that you picked `nnn` as a file manager for your distro EasyOS. All the best and let us know if you want some help with the integration. I am guessing it is going to be a minimal distro (I personally love those). `nnn` is already available on tiny solutions like Slitaz and Temux (and several custom ones in industrial solutions too) so I guess you won't have to

[2020-08-09 23:58] bkauler commented on #629
Yes, it is in the initramfs, see my blog post:

https://bkhome.org/news/202008/nnn-file-manager-now-in-initrd.html

Regards,
Barry

On 8/10/20, Jana <notifications@github.com> wrote:

[2020-08-10 02:50] jarun commented on #629
Cool! Some quick notes below based on the post.

You can use TAB to cycle tabs/contexts. The dual pane is [using `dvtm`](https://github.com/jarun/nnn/wiki#dual-pane). You probably don't need it.

There's an in-built batch-renamer which you can compile out as you have integrated the plugins (which come with a full-blown batch renamer uisng your `$EDITOR`). The FIFO one is for live previewers to get

[2020-08-10 20:37] Zarhult commented on #629
Correct me if I am wrong, but currently it seems that the fastest way to get from the top/bottom of the screen to the middle is to either hold down a motion key or filter for the name of a file in the middle. Similarly you can move to the top or bottom of the directory with g and G, but there is no keybind for moving to the top or bottom of the current screen. I think it would make things a little

[2020-08-10 20:45] jarun commented on #629
Sorry, no plans for new navigational convenience. Please use PgUp/PgDn keys. We don't intend to mimic vim key by key.

[2020-08-12 10:05] lifeBalance opened #695 "cbcp plugin throws an error"
#465 ## Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Linux
[bspwm] Desktop Environment:
[x] Terminal Emulator: Alacritty
[x] Shell: Bash
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
I installed the plugins as described h

[2020-08-12 12:21] KlzXS commented on #695
You might be misunderstanding what the plugin does. It doesn't copy the hovered path to clipboard, it copies the selection.
You need to first select some files (with space) and then you can copy it to clipboard.

[2020-08-12 12:31] lifeBalance commented on #695
Oooh, that explains a lot. Thanks.

[2020-08-12 12:31] #695 closed

[2020-08-13 07:51] wAuner opened #699 "Instructions on how to set up cp progress are unclear"
I want to set tup the cp and mv progress and I've followed all the instructions. It works when I invoke it manually but currently not when I copy something with nnn.
What do I need to do to get it working in nnn? The wiki just says `Use the relevant program option to show the progress of the operations.`
What is the relevant program option? Would be great if the wiki could be a bit more detailed h

[2020-08-13 08:07] KlzXS commented on #699
From the [wiki](https://github.com/jarun/nnn/wiki/Usage#program-options):

[2020-08-13 08:07] #699 closed

[2020-08-14 07:00] wAuner commented on #699
Thanks. Would be nice to mention it directly under that section or provide a link.

[2020-08-15 15:06] timsofteng opened #700 "7z archives not open"
Hey. I can't manipulate with .7z types of archives. I press enter and nothing happens.

[2020-08-15 15:41] jarun commented on #700
Please see the `NNN_ARCHIVE` configuration and the footnote: https://github.com/jarun/nnn/wiki/Usage#configuration

[2020-08-15 15:41] #700 closed

[2020-08-16 09:35] gianfrappe opened #701 "Allow background copy and moving"
**Is your feature request related to a problem? Please describe.**

I would like copy and moving to happen in the background, without the terminal haven't to wait for it to finish.
I tried `advcp` with [this](https://aur.archlinux.org/packages/advcp/) package and using the `-rx` options.
I now view the progress bar, but the copy still happens in the foreground and I don't receive any notification

[2020-08-16 10:45] jarun commented on #701
Use the program option `-x` (see Wiki for more details). If `-x` is not working, it's probably a local issue. Please fix that.

No, it's not that simple to manage background processes. users may quit in the meantime as well. No plans to support this.

[2020-08-16 10:45] #701 closed

[2020-08-17 01:27] 5c0tt-b0t opened #702 "(help) please!"
hi, thank you do much for best file manager in the world!!
I want to download and try plugins, how?
I have downloaded all the plugins first, then I read "plugins" but no explanation there, should these go In my bashrc like other variables or a in: ~/.config/nnn.
Thank you so much for you time & efforts!
Im sure your busy enough without idiots like me! :)

[2020-08-17 02:31] jarun commented on #702
Please follow the instructions here: https://github.com/jarun/nnn/tree/master/plugins#installing-plugins

[2020-08-17 02:31] #702 closed

[2020-08-17 02:46] jarun commented on #702
and here: https://github.com/jarun/nnn/tree/master/plugins#invoking-a-plugin

[2020-08-17 05:37] jarun commented on #629
@CodeforEvolution can you please confirm latest master (icons, colors... see the list on top) works fine on Haiku? I am planning to freeze features for the next release.

[2020-08-17 15:33] gyvess commented on #629
Is there a reason icons only function with file specific colors enabled? Would it be possible to have a pair of specific characters recognized as follow context color? For example, `NNN_FCOLORS='0000--000000000000000000'` would emulate the `-C` argument where a pair of hyphens mean follow context color and everything else is default. This way icons can be used with context colors, you can more eas

[2020-08-17 15:45] jarun commented on #629
We are using the same flag `g_state.oldcolor` when we detect < 256 color support and hence icons are also disabled. This is useful when you are using any of the virtual terminals. As you see, icon support is a compile-in support. Follow the `ICONS` macros and remove the `g_state.oldcolor` check for your desired output.

[2020-08-17 15:47] jarun commented on #629
Officially we only support icons-in-terminal and whatever they work with - https://github.com/jarun/nnn/wiki/Advanced-use-cases#file-icons

As per my understanding it isn't dependent on the font you use (I am using Monaco for example).

[2020-08-17 20:17] CodeforEvolution commented on #629
For now, I can say that I could not find a way to configure icons-in-terminal functionality for Haiku's Terminal. This is most likely due to how icons-in-terminal hijacks fontconfig to force a fallback font...but we don't use fontconfig to enumerate fonts here in Haiku...so I don't believe that icons-in-terminal support will be possible for us...

At least NNN_COLORS does seem to be working proper

[2020-08-17 20:41] jarun commented on #629
Nothing going bad is good news! ;)

[2020-08-17 20:48] CodeforEvolution commented on #629
Well, that is one way to think about it! :)

[2020-08-18 07:40] rachied opened #704 "NNN opens empty files by their relative path"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: MacOS
[x] Desktop Environment:Aqua
[x] Terminal Emulator: Kitty
[x] Shell: ZSH
[x] Program options used: -e
[x] Configuration options set: ewrap / custom script
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

I've been trying to get nnn to open text files by opening them

[2020-08-18 07:46] #704 closed

[2020-08-18 07:46] jarun commented on #704
Please confirm the patch works as expected.

[2020-08-18 08:27] rachied commented on #704
It does indeed work.

[2020-08-18 08:51] jarun commented on #704
Thanks for the confirmation!

[2020-08-19 02:23] danrobi11 opened #706 "(Feature Request) Command to set default text editor / split screen"
Hello
Just learned about nnn and I like it, its a great file manager.
Im used to micro and tilde text editor. Would be nice to have a quick command to set default text editor.
How can I set default to my text editor?
Also I see a screenshot with split screen but I cant find any command, is there any?
Thank you much for nnn

[2020-08-19 02:33] jarun commented on #706
Set `$EDITOR` to any editor of your choice. You can have a wrapper to `nnn` that sets `$EDITOR` instead of changing it in the rc file.

The split screen screenshot is using dvtm. You can use tmux/kitty/tilix/terminator too. BTW, did you try pressing `TAB` in nnn? I don't think you'll need a split screen when you get used to that.

[2020-08-19 02:33] #706 closed

[2020-08-19 06:28] danrobi11 commented on #629
Progression dummy bar when theres a file transfer move/copy

[2020-08-19 06:34] danrobi11 commented on #706
Ok fair enough, tab does the job.

However, im clueless when comes to this: 'Set $EDITOR to any editor of your choice. You can have a wrapper to nnn that sets $EDITOR instead of changing it in the rc file'

Also, I cant find any config file, thats unfortunate, everything else pretty straightforward with nnn. Deal breaker for me :(

[2020-08-19 06:52] jarun commented on #706
A function like:

[code]

More examples [here](https://github.com/jarun/nnn/tree/master/misc/quitcd).

Your shells rc file is your config file. `nnn` has too  few configs to be set to warrant a config file. And a presistent session file works as a config file in several cases too!

[2020-08-19 06:54] jarun commented on #629
it's already there. See option `-r`, the man and [this](https://github.com/jarun/nnn/wiki/Advanced-use-cases#cp-mv-progress).

[2020-08-19 22:31] danrobi11 commented on #629
Thank you much! I now have a progress bar :)

Can I suggest that should be embedded by default with a command to set off/on maybe? Although, I wonder who doesnt want a progress bar when mv/cp files that are over 2gb

[2020-08-19 22:40] jarun commented on #629
It's not possible to control the utilities that way. Someone else suggested backgrounding, but I really prefer to avoid circumstances like the FM is closed before the operation finishes and there's an error etc. I don't see any ROI from a project priority perspective.

[2020-08-19 22:59] danrobi11 commented on #706
Thank you for the support. I've tried the example you gave me above and that makes open nnn automatically everytime I open my terminal. I know nothing about bash scripting and I've already took enough of your time.
I do suggest tho a command in '?' that would prompt for users to type the name of their editor of choice or to add the path e.g. /usr/bin/micro
This is the only not user-friendly thing

[2020-08-19 23:05] jarun commented on #706
You have to place it as a function. But anyway, you can also copy the following lines in a file and call it `n` and invoke it:

[code]

Then:

    chmod +x n

I can't add a redundant feature because you aren't able to export `$EDITOR`.

Please learn more about using the cmdline and environment variables. It's not that difficult and there are many good tutorials.

[2020-08-20 00:09] asgeo1 opened #709 "Not showing colors when xterm-256color is set"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: OSX 10.15.6
[ ] Desktop Environment:
[x] Terminal Emulator: Kitty 0.18.3
[x] Shell: Fish 3.1.2
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

I'm not getting any colors wh

[2020-08-20 00:20] 0xACE commented on #709
I ran this on `master`:
[code]
And it works.

I'm guessing your termcap is not installed correctly.

Hopefully someone can help you with your environment, I'm going to bed, good night.

[2020-08-20 00:32] asgeo1 commented on #709
`master` does not work for me. Something must be screwed up with it. I guess I just don't understand why `nnn` would be the only program having trouble displaying colors though.

[2020-08-20 01:20] danrobi11 commented on #706
Well, I had no clue, sry for the trouble. Thanks again.
Im gona leave this here in case someone else would need it.
https://askubuntu.com/questions/432524/how-do-i-find-and-set-my-editor-environment-variable

[2020-08-20 01:21] 532910 opened #710 "there is no place for subpixel in image"
The current screenshots looks so rainbow-awful, so I even don't thought to try it.

[2020-08-20 03:06] jarun commented on #710
Then don't enable it. We wouldn't hold you accountable for that. ;)

[2020-08-20 03:06] #710 closed

[2020-08-20 03:10] jarun commented on #709
We don't read `xterm-256color`. At least my setup works without it. I am not sure if we should read it.

Please ensure you set `NNN_COLORS` correctly and are on v3.4 or master.

[2020-08-20 03:13] jarun commented on #709
I do see an issue that [setting 256 colors for tmux](https://unix.stackexchange.com/questions/1045/getting-256-colors-to-work-in-tmux) and opening nnn in tmux doesn't show the colors.

[2020-08-20 03:15] 532910 commented on #710
Have you seen your screenshot on screens with other pixel order? Have you tried to rotate your own?

[2020-08-20 03:29] jarun commented on #709
However, that's within xterm. I see no issues in opening nnn in the terminal.

[2020-08-20 03:43] jarun commented on #709
More info from tmux angle:

[code]

[2020-08-20 03:46] jarun commented on #709
I believe that's a local issue on my setup as I custom-compiled tmux.

[2020-08-20 10:38] 0xACE commented on #709
We use `attron()` to set colors, maybe `nnn` is affected because of your version of `*curses`

[2020-08-20 11:02] 0xACE commented on #710
He is referring how the font is rendered in the screenshots. I don't know why he is expressing himself this way though... This is sort of related to the previous discussion where I gave examples from `/r/unixporn`

![cap](https://user-images.githubusercontent.com/1482942/90760930-24679880-e2d2-11ea-9df7-2a55cd74caff.png)
`picture on repo` vs `screenshot of asciinema`

close up on example of issue

[2020-08-20 11:19] 532910 commented on #710
What way exactly? This is just a user experience, and not my own. Screenshots are intended to make the first impression, this one says "just don't even think about installing me".

[2020-08-20 12:28] jarun commented on #709
Possible. I didn't really dive much into it as I have a custom tmux installed (which I never use).

[2020-08-20 12:36] jarun commented on #710
Does the image in the repo show properly? It should because it is a PNG.

We can remove the link to the asciicast.

[2020-08-20 12:49] jarun commented on #710
Speaking of the images on the readme render correctly on Linux, Windows and Android.

[2020-08-20 12:52] jarun commented on #710
If you have issues with the fonts in the asciicast, please talk to the asciiinema team.

Also, there is a note below the asciicast about the icons.

[2020-08-20 13:24] 532910 commented on #710
NO!

It must not.

Do you know what subpixel is? Do you know, that different monitors has different subpixel order? Have you even thought that subpixel order will differ for the same monitor on rotation?

[2020-08-20 13:27] 532910 commented on #710
Asciinema rendering looks fine.

The only two issues with asciinema i see is:
1. icons are shown as squares
2. keystrokes are not displayed

[2020-08-20 13:41] asgeo1 commented on #709
Yes, definitely using `3.4` and have `set -x NNN_COLORS '4231'` in my `config.fish`

I use tmux too, and it tends to overwrite `$TERM` with its own value that breaks colors in a number of programs I find.

Usually `set -g default-terminal "screen-256color"` in `.tmux.conf` is what I set, and that works to give colors to all my programs (except `nnn`).  So I've been using `set -g default-terminal "

[2020-08-20 13:48] jarun commented on #709
Try ncurses 6+.

[2020-08-20 14:01] jarun commented on #710
I see you don't have any other than some forks. Thought so. In that case.. charity begins at home.

[2020-08-20 14:13] asgeo1 commented on #709
Hmm, seems quite difficult to use a different version of ncurses after reading discussion on it [here](https://github.com/tmux/tmux/issues/1584#issuecomment-466378606).

It seems I do have homebrew ncurses 6.2 installed already, but it's not used by the system, just for other homebrew packages to build against. And 6.2 would clash with the older OSX version of `tic` installed, which needs to match

[2020-08-20 14:13] #709 closed

[2020-08-20 14:15] jarun commented on #709
Good thinking! It's not worth the time.

[2020-08-20 14:26] jarun commented on #710
Your loss. Not our problem.

[2020-08-20 15:00] 0xACE commented on #710
The general population aren't aware of the fault you are pointing out, thus this thread is ambiguous. The presentation from you is also condescending. Why would you notify 109 people like this?

An internal conversation has been had regarding this topic. Among the developers in the `nnn` team I guess at least three of us understand what you are referring to. Coverage of this topic from the dev tea

[2020-08-23 19:07] C-Fu opened #712 "nnn would be awesome on Raspberry Pi!"
Please please make a .deb for armhf!

[2020-08-23 23:08] jarun commented on #712
It's already available in the Debian/Ubuntu repos. I am installing from there on my Pi.

There's a line item to generate these packages but someone has to take it up.

Additional reference: https://github.com/jarun/nnn/wiki/Developer-guides#compile-for-pi

[2020-08-23 23:08] #712 closed

[2020-08-27 07:49] cmplstofB commented on #629
Hello.

Is there any plans for globalization/localization?
POSIX somewhat provides native language support for utilities (e.g. [`gencat`](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/gencat.html) utility), however, it's a bit difficult to use rather than GNU gettext...

[2020-08-27 18:20] jarun commented on #629
Not at the moment.

[2020-08-29 08:27] cmplstofB commented on #629
@jarun I see. Thank you.

[2020-08-29 20:36] snide opened #716 "Docs unclear on 2-digit hex codes"
Sorry for the likely basic question. I'm reading the docs around configuration and can't for the life of me figure out how a 2-digit hex code works.

[From the configuration docs](https://github.com/jarun/nnn/wiki/Usage#configuration)

Which links to [this page](https://jonasjacek.github.io/colors/). I don't see any two-color hexes listed, and despite some searching can't figure out how to generat

[2020-08-29 23:04] #716 closed

[2020-08-29 23:07] jarun commented on #716
Updated the docs to use _numbers_ instead of _codes_. Use the hex value of the Xterm color numbers (shown in decimal in the external link).

[2020-08-30 02:05] snide opened #717 "Better coloring of icons / add support for nerdfont"
Any interest if I take a stab at coloring the various extension icons?

My method would be using the primary color associated with that lang. I personally find this helps me spot files a lot quicker and it's what I'm using to seeing in other vim explorers, so having some built in defaults would be nice.

Examples of things I know as a web dev

- TSX, JSX React files being their teal
- JS / Node fi

[2020-08-30 02:41] snide commented on #717
Exploring this a bit more, I'm realizing I'd probably want to use my own patched Nerd font instead (which is more consistent in styling then the mixed-bag-on-purpose icons-in-terminal lib). Trying to think of a way to make this more friendly for customization without having to edit the source file directly.

I think to make this easier to theme, you might want to separate this into three files

-

[2020-08-30 04:53] jarun commented on #717
So you'll have to set Nerd Font as your terminal/system Monospace font?

@KlzXS for his input.

IMHO, we are great with what icons-in-terminal support. If you still want to support Nerd Fonts as compile-in _and distinct from the current icons-in-terminal solution_, I am fine with that.

[2020-08-30 06:17] jarun commented on #717
Also, some more details on guidelines we roughly follow:

- Searching in `nnn` is filtering, also there's sort by extension among other sort options. I am pretty sure even if we use ruby red for .rb files, when there are 10 of them in the directory, you'll have to go though the file names by the sorted order. But `nnn` doesn't even care about mere 10 files! When there are 100s of those scattered a

[2020-08-30 06:21] jarun commented on #717
Didn't we say _compile-in_? It also means you'll have to backup your patch and may have to apply those back if you choose to upgrade to the source of the next release.

[2020-08-30 06:38] snide commented on #717
Yep. No worries, I get it. Like I said, ultimately it's fairly easy for me to make it how I want after I played with the source a bit. That's good enough for me! Put this up mostly because I know it's a fairly new feature so you might enjoy some feedback from someone going into it straight from the docs.

I'll keep fiddling over the next week. I think a separate nerdfont extension modeled in the s

[2020-08-30 06:56] snide commented on #717
At the very least I can give you some good screenshots showing the feature off! I'll close out the issue, since it's certainly extendable enough as you can see.

![image](https://user-images.githubusercontent.com/324519/91653085-1d6b2380-ea52-11ea-86e1-af2c6643e652.png)

[2020-08-30 07:20] jarun commented on #717
I was not aiming at closing the discussion. Feedback in good taste is always welcome. I've already pulled in a few PRs from you and I wanted to make sure you feel at home with the general perspective of the team.

I would like to understand the gist your proposal:

- are you suggesting Nerd can work along with icons-in-terminal or it has to be distinct?
- if distinct, I would have a separate make

[2020-08-30 07:25] jarun commented on #717
Adding @KlzXS @leovilok @0xACE for their opinion based on your input to the above 7.

[2020-08-30 16:14] snide commented on #717
Preface, I know nothing about C! I'm a designer by profession and know some JavaScript, but am a Vim/Linux user familiar with hacking on configs.

If i were going for the dead simplest setup that didn't require a compile (which could very well be against your vision, which is why I'm not being pushy) I'd go for something like this.

1. Have a setting for `NNN_DISPLAY_ICONS` that you have to export

[2020-08-30 18:31] 0xACE commented on #717
Regarding point 7. I'm not familiar with the exact details of the code. But afaik the current method utilizes a lookup table to determine what to render. Applying it for nerdfont would essentially require a equivalent of the lookup table. I'm way behind `master` so I shouldn't be commenting.

[2020-08-31 08:52] jarun commented on #717
@KlzXS and @leovilok can you please go through @snide's input? Can we have a simple design in place? I am OK with anything, including no plans to do it.

[2020-08-31 14:41] KlzXS commented on #717
I like the idea of adding more extension rules, and setting a color for them, some already have their colors set. Though I think there should be an option somewhere to disable icon colors and display them in the same color as the filename.

To decide which to load at runtime we would have to either:
compile in the icon strings of both options, doubling the space required to store them.
_or_
have a

[2020-08-31 15:09] snide commented on #717
On my side I'd happy to trim down the `icons-in-terminal.h` file to just the used glyphs, normalize the naming in `icons.h` and add a `nerd-font.h` file if that's the way you want to go. I wouldn't be able to do any of the C code to do the loading, but I could at least contribute that side of the busywork.

Alternatively, if this sounds like too much trouble, I'm happy to host a gist and submit a

[2020-08-31 16:43] KlzXS commented on #717
There is no further code  that needs to be written. Just the headers with the icon symbols.

[2020-09-01 04:00] snide commented on #717
OK. So just to be clear where we've landed.

1. I'll write up lookup table named `nerd-font.h`.
2. I'll adjust the `icons.h`, `icons-in-terminal` and `nerd-font.h` file to use the same naming format? this would allow you in include whichever file you wanted at the top of `icons.h` and it should "just work" on compile?
3. I'll go ahead and set a bunch of color vars in `icons.h` and clean up the map

[2020-09-01 04:56] ChefYeum opened #718 "Show progress when processing long operations"
Show progress when processing long operations such as moving large files etc.

I'm currently moving some big bois on my laptop to OneDrive.
The current version of nnn only shows:
![image](https://user-images.githubusercontent.com/36423861/91796228-9c32ad00-ec5a-11ea-9c0b-a79b68ccd9de.png)
(It's a cursor)

I have no idea how long it will take. Very tempted to C-c.

[2020-09-01 04:58] jarun commented on #718
This is possible already. Please see https://github.com/jarun/nnn/issues/701.

[2020-09-01 04:58] #718 closed

[2020-09-01 05:05] ChefYeum commented on #718
I was referring to something like this in Windows File Explorer:
![image](https://user-images.githubusercontent.com/36423861/91796758-f2ecb680-ec5b-11ea-8d05-d12f988d3ca2.png)

To know the progress rather than just a notification when complete.

[2020-09-01 05:18] jarun commented on #718
See option `-r`. Also read https://github.com/jarun/nnn/wiki/Advanced-use-cases#cp-mv-progress

Please note that in order to use a powerful file manager like `nnn` you have to read the documentation. Unfortunately, we cannot spend time again and again on things those have already been implemented and documented.

[2020-09-01 17:31] jarun commented on #629
@gyvess check out option `-D` in master which forces directories to follow context colors even with new colorscheme.

[2020-09-02 12:15] ChefYeum commented on #718
Thanks!

[2020-09-02 15:16] jarun commented on #717
You can update the docs here: https://github.com/jarun/nnn/wiki/Advanced-use-cases#file-icons

[2020-09-03 08:11] jarun commented on #629
@mutable-dan I don't think any response from @herrbischoff would be relevant in https://github.com/herrbischoff/awesome-command-line-apps/pull/97 as I see several other instances where the decision is based on _possibly myopic_ personal discretion. So I would take this to GitHub for my own understanding of contribution strategy and the correct definition of acceptability of PRs in public repos.

M

[2020-09-05 02:57] jarun opened #719 "ToDo list"
Rolled from #629.

### Cooking

- [x] audit and adapt all plugins for macOS
- [x] compile-in Alexey Tourbin's QSORT macro
- [x] support Nerd Font patched icons [`make O_NERD=1`]
- [x] auto-generate static binaries with icons support
- [x] enhance plugin `dups` to delete duplicates interactively
- [x] plugin `autojump` now supports `jump` and `zoxide`
- [x] support `gio trash` to Trash [`export NNN

[2020-09-05 02:57] #629 closed

[2020-09-05 04:43] billop opened #720 "Colors are weird when TERM is set to alacritty"
### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: NixOS 20.03
[x] Desktop Environment: Sway
[x] Terminal Emulator: Alacritty
[x] Shell: Fish
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[x] Configuration options set: `set -x NNN_COLORS '4215'`
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

Run nnn

[2020-09-05 05:59] jarun commented on #720
v3.4 has support for file-specific colors which work fine on several terminal emulators. If this is specific to alacritty, I am not sure if we will be able to help you. Probably contact the alacritty team and if there's any generic change that's required in `nnn`, we'll fix that.

The other option for you would be to fallback to the older colorscheme using option `-C`.

[2020-09-05 05:59] #720 closed

[2020-09-05 19:15] billop commented on #720
Thanks for pointing out the `-C` option, will be using that from now on.

[2020-09-05 22:30] jarun commented on #720
No problem!

[2020-09-06 00:25] jarun commented on #717
@snide would it be possible for you to make a video that demos some of the useful plugins of nnn? I would say something that explores max 10 of those (according to your choice) and shows how to use them.

[2020-09-06 01:43] snide commented on #717
Absolutely. Dunno if you saw, I made something like this last weekend, but it's easy to make something a little more formal that would work better on the readme. I'll also have a PR for this issue up by tomorrow.

https://www.youtube.com/watch?v=1QXU4XSqXNo

[2020-09-06 04:37] jarun commented on #717
Wow! That's really neat and a very good introduction. :+1:

Yes, that would be very useful for new users to get accustomed to nnn. It's been a log time we were looking for some video tutorials for the plugins.

[2020-09-06 04:45] jarun commented on #717
It would be great if you could add a small intro to the nnn plugins and how to use them at the start of the video.

[2020-09-06 14:34] hkdd opened #721 "Appropriate way to close preview-tabbed?"
#### Environment details (Put `x` in the checkbox along with the information)

[Fedora 32] Operating System:
[x] Desktop Environment: dwm
[x] Terminal Emulator: urxvt
[x] Shell: bash
[x] Custom desktop opener (if applicable):xdg-open
[] Program options used:
[x] Configuration options set: da
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
I cannot figure out the appropria

[2020-09-06 14:54] jarun commented on #721
You'll have to press `^C`.

@leovilok can we document this in the plugin?

[2020-09-06 16:12] hkdd commented on #721
Sorry, I should have said I tried ^C as well and that didn't do anything.  But if that should work I'll do some more poking around and see if I can tell why it is not for me.  ^C works fine in the terminal otherwise.  Also interesting is if I exit nnn completely it still leaves the preview-tabbed open.

[2020-09-06 16:47] jarun commented on #721
Reopened the issue.

@leovilok can you please take a look?

[2020-09-06 20:12] 0xACE commented on #721
^C within the preview tabbed pane. Otherwise it may remain open if someone is using the fifo file i guess

[2020-09-06 20:13] hkdd commented on #721
It's actually launching a new terminal and ^C in either doesn't have an effect.  Should it?

[2020-09-06 20:17] 0xACE commented on #717
haha, oh snap, recognized your voice immediately, brings back memories of back in the day when I frequented giant bomb :D, great to see you alive and all <3

[2020-09-06 21:20] leovilok commented on #721
I'm quite busy, but I'll take a look.

[2020-09-06 21:35] leovilok commented on #721
It *works for me*™ by closing the window in `dwm` (tested in `nnn` master). If I re-fire the plugin, the window is initially blank, but updates on first cursor move.

I agree that quitting the program inside tabbed and seing the bare tabbed window feels weird ... I'm not sure about how it should behave and how to implement that, and I don't have time to hack on this right now.

[2020-09-06 21:38] leovilok commented on #721
I don't have this issue either, it should close on FIFO writer close.

[2020-09-06 22:05] hkdd commented on #721
Yeah that behavior all checks out for me.  If I send dwm killclient to the preview window, then re-launch the plugin (;p for me) it is initially blank, but if I go up/down to another image or view, it will update.

I tested it again and now it is closing the preview window if I quit out of nnn.  Not sure how I got it to hang up previously.

(Also totally unrelated but I'm blown away by how good nn

[2020-09-06 22:21] jarun commented on #721
Glad it worked out for you! Closing the issue.

[2020-09-06 22:21] #721 closed

[2020-09-08 03:36] cdarkly opened #723 "preview-tabbed"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Debian Testing
[x] Desktop Environment: Spectrwm
[x] Terminal Emulator: Xterm
[x] Shell: Bash
[ ] Custom desktop opener (if applicable):
[x ] Program options used: ca
[ ] Configuration options set:
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

This issue is related to u

[2020-09-08 07:54] exa18 opened #724 "Dependencies libncursesw5 ERROR"
If it looks like a local environment issue, please try to debug yourself. Debugging local setup issues is not our top priority.

If you are looking for a new feature or program option, ensure you have the correct version with the feature installed. Refer to the release notes to confirm.

Before opening an issue, please try to reproduce on latest master. The bug you noticed might have already been

[2020-09-08 12:17] jarun commented on #724
@szlin please take a look.

[2020-09-08 12:25] ndalliard opened #726 "Support for .hidden file"
In [GNOME's file manager](https://en.wikipedia.org/wiki/Hidden_file_and_hidden_directory#GNOME) filenames listed in a `.hidden` file are viewed as dotfiles.

In my case the Tor browser creates a folder in my home directory and I am unable to set another path. Would be great, if I could add the folder into a `.hidden` file and it won't be displayed by default.

[2020-09-08 12:41] jarun commented on #726
I am not sure if there is a standard that says files in .hidden should be hidden. Also if Tor, which is all about anonymity, is creating a directory visible to everyone, please raise an issue on that project.

Finally, nnn keeps configs minimal and there's no config file as we do not want to read a file from disk at every startup for performance and unnecessary disk IO. Reading a file on  entering

[2020-09-08 12:41] #726 closed

[2020-09-08 19:23] jarun commented on #724
OK, now I saw you are installing the auto-generated package.

Which one is installed by default on Debian 10: ncursesw v5 or v6?

[2020-09-08 19:25] jarun commented on #723
Closed at #725.

[2020-09-08 19:25] #723 closed

[2020-09-08 19:47] #724 closed

[2020-09-10 01:50] cdarkly opened #727 "preview-tabbed and ^C"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Debian Testing
[x] Desktop Environment: Spectrwm
[x] Terminal Emulator: xterm
[x] Shell: bash
[ ] Custom desktop opener (if applicable):
[x] Program options used: ac
[ ] Configuration options set:
[x] Issue exists on `nnn` master

Right now, the only way to cleanly stop preview-tabbed and all of it

[2020-09-10 02:50] jarun commented on #727
This defect looks to be the same as #723. Is there a difference? If not, please do not open duplicate defects unnecessarily OR explicitly point out the difference first.

From the fix perspective, did you try master which has #725?

[2020-09-10 02:51] jarun commented on #727
Note that you'll have to manually get the affected plugin.

[2020-09-10 12:06] cdarkly commented on #727
It is a similar problem. But, this is different. And I am using the #725 master in testing.

The original issue was with lingering processes when you quit from nnn.

This isssue is with lingering processes when you press ^C while running nnn.

[2020-09-10 12:38] jarun commented on #727
Where are you pressing ^C? Inside nnn or inside the previewer?

[2020-09-10 12:51] 0xACE commented on #727
What are you expecting to happen when you hit `^C`?

[2020-09-10 13:21] leovilok commented on #727
It won't be as easy:
- if you press ^C in the `nnn` terminal window, the terminal emulator will  send the signal to the foreground process, so it will be sent to `nnn`, not the prewiew plugin
- if you press ^C in the preview window, `tabbed` itself doesn't catch it, so it's transfered to the previewer program (so a terminal, image/video/document viewer, ...) ; again, the preview plugin never gets

[2020-09-11 00:25] cdarkly commented on #727
jarun: I'm pressing ^C while inside nnn

0xACE: I only tried ^C in preview-tabbed after reading about using it for preview-tui in the "Live Previews" wiki. The expectation was that there could also be a way to "close" preview-tabbed and restart it without quitting nnn.

leovilok: It appears that ^C does get passed to the preview plugin from nnn. It certainly works for preview-tui. However, in the

[2020-09-11 08:45] leovilok commented on #727
@cdarkly OK, great, I tested it, it works. I think that you can raise a PR.

[2020-09-12 12:52] jose-elias-alvarez opened #728 "Move and rename fails with macOS built-in sed"
First, thanks for making such a great tool. It's completely replaced vifm for me (especially thanks to the excellent Vim integration) and it works well on macOS.

I did run into a problem using select + `w` to move / copy and rename files on macOS. The problem appears to be due to the built-in version of `sed` that macOS uses by default. Installing `gnu-sed` via homebrew and aliasing it to `sed` s

[2020-09-12 14:48] cdarkly commented on #727
There is one oddity with this so far:

1. If you start nnn and run "preview-tabbed", the file being previewed is displayed immediately. So this works as expected.
2. However, if you close "preview-tabbed" with ^C, and then reopen it, "tabbed" is launched, but the viewer on the current file is not All you see is a blank/gray tabbed window. Only if you select the next file within nnn using j or k, i

[2020-09-12 15:30] jarun commented on #728
We would like to use the built-in sed command.
@KlzXS can you please take a look?

[2020-09-12 15:52] KlzXS commented on #728
I would very much like to, but I don't have macOS. I think I was careful not to include anything not in POSIX.

I'll check everything once more.

[2020-09-13 13:46] jarun commented on #728
@KlzXS use https://github.com/fastai/fastmac/ to access a macOS shell. It works, I confirmed.

To install `nnn`, run brew install `nnn`.

[2020-09-13 15:33] protrolium commented on #716
I was having a similar conundrum as @snide, I don't see any decimal in the external link that you mentioned, or any further way to determine the 2 hex symbol based off of Xterm color number. Using `00` to overwrite for now.

[2020-09-13 16:48] 0xACE commented on #716
![cap](https://user-images.githubusercontent.com/1482942/93023779-e6b01400-f5e0-11ea-9bfd-acc314067919.png)

[2020-09-13 22:09] cdarkly commented on #727
After some additional testing, the easy workaround to the "oddity" described above is to use ESC to resend the current "path/filename/EOL" to the FIFO.

So when preview-tabbed is closed with ^C and the restarted, simply press ESC to get the preview to show back up for the current item selected.

One question remaining is why does nnn send the "path/filename/EOL" to the FIFO when preview-tabbed is

[2020-09-14 01:18] cdarkly commented on #727
Posted an alternative implementation:

[https://github.com/cdarkly/temporary-tests/blob/master/preview-tabbed.sigint_flag](url)

This is different in that it allows the preview script to exit using its normal path. Relevant changes are:

    #Backup current FIFO path before it is unset
    NNN_FIFO_INUSE=$NNN_FIFO
    SIGINT_FLAG=0

    sigint_exit () {
        SIGINT_FLAG=1
        #Send a new li

[2020-09-14 02:40] jarun commented on #716
Thanks @0xACE! I will link it from the config page.

[2020-09-14 02:59] #717 closed

[2020-09-14 03:02] jarun commented on #716
Wow! You already took care of it! Thank you @0xACE!

[2020-09-14 03:04] jarun commented on #727
@leovilok please take a look if this works fine.

[2020-09-14 03:15] protrolium commented on #716
@0xACE bless you!

[2020-09-14 07:00] KlzXS commented on #728
The problem with built-in `sed` is that `-i` option takes an additional argument (an extension for the backup file), which gnu's sed can't take. We can work around that.

The bigger problem is that it doesn't work nice with newlines. In `P_CPMVFMT` we need to insert a newline and there doesn't seem to be a nice, non-shell-dependent way of doing it. I tried [ANSI-C Quoting](https://www.gnu.org/soft

[2020-09-14 10:31] gunar opened #729 "Show directory size in detailed view"
**Is your feature request related to a problem? Please describe.**

I need to find which files are wasting disk space so I can delete them.

**Describe the solution you'd like**

A plugin(?) so that in the detailed view the size of all the contents of a directory is displayed right next to its name (like `du` does).

**Describe alternatives you've considered**

I'm currently using `du` but its not

[2020-09-14 10:38] 0xACE commented on #729
hit `td` or `ts`.

Tbh i would highly recommend `ncdu` if your goal is to clear out your storage devices.

[2020-09-14 10:46] gunar commented on #729
Thank you so much!

[2020-09-14 10:46] #729 closed

[2020-09-14 12:22] jarun commented on #728
Sure! No need to work with crippled sw.

[2020-09-14 12:25] jarun commented on #729
@0xACE what limitation do you see with nnn? Why does a nnn user have to use another utility when du analysis is available?

[2020-09-14 16:07] 6arms1leg opened #730 "Open in PAGER, edit in EDITOR"
Hello everyone,

first of all, thanks for this great application!  I just found it and absolutely love it (before I was using MC).

There seems to be quite some confusion about opening a text file in `$PAGER` or `$EDITOR` (i.e., #331, #446, #462, #580) and I am confused as well.

I would like to *open* (preview) text files in a pager and *edit* them in an editor.  Referencing nnn's help screen, th

[2020-09-14 16:54] jarun commented on #730
The discussion in #580 aligns with this. To open in PAGER you need to run a cmd as plugin and attach a keybind to it, specifically the example `p:-_less -iR $nnn*`. BTW, to run (cmd as) plugin you can also use `Alt` instead of `;`.

If you see `nnn` help, `e` is described as `e  Edit in EDITOR`. There should not be any confusion.

If you want `return` \ `l` to open through PAGER (not all files sho

[2020-09-14 16:54] #730 closed

[2020-09-14 17:26] 6arms1leg commented on #730
Thanks for your quick response.

That's what I used before. Somehow I overlooked the option of using the `alt` key, though. That really speeds things up.

Well, if I run `VISUAL="less" EDITOR="vim" nnn -eE`, I would expect nnn to *open* (`return`/`l` key) files in `$VISUAL` and *edit* (`e` key) in `$EDITOR`. But `$VISUAL` takes precedence if both are set.
But never mind, with your answer (see belo

[2020-09-14 19:16] leovilok commented on #727
@jarun @cdarkly's alternative version seems to work fine too :+1:
I'm not sure why we would like to follow the normal path, but it seems like a generally good idea, so that if we need to do some additional clean-up at some point, we won't have to worry about the ^C case.

[2020-09-14 19:30] 6arms1leg commented on #730
@jarun, I think the man page descriptions for the `-e` and `-E` flags do not match nnn's behavior. I updated my previous comment.

[2020-09-14 22:09] 0xACE commented on #729
Mostly that `ncdu` remembers the diskusage of each folder.

Iirc, in my experience `nnn` likes to frequently rescan every directory.

[2020-09-15 02:08] 6arms1leg commented on #730
I took the time to have a look at the source code and dared to create a tiny PR, see #733.
Now, pressing `e` actually "[e]dit[s] in EDITOR" (as stated on the help screen), instead of `$VISUAL`.

[2020-09-15 05:46] jarun commented on #730
We do not want e to edit in EDITOR. If VISUAL is available that should be used. You can search and find the relevant defect. See the install deps as well (the last entry). The best we can do is change EDITOR to editor in help.

[2020-09-15 09:52] 6arms1leg commented on #730
I see. Well, sorry for the noise then. Thanks for your time.
I find the help screen text quite misleading then.

[2020-09-15 11:01] szlin commented on #724
// I didn't receive the notification email somehow.

Hi @jarun
The version of libncurses-dev in Debian 10 is v6 [1].

[1] https://packages.debian.org/buster/libncurses-dev

[2020-09-15 13:38] jarun commented on #724
Thanks Lin! I updated the auto package generation deps.

[2020-09-15 13:47] jarun commented on #727
So can we have the PR?

[2020-09-15 14:56] szlin commented on #724
@jarun I see. Feel free to ping me via email or private message in case this awkward issue happened again :-)

[2020-09-15 15:05] jarun commented on #724
Sure Lin!

[2020-09-15 23:09] jarun commented on #728
@jose-elias-alvarez can you please update our Homebrew recipe to add this dependency?

[2020-09-15 23:13] jarun commented on #728
The formula file is here: https://github.com/Homebrew/homebrew-core/blob/master/Formula/nnn.rb

[2020-09-16 12:57] jose-elias-alvarez commented on #728
Thanks for the attention on this.

I updated and tested the formula locally, but Homebrew doesn't automatically symlink `gnu-sed` to `sed` on install. It adds it to $PATH as `gsed` to avoid conflicts and leaves the option to override built-in `sed` to the user, which seems to be common behavior when overriding built-ins.

This means that adding the dependency alone isn't enough to solve the issue,

[2020-09-17 12:31] jarun commented on #727
@cdarkly I can't keep this defect open forever. Please raise the PR with your proposed solution above.

[2020-09-17 12:31] #727 closed

[2020-09-17 12:35] jarun commented on #728
My understanding is, we need to do 2 things:

- use gsed instead of sed on macOS
- update the recipe on Homebrew

@jose-elias-alvarez is that correct?

[2020-09-18 00:10] pricheal commented on #720
Just want to point out, I use the base16-shell scripts to set my shells ANSI colors so I also use the -C flag now to make sure that works. Thanks for including the -C flag

[2020-09-18 00:37] jarun commented on #720
Just for the record, I don't see any such issues with the newer colorscheme (`TERM=xterm-256color`).

![](https://i.imgur.com/qT3wnBR.jpg)

[2020-09-18 00:43] cdarkly commented on #727
Sorry guys, did not realize you were waiting on me. I'm kind of new to this. :)

[2020-09-18 03:41] tspivey opened #735 "Hardware cursor moves to wrong line"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Ubuntu 20.04
[X] Desktop Environment: none
[x] Terminal Emulator: PuTTY 0.74, 30 rows by 120 columns
[X] Shell: bash
[ ] Custom desktop opener (if applicable):
[x] Program options used: -w
[ ] Configuration options set:
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
[code

[2020-09-18 14:47] jarun commented on #735
@iressa can you please take a look?

[2020-09-18 14:53] jose-elias-alvarez commented on #728
That's right. That'll allow macOS users to use move and rename just by running `brew install nnn`.

[2020-09-18 15:03] #735 closed

[2020-09-18 15:04] jarun commented on #735
Please confirm if the patch works as expected.

[2020-09-18 15:16] #728 closed

[2020-09-18 15:16] jarun commented on #728
Can you please confirm if the patch works fine for you with _gsed_?

If it does, please update the recipe on Homebrew.

[2020-09-18 15:25] jose-elias-alvarez commented on #728
Confirmed working! I'll update the Homebrew recipe shortly.

[2020-09-18 15:41] jarun commented on #728
Awesome!

[2020-09-18 23:16] tspivey commented on #735
It's working so far. Thanks!

[2020-09-21 02:03] snide opened #736 "Make an introduction video for nnn plugins"
@jarun I'll get one made within the next day or two. The outline will be as follows:

1. General overview of the system, showing various plugins.
2. How configs are handled through global env vars.
3. How to compile nnn with icons
3. How to make your own plugin

Yell if there is anything specific you'd like to see.

[2020-09-21 02:52] jarun commented on #736
Looks good to me.

@0xACE @KlzXS @leovilok please suggest if you have anything.

[2020-09-21 13:10] jarun commented on #736
Please note that it should be "introduction to nnn _plugins_". I feel plugins are one area users, specially newbies can make use of some good visual aid with examples.

[2020-09-24 08:58] quantum-booty opened #737 "Fuzzy search based bookmark"
The bookmark plugin uses shortcuts + a letter, but it gets confusing when there are many shortcuts or duplicate first letters, e.g. vim and virtualenv.
I think a fuzzy search based bookmark would be more accessible to users:
Add a key, string path to config: 'vim' : 'path/to/vim'
Press b to bring up search menu
type vim
select and press enter

[2020-09-24 10:10] kuntau opened #738 "nnn help not persist on screen"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Ubuntu server 20.04
[ ] Desktop Environment:
[x] Terminal Emulator: tmux
[x] Shell: zsh
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[x] Configuration options set:
[code]
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

I found out on tall screen, t

[2020-09-24 10:53] 0xACE commented on #738
I'm not on master so I'm not sure if changes has been applied recently. but what is you `$PAGER` set to? `?` displays the help information via your `$PAGER`, my guess is your pager is set to close immediately if the output finishes before the end of the screen

[2020-09-24 10:54] 0xACE commented on #737
https://github.com/jarun/nnn/blob/master/plugins/bookmarks

[2020-09-24 11:06] jarun commented on #738
Please check if you are facing this documented issue in the Troubleshooting section: https://github.com/jarun/nnn/wiki/Troubleshooting#help-not-showing

[2020-09-24 11:07] jarun commented on #737
@0xACE beat me to it by 12 mins. Closing the issue as we already have it.

[2020-09-24 11:07] #737 closed

[2020-09-24 11:13] kuntau commented on #738
Thanks guys. I didn't know the help page is using less 😅

[2020-09-24 11:15] #738 closed

[2020-09-24 14:59] thexavier666 opened #739 "If `sshfs` is not installed, missing util is flashed for a second. More helpful error message is required."
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: xubuntu 20.04
[x] Desktop Environment: i3
[x] Terminal Emulator: alacritty
[x] Shell: zsh
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[x] Issue exists on `nnn` master: v3.4

#### Exact steps to reproduce the issue

In a fresh install of xubunt

[2020-09-24 16:09] jarun commented on #739
It's a common message for any missing deps. We do not want to mention what utility is missing because the workflows tell that (e.g. in this case sshfs) and it saves some bytes in the binary. When you see this, please visit the relevant Wiki section: https://github.com/jarun/nnn/wiki/Usage#dependencies

[2020-09-24 16:09] #739 closed

[2020-09-25 15:24] snide commented on #736
@jarun Started work on this today, but noticed compiling with master seems to bust for me. I hadn't tested your addition on my PR and admittedly I switched to a new laptop so I might be missing a core dependency. Any ideas?

![image](https://user-images.githubusercontent.com/324519/94285141-2c85aa00-ff08-11ea-8ebb-328fddedc4ad.png)

I'll try to get this up today if I can get local compiles running

[2020-09-25 19:12] jarun commented on #736
On which OS are you? At least on Linux, *BSD and Unix `getcwd(char *buf, size_t size)` allocates the memory if `buf` is NULL.

[2020-09-25 19:14] snide commented on #736
Arch Linux.

[2020-09-25 19:20] jarun commented on #736
Please test with commit 55f2a0823a2dea256d24707fdcf44cdf7d6c5670.

[2020-09-25 20:27] 0xACE commented on #736
I've been getting those warnings myself, thought it was one of my patches, but I just looked at `master` and they are there too. The one in your screenshot is a false positive warning and is safe to ignore. `nnn` should work as normal.

Though jarun's new patch removes the warning message all together.

[2020-09-26 07:34] rieje opened #740 "Support `gio trash`?"
Looking at using trash with nnn, seems like it uses `trash-cli`. This was not clear with `man nnn`:

`NNN_TRASH`:

    trash (instead of delete) files to desktop Trash.

It would be nice if `gio trash` is supported as well (it follows the same FreeDesktop.org Trash specification). Personally, I use it instead of trash-cli to avoid an additional dependency (`gio trash` is provided by `gvfs-mtp` whi

[2020-09-26 12:43] jarun commented on #740
`nnn` uses `trash-cli`. Dependencies are not listed in the man age. Here's the relevant Wiki section: https://github.com/jarun/nnn/wiki/Usage#dependencies

Please raise a PR. It would be a good addition. If you can make it soon, we can have it in the next release.

[2020-09-26 17:34] #740 closed

[2020-09-26 17:35] jarun commented on #740
Please confirm that the patch works as expected.
Please test with single as well as multiple file deletion.

[2020-09-26 22:19] rieje commented on #740
Works as expected for both, thanks!

[2020-09-26 23:19] snide commented on #736
Yep. Can confirm this works. Also noticed the actual compiled error I had was not related to this but a bum UTF setting. As soon as the kids end their playdate (too much noise!) I'll get this done today. Thanks for the help folks.

[2020-09-28 01:48] snide commented on #736
https://youtu.be/-knZwdd1ScU

Here you go. Tried to show off as much as a could. If this works I'll make the video more public and close out this ticket.

[2020-09-28 03:11] jarun commented on #736
This is super-cool! :+1: :heart:

Please raise a PR to add this to the project README. That would be greatly helpful for new users.

[2020-09-28 03:13] jarun commented on #736
An image like asciinema with a play button would be great. Also, please use a befitting caption.

[2020-09-28 06:46] sylphenix opened #741 "Change selection mark position with detail mode"
Is there an option to move the selection mark to the front of the entry name with detail mode? I think it is clearer which entry has been selected.
![nnn_ups](https://user-images.githubusercontent.com/59789740/94399124-64575080-0199-11eb-84a1-015e9b43988e.jpg)

[2020-09-28 13:03] sylphenix opened #743 "The -R option doesn't work with -l option"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Debian 10
[x] Desktop Environment: fvwm
[x] Terminal Emulator: xfce4-terminal
[x] Shell: bash
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
I found that the -R option only

[2020-09-28 14:35] sylphenix opened #744 "Add signs to indicate whether there are more entries available"
I would like to add a sign to the top or bottom when there are more entries available. It would look more elegant.

![nnn_ups2](https://user-images.githubusercontent.com/59789740/94445968-a2289900-01da-11eb-9ca5-3b5fc431c2f5.jpg)

[2020-09-28 14:40] jarun commented on #744
Sorry, no plans for unnecessary beautification at the moment. Currently we just skip which is faster.

[2020-09-28 14:40] #744 closed

[2020-09-28 15:02] 0xACE commented on #741
I'm not sure it about moving the `+`.

Anyhow I'm not using master but this is my setup:

![select](https://user-images.githubusercontent.com/1482942/94449336-8356e200-019b-11eb-8a1a-d5e581d1d960.gif)

Didn't `master` adopt highlighting selected lines + add a blinking indicator if there are invisible selections?

[2020-09-28 15:34] jarun commented on #741
The only thing I adopted was highlighting when selection part in status bar when something is selected.

How did you highlight the selected entries?

[2020-09-28 16:05] jarun commented on #743
I can't repro this. Tried with 17 files in a dir `nnn -R -l 5`

[2020-09-28 16:09] jarun commented on #743
My compilation options:

    sudo make O_NORL=1 O_NOLOC=1 O_NOMOUSE=1 O_NOBATCH=1 O_NOFIFO=1 O_NOSSN=1 O_QSORT=1 strip install

[2020-09-28 16:45] jarun commented on #744
On second thoughts... and used only 1 character.

[2020-09-28 16:51] 0xACE commented on #741
My code is heavily modified, hence large merge conflicts appear when I merge with `master`. Afaik I apply `A_REVERSE` to selected lines...

Atm my code is heavily scrambled as I have made 2 prototypes for drag and drop support, and am considering a 3rd one atm. In my experiments with drag and drop support, I think it may not be worth implementing it immediately to the terminal as it would only wor

[2020-09-28 16:52] 0xACE commented on #743
I can reproduce this error on `master`, but can't find the time to spend on this right now. I'll check it out if I have trouble sleeping or or something.

[2020-09-28 16:55] jarun commented on #743
Someone who can repro has to fix this one.

[2020-09-28 17:26] 0xACE commented on #736
I like the video, it's is a complete walkthrough of the setup process if you ask me. Infact it was so good I followed along it to rip the `NNN_FCOLOR` as I cba to read the official docs :D

Regarding your `;u` plugin I would recommend you change the if-block where you copy the file into:
[code]

In linux `exit 0` commonly means "SUCCESS", anything other than `exit 0` is considered some kind of err

[2020-09-29 01:35] snide commented on #736
@jarun Can do. Do you still want the other vids up there? I don't really care, just asking so I know how to rearrange the page.

@0xACE Thanks for the tip. I'm only play a programmer on Github, mostly I'm a designer, so I appreciate the help. One thing I was curious about was seeing if I could get the `imageview` plugin for `nnn` to take the marks from `sxiv` and pipe them back to nnn as selection

[2020-09-29 01:39] sylphenix opened #745 "Option to temporarily increase navigation steps"
**Is your feature request related to a problem? Please describe.**

It is a bit slow navigation with line-by-line, especially when the terminal has too many rows.

**Describe the solution you'd like**

I would like to add an option to specify the temporary navigation steps. With this option, when I holding down a modifier key (may be CTRL), and navigate with UP/DOWN key or mouse wheel, it could go

[2020-09-29 03:24] jarun commented on #736
We will link those in a section below. This will be the new front video as it is up to date.

[2020-09-29 09:48] Kratacoa opened #746 "Moving and copying looks for "mvg" and "cpg""
#### Environment details (Put `x` in the checkbox along with the information)

[x ] Operating System: Void Linux, musl version
[x] Desktop Environment: none
[x ] Terminal Emulator: Kitty
[x ] Shell: Fish
[ ] Custom desktop opener (if applicable):
[x ] Program options used: aeEnrx
[ ] Configuration options set:
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
Select a file

[2020-09-29 11:41] 0xACE commented on #746
I'm not familiar with `master` bindings, but sounds like you enforced `nnn` to use `mvg` and `cpg` which shows a progress bar for `mv` and `cp` processes. Look at the arguments you give `nnn`, one of them invokes `mvg`/`cpg`.

As of last 3 weeks-ish it has been having issues with `sshfs` mounts so I've been avoiding it.

[2020-09-29 11:52] 0xACE commented on #745
Not sure that this will get added but, I'll contribute just in case.

The thing is: I find `nnn` configuration procedure unstructured and all over the place. Leading to the question: How would you suggest `nnn` reads these settings?

Another tip i have is `^D`and `^U` which jumps half a screen, but I'm not sure if it's my personal patch or if `master` has it, i know `master` atleast has `pageup` a

[2020-09-29 13:19] leovilok commented on #736
@snide congrats for the video.

It's possible, I tried it out a bit, you'll need this helper fonction:
[code]
and you'll need to add the `-o` option to sxiv invocations, and feed the output to this `tosel`, e.g.:
[code]

Note that:
1. `sxiv` output marked files on exit, so you need to quit it to update dthe selection
2. this doesn't check if the selection is empty, so this clears the selection on

[2020-09-29 13:26] jarun commented on #745
That's correct. And PgUp and PgDn does full screen. I think that's the answer to the original question. We can't do more than that (a page full) anyway.

A better option could have been increasing the mouse repeat rate but I am not aware of any standard way to do that.

There are some solutions here which you can try out: https://unix.stackexchange.com/questions/58651/adjusting-keyboard-sensitivit

[2020-09-29 13:26] #745 closed

[2020-09-29 13:28] jarun commented on #746
@Kratacoa please remove the option `-r` from your `nnn` alias.

[2020-09-29 13:28] #746 closed

[2020-09-29 13:31] jarun commented on #736
@snide we need to move fast with the video. I think your and my timelines seldom overlap so please share a cover image for the video (something with an asciinema-like arrow on it as I requested earlier) and I will set it in the project readme for the larger audience.

[2020-09-29 13:54] Kratacoa commented on #746
Yep, that was it. Sorry for carelesness 😪

Doesn't do it on my computer :/

[2020-09-29 14:36] #743 closed

[2020-09-29 16:42] snide commented on #736
![Frame 1 (1)](https://user-images.githubusercontent.com/324519/94587860-062d7a80-0238-11eb-99b1-a9c9f0c32ac2.png)

[2020-09-29 16:57] jarun commented on #736
Awesome! Thank you so much!

[2020-09-29 17:02] #736 closed

[2020-09-29 17:02] snide commented on #736
Closing the issue. I'll leave the readme to you. I made the video public on youtube, which exists at the same URL posted above.

[2020-09-29 17:03] jarun commented on #736
I am setting it up right now! ;)

[2020-09-29 17:33] jarun commented on #736
it's up! Check it out guys!

Do let me know if you want any adjustments.

[2020-10-02 03:11] #741 closed

[2020-10-04 10:37] timsofteng commented on #719
Hey. How about adding option to enable icons without recompiling?

[2020-10-04 13:29] jarun commented on #719
Which distro is not allowing you to compile?

[2020-10-04 15:02] 0xACE commented on #719
Out of curious how do you automize this for package managers? I guess on archlinux we could just setup som simple alpm-hook to build it on update, but that's just a guess. I think @maximbaz  is a package maintainer and may have some good input.

I think the problem @timsofteng is experiencing is that he cba to maintain `nnn` manually on his pc so he chooses the distro's own release...

[2020-10-04 15:13] jarun commented on #719
We have all the instructions [here](https://github.com/jarun/nnn/wiki/Usage#dependencies).

[2020-10-04 15:19] maximbaz commented on #719
ArchLinux distributes binary packages, compiled once by package maintainers, same as you distribute binaries via Github release, so the only option left for users who dislike the default behavior is to compile their own binaries, and @timsofteng's request is to control icons via environment variables in runtime instead of make config.

[2020-10-04 15:24] jarun commented on #719
I'll leave it as a compile-in feature. Given the few library deps, it's quite easy to compile nnn.

[2020-10-04 17:56] sudo-ghost opened #748 "sourcing"
#### Environment details (Put `x` in the checkbox along with the information)

[ ] Operating System: gentoo
[ ] Desktop Environment: bspwm
[ ] Terminal Emulator: alacritty
[ ] Shell: zsh
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[ ] Issue exists on `nnn` master

so idk if this is a bug or its a me problem but for some reason the plugins wil

[2020-10-04 18:26] 0xACE commented on #748
There are for too few details here so I'll just make a wild guess:

Chances are your `NNN_PLUG` environment variable is within `~/.zshrc`, therefore you need to ensure that `~/.zshrc` is sourced to gain access to the settings your have defined in `~/.zshrc`.

My guess is your `zsh` environment is setup incorrectly so that `~/.zshrc` isn't lading in this case. I don't have `zsh` so I can't help fur

[2020-10-04 18:31] sudo-ghost commented on #748
maybe it needs to be in zprofile? ill try that and report back

[2020-10-04 18:31] jarun commented on #748
What is the output of `echo $SHELL`?

[2020-10-04 18:31] sudo-ghost commented on #748
/bin/zsh

[2020-10-04 18:34] jarun commented on #748
I guess the problem may be .zshrc is not loaded when zsh starts. I see some discussion here: https://stackoverflow.com/questions/49887469/why-wont-zshrc-load

Anyway, it's a local issue why your .zshrc is not loading when zsh starts. It's extremely difficult to solve local environment problems remotely. Please debug yourself.

[2020-10-04 18:34] sudo-ghost commented on #748
also since i just tried it sourcing it in zprofile does not fix the issue

[2020-10-04 18:34] #748 closed

[2020-10-04 18:55] 0xACE commented on #748
@sudo-ghost if `env | grep "NNN_"` doesn't  yield results, `nnn` won't be able to do anything i have `[[ -f ~/.bashrc ]] && . ~/.bashrc` in my `.bash_profile`

[2020-10-04 18:56] 5c0tt-b0t opened #749 "(question) Can I have 'nnn' use the 16 colours set in by my terminal?"
Hi! Thank you so much for this amazing file manager! and also your other projects like buku etc etc.
I was wondering... I have a beautiful theme already and I would like to use it in 'nnn' too, Is this possible? can it respect the base 16 colours?
If not, how would I make a theme for nnn?
I have searched for themes abd found none, but I have seen on Reddit/UnixPorn etc some nicely themed setups.
I

[2020-10-04 19:32] timsofteng commented on #719
I'm using nixos with declarative config and I don't wanna care about any compiling. I have one config which include options for everything in my system.
This is a reason.

[2020-10-04 20:03] 0xACE commented on #749
https://user-images.githubusercontent.com/1482942/93023823-46a6ba80-f5e1-11ea-9ea3-6a3c757704f4.png

i guess they describe the 16 first colors?

infact what the colors do in chat chart is totally up to your terminal

[2020-10-05 01:29] jarun commented on #719
There are several other nice FMs which enable icons by default. Pick one of those.

[2020-10-05 01:54] jarun commented on #749
Use the config options `NNN_COLORS` and `NNN-FCOLORS`: https://github.com/jarun/nnn/wiki/Usage#configuration

You are probably interested in the hex notation for `NNN_COLORS`.

[2020-10-05 01:54] #749 closed

[2020-10-05 09:22] timsofteng commented on #719
I don't ask to enable it by default. I ask to have ability to enable it without recompiling.

[2020-10-05 10:33] 0xACE commented on #719
I guess the reasoning against baking in the support for icons, is that it increases the size of the binary. Tbh, most of the additional changes would barely have any measurable effect on `nnn`s performance.

Fyi maintaining `nnn` locally is trivial. `git clone` it somewhere, run `make` and  `ln -s nnn ~/bin/` or w/e you have setup your `$PATH`, then everynow and then update the `git pull` or w/e p

[2020-10-05 12:59] jarun commented on #719
That's correct. I meant having the capability to show icons in the binary. Because of the [reasons I mentioned earlier](https://github.com/jarun/nnn/issues/719#issuecomment-703271459).

[2020-10-05 14:30] leovilok commented on #749
If you use colors from '0' to 'f' (16 first color registers), I guess it should use your theme's 16 colors.

[2020-10-06 15:28] danrobi11 commented on #719
Hi
I was trying to find a keybind in 'help' in order to copy the full path of the files. I havent found any. Is there a keybind to do that?

[2020-10-06 16:33] jarun commented on #719
When you say copy, I understand it's copy to clipboard. Please try the option `-x`.

if you want to get the path in the terminal, read https://github.com/jarun/nnn/wiki#selection

As I understand from your question, you haven't read the documentation. We can't keep re-iterating documented stuff that we have already spent time on. Thank you for your understanding.

[2020-10-07 23:10] anton-rs opened #750 "How to use unmount keybind?"
When I press 'u' it says 'remote name ('-' for hovered):
What I should insert there?

I mount my USB drive using Udiskie.

[2020-10-08 00:04] #750 closed

[2020-10-08 00:06] jarun commented on #750
The unmount option is for remote and archive mountpoints. I have updated the help. Generally you should use the same program to mount and unmount. In `nnn` you can mount on demand using the plugin `nmount`.

[2020-10-08 00:06] jarun commented on #750
Additional reading: https://github.com/jarun/nnn/wiki/Basic-use-cases#unmount-remotes

[2020-10-08 03:00] chungktran opened #751 "Colors broken in 3.4.1"
[x] Operating System: Windows 10
[ ] Desktop Environment:
[x] Terminal Emulator: wsltty
[x] Shell: zsh/fish
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[x] Configuration options set: `export NNN_COLORS='4521'; export NNN_OPENER=$HOME/.bin/nuke`
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
Release 3.4.1 broke color. Please see attached screensho

[2020-10-08 04:59] jarun commented on #751
That's the new colorscheme (refer to the docs). Use option `-C` for earlier colorscheme.

[2020-10-08 04:59] #751 closed

[2020-10-08 06:55] tobip opened #752 "Going to shell from inside nnn clutters my $COMMAND_PROMPT"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Manjaro ARM
[x] Desktop Environment: Sway
[x] Terminal Emulator: Termite
[x] Shell: Bash
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
When I go to shell from inside `nnn`

[2020-10-08 13:02] 0xACE commented on #752
cba to read and do a proper comparison, but it seems like something in your environment is appending extra details each time your shell environment is loaded.

[2020-10-08 13:23] tobip commented on #752
Well yes, as far as I can tell at least my ~/.bashrc gets reloaded everytime I go to shell from inside nnn.
I don't know if this is expected behavior?

At least I can manually alter my .bashrc to avoid double-changing environment variables.

[2020-10-08 13:41] jarun commented on #752
We just do a `spawn(shell, NULL, NULL, F_CLI);` where `shell` is `$SHELL`.

[2020-10-08 13:41] jarun commented on #752
So I guess you run bash within bash you may see the same result.

[2020-10-08 17:47] 0xACE commented on #752
@tobip

I mean that somewhere in your expansion tree of `~/.bash_profile`, `$PROMPT_COMMAND` adding the data to the existing `$PROMPT_COMMAND`

Correct:
[code]

Incorrect:
[code]

I may be wrong and I'm really just guessing, would probably be easy to try it for yourself by typing `bash` within your `bash` shell and see if the same error appears. (finished writing and saw that jarun mentions this a

[2020-10-09 02:26] jarun commented on #752
Closing this as `nnn` doesn't access random environment variables.

[2020-10-09 02:26] #752 closed

[2020-10-09 13:07] pricheal commented on #749
Isn't this what `nnn -C` is for?

[2020-10-09 21:51] maxandersen opened #753 "when using nnn to mount test.zip error says "missing util" ..could it say what util is missing ?"
--- PLEASE DELETE THIS LINE AND EVERYTHING ABOVE ---

#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: osx
[x] Desktop Environment: osx
[x] Terminal Emulator: iterm2
[x] Shell: zsh
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the

[2020-10-10 01:31] jarun commented on #753
Please refer to the docs, the list of deps in particular: https://github.com/jarun/nnn/wiki/Usage#dependencies

It would be `archivemount` in your case.

[2020-10-10 01:31] #753 closed

[2020-10-10 02:10] jarun commented on #739
We have another issue on this now so I have added the patch to show the name of the utility.

[2020-10-10 02:10] jarun commented on #753
I have added the fix to show the missing utility name. Please test and confirm.

[2020-10-11 01:38] warmos opened #754 "Support switching context while extracting"
Hello,
It can be useful, if you could change the context while you are extracting some 10GB+ file to avoid running another instance of nnn. Just an idea
Thanks

[2020-10-11 02:05] jarun commented on #754
Please use a multiplexer for this purpose: https://github.com/jarun/nnn/wiki#dual-pane
We mentioned dvtm because it is very lightweight.

There are many reasons things can go wrong when utilities are run in the background and the user has no way to know about it.

[2020-10-11 02:05] #754 closed

[2020-10-11 02:20] jarun commented on #754
Few examples:

- we run most of these in interactive mode for safety, so there can be prompts before completion
- things can fail, say. running on low disk space
- new bugs to fix where user force quits

I don't see any ROI in spending time to support and handle these.

[2020-10-11 08:06] maxandersen commented on #753
I don't have a setup to easily build/run it but will try as soon as available.

btw. I searched high and low in docs and never would have found the "Usage dependencies" unless you just pointed me to it. Maybe put this more front and center on readme file ?

thanks for the pointers - definitely helped!

[2020-10-11 08:31] jarun commented on #753
I understand you have missed it. For serious nnn users I would suggest going through the right side bar. It's there. Searching doesn't help as there are multiple pages. I'll now link the deps from Quickstart section.

[2020-10-12 17:21] tobip commented on #752
Yes you were right, in my `~/.bashrc` and at another place I wasn't able to find yet there are commands that add stuff to `$PROMPT_COMMAND`, without checking if this has already be done.
Thanks anyways for taking your time!

[2020-10-13 22:14] krishnakumarg1984 opened #757 "cygwin support?"
In the `README.md`, it is claimed that

However, I don't see any cygwin package for `nnn`. So, is the above claim true? If not, can you either support `cygwin` or remove `cygwin` from that sentence in the project's readme file?

[2020-10-13 23:06] jarun commented on #757
I think we already discussed similar things in #146 and #148.

A project doesn't need to have a package to be able to run on a particular platform as it can be compiled on that.

Feel free to port `nnn` to Cygwin and maintain the package there.

[2020-10-13 23:06] #757 closed

[2020-10-14 07:59] timsofteng commented on #719
Hey. is there any way to use nnn to select files to upload to browsers Firefox and Chrome?

[2020-10-14 10:55] jarun commented on #719
How do you upload to browsers from the terminal? I don't understand the use case.

You can upload and share files from nnn. There's a plugin to do that.

You can also open a file using your browser using "open with..."

[2020-10-14 15:57] objectivephoenix commented on #719
Can `nnn` display line numbers and relative line numbers like vim does? It's easier to type `6j` and move to the 6th file/folder from wherever I am rather than filtering for the file/folder.

[2020-10-14 16:12] ProgrammingLife opened #758 "How to disable icons by default?"
I've downloaded and installed the latest version of NNN and it runs with icons. My terminal can't display icons so I wanna turn this feature off. How can I do it?

[2020-10-14 16:13] Kratacoa opened #759 "nnn's ! command doesn't work properly with kitty (--cwd=current)"
#### Issue
When I navigate to a directory in nnn, exit it with ! and open another window with `launch --cwd=current` (which is the command for `kitty` that allows to open a new window inside the previous directory), it opens inside home directory.
Actually, after doing such an action, even if i cd outside, it keeps opening inside the home directory.
[According to kitty's author](https://github.com

[2020-10-14 16:56] jarun commented on #719
No, because of several reasons:

- we don't show line numbers like vim
- without that we don't think it's convenient to count 15 files (6 was conveniently easy) and then issue 15j
- nnn is not an editor
- nnn does fast line redraws and alost supports half and full page jumps

[2020-10-14 17:07] jarun commented on #719
BTW, another way to navigate fast is to use <kbd>'</kbd> to just to the first file or next matching char.

[2020-10-14 17:10] jarun commented on #758
You have to give some more details like OS etc. There are some auto-generated packages for every release. If you are lucky, you might get something for you distro. If not, compile from source. Refer to the documentation in Wiki for instructions.

[2020-10-14 17:10] #758 closed

[2020-10-14 17:21] jarun commented on #759
`!` does not exit `nnn`, it spawns a shell in the current dir. (In case you want to setup cd on quit, visit the quickstart section.)

We took care of the chdir() thing in https://github.com/jarun/nnn/commit/cfd4a6659623014243696812daba254dd3116e12.

Even if I spawn a shell within nnn and open thunar, I see it opening in the spawned directory:

![](https://i.imgur.com/tGiB7V0.png)

It's possible I

[2020-10-14 17:27] jarun commented on #759
I also see:

[code]

So the current working directory is set correctly within the spawned shell. I am not sure why any other elaborate mechanism is required for any other subsequent processing to understand which location should be opened in the next window.

[2020-10-14 17:32] jarun commented on #759
I tried a similar test by opening another tab in xfce4-terminal and I see it opens in home. So I think this is the problem you wanted to mention.

[2020-10-14 17:34] 0xACE commented on #719
It can but I dropped it because the context numbers block this operation:
![img](https://user-images.githubusercontent.com/1482942/94554495-b192fb00-0249-11eb-9de9-26631897163e.png)

Right now I'm considering either some static symbols rather than dynamically updating relative numbers... But I'm up to my neck with tasks so I won't be doing it this month it seems...

For now just use `'` or filter

[2020-10-14 17:40] 0xACE commented on #759
Afaik this happens because the terminal itself reports it as it's own `cwd` and not the process that is running in the foreground. I have a similiar situation with `st` and `tmux`, just never bothered caring for it... The author in the other thread mentioned `vim` working properly, though I see the same issue with `vim`.... alas I'm not familiar with `launch --cwd=current` so I can't investigate a

[2020-10-14 17:42] objectivephoenix commented on #719
assuming `nnn` display relative line numbers, one doesn't need to mentally count 15 lines.

won't always work as expected, especially in the `~/` folder where there are many hidden directories

[2020-10-14 17:43] objectivephoenix commented on #719
assuming nnn display relative line numbers, one doesn't need to mentally count 15 lines.

won't always work as expected, especially in the ~/ folder where there are many hidden directories

[2020-10-14 18:05] jarun commented on #759
@KlzXS @leovilok please see if this can be resolved easily ([without forking](https://stackoverflow.com/questions/51697742/how-do-i-make-a-background-process-block-for-input-a-la-the-shells-bg-command) and all... I guess this has to do with tcsetpgrp and tcgetpgrp).

Otherwise I am fine with not fixing it and moving on. We can't keep forking as if we have unlimited resource.

[2020-10-14 18:12] jarun commented on #719
I mentioned we do not show line numbers... not sure what you mean by _relative_

It conflicts with the current mechanism to switch contexts by numbers (we use 1 to 4/8).

No it doesn't just because you are familiar with it. I don't use that feature in vim, for example... and I do not have any issue navigating in vim. I show and use line numbers directly there (`:line_num`). As we don't show line n

[2020-10-14 18:14] jarun commented on #719
Also, the screenshot from @0xACE is from his personal branch. It's not mainline.

[2020-10-14 18:33] ProgrammingLife commented on #758
@jarun I'm compiling it from the source. What should I do to turn icons off in that case?

[2020-10-14 18:36] jarun commented on #758
Default compile. Icons are compile-in features: https://github.com/jarun/nnn/wiki/Developer-guides#compile-in-icons-in-terminal

[2020-10-14 18:38] jarun commented on #758
Do spend some time reading the docs. We had spent ours writing it so that we do not have to re-iterate the same info again and again.

[2020-10-14 19:34] jarun commented on #719
@objectivephoenix another great option if you want to get as vim-ish behaviour as possible from a terminal file manager is vifm. Check it out. I know for sure it has this feature you are requesting,

[2020-10-14 21:36] leovilok commented on #759
Why not simply use `--cwd=$PWD`?

[2020-10-14 22:15] leovilok commented on #759
I guess you're right about `tcsetpgrp`, but we wouldn't even need to set it to the subshell PID: setting it to the PID of `nnn`¹ should be enough, as we already do `chdir()`.

¹: well after calling `setpgid(getpid(), 0)` to create the new process group.

[2020-10-15 02:14] jarun commented on #759
@leovilok can you please raise the PR? I experimented with similar which didn't work with xfce4-terminal. Maybe I missed something.

[2020-10-15 02:33] jarun commented on #759
Ignore the earlier comment. Tested with kitty. Works fine.

[2020-10-15 02:39] jarun commented on #759
@Kratacoa please confirm that the patch works as expected for you.

[2020-10-15 09:41] OrkeshNurbolat opened #760 "nnn opens everything with firefox browser, disrespecting the xdg-mime default settings."
[x] Operating System: Arch Linux
[x] Desktop Environment: dwm
[x] Terminal Emulator:st
[x] Shell:zsh
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
Alright , it is like this
I had set up the xdg-open correctly since in the zsh or bash promt
when I type:
  xdg-open Makefile

[2020-10-15 11:49] jarun commented on #760
Please make an effort to find and read the documentation before an issue on a project: https://github.com/jarun/nnn/wiki/Troubleshooting#wrong-file-opener

[2020-10-15 11:49] #760 closed

[2020-10-15 11:51] jarun commented on #760
And also read this from the front page: https://github.com/jarun/nnn#quickstart

Text files are covered.

[2020-10-15 13:02] OrkeshNurbolat opened #761 "Helpless troubleshoot"
Please make an effort to find and read the documentation before an issue on a project: https://github.com/jarun/nnn/wiki/Troubleshooting#wrong-file-opener

_Originally posted by @jarun in https://github.com/jarun/nnn/issue_comments/709234659_

my xdg works correctly in ranger or in the terminal .
only terribly fails in this program .

[2020-10-15 13:04] OrkeshNurbolat commented on #761
lets call it firefox opener instead of nnn , jesus these 8K lines are too long to suckless.

[2020-10-15 13:04] #761 closed

[2020-10-15 13:32] jarun commented on #760
Did you follow the steps in the 2 second point in Quickstart to open text files in VISUAL/EDITOR? The option `-e`.
Do you still see the problem?

It's very very difficult to troubleshoot local issues. nnn is going to be 3 with 1000s of users. We are past that stage and I don't see the problem that you see because distros differ, env settings differ. Even xdg-open has different wrappers on differen

[2020-10-15 17:09] Kratacoa commented on #759
Nope, I'm afraid it doesn't work.
I've compiled the main branch as of the latest commit.
How can I provide some useful information?

[2020-10-15 17:13] jarun commented on #759
The way I tested this is:

- add the following on kitty config to map <kbd>F2</kbd> to open new tab: `map f2 launch --cwd=current`
- run `nnn`
- navigate to a different directory
- press <kbd>!</kbd>
- press <kbd>F2</kbd>

[2020-10-15 17:15] Kratacoa commented on #759
Yeah, my setup is pretty much the same. Cannot reproduce the correct behaviour.
Although, now it does work properly when I open a window while *inside* nnn.

[2020-10-15 17:22] jarun commented on #759
I just tested with `kitty-0.19.1` and it works for me there as well. Sorry but I can't spend more time on this.

[2020-10-15 17:23] jarun commented on #759
My complete kitty config for reference:

[code]

[2020-10-15 18:31] jarun commented on #759
For future reference. The equivalent in `xfce4-terminal` is `xfce4-terminal --tab --working-directory=$PWD`

[2020-10-16 06:09] OrkeshNurbolat commented on #760
Thanks very much for patience , "xdg-mime" are complicated to setup. I think I directly edit their files cause them to mess up somewhere. or a bad flag passed in the spawn.

I wrote myself a  costume opener and  all worked well (nuke is kinda too comprehensive ).
hated the mimes anyway.

the "-e" option opens every text file  with one and only $EDITOR .
the "-c" option does its job well, since the

[2020-10-17 19:25] amanjitsk opened #763 "Hangs indefinitely when `nnn` used in wrapper script"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Ubuntu 20.04 LTS
[x] Desktop Environment: bspwm
[x] Terminal Emulator: st/kitty
[x] Shell: zsh,bash
[x] Custom desktop opener (if applicable): nwrap
[x] Program options used: none
[x] Configuration options set: `export NNN_OPTS="cCdEfHorQSx"`
[x] Issue exists on `nnn` master

#### Exact steps to re

[2020-10-17 20:44] 0xACE commented on #763
I get the feeling that `nnn` is resolving to some other function recursively in your environment. Meaning `nwrap` is expanding `nnn` to something else other than the `nnn` executable recursively...

[2020-10-17 20:54] amanjitsk commented on #763
Ah okay, possibly. I will look into it more to see what is going on!

[2020-10-17 20:58] amanjitsk commented on #763
So I entered the full path to the executable as
[code]
and it still does not work.
Seems really weird. And this did not happen until yesterday.
It was just after I pulled from master today

[2020-10-17 22:30] #763 closed

[2020-10-17 22:31] jarun commented on #763
I think we made a bad fix. Please test master and confirm.

[2020-10-17 22:35] amanjitsk commented on #763
Bingo, fixed! Thanks for the quick response!
This program is awesome btw!

[2020-10-17 22:37] jarun commented on #763
Also, many thanks for reporting the issue. The patch could have made the next release a huge blunder.

@Kratacoa just FYI, we had to revert the patch. As I could see between kitty and xfce4-terminal, there is no single absolute way to have the behaviour you were looking for. I may spend some time on it if I ever get the chance but there's no guarantee as I do not use kitty (or xfce4-terminal with

[2020-10-17 22:42] jarun commented on #763
@amanjitsk

Thanks to a highly capable and responsive team who understand the world doesn't need another bloatware... and thanks to awesome users like you who loves a niche program for what it wants to be and remain. :)

[2020-10-17 22:48] jarun commented on #759
Reopening as we had to revert the patch due to side-effects. Feel free to pitch in.

[2020-10-18 00:34] leovilok commented on #759
We might want to reset the terminal process group on exit to what it was before.

[2020-10-18 00:53] jarun commented on #759
Please try it out and please confirm with @Kratacoa.

Also, please confirm #763 is not reopened in the workflow.

[2020-10-19 06:17] Awebb commented on #719
The maintainer could easily provide an "nnn" and "nnn-icons-on" package. It wouldn't probably not be a biggie and I think finding a good name would be the hardest job.

[2020-10-20 02:24] jarun commented on #719
@maximbaz can you check the possibility of adding a package that supports icons out of the box?

[2020-10-20 09:51] maximbaz commented on #719
Sure!

As was mentioned in this thread, there are no technical challenges in building various flavors of `nnn`, not for a maintainer nor for a regular person compiling the tool locally. It's uncommon to provide distro packages for all possible combinations of compilation flags, so instead we provide only one binary, usually the one that is based on default options (as decided by the Makefile).

As

[2020-10-20 12:33] jarun commented on #719
We can't add 2 different flavours for every distro. In commit  56757860d438c3ab346447f20e996011407360a2 I have added support for generating 2 additional static binaries with icons-in-terminal and patched nerd font support.

I don't have a AUR login anymore. Can you please request the maintainer of the nnn-icons package to generate a package for nnn-nerd as well? Probably after the next release.

[2020-10-20 13:41] maximbaz commented on #719
Cool!

The packages on AUR need active maintainers, it doesn't help just generating other packages and leaving them lying on AUR - but don't worry, we don't need to pre-create all possible AUR packages, once there is an Arch user who actually wants to use `nnn` with Nerd fonts, they will easily upload the AUR package 😉

[2020-10-20 13:51] jarun commented on #719
Please notify the nnn-icons maintainer anyway in case he is interested. The nerd support is still unreleased so he may not know.

[2020-10-21 15:49] siraben opened #766 "Segfault when setting plugin"
I was trying to set a plugin to page the current file using less, however it segfaults when I trigger it with `;p`

#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: macOS
- [ ] Desktop Environment:
- [x] Terminal Emulator: kitty
- [x] Shell: zsh
- [ ] Custom desktop opener (if applicable):
- [ ] Program options used:
- [ ] Configuration options

[2020-10-21 16:45] 0xACE commented on #766
Checked out `master` just for you:

Cannot replicate the error.

Nor can I replicate the error with my personal branch.

run `make debug && gdb nnn` and give us a `bt full` when you hit the segfault

[2020-10-21 17:43] jarun commented on #766
I can't reproduce this on master either.

Please provide the following details as well:

- which other `NNN_` config have you set?
- From the help screen copy and share everything from `PLUGIN_KEYS` line to the end.

[2020-10-22 08:35] siraben commented on #766
Looks like my [home-manager](https://github.com/nix-community/home-manager) config expanded the bash variable, so inspecting the value of `NNN_PLUG` I get the following;
[code]

[2020-10-22 08:59] KlzXS commented on #766
No, I still can't get it to segfault. `less` just fails to with `Missing filename ("less --help" for help)`, which I would expect.
But I don't have macOS, maybe it's related to being mac?

But do give as a stack trace as @0xACE suggested.

[2020-10-22 09:15] jarun commented on #766
@siraben

In my system:

[code]

I think you are using double quotes around the alias and that's the problem.

Do you really want the the `$nnn` to be gone? Otherwise please fix that. I think that is causing the problem. Please ensure the removal doesn't happen.

I am closing this as a local environment problem. Please get back if fixing the above doesn't fix your problem. We will reopen the issue

[2020-10-22 09:15] #766 closed

[2020-10-22 09:16] jarun commented on #766
Please ensure the `$nnn` is not removed whatever may be the reason. Because that's an invalid input.

[2020-10-24 04:43] jarun commented on #759
@leovilok in case you might not have noticed, please feel free to experiment with this. I did try what you suggested but it didn't work. Very much possible I made a mistake somewhere.

[2020-10-24 17:11] leovilok commented on #759
@jarun I had noticed, but my interest was quite low, and I finally forgot about this. Note that I never tested anything in this issue, every suggestion I made came from the docs or other discussion I read on the web. But I'm still unsure about how/when `getpgid`/`setpgid` *should* be used (except for kitty). I don't know how other TUI programs use it, I've not seen source code with these functions

[2020-10-24 17:43] jarun commented on #759
No problem! I will leave it open. I assumed you have more clarity on this.

[2020-10-25 01:20] aintyourcat opened #767 "nnn icons missing with tmux"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Void Linux
[ ] Desktop Environment:
[x] Terminal Emulator: st
[x] Shell: bash
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
This is nnn on st:
![10-26-2020_09:07:55](https

[2020-10-25 02:16] 0xACE commented on #767
I dont have the icon fonts installed so I cant really help much. But are you sure you are loading the exact same version of `nnn` in tmux?

Because it shouldn't matter to `nnn`. `nnn` is blind and just dumps the exact same text afaik.

[2020-10-25 02:24] aintyourcat commented on #767
Sure, I only have 1 version of nnn installed

[2020-10-25 04:54] jarun commented on #767
I can repro this. The reason is tmux runs n 8-color mode (at least that's what is the value of COLORS when I run nnn in debug mode and see the logs):

[code]

[2020-10-25 04:54] #767 closed

[2020-10-27 05:44] siraben commented on #766
I tried `NNN_PLUG='p:-_less -iR $nnn*;l:-_git log' nnn`, and it segfaults when invoking the `p` plugin key.

[2020-10-27 05:56] jarun commented on #766
In that case, please provide all the details requested earlier.

[2020-10-27 05:58] jarun commented on #766
Also, what is your version of nnn? Is this happening on master?

[2020-10-27 06:03] siraben commented on #766
Side note; after segfault it seems to mess up how my terminal receives control characters as well.

My version of nnn is 3.4. I just tried it on master and got the same result.

No other config set.

[2020-10-27 06:18] jarun commented on #766
Mess-up is expected after ncurses faulty exit. Please provide the details @0xACE and I requested in the first 2 responses.

[2020-10-27 06:19] siraben commented on #766
My `gdb` isn't properly configured on darwin, so I'll see what happens on Linux and provide a backtrace.

[2020-10-27 16:22] jarun commented on #766
I just tried it on a macOS shell using [fastmac](https://github.com/jarun/fastmac) and the files open as expected in `less` when I press `Alt-P` or `;P`.

It's Darwin and brew installed nnn v3.4:

[code]

Please confirm if your less is aliased to something? Try `which less`. For me it's `/usr/bin/less`.

[2020-10-27 17:07] siraben commented on #766
`which less` gives `/usr/bin/less` for me

[2020-10-27 17:12] jarun commented on #766
Can you share the details under `PLUGIN KEYS` in help screen?

[2020-10-27 18:10] 0xACE commented on #766
Seems like they have `lldb`, could you generate a backtrace from:
1. `make debug && lldb ./nnn`
2. start it by typing `run` in `lldb`
2. reproduce the segfault
3. `bt` (or if they have a equivalent to `bt full`

This could be helpful
https://lldb.llvm.org/use/map.html

[2020-10-28 04:03] siraben commented on #766
How do I do this?

[2020-10-28 04:04] siraben commented on #766
Looks like the segfault also occurs when running the other plugin (git log) with `;l`.

[2020-10-28 04:06] siraben commented on #766
I can't select the text so here is a screenshot of `lldb`
<img width="772" alt="nnn segfault" src="https://user-images.githubusercontent.com/8219659/97389696-e048d380-18d2-11eb-8048-3a69622b46e9.png">

[2020-10-28 04:40] jarun commented on #766
Please provide the full backtrace however you can.

[2020-10-28 04:43] siraben commented on #766
That seems to be the full backtrace.

[2020-10-28 04:53] 0xACE commented on #766
@siraben, we would need the variables in `frame #3`. I'm not familiar with `lldb` but you need to print out the local variables in that frame. and potentially `frame #2` could be interesting. maybe `frame 3` and `fr v` should yield some results. im going to bed, seems like jarun is around at least. good night

[2020-10-28 10:39] jarun commented on #766
@siraben I think you may not have compiled nnn in debug mode: https://github.com/jarun/nnn/wiki/Developer-guides#debugging-nnn

[2020-10-28 10:40] jarun commented on #766
Also, run `bt full`

[2020-10-30 15:50] nathanielevan opened #769 "Dynamic X window title in nnn?"
Hi, first of all thank you so much for nnn, it is now my go-to file manager on Linux and has been for several months now, loving it.

**Describe the solution you'd like**

I would like it if nnn could display an X window title that shows the current directory, and changes dynamically when I move between directories. Something like, say, `nnn: ~/Documents/project-1/bin`. (For comparison, ranger can

[2020-10-31 01:23] 0xACE opened #770 "Children processes are decoupled from the owner shell"
Hey, I'm tired so I'll keep this short:

Example:

opening a image with `nnn`, results in `xdg-open` spawning the image viewer. When you go to your favorite process monitor, you can see that in the tree of processes, that the spawned version of `xdg-open` isn't a child of `nnn`...

on my pc it spawns under a new branch under:

[code]

(tested it in `master`)

I think we shouldn't condone orphaning

[2020-10-31 06:12] jarun commented on #769
I can understand this may be good to have if you having only 1 context. However, `nnn` has 4 (can have up to 8 compiled-in) contexts where you can browse different directories. So showing only 1 is not even technically correct.

In addition I would also like to avoid good-to-have configs and extra processing given the current feature completeness of the project.

[2020-10-31 06:12] #769 closed

[2020-10-31 06:15] KlzXS commented on #770
This was done on purpose. I think it had something to do with `nnn` going all out on the cpu if you closed a terminal with nested `nnn`s.

`ranger` also opens files like this, I assume other file managers as well, so I don't see why this is an issue.

[2020-10-31 06:16] jarun commented on #770
We did it to fix the zombie child-process issue. More details here: https://github.com/jarun/nnn/issues/449

There's no going back. Just close the image viewer when you are done admiring the former POTUS. Given the current situation, many would not even close it or set it as the desktop wallpaper.

[2020-10-31 06:16] #770 closed

[2020-10-31 12:39] 0xACE commented on #770
Ah, now when you mention it, I remember... I'm so glad i just asked rather then research it myself, thank you <3

For future reference, it's a problem for me because I needed to make `nnn` "swallow" it's children processes so they "inherit" or take the space `nnn` was using

![inheritance](https://user-images.githubusercontent.com/1482942/97779435-f4602f80-1b75-11eb-8e23-a053993c6262.gif)

the gif

[2020-10-31 14:55] nathanielevan commented on #769
Ah, well, regarding the context, you can also display the current context along with the directory the context is in, like `nnn: ~/Documents/project/bin [1]`, so that way I think it can be a bit more informative and useful. Now that you say it, ranger also has a feature called "tabs" (similar to nnn's contexts), but it also only displays the current tab you're in, in the window title.

That being

[2020-10-31 15:09] jarun commented on #769
Thanks for your understanding.

It becomes a problem for us if users request each and every minor feature they see in other file managers.

I would suggest you request the other file manager to add the features you like in `nnn`. That way you don't have to switch. Every file manager has its own plus points and I don't think it's a bad thing to have choices. For example, in this case, as I understa

[2020-11-01 01:09] rieje opened #771 "Processing $NNN_SEL?"
My attempt at trying to process `$NNN_SEL`:

    while IFS= read -r -d $'\0' file; do
       echo $file
    done < <(cat /tmp/.nnn-selection)

results in the last filename not printing. Should a null character also be appended to the last filename in `$NNN_SEL` and if not, how should all the filenames be processed? Since this is probably a technical support question, maybe I should tack on a tange

[2020-11-01 01:59] jarun commented on #771
@KlzXS or @leovilok can you please check this out?

[2020-11-01 05:53] jarun commented on #771
@rieje please check how xargs is doing this.

Here's what I see with 7 files selected:

[code]

NUL terminator is not required at the end.

[2020-11-01 05:53] #771 closed

[2020-11-01 22:10] aintyourcat commented on #767
Thanks! Fixed it by adding: set -g default-terminal "screen-256color" on tmux configuration file.

[2020-11-02 02:36] jarun commented on #767
Awesome! Thank you for the solution. Will add it to the docs.

[2020-11-02 02:57] jarun commented on #767
Added here: https://github.com/jarun/nnn/wiki/Troubleshooting#tmux-configuration

[2020-11-05 17:51] sucrecacao opened #772 "Why "unorthodoxe" file manager ?"
In my opinion it is the most orthodox file manager as it does one thing and do it well.

[2020-11-05 18:05] jarun commented on #772
If we go by the book - "Orthodox file managers are file managers that follow a two-panel paradigm, and are heavily influenced by Norton Commander."

`nnn` will never be 2-pane (by itself) or anything like norton commander. Hence the tagline.

And the other way to look at it is - `nnn` has been disruptive because of the type of features it delivers and design principles. It's nothing like any other

[2020-11-05 18:05] #772 closed

[2020-11-06 13:16] raghavmallampalli opened #773 "preview_tui plugin renders unreadable preview when bat is installed"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: WSL2 Ubuntu 18.04
[ ] Desktop Environment:
[x] Terminal Emulator: Windows Terminal Preview + tmux
[x] Shell: zsh
[ ] Custom desktop opener (if applicable):
[x] Program options used: none
[x] Configuration options set:
[code]
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

[2020-11-06 13:20] raghavmallampalli commented on #719
The nerd font icons seem to have some misalignments on the master branch. There seems to have been some discussion regarding this on the [nerd font PR](https://github.com/jarun/nnn/pull/722). Is there some modification to be made to get the icons to align? Also, is there any way to set the colors of the icons according to user preferences? For example, use the same coloring as the text (blue for d

[2020-11-06 15:21] jarun commented on #719
@raghavmallampalli

Can you please provide some more details on what you mean? I don't think all icons take the same space.

Yes, trivial change in icons.h to change the icon color.

[2020-11-06 15:24] jarun commented on #719
Currently nothing is specified for these 2. Which means the color from `NNN_FCOLORS` is used.

[2020-11-06 15:27] jarun commented on #773
@leovilok can you please take a look?

[2020-11-06 15:36] leovilok commented on #773
I'll try to reproduce myself later (though not on Windows), but can you open a file in `bat` in `tmux` outside of `nnn` @raghavmallampalli ? does it show the same issues ?

[2020-11-06 15:40] leovilok commented on #773
@raghavmallampalli also, what's your $PAGER set to? If it's set to `less` without the `-R` option that's an issue. I think that we already discussed it for `preview-tui`, maybe we should enforce `less -R`, as other `$PAGER` values would most likely not work.

[2020-11-07 06:01] raghavmallampalli commented on #773
Unable to repro outside of nnn. Using `less` and `bat` together on a standard text file works fine, even without the raw flag. I suspect it has something to do with the FIFO, I'm not sure how to use `bat` to page a FIFO (other than just copy pasting the code in preview_tui).

Sorry if I didn't make it clear in the original post, `less` was my pager outside of nnn and setting it to `less -R` in `pr

[2020-11-07 06:16] raghavmallampalli commented on #719
Right, sorry for being vague. What I meant is that the larger icons push the text aside while being displayed. It should be visible in the screenshot (see .pythonrc.py). Would it be possible to get the text to line up to the same column?

Thanks! This worked for me.

What I meant is, have the color of the icon always match the text next to it. It was just an arbitrary example and I prefer the gran

[2020-11-07 08:50] jarun commented on #719
I think if you specify 0, that would do.

I think it's pretty standard. Tons of packagers have `nnn`. Can't spend time on things done years back and working in standard repos.

[2020-11-07 08:57] jarun commented on #719
In fact the installation section says: "PREFIX is supported, in case you want to install to a different location."

Please spend some time on the docs. `nnn` is simple to start with, but has tons of interesting things in it.

[2020-11-07 18:57] jarun commented on #719
Regarding the icons issue, @snide and @KlzXS is there anything we can do about this?

[2020-11-07 19:06] snide commented on #719
I can look into the spacing issue with Nerd Fonts. Unfortunately it's more a problem with NF themselves, not NNN. The few I've fixed were mostly fixed by changing to an alternate icon that didn't have the spacing issue.

Not a great way to test this stuff without a full list of faked extensions. I can harden what's in there and put up an eyeball PR tomorrow with some manual checking if that's sati

[2020-11-07 19:10] snide commented on #719
Also, and just as a reminder, NF provides patched fonts. What one person might see for their font of choice might be different for another font of choice. They should carry the same irregularities, but there's quite a few patched fonts they support. Something to keep in mind.

[2020-11-07 19:13] jarun commented on #719
Sure thing!

[2020-11-08 09:57] jarun commented on #773
I tried the following without any changes to any plugin:

    export PAGER='bat --theme zenburn'
    nnn -a

Then `Alt-P` on file nnn.c. It opens in bat and renders correctly.

Can you try this simple thing with ZERO changes in the `preview-tui` plugin? And definitely not with:

Plugins are indicative examples. With the bandwidth we have, we can't keep supporting users changing the plugins and thi

[2020-11-08 09:57] #773 closed

[2020-11-08 16:59] ralphee opened #774 "autojump plugin / jump vs autojump"
#### Environment details (Put `x` in the checkbox along with the information)

[x ] Operating System: Arch Linux
[x] Desktop Environment: DWM
[x ] Terminal Emulator: st
[ x] Shell: zsh
[ ] Custom desktop opener (if applicable):
[ ] Program options used:
[ ] Configuration options set:
[ ] Issue exists on `nnn` master

ref: autojump Plugin -> (https://github.com/gsamokovarov/jump)
using jump I recei

[2020-11-08 18:11] jarun commented on #774
@snide please take a look.

[2020-11-08 18:26] jarun commented on #774
I think you are using the older script. The latest script does not have the message: `autojump missing`.

Also, jump and zoxide are supported on master. You can copy manually and try. But I would suggest you wait for the next release, then update your plugins and give it a try.

[2020-11-08 18:26] #774 closed

[2020-11-08 18:28] jarun commented on #774
You can confirm this easily by comparing the autojump plugin in master to your _installed_ copy.

[2020-11-08 18:40] ralphee commented on #774
confirm working now with updated version. Thxs!

[2020-11-09 10:13] raghavmallampalli commented on #773
That worked, thank you.

[2020-11-09 11:06] jarun commented on #773
You are welcome!

[2020-11-10 00:36] gyvess commented on #719
Another minor cosmetic gripe, but can you add an option to remove/customize the arrows that appear if there are more files above of below the currently highlighted file? I personally don't like the look and find the file count in the status bar enough to know my relative current position. While I would disable it, at the same time I can also see someone else wanting to customize the arrows with a

[2020-11-10 03:09] jarun commented on #719
Sorry, can't add a program option for something this trivial. While initially I also thought it's not of much use, now I see it's a very quick way to know if there's more below or above.

It's not easy enough due to scrolloff and needs you to do the math we are doing mentally.

Finally you can remove the blocks enclosing the following from the code (only 1 instance each):

[code]

[2020-11-10 03:13] jeff-hykin opened #775 "Double/Triple Esc"
**Describe the solution you'd like**

When in the normal context (ex: `nnn` with no arguments) when Esc is pressed twice back-to-back, exit as if `q` were pressed.

(I would also be fine if a single press of Esc were to exit like pressing `q`)

**Why? (why not just use q)**

Two cases

Type-to-nav, specifically as a replacement for cd (the `alias n="nnn -Ano"` is wonderful, thank you for those opt

[2020-11-10 03:21] jarun commented on #775
We had considered this before but the argument from @KlzXS was - it might become an issue for seasoned vim users who press `Esc` frequently to move out of the command mode. And I tend to agree with that argument.

However, I am just wondering that we quit if `Esc` is pressed twice consecutively _only_ when we are out of any filter/status bar edit mode, would that be enough. So if the user is in fi