[2019-07-15 14:33] jarun commented on #306
I forgot about the `F2` key. Added as an undocumented key now.

[2019-07-15 18:06] relapi opened #307 "Batch rename doesn't work on MacOS"
Batch rename on MacOS doesn't work, I think due to xargs not having the `-d` option (used here): https://github.com/jarun/nnn/blob/master/src/nnn.c#L1174

Similar issue here: https://github.com/jarun/nnn/issues/143

[2019-07-15 18:12] jarun commented on #307
Kindly submit a patch.

[2019-07-15 19:25] jarun commented on #307
Please confirm the patch works.

[2019-07-15 19:49] relapi commented on #307
That fixed it :) thanks so much ❤️ ❤️!

[2019-07-15 20:03] relapi opened #308 "Homebrew formula broken for --HEAD install"
`brew install nnn --HEAD` results in the following error: `Errno::ENOENT: No such file or directory - scripts/auto-completion/bash/nnn-completion.bash`

I assume it's because the scripts were moved to `misc` here: https://github.com/jarun/nnn/commit/794a0e27091b63f997fc829d0288cde5a4a2edbd

[2019-07-15 21:23] 0xACE commented on #308
Yes it seems like you found the correct commit that caused this incompatibility.

I'm not familiar with `brew` yet but I'm guessing your attention should be directed towards:

https://github.com/Homebrew/homebrew-core/blob/master/Formula/nnn.rb#L20-L22

and have the `recipe` target `misc/...` rather than `scripts/...`

You could run this if you have `curl` and `sed` on your machine:

`curl https:/

[2019-07-15 21:38] 0xACE commented on #306
I will see if I can make my patch utilize `printprompt()` better. Still too busy to deal with it atm.

Yeah I always use master, but the past week has been troublesome as some of the changes I have made are now also conflicting with the changes in the current master, this will further delay my progress. But yes, I always send clean up-to-date patches. I wouldn't expect to be able to work on the pa

[2019-07-16 01:25] jarun commented on #307
:+1:

[2019-07-16 01:27] jarun commented on #308
That's correct. We'' have to update the formula on next release.

[2019-07-16 13:09] jarun commented on #308
I'll keep this open till next release.

[2019-07-16 13:11] jarun commented on #306
The Arch Wiki page looks cool. Does Wikipedia use the same format too?

[2019-07-16 13:25] 0xACE commented on #306
I wouldn't be too sure on that considering Arch Wiki has some code blocks related things
e.g:
[code]

And iirc wikipedia even has sourcecode highlighting etc, and the current Arch wiki page would likely not be appropriate to copy paste as is to Wikipedia as it probably goes too deep into configurating `nnn` rather than just being a informative article about the product.

[2019-07-16 13:33] jarun commented on #306
No, for Wikipedia it should be introductory. Whenever you find the time.

If you are on Arch Linux can you share the output of "pacman -V|base32|head -1"?

[2019-07-16 13:44] 0xACE commented on #306
Yeah, I'll see, I think wikipedia will have more strict rules to adding content, it can't be a "sensationalist" article...

My main arch machine is a bit behind but I've got other arch machines which are up to date:

My main machine yields: `Pacman v5.1.1 - libalpm v11.0.1`

And one of my server (updated last week I guess): `Pacman v5.1.3 - libalpm v11.0.3`

My `nnn` install is overshadowed by a l

[2019-07-16 14:24] jarun commented on #306
I am trying to create an account on Arch Wiki and the question (What is the output of "pacman -V|base32|head -1") is from there.

But if I paste "Pacman v5.1.3 - libalpm v11.0.3" it says the answer is wrong!

[2019-07-16 14:57] 0xACE commented on #306
hahahahahaha That's cute. My bad I was wondering why you requested `base32` while being `human`

`BIQC4LJNFYQCAIBAEAQCAIBAEAQCAIBAEAQCAICQMFRW2YLOEB3DKLRRFYZSALJANRUWEYLMOBWS`

[2019-07-16 15:09] jarun commented on #306
Done! Thank you!

[2019-07-16 15:32] jarun commented on #306
Made a few edits. I am thinking, would it be a good idea to retire the hacking nnn page and move the entire content to Arch Wiki?

[2019-07-16 16:40] 0xACE commented on #306
Yeah, noticed, they were nice ;)

I would argue against it. I believe the `archwiki` is useful for acquiring new users but should be treated as a separate venture.

I would suggest our focus should rely on just the git repo for full documentation, meaning a something like a `README.md` or something similar that lists these configuration guides. This way it is useable by anyone cloning the code.

O

[2019-07-16 16:47] jarun commented on #306
It was all on the landing page earlier. I had to move it to `hacking nnn` because of frequent edits. Reading your comment I think I am back to my senses. ;)

Wow wow wow! I need this. Can you please add this to the `hacking nnn` page? Maybe a section on `pager based file open`?

[2019-07-16 18:04] 0xACE commented on #306
I added instructions for users to abuse their pager for personal benefits in the `hacking nnn` wiki entry. though the instructions might not work exactly, unless they actually `git clone` my repo and switch to the personal branch. Again, too busy to verify all this information atm. https://github.com/jarun/nnn/wiki/hacking-nnn#adjust-your-pager-to-view-files-better

[2019-07-17 01:02] jarun commented on #306
Oh, I'm sure no one would mind a little eccentricity ;)

[2019-07-21 00:19] jarun commented on #307
Oops, my fix was completely wrong!

@0xACE can you please take a look what needs to be done here?

[2019-07-21 02:56] jarun commented on #307
Sorry, I was requesting @ath3 to take a look.

[2019-07-21 18:30] 0xACE commented on #307
I haven't been home in a while and kinda only have access from a android phone. Another concern I want to bring up is, are you 100% sure that file names are correctly "quoted" when you pass them to programs?

Because I recall at multiple times where files containing `spaces` or `'` or other wierd characters are opened incorrectly. I haven't researched it enough to tell what's going on, but commonl

[2019-07-21 19:02] jarun commented on #307
Your analysis is correct. The problem right now is macOS xargs doesn't have the `-d` option. I think we'll have to wait for @ath3 here.

[2019-07-22 16:52] jarun commented on #307
@relapi For the time being you do have the option to install xargs from findutils on macOS (probably via Homebrew).

[2019-07-22 17:26] jarun commented on #307
@relapi the issue should be fixed now. Please test and confirm.

Make sure you test with filenames having spaces, single/double quotes etc. in them,

[2019-07-22 17:57] relapi commented on #307
@jarun That build seems to work (for files and directories), but throws an error on directories (even when hitting r but then not modifying anything)

[code]

given the following directory structure:

[code]

Regarding using xargs from findutils, I think going that route would be fine however that solution currently breaks all the commands in here https://github.com/jarun/nnn/issues/143 (with the

[2019-07-23 01:29] jarun commented on #307
I see. Then xargs from findutils is not the correct way to handle this.

I will check the issue.

[2019-07-23 01:43] #307 closed

[2019-07-23 01:44] jarun commented on #307
Try now. I think the problem was the output was spewing.

[2019-07-23 11:50] relapi commented on #307
@jarun 👍 Change looks good. Thanks for your work on this!

[2019-07-23 13:25] jarun commented on #307
No problem! If possible, please consider donating a little to the project if you think it's worth.

[2019-07-24 00:13] 0xACE commented on #306
Seems like my hiatus will be overextending a bit further than anticipated... Anyhow I wanted to check with what you think of my latest hack:

When `nnn` is running within `tmux` 3 new keys are introduced: `"`, `%` and `N`.  They all offer the same functionality: open a new shell in the CWD that you are browsing,  basically another `CONTROL('G')` but without closing down `nnn`. The first 2 keys wil

[2019-07-24 03:38] jarun commented on #306
I use dvtm nowadays. tmux appears very slow on wsl.

I think we show nnnlvl in help screen.

[2019-07-27 13:14] jarun commented on #306
@0xACE For the wikipedia page, a dual-pane screenshot with dvtm would be cool. What do you think?

[2019-07-27 18:58] 0xACE commented on #306
Heyy, absolutely though `dvtm` isn't rendering correctly on my machine so I'll figure it out before I post it (I used dvtm in 2012 but it crashed too frequently, has it gotten more stable now?)

Btw I've been busy hence my silence... But another annoyance I have come by is the commit bfc8d0a7d3ea39b19b3367444f98768995eb9e32

On pc if you ever use the mouse to click on the terminal to highlight or

[2019-07-28 02:26] jarun commented on #306
looks like that

This was to make toggling nav-as-you-type easier on handhelds

did you try clicking again (without your local changes)? It would toggle nav-as-you-type. And it's really annoying, we should try to make it Termux-only. Perhaps I didn't notice because I use a drop-down terminal.

It appears to me `/` is not a valid metacharacter. Please confirm. It also can't be a valid file-name cha

[2019-07-28 07:42] jarun commented on #306
In commit 1b340cc5f3c1e3e22e249f70e50bc1de6f17d807 I have limited this to click on last 2 rows.

[2019-07-28 14:58] 0xACE commented on #306
Oki, I will give it a try, but I have started to like `tmux` because a lot of my tools support it well.

Yeah I guess I could click, but my mind as a "user" isn't smart enough to figure that out so my natural instinct is to hit "escape" (I believe I'm suppose to hit "^T" but I'm not smart enough to realise it)

Yeah I detect it by `ch == '/'`. The philosophy of using `/` is because `/` as far as I

[2019-07-28 17:13] jarun commented on #306
This is now limited to last 2 lines.

We'll have an elaborate discussion on a separate thread on this.

We'll see if we can have something better with /

I think it's a matter of habit. In earlier days, I had to switch keybinds often and I was regualrly using nnn too.

[2019-07-29 22:30] jarun commented on #306
@0xACE here's some input for the ArchWiki page:

https://old.reddit.com/r/archlinux/comments/cjcwet/request_for_suggestions_on_nnn_archwiki_page/

[2019-07-30 02:12] jarun commented on #306
The alias in the .bashrc example don't show completely.

[2019-07-30 11:26] 0xACE commented on #306
I'll see when I can find the time for it. Since you posted it a couple of very insightful comments has appeared. I'll let the thread settle down before I meddle with it.

Regarding `CTRL-G` Maybe i should first establish in the article that `nnn` is very minimal and comes with a `zeroed` setup so, if you want to exit out of `nnn` into the current working directory you could add that bashrc alias.

[2019-07-30 16:43] jarun commented on #306
Can you please fix the following line in the Wiki?

    alias ncp="cat ~/.config/nnn/.selection | tr '\0' '\n'"   # access the selected files from your terminal

It doesn't show correctly. Also. it should be:

    alias ncp="cat ${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.selection | tr '\0' '\n'"  # access the selected files from your terminal

[2019-08-01 20:20] LoafingBunny commented on #306
Hi, what about integrating icons like lsd does? https://github.com/Peltoche/lsd

[2019-08-02 21:37] serussell opened #311 "Change archive path(s)?"
Creating an archive of files deep in a subdirectory, `nnn` roots the files at the home directory; this creates an archive with a deep tree structure.  Is there a way to change where the archive is rooted, say, in the current directory?  Or relative to the where the archive is being created? One of the two following behaviors would be less surprising, to myself, at least:

1) If the archive is bein

[2019-08-03 02:04] jarun commented on #311
This happens when you _select_ some files and archive those, not when you archive the current entry. `nnn` supports selection across directories. While this may look surprising there are 2 good reasons this is done:

- the paths to the directories are preserved when multiple files are selected from multiple paths. This makes it simpler for the user to identify which file came from where on extract

[2019-08-03 02:04] #311 closed

[2019-08-03 16:10] 0xACE commented on #311
Hey I've been away but I should mention:

The feature you are requesting has actually been implemented and I'm using it locally. It works by stripping the selected files `fullpath` with `CWD` basically... I don't know what consequences this can have but it fits my use case better... For example what happens when `CWD` doesn't match some of the selected files? In my patch it simply doesn't strip th

[2019-08-03 16:21] 0xACE commented on #306
I guess that could be easy for `DIR`, `LINKS`, `FIFO` `FILE`, `PIPE` and  a couple of others im forgetting to mention but they are already indicated with `/` `@` `|` etc... But if you are expecting symbols for specfic  file types it's unlikely that will happen...

Im guessing these are the lines you want to target
https://github.com/jarun/nnn/blob/master/src/nnn.c#L2324
though I wouldn't recommend

[2019-08-03 17:39] jarun commented on #311
@0xACE can you please share your patch as well? Someone looking for this may get an idea from it.

[2019-08-03 17:59] jarun commented on #306
I missed this. Thanks for backing up. Yes, we are not going to package and show any icons. In addition to the indicators, I have added a patch in master which would also sort files by type. Also if you are looking for mkv files use the filter `.mkv` (exact string match) and that should show you the expected results.

No problem! Thanks for fixing it. I removed the entry for a while because it was

[2019-08-03 21:40] serussell commented on #311
@jarun What you describe would make sense, except:

* The tagged files were all in the same directory, and
* The archive being created was in the same directory

The archive created had full paths, despite there being only a single path among all files selected, and (therefore) no possibility of duplicate file names.

E.g., to recreate:

1. `nnn` and navigate down into some sub-directory
2. Toggle

[2019-08-03 23:00] 0xACE commented on #311
I should mention that #313 is very naive to solving this issue. For example if you select files outside of the `CWD` they will be using the `fullpath` rather than relative to `CWD`. But it makes my life easier, so I keep it locally at least.

Since `nnn` is written in `C` I chose this simple method over than over complicating it. Yes the original plan was to use fully relative paths but atm I woul

[2019-08-03 23:27] 0xACE commented on #306
And to clarify it for @LoafingBunny implementing it would sort of go against the design philosophy of `nnn` which sort of entails `KISS` and there isn't a simple and effective way to make those results accurately represent the data without significantly hogging the program down.

But fret not, eventually™ I will find some middle ground and make `sixel` show some simple thumbnails for pictures and

[2019-08-03 23:55] jarun commented on #311
@0xACE

I think this is the only way to do it other than having to take really roundabout routes. In the PR, can you make the similar change for macOS as well?

Of course, the string manipulation would take its time on low-power handhelds, really long paths and 10K files.

I have conflicts regarding accepting this mainline. Preserving full paths is totally correct if you consider the fact that sel

[2019-08-04 00:12] jarun commented on #306
It's their turf so we can't do much. I added two important characteristics now.

We can get help from @ath3 when he is back. He is great with scripts.

You need a keybind to jump to the first file in the directory. That's useful, yes.

I'll think about it

[2019-08-04 00:32] jarun commented on #306
Instead of adding a new keybind, I am thinking of handling it the following way:

- combine the workflow with `SEL_RENAME` for a single file
- add a plugin for mass duplicate

[2019-08-04 01:06] serussell commented on #311
Doh!  Yeah, sorry, my example was in the wrong language; it does get more hairy in C without the convenience functions or pulling in libraries.

@0xACE's #313 does solve my original request, though, and since (IME) it solves the common case, I think it's great.

[2019-08-04 01:32] 0xACE commented on #311
Perhaps I haven't mastered `nnn` yet. But I still can't tangle my mind around how to use "multiple instances" of `nnn`. If you have 2 instances, both which has made their own selections. How do you access the selection made by the other instance? Do you clear both with `KK` first?

Yes making selections over various directories is cool. But I haven't used it as of today. This may be because during

[2019-08-04 01:39] 0xACE commented on #306
Do you mean that the user gets prompted for a new file name to copy to? So basically a prompt for `cp` ? Shouldn't this require a new key? Otherwise we have to prompt the user if they want to `rename` or `copy`

Yeah, I would put it at a lower priority too...

Anyhow, don't stress too much about it.

Btw, my presence will be unreliable for the next few months. But I will try to keep an eye out her

[2019-08-04 01:49] jarun commented on #311
The process-local selection gets the priority. If it's empty (use `^Y^Y` to empty selection) you can access the selection in the other one.

Also, note that we use a single `.selection` file. So the file has the contents from the last process that made a selection.

Possible. But I think I would like users to get used to something new. It's not complex, maybe it needs a few steps extra. But, if yo

[2019-08-04 01:51] jarun commented on #306
Yes. That's what I am adding now.

[2019-08-04 02:26] 0xACE commented on #306
Alright. Not sure how I feel about it. But I will try your version out and give it an actual "field tested" review :)

[2019-08-04 02:31] jarun commented on #306
I had thought of 2 workflows -

- the current one which asks up-front if user wants to duplicate
- the other one could be ask to duplicate if the users keeps the filename same, in this case we need to ask for the duplicate filename again OR use a random suffix like (I would prefer asking again)

which one do you think is better? the second one keeps current workflow for rename intact but it may no

[2019-08-04 02:31] lawnowner commented on #306
@0xACE

Making 'sixel' show thumbnails for videos [and images] is a good idea, but not something I would like to see within nnn: simplicity, usability, and efficiency seem to be what nnn strives for, and a bicolored directory listing with entry names having type indicator suffixes does this well enough in the interface. In fact, Arun may have decided to list directory names in bold in addition to

[2019-08-04 02:46] jarun commented on #306
Guys,

There's a plugin `thumb` to show thumbnails or images and PDFs. Check it out on master. However, it doesn't show thumbnails of videos. Do you know a simple way to do it without generating thumbnail for every frame?

There's another plugin `viuimg` to show images as well.

if you think it's unnecessary, you can disable it from your terminal emulator settings

Both the plugins thumb and viuim

[2019-08-04 02:48] 0xACE commented on #306
At least I'm glad the current version wasn't a complicated change to the code base.

But it seems like you are very well aware of effects it has on the "natural workflow".

The second one would be difficult for a user to find (they will likely find it by accident).

Also `cp -f` seems excessive. Maybe `cp -i` is safer? Also that `spawn()` doesn't support `mvg` and `cpg`.

I will think about it and

[2019-08-04 02:53] jarun commented on #306
Help shows rename/duplicate. So users should expect the question.

We already check for duplicate ourselves, so we can remove this flag

No output is shown for this

Not at all! We'll have those!

[2019-08-04 03:00] jarun commented on #306
Updated at commit 2bfcb281e7570c52e2fdd377772bc9e289f47c2e.

[2019-08-04 03:28] jarun commented on #306
Light mode enhancements at commit cf1b9d34ea1c7b14f5ff1d9585ad57a25b655b2f.

[2019-08-04 03:47] lawnowner commented on #306
sxiw and tnav merely referred to proposals for 0xACE's future efforts into finding middle ground and showing image and video thumbnails in nnn :]

Not just display but also allow for navigation and xdg-open in thumbnail mode, just like the sxiv plugin ( `sxiv -q * >/dev/null 2>&1 &` ), hence the *nonexistent* application "sxiw".

Thanks for the enhanced light mode!

[2019-08-04 03:50] jarun commented on #306
Should light mode be default now?

[2019-08-04 03:54] lawnowner commented on #306
I think so.

[2019-08-04 08:59] jarun commented on #306
@0xACE I have added `/` as an additional Leader key when filter is on. Makes the life of people (like me) who use nav-as-you-type mode all the time much easier. See commit c87f5fc1118e7d17b5d79e591d7acc46f7d128f6.

[2019-08-04 12:57] 0xACE commented on #311
Okay, then it works sort of like I expected. Though doesn't `^Y^Y` clear `.selection` ?

The problem with the drag and drop scripts I will upload is:

I sort of miss the functionality to `use .selection` instead of the one `nnn` is holding, and `^Y^Y` will clear `.selection`... The current method requires the user to clear the `selection` with `^Y^Y` **BEFORE** they run the drag and drop script...

[2019-08-04 13:31] 0xACE commented on #306
@lawnowner Maybe I should have further clarified: That idea I pitched was just a thought. And I agree, it's severe abuse of `nnn` to implement that function. It will never reach the `upstream` main branch. Sofar not one single line of code has been written by me to deal with this.

If I ever do it, it will be more of a personal thing... I'm not a fan of the idea of bloating and slowing down `nnn`

[2019-08-04 14:00] jarun commented on #311
No.

Let the script clear it (if possible). If you do, please document the procedure.

[2019-08-04 14:17] jarun commented on #306
Please share what else it does

[2019-08-04 14:46] 0xACE commented on #306
Sorry should have considered my phrasing better. I consider my `/` patch to be a "package" which entails a few extra function, But in regards to `/` This is what my version does.

[code]

Note that I haven't decided what should happen when the prompt is empty or if the highlighted item is not a directory. so I simply clear the filter and end it (it changes from day to day, as I said I haven't deci

[2019-08-04 15:34] jarun commented on #306
I didn't understand. In nav-as-you-type you are always at the filter mode when you enter a directory with right or Enter.

[2019-08-04 15:40] 0xACE commented on #306
Yes, the problem I have is that `nav-as-you-type` keeps you imprisoned in that mode until you `^T` out of it. My version will only remain in `nav-as-you-type` only if you used `/` to go into a directory... Everything else will practicaly reset you back to `normal mode`

I dont know if github showed you that I commented your commit: https://github.com/jarun/nnn/commit/dec683c39e217f605262e71ecdd08e

[2019-08-04 15:43] jarun commented on #306
OK. Got it.

[2019-08-05 13:09] jarun commented on #306
@0xACE commit ba12fa8b3d215aeb1038cc5d34de2f1b2d9e3e4b breaks selection on Termux (Android).

To reproduce, scroll down 4 or 5 items from top, then send the Termux app to background. Then click on the Termux app icon to bring it to foreground. The first item gets selected in reverse video. However, if you use the down arrow, the selection moves to the 5th or 6th item.

Please fix.

[2019-08-05 13:37] jarun commented on #306
For now, I have reverted the commit.

[2019-08-05 19:16] 0xACE commented on #306
Alright I'll take a look at it when i have time.

Fyi, I have termux misbehaving for me on other programs too, I just never bothered looking deeper into the issue.

[2019-08-05 21:05] serussell commented on #311
@jarun, despite my code being in the wrong language, I'm curious about what is "incorrect" about the approach. Given that all paths in `.selection` are rooted at the same place, what is the problem with stripping directories from the root of the tree until the tree branches?  Is it technical, or do you think that it's confusing or wrong behavior?

I'd be surprised if a significant percent of uses

[2019-08-05 21:49] jarun commented on #306
No problem.

I see. I noticed the problem this morning (after updating `nnn` on Termux) and it seemed like this was working perfectly before.

[2019-08-05 21:52] jarun commented on #311
@serussell please raise the PR.

[2019-08-06 01:53] jarun commented on #308
Fixed at https://github.com/Homebrew/homebrew-core/pull/42831.

[2019-08-06 01:53] #308 closed

[2019-08-06 13:27] 0xACE commented on #306
https://github.com/jarun/nnn/commit/ba12fa8b3d215aeb1038cc5d34de2f1b2d9e3e4b#diff-fc9d3b040de26a559b433d730b0c01baR1695

that `redraw(path);` seems to cause the problem. I can't seem to figure out why `redraw(path)` behaves this way... We could simply remove `redraw(path)`, but if you have any better ideas, I'd like to hear them. (I tried `move_cursor(cur,0)` and that didn't help, besides  `redraw

[2019-08-06 13:39] nhasian commented on #306
Feature Request:
setup Ubuntu PPA so users can have automatic updates

Note: I read about nnn on Reddit's /r/Linux and decided to try it out in Ubuntu by installing it from the repos. I was confused and frustrated because I couldn't select files with spacebar or delete with ^X. I was about to throw in the towel and uninstall nnn until I realized that the version in the repo was Version 1.7. After

[2019-08-06 13:59] jarun commented on #306
We had one but the maintainer is AWOL: https://launchpad.net/~twodopeshaggy/+archive/ubuntu/jarun

If you are interested, please discuss with the mods and feel free to take over.

@szlin can you help out here? I think it's reasonable people are expecting the latest release available.

[2019-08-06 17:48] nhasian commented on #306
@szlin @jarun I've been an Ubuntu member for 10 years now I haven't setup a PPA before but I'm happy to give it a try. https://wiki.ubuntu.com/nhasian

[2019-08-06 17:59] jarun commented on #306
We would really appreciate that!

Earlier @shaggytwodope used to handle this very effectively. But now that he's not available, a PPA would really help to distribute the latest packages.

[2019-08-06 20:06] eugene55 opened #314 "Commit 46aa0ad breaks single-click selection"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Archlinux Linux zotac 5.2.5-arch1-1-ARCH #1 SMP PREEMPT Wed Jul 31 08:30:34 UTC 2019 x86_64 GNU/Linux
[x] Desktop Environment: dwm
[x] Terminal Emulator: alacritty, st
[x] Shell: bash
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issu

[2019-08-06 20:09] jarun commented on #314
Commit 46aa0ad.

[2019-08-06 20:34] #314 closed

[2019-08-06 20:35] jarun commented on #314
Thank you for reporting this issue. Please test the patch and confirm it works.

[2019-08-06 20:38] eugene55 commented on #314
Confirmed. Issue is fixed

[2019-08-06 23:34] nhasian commented on #306
@jarun I setup https://launchpad.net/~nhasian/+archive/ubuntu/nnn added my ssh and openpgp keys, installed a vanilla Ubuntu18.04 in a VM and have the latest sourcecode for nnn from git. However, I seem to be hung up on actually creating or uploading a package to launchpad. I think I'm stuck on debuild and dput.

I've read up on Uploading a package to a PPA, and Building a source package, but I mus

[2019-08-06 23:56] eugene55 opened #315 "NNN_BMS environment variable trimmed in sub-shells"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Archlinux Linux 5.2.5-arch1-1-ARCH #1 SMP PREEMPT Wed Jul 31 08:30:34 UTC 2019 x86_64 GNU/Linux
[ ] Desktop Environment:
[ ] Terminal Emulator:
[x] Shell: bash, dash
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
* execute nnn as

[2019-08-07 01:24] shaggytwodope commented on #306
@nhasian I do not often have much time any longer to reply so sorry for poor response. You can find the steps and source files for my old ppa work here https://github.com/shaggytwodope/jarunppa this may be outdated for any new guidelines or methods used. However there is short mention of steps to upload in a readme. And you will find the source files for the deb build stuff.  The big one being the

[2019-08-07 01:37] jarun commented on #306
Thanks for the help @shaggytwodope!

[2019-08-07 01:40] jarun commented on #315
This happens because `nnn` uses the environment variable in-place without allcoating new memory. As this variable is specific to `nnn` do you think it's an issue? Yes, it's a problem if you span a new `nnn` process in the subshell. But I am not sure if we must fix it.

[2019-08-07 01:57] jarun commented on #315
We'll fix this.

[2019-08-07 04:14] jarun commented on #306
@shaggytwodope would it be possible to transfer the current PPA?

[2019-08-07 04:33] shaggytwodope commented on #306
@jarun I've created a group project, if you have a launchpad account I can pass you control as well. In the mean time I've added the outdated versions of previous packages I've created. We can remove any you see fit. They should be done building and will show up as soon as I've sent this message. I've added @nhasian to the project.

If there is anything I can do to help anyone package for the ppa,

[2019-08-07 05:24] jarun commented on #306
My launchpad handle is _engineerarun_.

[2019-08-07 05:26] jarun commented on #306
@nhasian are you good to go now?

[2019-08-07 05:27] shaggytwodope commented on #306
@jarun you should be full admin. I'm going out for the evening now. But if you need anything from me just hit me up here or via my email. And excuse any delay.

[2019-08-07 05:31] jarun commented on #306
Thank you!

[2019-08-07 11:11] eugene55 commented on #315
My wild guess is following code is part of the issue:
[code]
so we are changing variable just in memory, replacing delimiter with \0 with obvious results

[2019-08-07 11:26] eugene55 commented on #315
This simple change fixes the issue:
[code]

[2019-08-07 13:17] #315 closed

[2019-08-07 13:18] jarun commented on #315
Please confirm the fix.

[2019-08-07 13:31] eugene55 commented on #315
Confirmed. Thanks

[2019-08-07 13:33] jarun commented on #315
Thank you!

[2019-08-07 17:15] nhasian commented on #306
yep I think I have everything I need to get up and running now thanks!

On Tue, Aug 6, 2019 at 10:26 PM Mischievous Meerkat <
notifications@github.com> wrote:

[2019-08-07 17:17] jarun commented on #306
Awesome! I would love to see this PPA back in action. Please let me know once you are done with updating the packages and I would add the PPA back in the known packagers section from each of my utilities.

[2019-08-07 20:03] domidimi commented on #315
The fix causes a crash when $NNN_BMS is not set. Here the callstack:

#0  0x00007ffff72b72c1 in __strlen_avx2 () from /lib64/libc.so.6
#1  0x00007ffff71e528e in strdup () from /lib64/libc.so.6
#2  0x0000000000408c21 in parsebmstr () at src/nnn.c:2077
#3  main (argc=0x1, argv=0x7fffffffcfc8) at src/nnn.c:4751

[2019-08-07 20:10] jarun commented on #315
Please confirm if the issue is fixed with the latest patch.

[2019-08-07 20:13] domidimi commented on #315
looking at the code I confirm that there is no nullptr dereference anymore

[2019-08-07 20:24] jarun commented on #315
When I tested, I confirmed `env NNN_BMS= ./nnn` works.

If `NNN_BMS` is not set, getenv(`NNN_BMS`) should return NULL.

Turns out strdup(NULL) crashes. I expected the API to handle the NULL case.

[2019-08-07 20:42] jarun commented on #315
[code]

Pretty dumb to escape with a static warning I would say because at runtime you don't decide what's thrown at you.

If you had looked at the relevant original code, there was no NULL pointer dereference. The API is unreliable and that's the problem. I'm sure there are people who would swear by the documentation and say it's the **expected behaviour to crash** and that's as lame as it reads.

[2019-08-08 22:13] eirenicon opened #317 "img and video thumbnails"
I am running 2.6.1 on MX Linux 18.3 (Debian 9 based) in bspwm current release.
`[code]
System:    Host: mark-dell Kernel: 5.1.11-antix.1-amd64-smp x86_64 bits: 64 compiler: gcc v: 6.3.0
           Desktop: bspwm 0.9.2 Distro: MX-18.3_x64 Continuum Feb 9  2019 base: Debian GNU/Linux 9 (stretch)
Machine:   Type: Laptop System: Dell product: Latitude E5470 v: N/A serial: <filter>
           Mobo: Del

[2019-08-08 22:26] 0xACE commented on #317
Your message is difficult to comprehend. I interpret it as:

1. You are able to view thumbnails for images (I'm guessing you are using `sxiv` or some `sixel` based alternative)
2. When you open the image it opens in `feh`
3. If you are using `sxiv` or `sixel` to view thumbnails. I'm not sure any of those tools supports thumbnails for videos.

To address your problems:

1. I guess there isn't a iss

[2019-08-09 02:11] jarun commented on #317
If you open the image directly within `nnn` it will open in your default file manager.

In-terminal view/thumbnails of images is supported through plugins. To summarize , you have the following plugins:

- `viuimg` - view images in the terminal
- `thumb` - shouw thumbnails in the terminal using lsix

There's also the `sxiv` plugin. Using `sxiv` you can see thumbnails.

[2019-08-09 06:26] nimeshneema opened #318 "Hindi translation"
I came across this post on Reddit India:

- https://www.reddit.com/r/india/comments/cnx0q7/help_with_documentation_in_hindi_for_open_source/

I can contribute my knowledge and time to help with Hindi translation. Let me know how to get started.

[2019-08-09 06:29] jarun commented on #318
Please feel free to pick up any utility (`ddgr` or `Buku` would be good to start with). Let me know which one you want to start with and I will add you as a collaborator to the project. You can create a new Wiki page for the project and start.

[2019-08-09 06:30] jarun commented on #318
Thanks a lot for responding. I wasn't very sure anyone would want to contribute.

Also, feel free to take your time. We are not on a deadline.

[2019-08-09 06:30] jarun commented on #317
Closing the issue with the above information.

[2019-08-09 06:30] #317 closed

[2019-08-09 06:42] nimeshneema commented on #318
Sure. Give me some time to go through the utilities and pick one.

[2019-08-09 12:51] jarun commented on #318
I am closing the defect. Please pick a project and we can continue the discussion in the ToDo list.

[2019-08-09 19:18] nhasian commented on #306
@jarun I have the PPA for Ubuntu 18.04 setup at https://launchpad.net/~nhasian/+archive/ubuntu/nnn
I am also going to request nnn be backported as well to make it easier for future users.

[2019-08-10 01:22] jarun commented on #306
@nhasian would it be possible to revive the earlier PPA? It would be great if all users can access all my packages from the same PPA. That's what the earlier PPA was there for. Don't worry about frequent releases as almost all of them are stable.

[2019-08-10 19:25] jarun commented on #235
I think I missed the PR was never raised. Added it now.

[2019-08-10 20:12] jarun commented on #278
@sjmulder any update on this?

[2019-08-11 11:21] sjmulder commented on #278
No, haven't worked on this yet.

[2019-08-11 11:21] jarun commented on #278
No problem! Just checking out.

[2019-08-11 11:33] AcarBurak opened #319 "nnn blocks when opening a file"
_Originally posted by @Rahi374 in https://github.com/jarun/nnn/issues/1#issuecomment-330132574_

I still have this issue on Arch/Fluxbox (v. 2.5) with both mimeopen and xdg-open.

[2019-08-11 11:44] jarun commented on #319
`nnn` uses the above flags:

    /* Invoke desktop opener as last resort */
    spawn(opener, newpath, NULL, NULL, F_NOTRACE | F_NOWAIT);

And I can't reproduce this on Ubuntu with `xdg-open`. So I can't add any patch for it.

[2019-08-11 11:50] AcarBurak commented on #319
I've read a discussion about an env variable, NNN_NOWAIT, but seemingly it's been dropped. Would you consider it again if it's a solution?

[2019-08-11 11:54] jarun commented on #319
It's already there by default: https://github.com/jarun/nnn/blob/master/src/nnn.c#L3608

So we need to know why this is happening. If you see the current code, `nnn` doesn't wait for the forked process if the `F_NOWAIT` flag is passed.

[2019-08-11 12:01] jarun commented on #319
Do you have `NNN_USE_EDITOR` in your environment variables?

[2019-08-11 12:02] jarun commented on #319
And is it happening for all files or only text files?

[2019-08-11 12:02] AcarBurak commented on #319
Yes, I have.

It seems to occur only with geany (geany with session).

[2019-08-11 12:05] jarun commented on #319
I don't use Geany. I have mousepad and it works just fine. I don't think I can help here. Doesn't look like an `nnn` issue. Please try to debug yourself.

[2019-08-11 12:05] #319 closed

[2019-08-11 12:39] 0xACE commented on #319
@AcarBurak could you provide what exactly you are trying to do?

If you open a CLI tool it will most likely be run on top of `nnn`, I guess there isn't much to do about this other than spawning it in another shell or introducing another "run and exit" feature.

If it's a GUI app it shouldn't be a problem. One guess I have is that the first `geany` session remains in a CLI mode or maybe `geany` doe

[2019-08-11 12:51] 0xACE commented on #319
Btw incase `geany` is blocking 1 trick I commonly do which I can share with you is:

`export PATH=~/pre-bin:$PATH:~/bin`

Usually I put my scripts in `~/bin`, but sometimes I want to overwrite some other programs. For example I like to run `feh` with special flags so i created `~/pre-bin` like so:

[code]

So now when I open a image in `feh` it runs with my parameters. My point is, what happens if

[2019-08-11 18:12] rsuhada commented on #306
I really like the idea of nnn (far more than ranger), but would it be possible to add customization of keybindings?

For the users of alternative layouts like dvorak/colemak/workamn... the default vim keybinds make nnn unfortunately unusable.

nnn looks very  efficient and we care about efficiency! That's why we learned an alternative layout...
Thanks for consideration in any case!

[2019-08-11 18:28] jarun commented on #306
We had support for custom keybindings at some point. Then we noticed we were spending significant time on custom keybind conflicts and removed that. Please take a look at the in program help and you'll realize the problem.

You can always change keybinds to your choice and compile the program. Also, if it's of any help, my plan is to go for infrequent releases after the next one.

[2019-08-11 22:14] KlzXS opened #320 "Symlink to directory moved to where it points when name isn't changed when using batch rename"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Arch Linux 5.1.12-arch1-1-ARCH #1 SMP PREEMPT Wed Jun 19 09:16:00 UTC 2019 x86_64 GNU/Linux
[ ] Desktop Environment:
[ ] Terminal Emulator:
[x] Shell: bash, zsh
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

- Open nnn
- Enter b

[2019-08-11 23:55] 0xACE commented on #320
btw @jarun I think this is partly related to the time I broke my `$HOMEDIR` when i accidentally started a `batch-rename`

[2019-08-12 01:11] jarun commented on #320
At least on Ubuntu I'm not able to reproduce this. @0xACE do you see this on Arch Linux?

[2019-08-12 01:13] jarun commented on #320
OK. I can now.

[2019-08-12 01:43] #320 closed

[2019-08-12 01:44] jarun commented on #320
Please test the patch and confirm it works.

[2019-08-12 07:59] KlzXS commented on #320
It doesn't work. Still moves the symlink to where it's pointing if there doesn't already exist a file with the same name.

[2019-08-12 15:20] rsuhada commented on #306
Thanks, I see that the binds are nicely kept in the header file so recompilation is a good option for me.

Thanks!

[2019-08-12 15:29] jarun commented on #306
:+1:

[2019-08-13 13:32] rufusshrestha opened #323 "v2.6 - Broken search"
#### Environment details (Put `x` in the checkbox along with the information)

[ ] Operating System: Ubuntu 16.04 LTS
[ ] Desktop Environment: Unity
[ ] Terminal Emulator: Terminal
[ ] Shell: zsh, bash
[ ] Custom desktop opener (if applicable):
[ ] Issue exists on `nnn` master v2.6

#### Exact steps to reproduce the issue

nnn -d
/ (to search)
type something to see UI broken (bottom half of the UI

[2019-08-13 13:36] jarun commented on #323
I am unable to reproduce this issue on v2.6. Can you confirm if master and v2.5 has this problem?

Is there a segfault? Is this happening in any directory or just this directory? That can tell us if there's any _special_ file that's leading to this problem.

[2019-08-13 13:41] jarun commented on #323
And what's `uni`? Do not use abbreviations others may not understand.

[2019-08-13 13:45] rufusshrestha commented on #323
HI Jarun,

Sorry, I think we should close this case as its limited to my terminal:
I'm using Byobu with tmux and Guake on zsh with oh-my-zsh

Appears something else is interfering.

Native terminal seems fine.

[2019-08-13 13:46] jarun commented on #323
Thanks for confirming.

[2019-08-13 13:46] #323 closed

[2019-08-14 15:38] jarun opened #324 "ToDo list"
Rolled from #306.

### Ready for next release

- custom key-plugin keybinds to run plugins directly
- plugin changes:
  - `moclyrics` - show lyrics of the track currently playing in MOC
  - `vidthumb` - show video thumbnails in terminal
  - `mediainf` - show media info (decoupled as a plugin)
  - `dups` - list duplicate files in the current directory
  - `oldbigfile` - list large files by access t

[2019-08-14 15:38] jarun commented on #306
Rolled at #324.

[2019-08-14 15:38] #306 closed

[2019-08-17 09:26] jarun commented on #324
@0xACE & @KlzXS how does the revamped wiki look? I spent half a day on it.

[2019-08-17 13:20] 0xACE commented on #324
I read `Home.md` from top to bottom and it looks ok.

I quickly skimmed through the other articles and they seem  fine. I like that advanced configuration has been moved to an entirely separate document, this keeps the noise down for new users.

I tried recalling how it was when I started using `nnn` and what resources I used. And from what I can recall I went immediately to the wiki we have on gi

[2019-08-17 13:36] jarun commented on #324
Can you try https://github.com/jarun/nnn/wiki/Advanced-use-cases#configure-as-default-fm? (Go through it completely.)

You already have `-b` for that. How about `nnn -b key`?

[2019-08-17 14:18] KlzXS commented on #324
Do `Why fork?` and `The name` need to each have their own page?  And then there is `Comparison: nnn vs. noice`. Three pages talking about `nnn` and `noice`, two of which are one sentence long. Can't they be pasted at the top of `Comparison: nnn vs. noice` as their own sections?

[2019-08-17 14:19] jarun commented on #324
Makes sense. I'll do that now.

[2019-08-17 14:31] 0xACE commented on #324
Yeah I think I'll try it when I get access to a computer I own...

Haha, now I feel bad. well that makes the `n()` function easier :D

[2019-08-17 14:34] jarun commented on #324
I have updated the wiki, consolidated the 3 pages into one.

[2019-08-18 09:15] pat-s commented on #184
On macOS, I've set `NNN_COPIER` pointing to the "copier" script but without success.
Manually executing the script works.
Script is executable.

Any idea what I might be missing?

[2019-08-18 10:30] jarun commented on #184
I don't have a Mac. We'll have to  wait for someone who can reproduce. Did you give the absolute path?

[2019-08-18 21:44] KlzXS commented on #324
I can't really tell by looking at the code since the function is huge, is it safe to use `sb` at the top of `nochange` in `browse()`? I'm looking for a way to fix the bug where nested sessions cause 100% CPU use when the parent terminal is closed. #225

The simplest way to fix it is to kill the process when the terminal closes and the simplest way to check that is to see how many hard links point

[2019-08-19 00:40] jarun commented on #324
completely.

Which means a `stat()` every time we go for nochange. I am not sure of the performance implications. I wanted to avoid unwanted side-effects so I left the issue unaddressed given it's not really something very pressing. Are you facing this often?

[2019-08-19 08:25] jarun commented on #324
@KlzXS the problem with the proposed approach is the control never returns to `nnn` from the spawned child. So the check will never happen when this scenario is encountered.

You can still use POSIX threads to spawn a thread and check in it (periodically perhaps?) if the main thread has exited. Though I still believe the solution is stronger than the problem with this approach. you can surely chec

[2019-08-19 09:37] KlzXS commented on #324
What do you mean? If I detect that my terminal has closed I exit. The parent would then get notified that the child exited and would do whatever it is that it should do.

As for the performance issues, I have tried triggering `nochange` as much as possible and still couldn't get any meaningful CPU usage. Disk I/O is also not a problem since it's not a real problem. It's not a heavy function to cal

[2019-08-19 09:42] jarun commented on #324
Where are you planning to detect it?

To elaborate a little: The child is a spawned process/task/script. The parent is `nnn`. `nnn` waits for the child to complete. If the terminal is closed and the child is a terminal utility are you saying the child process will exit and control would return back to `nnn`? If that were the case, the current check of `getppid()` would suffice, no?

[2019-08-19 10:08] KlzXS commented on #324
Let's make sure we are on the same page. You know that:

- the child is the one that uses 100% CPU, not the parent
- we are talking about `nnn` as both child and parent. Nested `nnn`s.
I've been able to reproduce this with only one other combination of programs and that is `nnn` as the parent and `ranger` as the child. Curiously `ranger`-`ranger` and `ranger`-`nnn` exit just fine.
- the problem in

[2019-08-19 13:04] jarun commented on #324
Now I see. I never paid attention to the child process not exiting issue and considered REPL programs in a generic way.

Yes, I agree we can fix that in `nnn`. How about checking the return value from `getch()` (it will return -1 or `ERR`) and using that to exit. That way we will not need any additional checks.

[2019-08-19 13:18] 0xACE commented on #324
From the manual of `getch()`:

[code]

I guess case `(b)` would require `getch() == ERR && errno != EINTR`... But I'm not sure what the correct way to deal with this problem is.

[2019-08-19 13:25] jarun commented on #324
This case cannot be handled anyway.

[2019-08-19 13:41] KlzXS commented on #324
We can't use return of `ERR` as the condition for exiting since that's what it returns when it times out.

[2019-08-19 13:43] jarun commented on #324
... and there's no guarantee it will set and errno it seems from the man.

Please raise the PR and let's test it out on systems we have.

[2019-08-19 13:44] 0xACE commented on #324
Yes, what I meant was: `getch() == ERR` isn't enough, it should also include `&& errno != EINTR`. But even with that the manual specifies:

[code]

[2019-08-19 13:55] jarun commented on #324
I tested on Ubuntu 18.04 and the getch() return thing is unreliable. So @KlzXS I think we should try the blind check without depending on `getch()`.

[2019-08-19 14:03] KlzXS commented on #324
The "blind check"? What is that referring to, my mind's all over the place, sorry?

[2019-08-19 14:08] jarun commented on #324
The way to fix this is to see if the terminal is closed. As all things in Unix, a terminal is a file, in this case it's one of the files in /dev/pts/. While the terminal is open there exists 1 link to it, the filename in /dev/pts/. When it closes the number of links is 0. We can call stat on stdin to see how many links there are. If there are none that means the terminal is closed, we can't get an

[2019-08-19 14:30] th3lusive opened #326 "Plugin submission: Organize"
I would like to contribute a small script that I made whch would arrange files based on their file type into folder categories.

Demo:
![Before](https://i.imgur.com/zKJS3S8.png)

![After](https://i.imgur.com/jS3MBue.png)

Code:
https://gitlab.com/snippets/1887030

EDIT:

[code]

[2019-08-19 14:31] jarun commented on #326
@th3lusive thanks for sharing. Can you please paste the script here?

@KlzXS can you please review the script?

[2019-08-19 14:53] jarun commented on #326
@th3lusive here's a sample plugin you can follow and update your script:

https://github.com/jarun/nnn/blob/master/plugins/vidthumb

To elaborate, I am looking for a snippet that's ready to submit so we can pick and drop it in the plugin directory.

[2019-08-19 15:01] KlzXS commented on #326
@th3lusive You may want to change the script so it doesn't try to move the folders around. On the first run with no folders it work fine, don't know if you sorted gzip and bzip2 into compressed on purpose or accident though. On the second run it moved all folders into Binaries.

Also change the shebang to `#!/usr/bin/env sh`

[2019-08-19 15:06] KlzXS commented on #324
`isatty()` also works. Returns 0 when it's closed.

[2019-08-19 15:15] jarun commented on #324
Awesome! Please use that!

[2019-08-19 15:17] jarun commented on #324
Also. please ensure we have a check for the `picker` mode in which we run `nnn` in non-tty mode.

[2019-08-19 15:22] jarun commented on #324
The following patch works for me:

[code]

[2019-08-19 15:28] KlzXS commented on #324
Seems good.

[2019-08-19 15:29] jarun commented on #324
Please add a comment on the check. Please raise the PR. This is an excellent find and fix! I appreciate your effort!

[2019-08-19 15:43] th3lusive commented on #326
@KlzXS Thank you for reviewing my script. I updated it to check that its a file first before it is moved and also changed the shebang. Also, gzip and bzip2 were intented to go into compressed. Is that classification correct?

@jarun Confirmed that it works fine when run from the plugins folder.

[Updated snippet](https://gitlab.com/snippets/1887030).

[code]

[2019-08-19 15:59] KlzXS commented on #326
Now it does what is says it should.

@th3lusive I ask about gzip and bzip2 because I saw that they weren't on the list but I guess zip was. I don't know what you classify epub as but the script puts it in compressed since its mime is application/epub+zip. I have no preference either way on this, I would just like to make sure you know that.

[2019-08-19 16:20] jarun commented on #326
Can we change it to:

    # Description: Organize files into directories by category

Also, can we change

    [ ! -d "Compressed" ] && mkdir "Compressed"
    mv "$1" "Compressed/$1"
    printf "Moved %s to Compressed\n" "$1" ;;

to

    [ ! -d "Archives" ] && mkdir "Archives"
    mv "$1" "Archives/$1"
    printf "Moved %s to Archives\n" "$1" ;;

[2019-08-19 16:29] th3lusive commented on #326
@KlzXS  I added epub, as well ass, djvu and comic book files to the Documents directory.

@jarun This naming does seem much more appropriate.

Please see changes below :)

[Updated Snippets](https://gitlab.com/snippets/1887030)

[code]

[2019-08-19 16:37] jarun commented on #326
Also, instead of repeating the directory names (with the chance of spelling mistakes), can we use variables like - VID, AUD, IMG, DOC, TXT, ARC, BIN? I think that would be visibly clearer too.

[2019-08-19 16:41] jarun commented on #225
@abdyek @cowabungadude69 @borestad this issue is now fixed.

[2019-08-19 17:26] jarun commented on #326
I think we can skip the variables for dir thing.

[2019-08-19 17:32] jarun commented on #326
The plugin `organize` is in at commit b9530a5ce0eb727ec9833259f6b939de84d65a7c.

[2019-08-19 17:32] #326 closed

[2019-08-22 16:11] eugene55 opened #328 "Checksum plugin: read command doesn't wait for input"
#### Environment details (Put `x` in the checkbox along with the information)

[ ] Operating System:
[ ] Desktop Environment:
[ ] Terminal Emulator:
[x] Shell: dash
[ ] Custom desktop opener (if applicable):
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
Open any checksum file with checksum plugin.
See error in shell: `checksum: 52: read: arg count`

Addition of argument

[2019-08-22 18:57] KlzXS commented on #328
@jarun the script is full of probelms.

- Not all systems have `md5sum` and such, some BSDs go without the `sum` part
- It's not POSIX compliant, `xargs` doesn't support `-i`
-  This issues with `read`

@eugene55 feel free to rewrite the script to fix some of these issues. It if works submit a PR. This is not an issue on most Linux distros so people won't be in a hurry to fix it.

[2019-08-22 19:26] jarun commented on #328
@eugene55 kindly fix the problems and submit a PR.

[2019-08-23 13:23] jarun commented on #324
@0xACE can we have the uch awaited Wikipedia page for `nnn`? ;)

[2019-08-23 15:05] jarun commented on #328
@KlzXS & @eugene55

Scripts are there for users to modify and use for their needs. They are indicative. If the system doesn't have a utility, they'll have to modify accordingly. The `Deps` column in the plugin table is specifically for that. This isn't our problem to solve.

This needs to be fixed.

This needs to be fixed.

Also, please wrap this up as soon as possible.

[2019-08-23 15:07] eugene55 commented on #328
Sure thing. I can work on a thing on a weekend

[2019-08-23 16:01] jarun commented on #328
Cool! We'll wait for the PR. Thank you!

[2019-08-23 16:13] #328 closed

[2019-08-23 16:15] jarun commented on #328
The patch seemed a minor one so I took care of it.

@KlzXS please review the patch.

[2019-08-23 21:46] 0xACE commented on #324
For the archwiki? Havent worked on it yet. I'm sort of traveling until late september. I cant reseeve time to it until im back home. The plan is to review the readme.md and github wiki and cherry pick stuff to condense the information

[2019-08-24 02:13] jarun commented on #324
Nope, the Archwiki looks reasonably good already.

I was thinking of a wiki page on Wikipedia.

[2019-08-24 02:15] 0xACE commented on #324
Oh, I right. I will add it to my calender so that I dont forget it again

[2019-08-27 14:09] jarun commented on #324
@0xACE and @KlzXS with the support to run plugins directly, I am considering decoupling mediainfo/exiftool and diminishing this to a plugin. In my understanding, showing media info is not core file manager functionality.

What do you guys think?

[2019-08-27 14:34] KlzXS commented on #324
I personally like when a file manager is able to tell me something more about my files than "it's a video/image", I don't rely on this, it's just handy to have.

But to display this info it uses these program that I didn't have installed by default; I don't know if they come by default on other distros, MacOS or BSDs. So if I need to install a whole program I might as well configure a plugin.

It'

[2019-08-27 14:52] jarun commented on #324
Most FMs (if not all) use a third-party program to do this as the number of media formats is overwhelming. So yes, you will have to install a new program (or it is a part of a framework like gnome/KDE).

AFAIK, mediainfo/exiftool will not be installed by default. And they may not be the natural choice for many users who are accustomed to, say another utility. So, having the capability through a pl

[2019-08-27 15:16] 0xACE commented on #324
Well I think KlzXS put it well:

Lately I have grown keen to tools with "batteries included". But I would understand if `mediainfo`/`exiftool` are considered to be niche tools. On full blown FMs I tend to rely on them having the ability to list all sorts of metadata when you `Right Click > Properties` and I guess that would be nice rather than just `mediainfo`, but I guess maintaining that feature

[2019-08-27 16:07] jarun commented on #324
You'll have to press `xm` (or `F12m`) when it's a plugin. The info will still be in PAGER.

The reason I want to remove it is I feel we don't really need it and the user can have the flexibility to choose his own utility to show media info. He can use mediainfo which will be the default in the plugin as well. It's just an extra keypress (`x`) for him.

Benefits I see:

- a non-core functionality d

[2019-08-27 16:12] jarun commented on #324
Maybe I'll make the plugin show short and sweet info. ;)

[2019-08-27 16:21] KlzXS commented on #324
It's rather too detailed. I think a much more concise description would be better. Resolution and format for an image, container, format, resolution, bitrate for video/audio and perhaps some artist metadata if it exists.

`exifstool` is better but it still prints way too much information. Like, what is this `Matrix Structure                : 1 0 0 0 1 0 0 0 1`? I can't even tell if this is part of

[2019-08-27 16:28] jarun commented on #324
Because we have a nice way to dynamically handle sshfs in `nnn`. It can be too elaborate. However, for mediainfo, its just 0 or 1 program option.

[2019-08-27 16:32] KlzXS commented on #324
Okay. So what's the plan, remove `mediainfo` from the core and make a custom plugin to serve media info or use an existing program?

[2019-08-27 16:36] jarun commented on #324
Right

[2019-08-27 16:39] KlzXS commented on #324
Maybe I should have put a bigger emphasis on that. Would you rather we make a custom thing or just feed (formated) output from a 3rd party program?

[2019-08-27 16:54] jarun commented on #324
For now, I am just calling `mediainfo` to show the data to the user (same as what we do in the program).

[2019-08-27 17:27] jarun commented on #324
@KlzXS for a shorter and sweeter version can we cleanse and have the following:

https://github.com/zmwangx/storyboard/blob/master/src/storyboard/metadata.py

It's from a co-dev but I am unable to contact him for sometime. Must be very busy.

[2019-08-27 17:42] 0xACE commented on #324
Hehe, I wanted to elude to that, but then I realised the code that has to be maintained for it t work nicely would be too much of an effort considering the effects of portability.

Yeah, when you put it that way, removing `m` for media info makes sense.

I have to mention: `sshfs` is one of the top-most used feature in my `nnn` workflow.

Some quirks I have found with `sshfs` are:

1. Sometimes I

[2019-08-27 18:30] jarun commented on #324
I think you can add the following in `~/.ssh/config`

[code]

Note: `TCPKeepAlive` is `yes` by default

You can add your custom `NNN_SSHFS_OPTS` for this

Without having to store mount info, I think a simpler check would be to see if the dir is empty or not. If it's not empty we can go into the dir.

The caveat is, if the dir is not empty (having local files) and the mount fails. The user has no w

[2019-08-28 10:41] KlzXS commented on #324
https://github.com/zmwangx/storyboard/blob/master/src/storyboard/metadata.py

I actually like the output as it is. It's everything I would want to see about a video/audio/image file.
But if we were to use that I would take just metadata from the whole thing.

[2019-08-28 10:51] jarun commented on #324
Yes, I have kept the output intact.

[2019-08-28 11:25] KlzXS commented on #324
Yes, you kept `mediainfo`, but I like this thing you mentioned `storyboard/metadata.py` it just needs to be extracted from the whole project since I see no need for installing the whole thing to only use one script. It contains all the relevant info without the verbosity of `mediainfo`.

The only problem is that compared to `mediainfo` and `ffprobe` it is noticeably slower. More so on larger files

[2019-08-28 12:25] jarun commented on #324
If it's slower let's just leave it. 2GB is common nowadays.

[2019-09-01 15:11] 0xACE commented on #324
@jarun are you frequently using `git push -f`?

The reason I'm asking is because there has been at least 10 seperate occurrences since I started using nnn where my copy of the repo diverges from `origin/master`.

Basically everytime I check github I usually pull changes from the repo and this is affecting me. I would like it to stop... I just came in to check on everything and continue my day but

[2019-09-01 15:28] KlzXS commented on #324
You could try something like `git pull --rebase` might suit you, might not. But this is just a workaround. Commits shouldn't just be changing hashes.

[2019-09-01 16:09] jarun commented on #324
@0xACE that's correct. I prefer to keep changes grouped to keep the history clean. So I keep rebasing which you are noticing.

The conflicts may be because of your local changes. Are you planning to make any changes soon? If not, how about rebasing only when you are going to make changes. I think the reason is you are having local changes. How about pushing your changes in a branch in your fork? T

[2019-09-01 16:13] jarun commented on #324
OK, I see. You did rebase in between 2 such changes. I will be more careful in future. However, do expect infrequent encounters. If we keep having separate vommits for small changes tracking changes would become an issue. However, now I'll go for bigger commits to avoid this as much as possible.

[2019-09-02 03:09] jarun commented on #318
Are you still interested in doing this?

[2019-09-02 07:04] nimeshneema commented on #318
Yes. I got occupied elsewhere and was not able to take a look. Let me get started.

[2019-09-02 13:47] 0xACE commented on #324
The conflicts aren't related to my changes.

At first it: my branch was just some small changes, but now it's a huge  `git stash`, which i simplified by introducing another source file which contains the changes as functions or `#define`...

Currentlly I don't know what the best way to maintain my changes would be, but my next plan is to seperate that `git stash` into seperate commits of each chan

[2019-09-02 15:33] jarun commented on #324
In that case, just `git pull --rebase`.

[2019-09-03 14:23] #324 closed

[2019-09-03 14:23] jarun opened #329 "ToDo list (old one, to be closed... don't start a new discussion in this one)"
Rolled from #324.

### Ready for next release

- custom key-plugin keybinds to run plugins directly
- plugin changes:
  - `moclyrics` - show lyrics of the track currently playing in MOC
  - `vidthumb` - show video thumbnails in terminal
  - `mediainf` - show media info (decoupled as a plugin)
  - `dups` - list duplicate files in the current directory
  - `oldbigfile` - list large files by access t

[2019-09-03 14:24] jarun commented on #324
Rolled at #329.

[2019-09-05 12:22] NightMachinary opened #331 "Add option to set pager"
I have set `LESS` to `-RiNF`, which makes `less` close itself if the output is less than one screen. I need a way to define the pager manually for nnn, sth like `--pager="more"`.

[2019-09-05 12:47] jarun commented on #331
export PAGER='less -RiNF'

[2019-09-05 12:47] #331 closed

[2019-09-07 14:21] nimeshneema commented on #318
@jarun I'd like to get started. Is there a private channel/medium to communicate?

[2019-09-07 16:10] jarun commented on #318
Sure! We can discuss here. I am re-opening the issue. Public discussions would help people interested in this.

[2019-09-07 16:11] jarun commented on #318
You can also ping me at https://gitter.im/jarun/nnn

[2019-09-08 01:29] AntonioFasano commented on #329
Good work.

I suggest that you add a tag on the status bar to notify when the selection mode is on.

Putting the status bar on top would make reading it more comfortable particularly when there are only a few files/dirs and so a lot of blank spaces.

I would like an alternative set of bookmarks with long names to search like they were files with arrows and filters.

[2019-09-08 02:44] jarun commented on #329
We will consider this.

That would be a lot of work at this stage of the project.

The bookmarks are listed in the help and settings screen. If you are usng `nnn` regularly it's a matter of time you wouldn't have to refer to it.

[2019-09-08 07:13] jarun commented on #329
Selection mode indicator and number of selected files in status bar implemented in commit 1baf2843693ed78086fa01654b31f163fc9c2a33.

[2019-09-08 09:46] jarun commented on #318
Gitter is fine.

[2019-09-08 09:46] #318 closed

[2019-09-08 18:13] AntonioFasano commented on #329
With respect to bookmarks, my question was a bit different.

There are everyday bookmarks that you can name a,b,c,d.... with a single letter, and you memorise them.

There are also less frequent bookmarks, which one might find convenient to have in some menu with descriptive words,  like taxes, old-cs-books,  etc.

An alternative would be to visit a a bookmark directory with symbolic links. In tha

[2019-09-08 18:20] KlzXS commented on #329
I don't think this should be a core feature of `nnn`. You can make a plugin that does that if your really want, I think that the most it should ever do is store a single configuration file with such things.

Maybe multi-character bookmarks can be a thing? Maybe not, I don't know.

[2019-09-08 18:50] lawnowner commented on #329
Clipping components of path to show a shorter form decreases readability, and in some cases, causes ambiguities, such as collisions among paths in nnn contexts listing a directory under home directories of different users, e.g. /h/a/.config. I think there needs to be an option or toggle to show path in normal form.

[2019-09-08 19:41] jarun commented on #329
We can keep it under a config (which I wouldn't really like to do) or we can clip when the the path is too long. Maybe the second approach makes sense.

[2019-09-08 21:47] lawnowner commented on #329
Clipping if width is not enough is a good idea I think, unless path stays in short form upon increasing width.

[2019-09-09 11:19] AntonioFasano commented on #329
tl;dr

- Avoid modes if not necessary.
- Avoid modifiers.
- Double keys for dangerous operations.

After trying to make some actual work with nnn, I understood this project is influenced by vim philosophy of _modes_.

Modes make a lot of sense for an editor, where you usually type and you need a mode to say:
"Now I'm not typing, just hacking the text". So you save a lot of keystrokes, because you

[2019-09-09 12:36] jarun commented on #329
Keys with modifiers are very useful in _nav-as-you-type_ mode. No other FM I know has such a smooth implementation.

`^Y` has an alternative - `K`. Same goes for _most_ other keys with modifiers.

There are very specific reasons explained many times earlier. Please refer to the code.

[2019-09-09 14:01] jarun commented on #329
Questions:

1. How do you select a range of files in ranger?
2. In ranger, in addition to cp, mv, rm what other operations are possible on a selection of files?
  - because it appears a selection is limited to one operation. You press space and copy a file. Then you press space again. Definitely the second space will select only one file and you can, maybe move that file. Without having an additio

[2019-09-09 18:13] jarun commented on #329
@lawnowner folding only long paths is implemented at commit a064818acf4a3632934421fb94ea84cab059d59f.

[2019-09-09 18:18] jarun commented on #329
@0xACE I am noticing one issue with resize handling. After a resize (down) of the terminal, the earlier visible part is left printed on the screen. See the image below:

![](https://i.imgur.com/mg3skHw.png)

I tested this in xterm.

Can you please check if we can handle this?

[2019-09-09 22:47] AntonioFasano commented on #329
They are, but they are used also without nav-as-you-type, that is when they are pretty useless.

Except `Shift` is a modifier: there is not much difference between `CTRL-key` and `SHIFT-key`,

Do you mean [nnn.h](https://github.com/jarun/nnn/blob/master/src/nnn.h)?

[2019-09-10 01:32] jarun commented on #329
@AntonioFasano the questions in https://github.com/jarun/nnn/issues/329#issuecomment-529489148 are for you? I am more interested in those than the personal perspective trigerred rants.

[2019-09-14 06:54] ADITIJ700 commented on #329
Can anyone please explain what exactly we have to do? I want to contribute but I am unable to understand the requirements.

[2019-09-14 07:05] jarun commented on #329
@ADITIJ700 in which area are you interested in? Feature development, testing, documentation? Based on your interest I can find something interesting for you.

The 3 line items under _Proposed features and tasks (up for grabs)_ are the current dev work items if you are interested in development.

Currently we don't have anything in testing but it would be great if someone can explore [GitHub workfl

[2019-09-14 07:17] ADITIJ700 commented on #329
I am actually interested in the documentation.

[2019-09-14 07:33] jarun commented on #329
Then you can start with any of the 2 documentation work I mentioned above.

The English documentation is here: https://github.com/jarun/nnn/wiki

For the Hindi wiki please create a new wiki page. The wiki is editable for all. Please let us know if you need any help with that.

[2019-09-15 23:59] AntonioFasano commented on #329
@jarun

Your comments are really unfair.

You wrote "help wanted" for your to do list and I tried to give you my contributions.
I never used a single rude, disrespectful, demotivating word. I never said "you owe something" to those contributing your to do list.

If you are not happy with contributions to your to do list, why such harshness? Just don't implement them.

[2019-09-16 01:35] jarun commented on #329
Yes, and not a flurry of assertive questions and answers without trying to understand why thingsa re done in a certain way.

When I read your lines, I found a highly opinionated rant. I get it your opinion is influenced by other OFMs. We are not writing a copy of another file manager.

[2019-09-16 03:15] jarun commented on #329
@AntonioFasano

With implementation, actual code or insights based on code and reasoning.

User discussions are welcome. But that's different from a flurry of assertive questions and answers without trying to understand why things are done in a certain way. You haven't waited for a response in any of your questions. Examples below:

When I read your lines, I found a highly opinionated self-discuss

[2019-09-21 00:57] jarun opened #332 "ToDo list"
Rolled from #329.

### Ready for next release

- user requests addressed
  - plugins for image preview, image and video thumbnails
  - redesigned selection workflow
  - drop path prefix for files in current dir for selection based archives
  - custom direct keybinds for plugins
  - libreadline `.history` file moved to `nnn` config directory
  - export current entry as `$NN` at command prompt
  - m

[2019-09-21 12:28] 0xACE commented on #329
Hey, I have been away and I'll try to sort through some stuff i missed while I was away.

@AntonioFasano

Really this is a limitation imposed by the current construction of `nnn`. If this really bothers you this much one proposal I would have is:

I have though about implementing it in `selection-mode` on by default, and use `^Y` or `K` to clear the selection, but then I'd miss out on the range-se

[2019-09-21 12:36] 0xACE commented on #329
Oh I almost forgot.

@jarun I'll try to look up the resize problem, I don't understand it by your explanation but no worries I'll test it out and see what I come up with.

Currently on my backlog i have these tasks:

* publish my patches
* rebase my changes onto master and review your commits
* write wikipedia article
* research the resize bug mention in the previous thread
* figure out a more sta

[2019-09-21 18:04] jarun commented on #329
@0xACE thanks for following up on these.

I have reopened this thread so @AntonioFasano can respond to your proposal.

[2019-09-22 01:14] wachd commented on #332
Is there any flag that when you quit nnn it'll change to that directory? eg. I'm in home then open nnn I go to deep inside directory and after I quit I want to be in that directory.

[2019-09-22 01:56] jarun commented on #332
@wachd you can do that. Please visit https://github.com/jarun/nnn/wiki/Basic-use-cases#configure-cd-on-quit.

[2019-09-22 12:09] 0xACE commented on #332
I'm having trouble replicating/understanding this.

My interpretation (based on your screenshot):

1. launch `nnn`
2. resize the terminal window size (resize down)
3. exit `nnn`
4. _the problem:_ you are able to see text from the closed `nnn` window if you resize up the terminal window or scroll up.

It cannot be reproduced on `st` (my terminal). I tried `xterm` and I was only able to get the `[1

[2019-09-22 13:17] jarun commented on #332
This is what I see. In my case, as you see in the screenshot the initial files are also shown.

I don't think it's KEY_RESIZE issue. When making the terminal window shorter, nothing from the `nnn` window should be left printed is what I am expecting.

[2019-09-22 14:41] aeroslubis commented on #332
How about copying files in the background and you din't have to wait until files is finished copying.

[2019-09-22 14:57] jarun commented on #332
@aeroslubis `nnn` uses cp, mv in the background. I don't have the bandwidth to write better and safer attribute preserving OS/filesystem independent APIs.

To continue using these utilities I still need to fork in a thread and detach. So I will never know when it completes without adding another mechanism to open a communication channel with the main `nnn` process. That's elaborate and I am sure I

[2019-09-22 16:58] jarun commented on #329
Conversation unlocked.

[2019-09-22 16:58] #329 closed

[2019-09-22 17:39] 0xACE commented on #332
From my previous experience with terminals, iirc: neither `xterm` nor `urxvt` behaves "correctly". I just tried `less ~/.bashrc` and the same problem can be seen in `xterm` and `urxvt` but not in `st`

Do you still want me to research it further? (I concur with your conclusion, `KEY_RESIZE` doesn't seem to be the problem)

Because by my current best guess it seems like a issue with `xterm` and `ur

[2019-09-22 18:04] jarun commented on #332
No, we can live with it.

Sounds like a good idea. I don't use tmux myself however we can have it for users having tmux.

[2019-09-22 20:56] 0xACE commented on #332
I should mention though that I won't be implementing it as a script, I'll be doing it within `nnn.c`, but I guess it shouldn't be hard to implement a script version as well...

**The following text is not a problem per se, I'm just mentioning a observation and wondering if you have any opinion on it:**

Usually `tmux` should handle the pane splitting fine, but with `nnn` `tmux` doesn't see the fol

[2019-09-23 01:31] jarun commented on #332
Regd. the 4 points. yes, `nnn` does not do a `chdir()` when we change the directory. I think there are advantages and disadvantages both ways. Sometimes I start at home but wander away. And when I quit `nnn` I want to be home again irrespective of whichever locaiton I visited in `nnn`.

[2019-09-24 09:03] tbrodbeck commented on #332
+1 for adding a Miller Viewmode

[2019-09-24 12:10] jarun commented on #332
The fundamental issue with Miller View is too many redundant disk reads due to reading of subdir contents on opening or minor navigation in parent. On a remote mount this subdir content load will also slow you down.

However, if that's what you are looking for, there are alternatives available already.

[2019-09-24 13:05] jarun commented on #332
We don't claim that `nnn` will be like other file managers. It's about not wasting CPU cycles in redundant reads.

We are not considering this feature in `nnn`.

[2019-09-24 19:40] jhsta opened #333 "Progress bar macOS"
It seems on macOS `^T` doesn't work to show progress bar when moving files. Now it toogle nav-as-you-type. Is option to show progress bar was removed from nnn?

[2019-09-24 21:13] 0xACE commented on #333
I don't have a mac so I can't try it out.

But 1 question I have for you: Are you hitting `^T` while the file is being copied/moved? because afaik, thats the only time you can click it

[2019-09-24 21:35] 0xACE commented on #332
I should mentiong that implementing Miller columns in `nnn` would greatly complicate the code base. To my best understanding: `nnn` tries to maintain a simple codebase...

[2019-09-25 01:07] jarun commented on #333
0xACE is correct. In `nnn` `^T` is mapped to toggle _nav-as-you-type_. You'll have to press `^T` while cp/mv is in progress to see the progress of the operation.

[2019-09-25 23:26] jarun commented on #333
Closing the issue as the use case is clarified.

[2019-09-25 23:26] #333 closed

[2019-09-29 07:17] jarun commented on #332
I am considering using the current selection when using a selection based operation. Haven't completed the new workflow yet, but let's see.

[2019-09-30 01:51] jarun commented on #332
@KlzXS @0xACE please review the latest workflow and selection key modifications:

- No need to end selection mode manually, it's auto-ended (function endselection()) before cp/mv/rm selection, batch rename, create archive and run cmd, exec file, launch app, run plugin operations.
- Please review the new key mappings. Please refer to the latest program help in code for this.

[2019-09-30 15:29] jarun commented on #329
@AntonioFasano I am writing a patch that will take care of the selection mode problem. You won't need to enter or exit selection mode. Select any starts the selection mode and an operation that uses a selection will mark the end of the process.

[2019-09-30 15:36] jarun commented on #221
@simonsmith duplicate option in available in `nnn` now (`^R` or `F2`).

[2019-09-30 15:38] jarun commented on #183
@skywind3000 file picker mode is available in `nnn` now.

[2019-09-30 15:40] jarun commented on #201
@3N4N @kxzaon @laggardkernel selecting continuous and non-continuous files together will be implemented in the next release.

[2019-09-30 16:35] jarun commented on #332
@mcchrish @KlzXS @0xACE please review commit 57d9edfed312a6db9f6f4c1949001c082c0cbb9d.

[2019-09-30 17:26] KlzXS commented on #332
Correct me if this is the intended behavior but when you use range select and then clear the selection (by double pressing m for example) the selection file doesn't get cleared. Selecting anything in any manner after that clears it properly.

Other than that behaves like described in the commit notes.

[2019-09-30 17:29] jarun commented on #332
I am unable to reproduce this with latest master. Are you trying to describe the following sequence?

[code]

With this at step 4 three files are selected. And at step 6 all are cleared. Please share the keypresses in order if I am wrong.

[2019-09-30 17:34] jarun commented on #332
Ahh OK, Please see if this is fixed with commit 951d43eb777c09eaeda0efd8515bbcd3119838a4.

[2019-09-30 17:35] KlzXS commented on #332
That did it.

[2019-09-30 17:36] jarun commented on #332
Thank you!

[2019-09-30 19:43] 0xACE commented on #332
Hey, I tried out changes and it works fine, I can live with the changes. Not sure if _new_ users will react though...

[2019-09-30 20:55] jarun commented on #332
Didn't understand this part. Do you mean new users will not notice it or they will find it difficult? I thought they wouldn't notice because now the selection mode is gone.

[2019-10-01 08:10] lawnowner commented on #332
Thanks for the commit https://github.com/jarun/nnn/commit/57d9edfed312a6db9f6f4c1949001c082c0cbb9d. Makes nnn better than new without a hacronym!

[2019-10-01 16:30] skywind3000 commented on #183
amazing，any doc for that ？

[2019-10-01 16:35] jarun commented on #183
It's here: https://github.com/jarun/nnn/wiki/Basic-use-cases#file-picker

[2019-10-01 19:59] eugene55 commented on #332
In bash CTRL+S already used for forward-search-history function.

[2019-10-01 23:49] jarun commented on #332
How is it confliting with `^S` in `nnn`? When you are runnign `nnn` you are not in the shell. Or, am I missing something?

[2019-10-01 23:58] eugene55 commented on #332
It looks like I faced this issue: (https://unix.stackexchange.com/questions/12107/how-to-unfreeze-after-accidentally-pressing-ctrl-s-in-a-terminal)

[2019-10-02 01:00] jarun commented on #332
You need:

[code]

but this is bothersome. We have to replace `^S` with something else. I picked S for select but now I am out of ideas. Sugest a ^ combination.

[2019-10-02 01:06] jarun commented on #332
How about `^K` for selection? We need a `^` combination for nav-as-you-type mode.

[2019-10-02 01:10] eugene55 commented on #332
It should work I guess. And it's relatively easy to memorize.

[2019-10-02 09:32] superDuperCyberTechno commented on #332
Hi, is it even remotely possible that user/group could make it to the detailed view?

[2019-10-02 10:27] DinoPetrucci opened #334 "nnn blocks CLI when opening a file in a TTY with xdg-open"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Debian 10
[ ] Desktop Environment:
[ ] Terminal Emulator:
[x] Shell: Dash
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

When I try to open a file using `Enter` (or `l` or the `right` key) in a TTY, `nnn` 2.6 doesn't work well:

[2019-10-02 11:28] jarun commented on #332
@superDuperCyberTechno I did a draft implementation of this and found that if we use `getpwuid()` and `getgrgid()` the memory usage becomes very high because the name strings are obtained by parsing files. So I removed those.

But I understand your problem. Is it OK if the username and group are shown in the status bar (adding it to detailed view leads to a lot of manipulation issues as the number

[2019-10-02 12:17] superDuperCyberTechno commented on #332
`ranger` already does this and my experience is that it doesn't really help with getting an overview of the general permissions as I still need to navigate up and down to compare.

I think this sounds very reasonable. At least being able to toggle the data is very much appreciated as running `ls -laht` is basically doing exactly that.

[2019-10-02 12:54] jarun commented on #334
What kind of files are you trying to open?

Also, try the workaround from @0xACE in #319.

[2019-10-02 13:01] jarun commented on #332
Awesome! Here you go:

[code]

[2019-10-02 13:04] jarun commented on #334
Also, did you do:

    export NNN_USE_EDITOR=1

[2019-10-02 13:18] superDuperCyberTechno commented on #332
That's great. Can we add it to the plugins? Do you want me to pull request it?

[2019-10-02 13:36] jarun commented on #332
Yes, please! Please ensure you add the entry to the plugin table.

Please feel free to use `less`. In that case, please remove the `read dummy` line.

[2019-10-02 13:41] superDuperCyberTechno commented on #332
Alright. I'll have a PR ready when I get to it.

BTW: What does the `read dummy` line do?

[2019-10-02 13:56] superDuperCyberTechno commented on #332
Related question: Any idea why I can't run any plugins as per [method 1](https://github.com/jarun/nnn/tree/master/plugins#executing-plugins)

Both `:` and `x` followed by the plugin key does not do anything. I have installed all plugins and are testing the one we just created. I can only run them manually.

[2019-10-02 13:58] jarun commented on #332
It's still on master. Please wait for the next release.

[2019-10-02 14:52] DinoPetrucci commented on #334
HTML (as they should appear in `links`, not their source code) or even bitmapped images using `cacaview`.

I tried it for `xdg-open` but nothing happens within `nnn` and everything was messed up in the TTY: I had to kill the process from another terminal, and the cursor disappears from the TTY despite being exited (I had to reboot)!

I did but, as I wrote before, I don't want to see the source cod

[2019-10-02 15:07] jarun commented on #334
For me `xdg-open` is a script.

I am using Xubuntu and here's my `/usr/bin/xdg-open`: http://paste.ubuntu.com/p/gms97JHRSB/

My case should be handled in `open_xfce()` and it works just fine.

Can you check the difference with yours? It seems `xdg-open` detects the DE and uses DE specific tools to open files. Please check what's happening for your DE.

[2019-10-02 15:12] jarun commented on #334
Continuing my answer, what happens if you use:

    spawn(opener, newpath, NULL, NULL, F_NOTRACE);

Do the files open correctly in GUI application? `nnn` may block but I want to understand if the files open correctly.

[2019-10-02 15:15] jarun commented on #334
Also, can you try:

    export NNN_OPENER=mimeopen
and open those files in `nnn`?

[2019-10-02 16:25] DinoPetrucci commented on #334
My problem is not `nnn` in a DE, but in a TTY.  When I execute `xdg-open` (in a TTY, outside `nnn`) for an image (e.g. `/home/dfp/bouton.jpg`) these are the processes:

   `/bin/sh /usr/bin/xdg-open bouton.jpg`
   `/usr/bin/perl /usr/bin/run-mailcap --action=view bouton.jpg`
   `sh -c unset DISPLAY; /usr/bin/cacaview '/home/dfp/bouton.jpg'`
   `/usr/bin/cacaview /home/dfp/bouton.jpg`

That is: `xd

[2019-10-02 17:10] jarun commented on #334
OK. This wasn't clear to me earlier.

So all your utilities will be opened in CLI by opener. Is that correct?

If that's the case the following statement does not make any sense:

Let's make it clear that you can't have your opener mix GUI and CLI utilities for different mimes.

Now, if you can confirm all your preferred apps are CLI base, we can definitely throw in a program switch to handle this

[2019-10-02 17:35] #334 closed

[2019-10-02 17:35] jarun commented on #334
Please test the patch and confirm.

[2019-10-02 18:08] 0xACE commented on #332
I mean that, maybe new users, will not be able to figure out that you can clear the selection with `mm`.

But don't worry about it, to be honest it is not a big deal. And I personally like the change... You did a great job applying this patch and I'm happy with it.

[2019-10-02 18:16] jarun commented on #332
We'll have this documented in Wiki. I haven't updated it yet on selection as I'm still testing these changes. probably I'll hold off that update till the next release so current users of released version have the correct info.

[2019-10-02 18:47] jarun commented on #332
@superDuperCyberTechno I have added the plugin at commit 66713730f07ff8fd6ac1222eef880f69f18166cd.

[2019-10-02 19:31] DinoPetrucci commented on #334
The patch works!

I clarify that I use `nnn` in both TTY (Linux console) and GUI (terminal emulator), so I need it to work fine in both cases. With your patch I can instruct the CLI like this:

[code]

Now I can run `nnn` without problems (about the "opener").  Thank you very much.

[2019-10-02 20:59] jarun commented on #334
Ahh, `$XDG_SESSION_TYPE` makes sense!

Now I can make all of it automatic for you. No need for the additional program option!

Give me 5 mins.

[2019-10-02 21:09] jarun commented on #334
Try the latest patch and confirm. You wouldn't need to use the option `-c`.

[2019-10-02 21:47] DinoPetrucci commented on #334
Sorry, but I don't think it's a good idea.  The user should be able to use an option if the things go wrong.  Furthermore the environment variable `XDG_SESSION_TYPE` is set on my system or in GNU/Linux.  But... in another OS like Mac OS X? And if a system configuration use a different value?  In any case there are cleaner solutions (see [https://stackoverflow.com/questions/13204177/how-to-find-out

[2019-10-02 22:02] jarun commented on #334
macOS doesn't have virtual terminals or X so the check would fail anyway.

However, I think we can have a middle ground. We keep the option and on Linux we also check for `$DISPLAY`. If $DISPLAY is NULL, we can use the flag F_CLI. What do you think?

[2019-10-02 22:15] jarun commented on #334
Check out the latest patch and let me know your opinion.

[2019-10-03 08:57] DinoPetrucci commented on #334
"An hour in the morning is worth two in the evening."

`$DISPLAY` is not a POSIX environment variable and it is set by X11.  What about Wayland?  I've never tried pure GNOME-Wayland: does it use `$DISPLAY` or `$WAYLAND_DISPLAY` or what else?

Also the `isatty()` solution is an invalid one for our case: it just checks if the `stdin` is connected to a CLI directly or a pipe/file.  The first case is

[2019-10-03 09:14] jarun commented on #334
That makes sense. I will revert to the original fix and leave it to users to control the behaviour.

[2019-10-03 09:18] jarun commented on #334
OK. I dug a little more and it looks your guess was correct: https://fedoraproject.org/wiki/How_to_debug_Wayland_problems

So wayland sets WAYLAND_DISPLAY. I think X11 and Wayland are the only major display servers in vogue today. So why not extend the current check and confirm that neither DISPLAY nor WAYLAND_DISPLAY are set and then fallback to F_CLI on Linux?

[2019-10-03 10:30] superDuperCyberTechno commented on #332
Are there any plans on implementing an easier way to configure keyboard shortcuts (as opposed to re-compiling)?

[2019-10-03 10:55] DinoPetrucci commented on #334
I think that, in this case, relying on the environment variables is a weak and a dangerous choice.  Forget it and keep the -c option only: it's enough.  Final recommendation: revert to the original fix and leave to the users the control.

[2019-10-03 10:56] jarun commented on #332
We have had a bad experience with that. At some point we were spending more time on fixing keyboard conflicts than on development. It's blocked for good. Also we don't want to do unnecessary file reads and writes.

[2019-10-03 10:59] jarun commented on #332
I would love more useful plugins though.

[2019-10-03 11:01] jarun commented on #334
Done! I'll revert to the original fix.

[2019-10-03 11:30] superDuperCyberTechno commented on #332
I'd love to contribute but I don't have any ideas at the moment.

[2019-10-03 12:11] superDuperCyberTechno commented on #332
Would you consider enabling the user to deactivate shortcuts?

[2019-10-03 12:20] jarun commented on #332
Which ones, for example?

[2019-10-03 12:46] superDuperCyberTechno commented on #332
Well, all of them. I like to lock down my stuff to a minimum of functionality. While I love `nnn` there's a lot of shortcuts that I simply don't use. And many of the ones I do use, I tend to forget.

I have to lookup copy/pasting every time I need it so I ended up creating a plugin for that as it enables me to have a central access point to my most used actions. Same thing with deleting.
That has

[2019-10-03 12:52] jarun commented on #332
Understood. What if I tell you that you can have this plugin run with a custom keybind directly in the next release? For example, my notes file opens at `:n" now.

If you want to disable how do you propose to do that?

[2019-10-03 13:03] superDuperCyberTechno commented on #332
That's exactly what I'm shooting for.

Programatically speaking, no idea.

Practically speaking I guess you could go full ham and make variable that removes all shortcuts except the most basic: `up`, `down`, `j`, `k`, `q` and `enter`.

Alternatively one could add codenames to the different functions and check for a blacklist environment variable (array) containing these.

[2019-10-03 13:06] jarun commented on #332
This is already available on master, try it. See the help in Misc section: `:K xK  Run plugin key K`

[2019-10-03 13:32] jarun commented on #334
@DinoPetrucci and @0xACE I think what we were looking for here is:

    ttyname(STDIN_FILENO)
What do you guys think?

[2019-10-03 13:53] KlzXS commented on #334
That is a reliable way of differentiating a virtual terminal from a graphical terminal emulator. Just keep in mind that when connecting over ssh (even when using it directly from a tty) it will return `/dev/pts/x`.

[2019-10-03 13:55] jarun commented on #334
@KlzXS I am retaining the `-c` option. However, I would very much like to auto-detect a local tty and deliver the best experience to users automatically.

[2019-10-03 14:06] jarun commented on #334
Also, this is POSIX compliant and looks like both macOS and BSD support it.

However, I am not sure of the nomenclature followed in macOS and BSD for tty and pts. So, right now I can only make this change for Linux.

[2019-10-03 14:07] jarun commented on #334
Sample patch:

[code]

[2019-10-03 14:19] KlzXS commented on #334
That should work, but a quick look around the internet concluded that the concept exists since the days of Unix but that the naming convention of master and slave pseudo terminals can differ. For example `man pts` says the following

    The Linux support for the above (known as UNIX 98 pseudoterminal naming) is done using the devpts filesystem, that should be mounted on /dev/pts.
    Before this

[2019-10-03 14:21] jarun commented on #334
Yes, I am dropping the idea. It varies from OS to OS. We'll keep it explicit with `-c`.

[2019-10-03 14:29] jarun commented on #332
@superDuperCyberTechno would it be possible to prepare a demo video of `nnn` plugins? Maybe pick a few which may interest devs?

[2019-10-03 15:04] superDuperCyberTechno commented on #332
Of the ones I made and use? What's the end goal? - Like I mentioned, they are just reimplementations of things already in `nnn`...

[2019-10-03 16:03] jarun commented on #332
No. A demo recorded video of plugins like ndiff, checksum, fzy-open, hexview, ndiff, nmount, pastebin, splitjoin, transfer etc.

[2019-10-03 16:35] superDuperCyberTechno commented on #332
You want me to prepare a demonstration videos of the currently available plugins?

[2019-10-04 00:22] jarun commented on #332
@superDuperCyberTechno that's correct! It would be real helpful for users newly adopting `nnn`.

[2019-10-04 04:14] jarun commented on #332
And I meant a single short video demoing some or all of the plugins I mentioned above.

I also have some plugin improvement suggestions:

We can use ix.io and 0x0.st.

These would remove the dep on pastebin script and transfer.sh looks a bit shaky wrt. longevity.

[2019-10-04 07:31] superDuperCyberTechno commented on #332
Huh. Well, I'd love to help but I have a lot in the pipeline. I'll see what I can do.

[2019-10-04 07:33] jarun commented on #332
Sure!

[2019-10-04 13:14] jarun commented on #332
Looks like transfer.sh found a partner. I updated the pastebin plugin to use ix.io.

[2019-10-06 07:00] jarun opened #337 "ToDo list"
Rolled from #332.

### Ready for next release

- run custom (non-shell-interpreted) commands like plugins
- sessions (thanks @annagrram)
- configure _cd-on-quit_ as the default behaviour
- _copy as_ and _move as_ workflow
- edit , flush selection buffer (thanks @KlzXS)
- changed the key to size sort to <kbd>z</kbd>
- ignore events during selection so the `+` symbol is not lost
- mount archives usi

[2019-10-06 07:01] jarun commented on #332
Rolled at #337.

[2019-10-06 07:01] #332 closed

[2019-10-06 11:10] KlzXS commented on #337
I've been meaning to ask, what exactly does "script to duplicate selection in respective directories" mean? Does it mean if I selected some entries in `dirx` that it should select all available entries with the same name in `diry`? Should this be a plugin?

[2019-10-06 13:04] jarun commented on #337
@KlzXS the script would ask for a suffix from the user and create duplicates of paths in selection. I don't see a pressing need for it right now.

[2019-10-06 13:34] KlzXS commented on #337
Right. I just wanted to clear up the wording a bit, I found it to be a bit ambiguous.

[2019-10-06 14:00] 0xACE commented on #337
https://en.wikipedia.org/wiki/Nnn_(file_manager)

[2019-10-06 14:03] jarun commented on #337
@0xACE wow! I can't appreciate you enough for this!

[2019-10-06 14:04] jarun commented on #337
@0xACE @KlzXS I am planning to make a release in a few hours. Any last minute additions?

[2019-10-06 14:05] 0xACE commented on #337
Anytime bro.

Nah, go ahead from me. I'm working on a patch for the mouse support but it will not be done in time I'm afraid...

[2019-10-06 14:08] KlzXS commented on #337
Go ahead. There's nothing I have right now.

[2019-10-06 14:10] jarun commented on #337
@0xACE No problem! This release is a massive one. I don't think we have added so many features in a single release in any of my projects ever! Thank you both for your active contribution.

[2019-10-06 14:13] jarun commented on #337
@0xACE the first release (v1.0) of `nnn` was on 13 Apr, 2017. Can you please update?

[2019-10-06 14:48] jarun commented on #337
I have updated the initial release date on Wiki.

[2019-10-06 20:09] jarun opened #338 "Set current file to $nnn instead of $NN before excuting cmd or spawning shell"
Nice suggestion from one of our users. Currently we set the environment variable `$NN`. Using `$nnn` would be much easier to remember.

[2019-10-06 21:19] lahwaacz opened #339 "Don't use $XDG_CONFIG_HOME for runtime data"
The `$XDG_CONFIG_HOME` path should be used only for config files. But since nnn does not have a config file, `$XDG_CONFIG_HOME/nnn/` is being abused:

- I suggest to move runtime files like `.selection` and `.lastd` to `$XDG_RUNTIME_DIR` which complies to the standard (and it is usually located on tmpfs).
- I'll excuse `plugins/` although they are not configuration either, but there is no better d

[2019-10-06 21:29] jarun commented on #339
Made the headline read a little less like it's the end of the world. We'll consider this.

[2019-10-06 22:45] lpar opened #340 "Standard SI/IEC units?"
Any chance of an option to use and display [standard SI/NIST/IEC units](https://en.wikipedia.org/wiki/Binary_prefix)?

[2019-10-06 22:54] jarun commented on #340
`nnn` follows only the binary (IEC) standard. So the initials letters you see represent the respective prefixes.

[2019-10-06 22:54] #340 closed

[2019-10-07 11:02] #338 closed

[2019-10-07 17:11] lpar commented on #340
That's confusing because the abbreviated prefix is a valid prefix for a different value. I'd like the prefix shown to match the actual value.

[2019-10-07 17:58] jarun commented on #340
I'd like to have more space for the filename than trivia. I will document this.

[2019-10-07 18:14] lpar commented on #340
Then why not use base-10 units, since those are what disks are measured in anyway by the manufacturers?

(I don't care which units are used, I just want them indicated accurately.)

[2019-10-07 18:21] jarun commented on #340
I think the middle ground is we simply state that `nnn` follows JEDEC which uses the _prefix symbols K, M, G and T in the binary sense_.

[2019-10-07 19:38] lpar commented on #340
"NOTE 2 The definitions of kilo, giga, and mega based on powers of two are included only to reflect common usage. IEEE/ASTM SI 10‑1997 states "This practice frequently leads to confusion and is deprecated." — [JEDEC](https://www.jedec.org/standards-documents/dictionary/terms/mega-m-prefix-units-semiconductor-storage-capacity)

[2019-10-07 20:02] jarun commented on #340
What's shown in `nnn` is the same as `ls` default. Here's an excerpt from the `ls` manpage:

[code]

All users of `ls` understand this nomenclature. `nnn` follows the same.

If you have an issue with that, please have your own fork.

[2019-10-07 20:28] jarun commented on #339
From the `XDG` docs:

[code]

- Neither the `.selection` and nor the `.lastd` files are _non-essential_. Many of the vital functionalities of `nnn` work using the `.selection` file. Plugins use it all the time. The `.lastd` file is accessed even after `nnn` quits.
- The `$XDG_RUNTIME_DIR` is not a constant one and I don't want users to keep changing their scripts from system to system.
- I don't i

[2019-10-07 20:28] #339 closed

[2019-10-07 21:18] lahwaacz commented on #339
- As far as I can tell, `.selection` and `.lastd` can be considered non-essential, because if they were suddenly deleted, nnn would not crash but some functionality would break. This (or worse) can be said for virtually any program storing any files (like sockets or named pipes which are used as examples in XDG) in `$XDG_RUNTIME_DIR`. Even non-essential files are needed for something, otherwise th

[2019-10-08 01:54] jarun commented on #339
Each and every path in XDG has this catch - _If $XDG_XXX_DIR is not set_... And that's what makes it so goddamn hard to keep supporting this horseshit. It's not a spec, it's just a guideline that's lenient enough to say it's OK if you don't follow me. So eventually devs have to keep supporting multiple paths (which translates to redundant code in their lingo).

It's a wrapper over the standard Uni

[2019-10-08 02:20] amanjitsk opened #341 "Recently opened documents ?"
How about a recently opened documents feature as in more traditional gui-based file managers like nautilus ? Documents opened from `nnn` do not seem to store history in some applications such as zathura, so it would be nice if something like this would be possible (via a plugin potentially) ?

Thanks,
Amanjit

[2019-10-08 02:34] jarun commented on #339
Note: I have marked the thread as off-topic because of my own arguments here. I admit I am tired of having to address concerns without material contributions in areas which are not closely coupled with the main program and could be contributed to easily. It's been many years I'm doing this and at this point in life if I can spend 5 extra minutes with my son with a peaceful mind or enjoy a cup of c

[2019-10-08 02:50] jarun commented on #341
@amanjitsk none of @jarun's projects store user history or track them. However, this can be done easily.

`nnn` uses `xdg-open` (or the default opener in you DE) which in all probability would be a script. Full-time `nnn` users can always write a wrapper over `xdg-open` or `mimeopen` to _optionally_ store the path in a user-specific file and have a plugin to feed the list to `fzy` and open those (

[2019-10-08 02:50] #341 closed

[2019-10-08 08:07] mrbig033 opened #342 "What is the leader key on Linux, and how can I change it?"
Title.

[2019-10-08 08:11] jarun commented on #342
There are two leader keys (on any OS): <kbd>,</kbd> and <kbd>^/</kbd>.

You can look them (and all other shortcuts) up in `nnn` by pressing <kbd>?</kbd>.

To change a keybind you'll have to compile `nnn` (not that difficult because of minimal deps). However, I think if you press <kbd>?</kbd> you'll realize why the keybinds are not readily modifiable.

There was a time they were modifiable and we w

[2019-10-08 08:16] mrbig033 commented on #342
May I suggest you change "lead key" to "leader key", in order for a regular search to find this information?

[2019-10-08 08:17] mrbig033 commented on #342
I'm wasn't REALLY interested in changing this keybinding, but it seemed like a question that would lead me to how the leader key works on `nnn`. Thanks.

[2019-10-08 08:26] jarun commented on #342
It's mentioned as `Leader` in the docs: https://github.com/jarun/nnn#leader-key

It's mentioned as lead in help as I wanted to save a few bytes and keep the help a little concise.

[2019-10-08 12:07] conilas opened #343 "Had to create /nnn/ folder by hand"
#### BUG REPORT

**Environment**
Shell:  bash
Terminal (probably not important): terminator

So, after adding the `n` call to my bashrc and sourcing it, I tried to use `n`, navigate to a folder and Ctrl+G.

The expected behavior would be for it to CD to that folder. Instead, nothing happened.

I went to check in the `~/.config` folder (where it saves the latest used by nnn according to https://git

[2019-10-08 12:31] jarun commented on #343
It's a bug. Can you please remove the `~/.config/nnn` directory and compile in debug mode? The debug logs should show more info.

[2019-10-08 14:07] jarun commented on #343
In addition please check if you have `$XDG_CONFIG_HOME` defined. It doesn't look feasible from the code `nnn` will start without creating the config directory.

[2019-10-08 15:38] mrbig033 commented on #342
I understand, but in the Keyboard and mouse section, it is referred as `lead` instead. This screwed-up my `Ctrl+f`m and made me create this silly issue.

[2019-10-08 17:07] 0xACE commented on #342
If you hit `?` in `nnn` you will see that the `help` list is very, *very* constricted. Therefor liberties has been taken to fit the help screen message within the assumed width of the terminal.

As you can see in

https://github.com/jarun/nnn/blob/master/src/nnn.c#L2818

The `show_help()` function is stupid simple, as to adhere to the project philosophy goals.

There are reasons for it being conci

[2019-10-08 17:12] 0xACE commented on #343
I cannot reproduce this on the latest master. My best guess atm is that your machine is misconfigured.

Btw I dont have `$XDG_CONFIG_HOME` defined, and it works fine.

[2019-10-09 10:01] mayowa opened #346 "Cant install nnn_2.7-1_ubuntu18.04.amd64.deb on Ubuntu 19.04"
#### Environment details (Put `x` in the checkbox along with the information)

[X] Operating System: Ubuntu 19.04
[X] Desktop Environment: Gnome 3.32.1
[] Terminal Emulator:
[ ] Shell:
[ ] Custom desktop opener (if applicable):
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
[code]
I've tried to install libreadline7 but its not available in the repos for 19.04

Thanks

[2019-10-09 10:06] mayowa commented on #346
I was able to compile form source. Should I close this issue?

[2019-10-09 10:39] jarun commented on #346
We have auto-generation enabeld only for LTS releases of Ubuntu. SO 19.04 is not added in the matrix.

Closing the issue.

BTW, if possible please share the commands to compile from source on 19.0 here for future reference.

[2019-10-09 10:39] #346 closed

[2019-10-10 01:48] mrbig033 commented on #342
I just think it's inconsistent, that is all. If there's a case to be concise, then change the README to make  `leader` read `lead key` in all cases. You can always make a note that this is what some people usually call `Leader`. Problem solved.

[2019-10-10 01:54] jarun commented on #342
@mrbig033 I think that's a very reasonable suggestion. I am going to update the README accordingly.

[2019-10-10 03:00] #342 closed

[2019-10-10 03:01] jarun commented on #343
@conilas we can't proceed without addition details. Closing the issue.

[2019-10-10 03:01] #343 closed

[2019-10-10 15:26] mayowa commented on #346
I didn't do anything special. I followed the instructions from https://github.com/jarun/nnn#from-source.
The only issue was for some strange reason I had to purge libncursesw5-dev & apt install --fix-broken before reinstalling it.

[2019-10-10 22:07] sucrecacao opened #349 "first impression as a new user"
#### Environment details (Put `x` in the checkbox along with the information)

[x ] Operating System: debian
[ x] Desktop Environment: i3
[x ] Terminal Emulator: gnome-terminal
[x] Shell: bash
[ ] Custom desktop opener (if applicable):
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

fresh install of nnn by adding new ppa repo.

first I want to say that is very hard for a

[2019-10-10 23:26] mrbig033 commented on #342
Thank you!

[2019-10-11 01:00] jarun commented on #349
which doc did you refer to? I think you missed the project README.

Yes, they can be retained if `nnn` keeps a snapshot of the directory in memory or does string matching for all files everytime you open a directory. To do those it would have to sacrifice on performance and/or resource usage.

`nnn` is not like traditional file managers. If you are finding it painful to use I would suggest you use

[2019-10-11 01:00] #349 closed

[2019-10-11 01:53] Sevensidedmarble opened #350 "Add setting to change default for exiting back to nnn working directory"
We had this discussion on Reddit a few days ago. I think it'd be great to be able to have a setting so we could set whether we want the *default* behaviour when exiting the shell to be changing to nnn's current directory. This is almost exclusively what I use ranger for so it'd be cool to see this in nnn.

[2019-10-11 01:54] Sevensidedmarble commented on #350
@jarun if this isn't too hard I wouldn't mind trying to help out with it, I haven't had a ton of Go experience and I'd like to practice more.

[2019-10-11 03:06] jarun commented on #350
@0xACE @KlzXS this is about honoring `NNN_TMPFILE` always if it is set. Should we make it the default behavior or have a config for it?

[2019-10-11 08:50] KlzXS commented on #350
I see no reason not to make it the default, if you're copying things over into your shell config you probably want it to be the default behavior.

[2019-10-11 11:29] s-mage opened #351 "New file interface is inconvenient on narrow screens"
#### Environment details (Put `x` in the checkbox along with the information)

[ v ] Operating System: macOS
[ ] Desktop Environment:
[ v ] Terminal Emulator: iterm2
[ v ] Shell: bash
[ ] Custom desktop opener (if applicable):
[ v ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

Open nnn on a narrow screen (20% or screen in vim in my case, but it's the same in plain termina

[2019-10-11 13:08] #351 closed

[2019-10-11 13:09] jarun commented on #351
I have made changes to shorten the prompt for new file/dir to just "name: ".
If that's not sufficient, please raise a PR for this.

[2019-10-11 13:23] jarun commented on #350
And what if a user who has this setting wants to quit and end-up in the initial directory? That flexibility will be lost.

@Sevensidedmarble say you have 3 contexts open. Currently `q` is the key to close a context. I don't want to change that binding. However, I can change the behavior so when you press `q` `q` `q`, you'll end up in the working directory. Is that acceptable?

Of course, if you pr

[2019-10-11 15:19] KlzXS commented on #350
Wouldn't that add an extra delay when exiting for people who don't want to use that feature?

[2019-10-11 15:22] jarun commented on #350
Which one?

[2019-10-11 16:07] KlzXS commented on #350
Triple pressing q. You would need to add a delay to allow the user to enter it multiple times. I just don't know how noticable that would be.

[2019-10-11 16:11] jarun commented on #350
No. You don't need to press thrice all the time. `q` is to quit the current context. So I was citing en example where 3 contexts are open. `q` closes a context so user has to press `q` thrice in this example. If there's only one context, pressing `q` once with quit to current directory (as per proposed behavior).

[2019-10-11 16:13] jarun commented on #350
All I am trying to convey is - we will change the directory where you end up after you quit `nnn`, but we will not change the behaviour associated with the keybind.

[2019-10-11 16:17] KlzXS commented on #350
Ok, I don't use this and instead just drop into the shell so I'll leave it to you to figure out what should be done. All I want is to be able to quit nnn without dropping into the current directory.

[2019-10-11 16:22] jarun commented on #350
You start in dir `x` and navigate to dir `y`. Now if you quit `nnn` do you want to drop in `x` or `y`?

@Sevensidedmarble wants to drop in `y`.

[2019-10-11 16:43] KlzXS commented on #350
I want to stay in `x`.

[2019-10-11 16:45] jarun commented on #350
OK. I think I have found a easy way to achieve both.

[2019-10-11 17:49] #350 closed

[2019-10-11 17:54] jarun commented on #350
Please test the patch.

`nnn` now has an additional check for `NNN_TMPFILE`. If set, it will write the last working dir to `.lastd` file.

To return to initial dir on quit, export `NNN_TMPFILE` after the call to `nnn`.

[2019-10-11 18:37] KlzXS commented on #350
Confirming that it works.

[2019-10-11 18:45] jarun commented on #350
Thanks!

[2019-10-11 22:38] 0xACE commented on #350
I have spent 10 minutes reading the patch and trying to figure it out... What exactly have you changed?

It doesn't seem personally important to me, but if you want me to review it I have to understand it... Otherwise it's safe to ignore it for now...

[2019-10-12 02:08] jarun commented on #350
Ignore for now! It's pretty simple but means a lot for people who like to drop in the final dir.

[2019-10-12 07:45] jarun commented on #337
Hey guys! We have archive mounting in place now. Optional dep but it's quite useful.

I also made some improvements to umount:

- works with both mounted archives and remotes
- now you can just highlight the mounted dir and press `u` to unmount

[2019-10-13 11:25] lawnowner commented on #337
Is there a way to get traversed path in a plugin? That is, working directory displayed next to context numbers on top. Both pwd -L and pwd -P give physcial path of working directory avoiding any symlinks, as does $PWD.

[2019-10-13 11:31] jarun commented on #337
@lawnowner do you mean to say you are only seeing absolute paths? That's the intended behaviour.

[2019-10-13 11:52] lawnowner commented on #337
I mean I'm seeing absolute paths with symlinks resolved in plugins (canonical paths), e.g. when the nnn top bar display working directory as "/home/lo/Pictures/Mechanisms", $PWD or pwd -L command gives "/mnt/data1/Pictures/Mechanisms" in a plugin.

[2019-10-13 11:57] jarun commented on #337
Hmmm... I'll fix this if you promise to award a star to the project. It's been some time I'm running your errands. ;) :laughing:

[2019-10-13 11:59] lawnowner commented on #337
Will definitely do, as deserved!

[2019-10-13 11:59] jarun commented on #337
Test with commit 087380968d4cd828881995b1196181a3c8c23a9f. Unresolved path will be passed as `$2` to the plugin.

[2019-10-15 14:43] jarun commented on #337
@KlzXS @0xACE @annagrram with the change from @KlzXS yesterday, the binary size of `nnn` has exceeded 60KB. We may have to find some ways to reduce it again. The const strings add to the size but what we have currently (help, patterns and keybinds help) are inevitable.

[2019-10-15 15:54] KlzXS commented on #337
The biggest offender here is `browse()`. It's the biggest finction, both source code wise and binary wise, and is also the most complex one. We should see if there is any way to simplify it. The nested switches seem like a great thing to eliminate.

[2019-10-15 15:59] jarun commented on #337
I remember that after grouping cases the size decreased. But yes, if we can refomat that would be great. But I don't see an easy way to do that.

[2019-10-15 19:44] jungle-boogie opened #361 "2ac22cfc9f114eb40b9a6406c6816bd4ba732cf0 broke OpenBSD build"
[x] Operating System:
`OpenBSD -current`

[x] Desktop Environment:
`cwm`

[x] Terminal Emulator:
`xterm via tilda`

[x] Shell:
`ksh`

[x] Custom desktop opener (if applicable):
none

[ ] Issue exists on `nnn` master

[code]
[code]

[code]

[code]

[code]

[2019-10-15 19:50] jungle-boogie commented on #361
OpenBSD manpage for clock_gettime (2)
https://man.openbsd.org/clock_gettime

[2019-10-15 20:30] sjmulder commented on #361
I came across this issue too in my SmartOS port. Commit 6a6b30d in PR #363 should fix it.

[2019-10-16 01:44] jarun commented on #361
Fixed in PR #363.

[2019-10-16 01:44] #361 closed

[2019-10-16 03:34] jungle-boogie commented on #361
Verified fixed in commit 522626a88dffb820cc14be707ce0e6940df42e88

[2019-10-16 03:35] jungle-boogie commented on #361
Thanks for fixing, @sjmulder. By the way, 6.6 release is very soon.

[2019-10-18 00:34] annagrram commented on #337
Aggressive optimizations for fast execution might cause the executable to grow.
I don't find it too worrisome at the moment (76K stripped on my machine with gcc).
But, if we want an easy and quick solution, we can try use a packer like [UPX](https://upx.github.io/).
On my machine, it creates a 40K executable, should affect only load time which is unnoticeable, on my machine at least, because the b

[2019-10-18 00:59] jarun commented on #337
not yet

We will try this first. Let's have the important features (cp/mv as, session support) in and stable. If we get rid of the help, we can get back to original size (I tried it). So probably we'll target the strings first - to make them meaningfully shorter. But let's have the features in.

[2019-10-18 14:05] jarun commented on #337
@0xACE AFAIK, you are on Arch Linux. Do you have `fusermount3` or `fusermount`?

[2019-10-18 14:55] jarun commented on #337
@0xACE @KlzXS @annagrram are you getting my messages in the dev discussion group?

[2019-10-18 15:25] annagrram commented on #337
Yes

[2019-10-18 15:26] jarun commented on #337
OK, I don't see any response so thought there's a problem.

[2019-10-18 18:21] 0xACE commented on #337
there is [fuse3](https://www.archlinux.org/packages/extra/x86_64/fuse3/) and [fuse2](https://www.archlinux.org/packages/extra/x86_64/fuse2/).

* `fuse3` provides `fusermount3`
* `fuse2` provides `fusermount`

I have both installed. as dependencies of other packages. In my case `sshfs` depends on `fuse3` and `archviemount` depends on `fuse2`

Yessir. My problem is mostly that launching the browser

[2019-10-18 19:06] KlzXS commented on #337
I am also recieving messages when I turn on data, but I'm in roaming so I'm trying to cut that to a minimum. I will return home on the 24th so until then I probably won't be responding much.

[2019-10-18 20:56] annagrram commented on #337
Go for a terminal browser then :)

[2019-10-18 21:37] jarun commented on #337
In that case, is archivemount with `nnn` broken for you? Because if it finds `fusermount3` it will use it.

[2019-10-19 18:06] 0xACE commented on #337
broken in which way? i have previously tried archivemount and didn't have issues.

my pc has both `fustermount3` and `fusermount` (represnting fuse2)... From my experience I haven't seen error messages so far...

I can see that `unmount()` is defaulting to `fusermount3`. so I ran `fusermount3 -u myarchive` and it unmounts without errors...

Some times I do, but really the entire web is a poor expe

[2019-10-19 21:06] jarun commented on #337
@0xACE, I must tell you, with your mouse click patch, `nnn` on Termux is smoother than ever. I use it heavily.

[2019-10-19 21:11] jarun commented on #337
I am working on refactoring `browse()` to make it thinner wherever possible.

[2019-10-20 00:04] jarun opened #365 "Update SESSIONS_VERSION to 1 before next release"
See title.

[2019-10-20 07:12] annagrram opened #366 "`show_help` problems in the BSDs"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: FreeBSD 12.0-RELEASE-p10 / OpenBSD 6.6
[ ] Desktop Environment:
[ ] Terminal Emulator:
[x] Shell: tcsh / ksh
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

The arrow symbols in `show_help` don't display correctly on FreeBSD and

[2019-10-20 14:08] #366 closed

[2019-10-22 13:29] jarun commented on #337
@0xACE would it be possible to combine the drag and drop plugins into one?

[2019-10-22 17:15] jarun commented on #337
No hurry. Whenever you get the time. I don't use mouse or have dragon installed. ;)

[2019-10-23 17:07] alexx-oo opened #367 "What's the ^ key?"
Sorry for this stupid question. But I didn't find ^ symbol works. For example, ^G to quit,  I press shift + 6 (so that it is ^) and then G( shift + g to ensure it is uppercase). The result is to go the last entry which is G function not ^G function.

May I know how to press the ^  with other keys?

Many thanks!

[2019-10-23 17:21] annagrram commented on #367
^G means Ctrl+G :)

[2019-10-23 17:30] alexx-oo commented on #367
Got it, It works! Thanks!

[2019-10-23 17:30] #367 closed

[2019-10-23 18:00] jarun commented on #367
For reference: https://en.wikipedia.org/wiki/Control_key#Notation

[2019-10-25 03:32] 0xACE commented on #337
Well it just happened, I accidentally deleted a file I didn't intend to delete...

Can we implement a method to show what we are about to force delete in both `^X` and `X`?

Any ideas on how that implementation would look/work?

[2019-10-25 03:33] jarun commented on #337
show the selection.

[2019-10-25 04:25] jarun commented on #337
For ^X, it's your hovered file. Why do we need to show again? We don't block the view either.

[2019-10-25 15:07] 0xACE commented on #337
I'm frequently confused by which one is which `X` vs `^x`, and it doesn't help that my `tmux` has `^x` as leader key...

It frequently confuses me. but no worries, ignore that I brought it up, I'll experiment locally to see if there is something I could do about it :)

[2019-10-25 15:36] jarun commented on #337
Awwww... you aren't using it enough! ;)

[2019-10-30 19:52] lsnch commented on #331
Is there a way to set it to `bat` only for the `p` button? `alias nnn="PAGER=bat nnn"` works, but subshells inherit that environment as well (which screws up man pager, for one).

[2019-10-30 21:12] annagrram commented on #331
You can use NNN_PLUG to define a keybinding to a plugin that opens a file with `bat`.

[2019-10-31 18:55] aryadovoy opened #369 "Checksum (plugin) for directory"
Could you add this option? It's useful for checking, when you're copying lots of files in folders.
Thanks.

[2019-10-31 18:57] aryadovoy commented on #337
Hey, I cannot see size of dirs. What should I do?

[2019-10-31 19:44] jarun commented on #337
@aryadovoy on which version are you? what do you mean by size of dirs? size in du mode or the regular size?

[2019-10-31 19:45] jarun commented on #369
Please elaborate.

[2019-10-31 20:21] jarun commented on #369
The `checksum` plugin works with selection already. So you need to press `a` to select all files in dir and run the plugin.

[2019-10-31 20:25] jarun commented on #369
If you are interested, please extend the plugin to calculate the checksum of all the files in a hovered directory of selected directory.

[2019-10-31 20:42] jarun commented on #369
@KlzXS adding you as well.

[2019-10-31 20:49] aryadovoy commented on #369
When you have lots of folders and subfolders, it isn't easy to select all files of folder.

[2019-10-31 20:52] aryadovoy commented on #337
Master of 2.7.
I prefer du mode, but any option would be enough.

[2019-10-31 21:00] jarun commented on #369
Please test the updated plugin and confirm it works as expected.

Note that the changes don't apply to directories in a selection.

[2019-10-31 21:01] jarun commented on #337
The cumulative size si shown in `du` or `au` mode already. In normal mode the size from `stat` is shown. Can you share a screenshot of what you are seeing?

[2019-10-31 22:07] KlzXS commented on #369
I would love to test this new plugin, but I can't run any plugins. Starting with 60dac94 when I try to run a plugin it just erases the thing at the bottom (are we calling it a status bar?), and stays that way until a valid keybind is pressed.

I'll look into it tomorrow, just letting you know of this potential issue.

[2019-10-31 22:28] jarun commented on #369
please provide some more details. I'm not seeing this.

[2019-11-01 07:18] aryadovoy commented on #369
Hah, I've checked.  I got checksum for each file, but didn't for whole directory.

[2019-11-01 07:24] jarun commented on #369
Is checksum calculated for a directory?

[code]

[2019-11-01 07:26] aryadovoy commented on #369
No, that is the question. :)
I used `find . -name '*' -exec cat {} \; 2>/dev/null | md5sum`, but I got different results on different devices for one dir.

[2019-11-01 07:29] jarun commented on #369
Are the results different for individual files? Where's this _directory issue_ coming form?

[2019-11-01 07:39] aryadovoy commented on #369
No, for files everything's OK.
I needed to check, that all files from Android device was copied to debian server, so I tried to use checksum for whole directory. Now I'm installing nnn on termux for getting list of checksums and after that I'll compare 2 checksum files.

[2019-11-01 07:41] jarun commented on #369
I see. Please debug yourself and raise a PR to patch the script _if you find any issues_. This is quite generic and I can't spend any more time on this.

[2019-11-01 07:44] aryadovoy commented on #369
Ok, thanks!
But now plugin is better, than yesterday version. :)

[2019-11-01 07:49] aryadovoy commented on #337
I used `D`-key for checking sizes by bytes, but nothing.
![2019-11-01_094015](https://user-images.githubusercontent.com/26593349/68010256-8ef50c80-fc9d-11e9-9a3e-7baa098ea913.png)
![2019-11-01_094038](https://user-images.githubusercontent.com/26593349/68010257-90263980-fc9d-11e9-8539-a28593efc0dd.png)

[2019-11-01 08:12] jarun commented on #337
`D` is for the file details. You can already see the du for the dir in the `du` screen.

If you are looking just for the byte size, what's the use-case?

[2019-11-01 08:14] jarun commented on #337
It's not that difficult though... in the `du` or `au` mode we can show the byte-size in the status bar anyway.

[2019-11-01 08:17] aryadovoy commented on #337
Exact size of directory for comparing.

[2019-11-01 08:20] jarun commented on #337
OK, I will add a patch for this, It's a good value addition! :+1:

[2019-11-01 09:27] aryadovoy commented on #369
Actually, checksum plugin doesn't work on Termux. :(

[2019-11-01 09:38] jarun commented on #369
- which checksum did you try?
- are the deps installed?
- do you see any error message?

[2019-11-01 10:00] jarun commented on #337
Patch to show file/dir size is in at commit ef8db1fd45bd57b1f4a807d50cdf6ceb81158bdd.

[2019-11-01 10:01] aryadovoy commented on #369
I used plugin and nothig was happened, so I couldn't choose type of checksum.
What deps? I install from repo and copy plugins in `~/.config/nnn`, checked by `R`-key — correct.
No, just refreshing screen.

[2019-11-01 10:11] jarun commented on #369
Plugins should be in `~/.config/nnn/plugins`.

[2019-11-01 10:17] aryadovoy commented on #369
Yes, I copied `plugins` dir, so they are there.

[2019-11-01 10:20] jarun commented on #369
Do you see the plugins when you press `R`?

[2019-11-01 10:21] jarun commented on #369
I use the Termux environment myself and I can't reproduce it.

[2019-11-01 12:09] aryadovoy commented on #369
I uploaded video: https://youtu.be/87W0bLOyqWM

[2019-11-01 13:33] jarun commented on #369
I can't figure the problem from the video. Are you on master or v2.7 released?

@annagrram does this look related to https://github.com/jarun/nnn/pull/368?

@0xACE any ideas?

[2019-11-01 13:45] jarun opened #370 "Error on Termux when installing plugins"
While the plugins are installed, 2 errors are thrown on termux. Applies to the `suedit` and `fzcd` commands as well.

[code]

[2019-11-01 13:48] jarun commented on #369
@aryadovoy can you go to your plugins directory, run the following commands and share the output?

- `pwd`
- `ls`

[2019-11-01 13:59] aryadovoy commented on #369
`~/.config/nnn/plugins  pwd
/data/data/com.termux/files/home/.config/nnn/plugins
 ~/.config/nnn/plugins  ls
README.md  fzy-open   kdeconnect  nwal        readit     uidgid
boom       getplugs   mediainf    oldbigfile  ringtone   upgrade
checksum   gutenread  moclyrics   organize    splitjoin  vidthumb
drag-file  hexview    mocplay     pastebin    suedit     viuimg
drop-file  imgresize  ndiff

[2019-11-01 14:02] jarun commented on #369
@aryadovoy Are you on master or v2.7 released?

[2019-11-01 14:05] jarun commented on #369
If you have installed `nnn` using apt-get you are on v2.7. If you have cloned the project from GitHib and compiled it then you are on master.

[2019-11-01 14:15] jarun commented on #369
Looks like you are on v2.7 from the help screen.

[2019-11-01 14:19] aryadovoy commented on #369
No, I couldn't `make` master on Termux like debian making, I installed from repo.

[2019-11-01 14:40] jarun commented on #369
I installed v2.7 from the repo and can't reproduce the issue.

Please try to compile master in debug mode (instructions in README). We can then see if the logs show the correct location of plugins dir. That seems like the only option now.

[2019-11-01 14:42] jarun commented on #369
Also, one more clarification I need. Are you facing problem with `R` key? Or are you facing problem with directly running the checksum plugin?

Please explain your procedure step by step.

[2019-11-01 14:52] jarun commented on #369
I tried the following:

Hovered on a directory -> Pressed `^V` -> hovered on plugin `checksum` and pressed `Enter` -> Entered `m` at prompt.

The checksum was generated correctly.

[2019-11-01 15:01] jarun commented on #369
I also tried the following:

`export NNN_PLUG='c:checksum'`

Hovered on a directory -> Pressed `:c` -> Entered `m` at checksum prompt (for md5).

This also worked correctly.

Is any other plugin working for you?

[2019-11-01 15:59] jarun commented on #370
Fixed at PR #370.

[2019-11-01 15:59] #370 closed

[2019-11-01 16:23] annagrram commented on #370
You mean PR #371 ;)

[2019-11-01 17:57] aryadovoy commented on #369
I tried both ways, but nothing.
Debug mode:
![Screenshot_20191101-215532__01](https://user-images.githubusercontent.com/26593349/68045270-867af100-fcf2-11e9-9587-5536d2762833.jpg)
And didn't try another plugins.

[2019-11-01 18:35] aryadovoy commented on #337
Perfect!

[2019-11-01 19:34] 0xACE commented on #369
you are missing clang or some buildtool i guess

[2019-11-01 20:20] aryadovoy commented on #369
Yeah, you're right.
I installed master, but nothing was changed.

[2019-11-02 06:38] jarun commented on #369
Please share the debug log.

[2019-11-02 10:06] annagrram commented on #369
Sorry. I missed that until now.
I don't think it's related especially if he works on v2.7 :).

@aryadovoy, Just to make sure, how did you install the plugins and what is the output of `ls -l` in the plugins directory?

[2019-11-02 11:12] jarun commented on #369
He shared the output in an earlier response.

[2019-11-02 11:14] annagrram commented on #369
Of `ls` not `ls -l`.
I suspect he installed the plugins in a way that removed the executable permission of the file.

[2019-11-02 12:00] KlzXS opened #373 "setup_config doesn't setup paths properly"
#### Environment details (Put `x` in the checkbox along with the information)

[ ] Operating System:
[ ] Desktop Environment:
[ ] Terminal Emulator:
[ ] Shell:
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

Debug output:
[code]

Obviously `plugindir` and `sessiondir` don't point to the correct path.
It's a problem with how the

[2019-11-02 12:09] annagrram commented on #373
😫 This function and all of its hardcoded magic numbers is a headache.
I'll try to take a look at it later today if no one else beats me to it.

[2019-11-02 13:02] jarun commented on #373
Please use macros for the path lengths. When I implemented it I didn't expect the function to change so much.

As for the issue, it may be related to the fact that xstrlcpy returns the length including NULL. Please check.

[2019-11-02 16:20] jarun commented on #373
Happens only if `XDG_CONFIG_HOME` is defined.

[2019-11-02 16:20] #373 closed

[2019-11-02 16:24] KlzXS commented on #373
This still needs to be fixed.

[2019-11-02 16:27] jarun commented on #373
I have added additional comments beside the hacky numbers to indicate what we are doing. I will try to simplify at some point.

[2019-11-02 17:09] jarun commented on #369
From the video it looked like the plugins are not even listed. Which is why I ruled out the not-executable file possibility.

[2019-11-04 03:30] aryadovoy commented on #369
Yeah, you're right. I changed permissions and now it works! But it strange, cause I use `curl -Ls https://raw.githubusercontent.com/jarun/nnn/master/plugins/getplugs | sh` for install.

[2019-11-04 03:49] jarun commented on #369
I have updated the docs to emphasize on the executable aspect.

[2019-11-04 03:49] #369 closed

[2019-11-04 13:47] 0xACE opened #375 ""which" vs "command -v""
@eugene55 [wrote](https://github.com/jarun/nnn/pull/374#issuecomment-549212666_)

Throughout the source we use `which`, and he proposes we use `command -v`.

Rather than just changing that specific plugin I figured I'd ask what we do with the entire codebase as it's probably better to be consistent.

I have previously run into this discussion and from what I remember no one had a universal solutio

[2019-11-04 13:56] jarun commented on #375
I agree :+1: .

[2019-11-04 19:00] jarun commented on #375
A few points to add:

- `command` looks like a shell built-in, which means we need to invoke the shell in `nnn.c` which will do this. I think `which` will be much faster. @eugene55 can you please do a profiling with 10 random files in `/usr/local/bin` and share with us?
- I can't think of any OS without `which`. It's in *BSD, [Solaris](https://docs.oracle.com/cd/E19253-01/816-5165/6mbb0ma0m/index.

[2019-11-04 19:05] annagrram commented on #375
May I ask what was the problem with `which`?

[2019-11-04 19:23] jarun commented on #375
POSIX compliance: https://docs.oracle.com/cd/E19253-01/816-5165/6mbb0ma0m/index.html

[2019-11-04 19:45] eugene55 commented on #375
Speed of shell spawning depends on actual shell implementation. in my case:
[code]
I agree with suggestion to change just scripts, leaving source code as is

[2019-11-04 20:11] jarun commented on #375
The larger problem I see is the link says `which` is _non-standard_.

Why??? @koalaman did you audit the code and notice any non-compliance?

If not, then by your logic every utility that doesn't appear in the POSIX docs is _non-standard_. Utilities are added in open source everyday. They can be POSIX-compliant or not. But I don't think it's correct to term them _non-standard_.

[2019-11-04 21:48] jarun commented on #375
On Ubuntu, [man which](https://manpages.ubuntu.com/manpages/disco/en/man1/which.1.html) says:

_which returns the pathnames of the files (or links) which would be executed in the current environment, had its arguments been given  as  commands  in  a  strictly  POSIX-conformant shell._

I think that's pretty well-defined behaviour with respect to POSIX compliance.

[2019-11-06 01:46] jarun commented on #375
I'm closing this as I am not convinced `which` is a _non_standard_ utility. If we have some alternative arguments we can always reconsider.

[2019-11-06 01:46] #375 closed

[2019-11-07 07:58] combucho opened #376 "Filename handler bug"
NNN can't open pdf with zathura-mupdf while filename consists with one or more Cyrillic symbols.

#### Environment details (Put `x` in the checkbox along with the information)

[x ] Operating System: Archlinux
[x] Desktop Environment: i3
[x] Terminal Emulator: Termite
[x] Shell: zsh
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

[2019-11-07 17:10] jarun commented on #376
hi, I'm not keeping well. I will take some time to get to this.

Anyone else is more than welcome to check it out in the meantime.

[2019-11-07 17:23] jarun commented on #376
I just tried this and the file opens correctly for me.

What's your locale setting?

Did you try master? I added a patch recently in this flow.

[2019-11-07 18:53] combucho commented on #376
[code]

I used 2.7-1 version from archlinux community repo. Build date 10 oct 2019. 23:03:29.

Now I trying master from gihub, still not working. :(

[2019-11-07 22:06] QasimK opened #377 "Reverse file name order"
As I understand the default ordering of `nnn` is by file name, A -> Z. Is there any way to reverse the order, i.e. Z -> A?

I have tried searching help, man page, and the GitHub issues, readme and wiki, but cannot find any mention of reversing the order.

Is this possible? Is this documented anywhere?

[2019-11-07 23:27] 0xACE commented on #377
Unfortunately, there isn't. The reasoning behind why it wasn't implemented was that you could simply scroll to the end of the list and see the reverse order... There is a key to jump to the first file which i think is mapped to `,'` which will help if you are looking for the last directory...

(too lazy to type it out, I hope you can figure it out based on my description.)

[2019-11-07 23:31] 0xACE commented on #376
I just want to confirm, `nnn` is successfully opening `./ййй.pdf`.

Meaning, it's most likely your machine that is setup in correctly.

Try putting this:
[code]
somewhere in the `$PATH` before your pdf viewer, you could for example: `export PATH="~/pre-bin:$PATH"` and save that script as `~/pre-bin/mupdf`

and see how the arguments got split...

[2019-11-08 01:43] jarun commented on #377
@0xACE has explained it correctly.

[2019-11-08 01:43] #377 closed

[2019-11-08 01:45] jarun commented on #376
Which opener do you use? `nnn` invokes the desktop opener to open files. Also, are you able to open the file correctly while navigating from `nnn`?

[2019-11-08 09:36] combucho commented on #376
You are right. It's not `nnn` problem, but It's related to environment localization or smth. Filename parameter is passed in an unreadable form. `file://~/Ð¹Ð¹Ð¹.pdf`

Thus, I changed `zathura` to `evince` in `~/.config/mimeapps.list` with same issue,  then checked desktop entries at `/usr/share/applications/` and changed applications exec key from `%U` to `%F` according to freedesktop spec.

Now

[2019-11-08 09:36] #376 closed

[2019-11-08 09:58] v217 opened #378 "read-only mode"
Sorry, if that has been asked before, but is there a commandline flag or a shortcut to toggle read-only mode? By read-only mode I mean you have to drop into a shell to modify anything.

[2019-11-08 10:00] jarun commented on #378
It's not available.

[2019-11-08 10:00] #378 closed

[2019-11-08 21:53] jarun opened #379 "Issues with fzcd"
`cd` to the containing directory is not happening when a file is chosen.

Also, some questions on the following code snippet:

[code]

[2019-11-08 21:59] jarun commented on #379
This is why cd to dir if failing (from debug logs):

[code]

[2019-11-08 22:10] jarun commented on #379
If I print `$PWD/$sel` from fzcd script, I see:

[code]

I am using `fzy`.

[2019-11-08 22:18] #379 closed

[2019-11-09 11:16] QasimK commented on #377
Thanks for the explanation. I suppose I can live with scanning up the file list :smiley:

[2019-11-10 08:14] podtor commented on #337
It would be possible to create package of nnn to OpenWRT project https://github.com/openwrt/openwrt/tree/master/package?

[2019-11-10 08:38] jarun commented on #337
@podtor please feel free to port `nnn` to OpenWRT. As the deps are less it wouldn't be a monumental task. Please get in touch with the OpenWRT team for porting guideline.

[2019-11-11 11:54] aryadovoy commented on #337
What about toggle `a→z` to `z→a` for name, size and time sorting and changing of sorting from `ABac` to `AaBc`?

[2019-11-11 13:06] jarun commented on #337
No other order toggles would be added. You can always roll-over at edges and scan in reverse.

Please elaborate this.

[2019-11-11 15:20] 0xACE commented on #337
Hey, sort of running around atm, but I noticed a segementation fault:

1. start `nnn`
2. create a empty directory: `ndempty_dir`
3. go into the empty directory
4. Run any `NNN_PLUG` script
5. `segmentation fault`

As I'm not on a workstation I can't debug it atm. But it seems like the key is that the directory is empty and you try to trigger a `NNN_PLUG` script

[2019-11-11 15:47] KlzXS commented on #337
I am able to reproduce this.
Here is the gdb backtrace, if anyone's interested:
[code]

[2019-11-11 16:14] jarun commented on #337
Should be fixed at commit fa4c37f2304e304d53eeabe23713fea082839915. Please confirm.

[2019-11-11 16:20] KlzXS commented on #337
Yep, after fa4c37f it no longer crashes.

[2019-11-11 19:33] aryadovoy commented on #337
For example, I press `P`-key for paste, but it's `З`-key on russian layout. And I should change layout and try again. It's inconvenient.

It's a pity, cause I used to `AaBc` sorting.

[2019-11-11 20:31] 0xACE commented on #337
@jarun, thanks. It doesn't crash anymore.

I see what you mean. Unfortunately, I don't think this will be fixed. However you can change `nnn.h` to represent your needs better.

I have dealt with this problem before, I have tried having programs automatically toggle between languages and I ultimately succumbed to using a full en_US keyboard and mapping my own language extras as "hidden modifiers".

[2019-11-11 20:53] aryadovoy commented on #337
Ok, I can live with it.

But it could be option (flag), no?

[2019-11-11 21:15] jarun commented on #337
Are you talking of the `du` calculation? I am not sure using threads would help a lot.

[2019-11-11 21:34] 0xACE commented on #337
Hehe, bro before you give up try changing/adding bindings in `nnn.h` :)

Read `man 3 qsort` you can do it buddy :)

But honestly I think the sorting thing could be reworked slightly, I recall I added my own sorting stuff and it was always troublesome because you have to toggle all the other sorting modifiers. Now as I'm writing this message I'm thinking maybe we could add a function that turns of

[2019-11-11 21:38] jarun commented on #337
I would like to see some benchmarks. Try it with threading when you get the time.

[2019-11-11 21:41] 0xACE commented on #337
No need to benchmark. The current implementation is blocking until `du` finishes. And I really cant bother to implement it.

The reason I thought about it is because I was considering adding another column to my local version of `nnn` and have external scripts be able to fill that extra column as they see fit via some IPC or FIFO-file or w/e, but really `nnn` serves its purpose fine if you ask me.

[2019-11-12 17:56] z0rc opened #380 "Sync subshell PWD to nnn"
Midnight Commander has a nice default feature: mc's subshell current working directory is kept in sync with mc itself. For example, you start mc, switch to subshell, cd to another directory in subshell and exit back to mc, the mc will be in that directory.

mc does this by default, no user configuration needed. It archives this by adding precmd function to the subshell, which sends pwd updates bac

[2019-11-12 21:29] jarun commented on #380
Sorry, no plans to interpret shell commands run by user.

[2019-11-12 21:29] #380 closed

[2019-11-13 07:06] n-ham commented on #337
I noticed you don't have a website. I make a cross-platform open source website generator called Nift (https://nift.cc) and would be happy to make a website for your project using Nift if you are interested?  It would help me showcase what Nift is capable of. Though I may need some help with the content, but am more than happy to set something up and see what you think (don't have to use it if you

[2019-11-13 12:15] annagrram commented on #380
@z0rc You can write a plugin that does just that and let the plugin change the directory in nnn.

[2019-11-13 15:32] z0rc commented on #380
@annagrram Is there a way to change dir in running nnn from other process?

[2019-11-13 19:10] annagrram commented on #380
Yes. It's new in master and should be released in the next version.
You can read about it [here](https://github.com/jarun/nnn/blob/master/plugins/README.md)

[2019-11-15 15:29] 0xACE opened #381 "Questions regarding SEL_PLUG* variable manipulation"
Hey, I'm putting this discussion as an issue here, as it's difficult to track the conversation over all the commits/code that is relevant to this discussion. Keep this conversation going as low priority, as it's mostly about understanding the code, and may potentially add improvements or documentation to our beloved `browse();`

![3ggjp2](https://user-images.githubusercontent.com/1482942/68954623-

[2019-11-15 15:58] jarun commented on #381
I see the issues now. This has been introduced by my hasty incorporation of https://github.com/jarun/nnn/commit/53a2e4c56058db01dbe7bcbaeb37a9352fc73959. I will take a look and fix these.

@annagrram the next time you think you wouldn't be able to follow up on a piece of code for sometime please let us know in advance. Fixing these things are terribly painful and I would have to be much more caref

[2019-11-15 16:03] 0xACE commented on #381
Thank you my friend. But remember you are not alone in this. And don't stress about it. I started this to mostly get an understanding of `browse();`

I'm still curious about this one

[2019-11-15 16:06] jarun commented on #381
There are 2 cases;

- user navigates to the plugin dir and chooses the plugin. In that case path is automatically the pugin dir
- the other case where user runs the plugin directly. this is where the code is goofed up. we could have done without trying to use the same function in both the cases and that's what I am trying to fix now.

[2019-11-15 16:08] jarun commented on #381
OK, have the pipe code makes it even more complex now because if I want to use a separate API I'll have to duplicate a lot of code.

[2019-11-15 16:20] 0xACE commented on #381
Hmm, I guess I understand this. I interpret this as in `browse();`: `path` should always represent the current directory you are browsing.

Yeah, I wrestled with it a bit, I ended up adding a `bool` argument to `run_selected_plugin()` input parameters to get some features I was missing.

But another limitation I see is the limited/strict usage of variables in `browse();` that makes you overwrite v

[2019-11-15 16:23] annagrram commented on #381
Yeah. Sorry! It wasn't planned.
You can also check out my approach to fixing this issue if you want to incorporate it.

[2019-11-15 16:25] #381 closed

[2019-11-15 16:26] jarun commented on #381
@0xACE can you please test the patch thoroughly?

[2019-11-15 16:28] 0xACE commented on #381
Yeah, but testing of this will take a lot of time, because it's a ongoing problem for  me... But I'll give you a early indication of it ASAP *(as in ill try it out now, and a thorough review will be a test of time...)*

[2019-11-15 16:32] jarun commented on #381
That's OK.

[2019-11-15 17:15] 0xACE commented on #381
I tried it out and it seems to work. I'll let you know if I find any problems with it...

[2019-11-15 17:17] jarun commented on #381
Sure!

[2019-11-16 00:28] jarun commented on #380
@annagrram just wondering if the _Controlling nnn's active directory_ section should go to the wiki. What do you say?

[2019-11-16 00:52] jarun commented on #337
@KlzXS could you work on the retain modified plugins item? It needs improving the current `getplugs` script to detect if user has modified a plugin and provide an option to retain, merge (in vimdiff) or overwrite. It would make life very easy.

[2019-11-16 07:44] KlzXS commented on #337
Sure thing.

[2019-11-16 10:31] annagrram commented on #380
Well, it's tightly coupled with the plugins' mechanism, so plugin knowledge is mandatory in order to achieve this, but I guess it can't hurt to put it there as well.

[2019-11-16 10:36] jarun commented on #380
Maybe add a small subsection in the wiki and link the plugin readme from there. So it would be available to people exploring the wiki.

[2019-11-16 12:37] maximbaz opened #383 "Questions about selections"
#### Environment details (Put `x` in the checkbox along with the information)

- [x] Operating System: Arch Linux
- [x] Desktop Environment: i3
- [x] Terminal Emulator: kitty
- [x] Shell: zsh
- [x] Custom desktop opener (if applicable): N/A
- [x] Issue exists on `nnn` master: yes

Hi there, thanks for this tool, it is quite interesting!

I have a few questions about the selection process, could yo

[2019-11-16 13:01] jarun commented on #383
These are not preserved post refresh as it doesn't make sense to mark 1000s of files and remember those. You can always view the selected files using the relevant command.

The flush happens when you run an operation, before that it's just in memory. This is done to reduce file writes after each selection. Currently there is not way to force flush. Maybe we can implement it.

The last selection in

[2019-11-16 13:23] jarun commented on #383
Closing this as these have been discussed several times.

[2019-11-16 13:23] #383 closed

[2019-11-16 13:29] maximbaz commented on #383
I think there are valid cases, `+` indicators help you keep the context of what you are selecting _right now_, it is quite confusing that `+` disappear in the middle of me selecting the files in the current directory.

It feels this could have easily been solved by keeping the files selected in the current directory in a separate buffer, clearing that buffer once current directory changes, and on

[2019-11-16 13:49] jarun commented on #383
No, it's not if you don't ignore the fact that you can always view the selection.

That's unbounded memory. And the next time you load due to an event (there can be new files, files can get removed) you'll have to match each file loaded with the files in the buffer. That's non-trivial calculation. In `nnn` we consider extreme cases like directories with 10000 files and then weigh the pros and cons

[2019-11-16 14:36] jarun commented on #383
@0xACE @KlzXS @annagrram it's very simple to block event detection when we are in selection mode. If we do that the `+` symbol will not disappear but we will not get directory updates when in selection mode. What do you guys think?

[2019-11-16 14:38] jarun commented on #383
I think the reason it is an issue is it's disruptive when someone is doing a selection. At that point (s)he doesn't care about directory updates.

[2019-11-16 14:42] jarun commented on #383
I have added this at commit `4c863d9b7b0f63b15006e952e1ca5c81397c9a8e`. Please check the behaviour. I am still not sure about it though.

[2019-11-16 14:47] jarun commented on #383
Another note on deseletion - `nnn` supports selection across dirs.

[2019-11-16 15:20] jarun commented on #383
To make the behaviour more consistent I have disabled flushing for all/range selection as well. To flush the current selection use the edit, flush selection key. I have made this more consistent at commit 88698b372b65d16a21736c743bfabed32dace273.

[2019-11-16 15:26] jarun commented on #383
@maximbaz I have addressed 1 and 2. 1 is subject to review from other devs.

I don't see an issue with 3 because there is no merging involved or expected. You can now flush the intermediate selection as well and it should be available to other instances (when they don't have any in-memory selection already).

You can suggest an implementation for 4 and we can discuss it.

[2019-11-16 17:34] 0xACE commented on #383
I'll be very busy so I can't give much input, but as I'm waiting for my food right now I'll do a quickie:

https://github.com/jarun/nnn/commit/88698b372b65d16a21736c743bfabed32dace273
Does this mean that you now have to flush your selection before you try to use plugins that use `.selection`?

https://github.com/jarun/nnn/commit/4c863d9b7b0f63b15006e952e1ca5c81397c9a8e
Does `nnn` no longer refresh

[2019-11-16 18:12] maximbaz commented on #383
Thanks for taking the time to implement all these ideas and reply to me!

The new behavior is definitely more intuitive to me, as my selection doesn't disappear when something changes in the directory. I think your assumption is correct, users most probably don't really care about directory updates while they are selecting some files.

As I understand, once you press Space, it stops refreshing unt

[2019-11-16 22:16] jarun commented on #383
As you have noted this only applies to per-dir and someone is going to ask to acros--dir deselection. We also need to ensure we move out of the selection mode when no files are selected (i.e. `nselected` becomes 0). I will need the input from other `nnn` devs if this is indeed required.

[2019-11-16 22:32] jarun commented on #383
To do that you'll also have to track directory changes, which I think would make the current code hacky. We have a way to manipulate the selection. Live with it.

[2019-11-16 23:01] maximbaz commented on #383
IMHO deselect is mostly needed when a user accidentally selected something and needs to undo the selection _right away_, across-dir deselect is different and I would even say better handled via `K` (i.e. why would you even go back to the folder when you can just press `K` and kill a line).

I'm happy to wait for other `nnn` devs' opinion, no rush.

All we need is to go through `dents` and write th

[2019-11-16 23:21] jarun commented on #383
I am not worried about writing the selected list, but about tracking directory changes. That can happen in tons of ways and we can't add this check everywhere. It will litter the code.

This is fixed in commit 61048258a70a2d8796defe3e02a98022d40d6358. Please try and confirm.

Yes, because the files are read unsorted when you refresh a directory and the markers aren't valid anymore.

[2019-11-16 23:43] maximbaz commented on #383
Oh I see what you mean, I was thinking of changing directories (as in `cd`), not about changing contents within the directory.

However given that now we don't listen on directory updates while we are in selection mode, we don't really need to track directory changes, we can trust that `FILE_SELECTED` bits are valid on all `dents` entries?

Confirmed, thanks! 👍

I see...

[2019-11-16 23:49] jarun commented on #383
When you navigate away from the current dir (which can be done in a number of ways), you'll have to write the list of selected files. Because the memory would be reused when you load another directory. That's the issue.

[2019-11-17 03:05] jarun commented on #383
@0xACE I missed your msg earlier.

No, you don't. It will flush before any operation as it does now.

It's till you complete selection. The events are still fed, only they don't reflect during the period of selection.

[2019-11-17 10:58] BKPepe opened #384 "Add support for busybox"
Someone requested to have nnn in OpenWrt, there is preinstalled [busybox](https://busybox.net/), which provides several utilities. One of these utilities is xargs, which does not have the option a.

[code]

Because of that, there needs to be installed coreutils-xargs. Other things like copy, move, rm works with provided tools by busybox. It would be good if it can use just busybox utilities.

####

[2019-11-17 12:17] jarun commented on #384
Please test with the patch and confirm.

@KlzXS can you please review the changes **thoroughly**? I am extremely worried about dropping the `-o`.

[2019-11-17 12:17] BKPepe commented on #384
That's was fast! Thanks. I will try it and let you know.

[2019-11-17 12:48] KlzXS commented on #384
Immediately I can see that it no longer asks me if I want to overwrite files, which could be a bit of a problem. I say that we should keep `-o`. There is `-p` but that's a bit too much.

Other than that files are still copied, moved and removed like they were. Maybe get someone to test the trash feature, I don't think I have that setup. I'll test it more in depth later if we decide to go ahead wit

[2019-11-17 13:34] BKPepe commented on #384
Now, it shows:
`xargs: unrecognized option: I`

[2019-11-17 13:53] jarun commented on #384
@KlzXS and @BKPepe

I have reverted the earlier patch. The indicative code is in git history still. I can't break a utility working perfectly on tons of platforms because one platform can't install findutils. The changes are extremely risky and I can't get these tested on multiple platforms immediately.

I can think of the following alternatives:

- add findutils as a dependency of `nnn` as in oth

[2019-11-17 19:03] jarun opened #386 "ToDo list"
Rolled from #337.

### For next release

- [x] all keybinds and options reviewed by the team, finalized and frozen
- [x] auto archive handling by extension (see config `NNN_ARCHIVE`)
- [x] reverse sort (keys <kbd>R</kbd> and <kbd>^T</kbd>)
- [X] sort only filtered entries (instead of refresh)
- [x] Lead key simplified to Bookmark key (<kbd>b</kbd> or <kbd>^/</kbd>)
- [x] improved help screen reada

[2019-11-17 19:03] jarun commented on #337
Rolled at #386.

[2019-11-17 19:03] #337 closed

[2019-11-17 19:29] n-ham commented on #386
Let me know if you're potentially interested in a website, again no obligation to use the end product unless you're happy with it (though seems a waste to go ahead and make one without checking whether you're potentially interested first).

[2019-11-18 13:10] jarun opened #387 "No -o option for xargs in Termux"
We have a common `xargs -o` in the code in `cpmv_rename()`.

We need to work around this has Termux does not have a `-o` option for `xargs`.

@KlzXS please take a look.

[2019-11-18 19:01] KlzXS commented on #387
Which approach are you for, completely eliminating it or finding a way to detect if it's present?

[2019-11-19 01:09] jarun commented on #387
If we can eliminate it, that would be the best.

[2019-11-20 11:32] KlzXS commented on #387
Should I also remove the flag from `opstr` and `rmmulstr`. What about the `-a` flag to get rid of the `#ifdef __linux__`?

[2019-11-20 12:43] jarun commented on #387
If we can do that, it's the best!

The non-Linux cases are *BSD and macOS, both of which have the `-o` option. But if that works without `-o` we can be uniform and get rid of the `#ifdef __linux__`.

For what I have seen so far, the BusyBox `xargs` is the minimal (to the point of being crippled(?)) followed by Termux (no `-o`).

[2019-11-20 12:48] jarun commented on #387
`-a` is not available on *BSD and macOS:
- https://man.openbsd.org/xargs.1
- https://ss64.com/osx/xargs.html

I think what we really want to do is make the Linux part work on Termux and BusyBox.

For the common cases, we have to get rid of `-o`. But where we need to confirm per file, we should (like `rm` multiple).

[2019-11-20 12:53] KlzXS commented on #387
Well I can get rid of `-a` easily by just redirecting a file as input to `xargs`. As for `-o` I can do what it does manually by making `xargs` run not the command itself but start a shell which will run a command and redirect its `stdin` to `/dev/tty`. I'll try to find a way to do it without spawning a new shell.

This should keep the functionality just like it was on systems which support `-a` an

[2019-11-20 13:08] jarun commented on #387
That's what I tried in commit 407b690404e60f3c66a8b7bb2b580b8d2e6e61f3. Both BusyBox and Termux will work.

If we can detect if `xargs` doesn't have `-o` we can try shell spawning (or any other better optimize approach). If it's easy the capability detection will reduce our changes.

Can we detect by running `echo "x" | xargs -o` output? We should do this only once and set a flag in settings. Just

[2019-11-20 14:01] KlzXS commented on #387
This but without cat abuse. We can just redirect a file `<file xargs ...`

That would work. If any error is encountered a non-zero value is returned.

`-I` is only used in `opstr()`. If we are spawning a shell for this we can remove it. The shell can expand arguments passed to it with `$@` and `$0` (usually this would be the command being run, but with `sh -c` you can set it to whatever you like).

[2019-11-20 14:11] jarun commented on #387
Nice!

Awesome!

If we can detect and spawn a shell only if `-I` is not available that would be great.

[2019-11-20 14:23] KlzXS commented on #387
So to sum up. Remove all and any `-a`. Detect (non)existance of `-I` and `-o`, use them if available, otherwise spawn a if a better way is not found.

Where should the flags be checked and where should I store the result? The settings struct?

[2019-11-20 15:00] jarun commented on #387
That sums it up right!

The flags should be checked once at start and set in a flag in settings struct.

[2019-11-20 15:03] jarun commented on #387
Adding @BKPepe in the discussion. We are working on having support for BusyBox. Please have patience.

[2019-11-20 15:03] jarun commented on #387
Adding @BKPepe in the discussion. We are working on having support for BusyBox. Please have patience.

[2019-11-20 20:40] KlzXS commented on #387
So I've decided we are going with spawning the shell approach everywhere and not using `-I` and `-o`, especially for `opstr()`. It's not even funny.

Tested with 100'000 4KiB files containing output of `/dev/urandom`.
Ran each option a few times, similar results to ones displayed below.
[code]
`mv` is also shows similar results which is ridiculous.
I would like for someone to replicate the finding

[2019-11-20 20:57] jarun commented on #387
@0xACE can you please help with the numbers? Maybe run in the reverse order?

@KlzXS I think this is happening as in the second run with shell spawning you are seeing the effect of caching. Try rebooting the system and running the tests in reverse order. shell spawning is generally visibly costly.

[2019-11-20 21:29] KlzXS commented on #387
Now I get ~4s constantly even after reboot. Might have gotten lucky or unlucky with some system usage in the background. Either way as I've said spawning a shell is faster than not doing it. Just confirm that it's not only me getting such results.

[2019-11-20 23:20] 0xACE commented on #387
I have been too busy to keep up with `nnn` lately and will continue being busy until the end of this month.

Therefore I don't understand this problem nor can I give any helpful input until next sunday.

[2019-11-21 01:36] jarun commented on #387
Next Sunday is fine. No hurry!

@KlzXS please continue with the detection logic. If the options are not available, the operation would be shell spawning so we don't have any other option I can think of.

[2019-11-21 02:10] jarun commented on #387
@BKPepe please feel free to pitch in. I am on SSD on a very fast system and my results may not matter. Hence the request to others.

[2019-11-21 03:30] 0xACE commented on #387
e-mail: sage

Big oof, just realised, i meant 2019-12-01, as in december... and I can't predict what state I will be in at that time... anyhow the point is I'll be busy... I would've helped with the benchmark thing but producing an environment for it would require me to step out of my current responsibilities :(

[2019-11-21 03:43] jarun commented on #387
No issues. We'll continue as planned. We have no xargs options. ;)

[2019-11-21 08:36] KlzXS commented on #387
I ran the same test on Termux. Obviously my phone doesn't have an SSD so it took forever but still the same result.  Also I do have both `-I` and `-o` and `-a` available.
[code]

I really would like to just go ahead and remove these flags completely. It would simplify the code and it doesn't worsen the performance, it improves it in this case.

[2019-11-21 10:33] jarun commented on #387
Sure thing!

[2019-11-21 10:56] jarun commented on #387
Please share another set of results on the same device - power off, run slow, then quick.

Whatever you run second will give better results due to caching. So best shot is cold boot, run quick then again cold boot, run slow. That is one reading per cold boot.

[2019-11-21 11:38] KlzXS commented on #387
I'm not sure what cache you're referring to, I'm copying 400M worth of files containing random data. I am running the test, it'll be another half hour at least until it finishes. I put in a pull request with the changes anyways.

[2019-11-21 12:20] KlzXS commented on #387
[code]

[2019-11-21 12:24] jarun commented on #387
OK. I think we are good with: `<list xargs -0 sh -c 'cp $0 $@ nnn/ </dev/tty'` from the results.

Thank you for the data.

[2019-11-21 12:51] jarun commented on #387
Closed by PR #388.

[2019-11-21 12:51] #387 closed

[2019-11-21 12:52] jarun commented on #384
@BKPepe with PR #388 we are on for BusyBox! Please test and confirm if everything works.

The credit for this goes to @KlzXS!

[2019-11-21 13:16] BKPepe commented on #384
I will take a look at it. Thanks!

[2019-11-21 13:44] jarun commented on #365
Note 2: dependency on `findutils` for `xargs` removed. Notify maintainers.

[2019-11-22 04:55] koalaman commented on #375
I'd tend to agree. It's similar in rationale to `egrep` vs `grep -E` where the former is a very common but non-POSIX version of the latter so you might as well pick the better one. However in this case, `which` has some relatively small differences (e.g. relating to builtins and aliases) that people sometimes find desirable, so it's not as clear cut. And, I mean, if you're not using it in a shell

[2019-11-22 05:02] jarun commented on #375
Yep, we left it unchanged. Thank you for sharing your view as well!

[2019-11-22 05:03] jarun commented on #375
BTW, I am actually sanitizing our plugins using shellcheck as I am writing this. Would you be interested in reviewing the changes? Not too many but I am not very confident on the changes I made to check exit status from a command.

[2019-11-22 05:11] koalaman commented on #375
Sure, I could do that

[2019-11-22 05:13] jarun commented on #375
Thanks, I'll add you. I am also integrating shellcheck in CI so we are guarded against future lints. So please allow me some time.

[2019-11-23 04:42] jarun commented on #383
For future reference, I drafted a inode hash implementation at commit 547d87bfc2caf276dd1bcb943677a0ca306c602d. Please read the notes. If we try to extend this the memory requirements are going to be significant in `nnn` standards.

[2019-11-23 09:11] BKPepe commented on #384
I've just tested it and works. Good work!

[2019-11-23 11:31] jarun commented on #384
Thanks for confirming! I'm closing the defect. Please feel free to let us know if you need anything else in `nnn`.

[2019-11-23 11:31] #384 closed

[2019-11-25 19:46] jarun commented on #365
@annagrram can you please locally test and confirm when we bump the session version, users who have already created sessions with master have their sessions working?

[2019-11-25 20:44] annagrram commented on #365
Without testing I can say it won't work by design

[2019-11-25 20:48] jarun commented on #365
OK, I see why in the code. But why don't we attempt backward compatibility?

[2019-11-25 21:14] annagrram commented on #365
We can try, but it requires a bit more design, work, checks and headaches :P

[2019-11-25 21:23] jarun commented on #365
I understand. Let's do one thing. Can we have an extra byte in the header start that holds the number of items stored? That way we will have some info later on how many items we need to load. Now if we retain the order of store and load we will always remain backward and forward compatible even if we extend the number of items we store later.

[2019-11-25 21:25] jarun commented on #365
Rather than the number of items stored I should call it the number of items intended for storing... because sometimes the strings can be NULL and we will have no data for it other than lenth info (that it's 0).

[2019-11-26 14:04] jarun commented on #365
@annagrram I think we are OK with what we have, even if it's hard. The bottleneck is settings, if we change flags, it wouldn't work.

[2019-11-26 20:07] annagrram commented on #365
Yeah.
There are ways to make structs extendable and therefore backward compatible, but they are either non-standard or ugly.

[2019-11-26 20:14] jarun commented on #365
:(

[2019-11-27 19:39] jediafr opened #390 "Files deletion with a single keybind ?"
#### Environment details (Put `x` in the checkbox along with the information)

[x ] Operating System: manjaro
[x] Desktop Environment: Kde
[x] Terminal Emulator: terminator
[x] Shell:bash

#### Exact steps to reproduce the issue

Hi i've discovered your program through YT.

After installation, i cant delete files straight (pressing shift+X) , i have to select the file first with space bar then con

[2019-11-27 20:35] KlzXS commented on #390
You can delete a single files or directory you are hovering over by pressing `^X` (that is `Ctrl-X`). If you want to delete more files at once you have to select all of them, you can use `m` for range selection. You will always be asked if you wish to forcibly remove files.

[2019-11-27 23:59] jarun commented on #390
Link to the relevant docs: https://github.com/jarun/nnn/wiki#selection

[2019-11-27 23:59] #390 closed

[2019-11-28 14:21] staeff777 commented on #263
I'm sorry if you have already solved this issue (e.g. with this file picker mode maybe?), I found this issue by searching for how to toggle selections.

I might have a small suggestion:
If the selection file is kept in alphabetical sorted order, you can access paths in O(log n) comparisons using a binary search.
To keep the selection list sorted, each file has to be also inserted using a binary se

[2019-11-28 14:22] jarun commented on #263
`nnn` supports selection from multiple directories. There can be files with the same name in different directories.

[2019-11-28 14:29] staeff777 commented on #263
If you compare the absolute filepaths, there is no problem except the comparison length of the path itself. I assume that this would still be fast.

[2019-11-28 14:32] jarun commented on #263
Absolute file paths can be 4K in length and if we have a 1000 of them it would no longer remain fast.

If you are really interested, check out commit 547d87bfc2caf276dd1bcb943677a0ca306c602d.

[2019-11-28 15:09] staeff777 commented on #263
The inode solution is quite clever. Nonetheless, a sorted insert is still fast enough, since  The 1000 will be reduced to 10 using a binary search.

I did a test:
Create a file with 160 000 Files using their complete path.
[code]

shuffle the list, and then sort it
[code]
initially, I wanted to just sort 1000 files, but the time was not measurable.
This example was just to measure, how long a comp

[2019-11-28 15:12] jarun commented on #263
The memory usage would increase by 4K * 1000 which is approx. 4M right?

I think we will have to think of something else. The inode implementation is O(1). Can you please think of something in that line? I am also exploring on this.

[2019-11-28 15:17] staeff777 commented on #263
You don't need to read the whole file. If you know the linecount, you just take the middle line as a start for the [binary search](https://www.geeksforgeeks.org/binary-search/).
Then the take the next line e.g. at position 3/4 and so on. For 1000 files you just need to access 10 lines at max.

[2019-11-28 15:25] jarun commented on #263
I think we should think of a way to make this work before writing to a file.

[2019-11-28 15:26] jarun commented on #263
There would be issues with filename with newline chars if we write to a file and then try to manipulate it. I don't want to introduce that.

[2019-11-28 15:32] jarun commented on #263
One correction. The file write happens later in `endselection()`. In `appendfpath()` we write to the buffer.

[2019-11-28 15:33] staeff777 commented on #263
You could use this aproach to find the line number at which the new file should be inserted. Then make a line by line copy and insert the new line at the corresponding line number.

The line by line copy might be a bottleneck, but I don't believe that.

[2019-11-28 18:23] jarun commented on #365
Added this in the ToDo list.

[2019-11-28 18:23] #365 closed

[2019-11-29 18:53] x0054 opened #391 "Not writing to NNN_TMPFILE"
Hi,

I have `nnn` compile from source on fresh Ubuntu 19.04 VM. I am trying to use the cd on exit feature, however, there appears to be an issue with writing to the temp file.

[code]

I thought that maybe it can't write to the file for some reason.

[code]

I don't understand what's wrong. It appears to work for everyone else, but I cannot get it working at all :( I am reluctant to call it a bug,

[2019-11-29 19:13] x0054 commented on #391
After compiling in debugging mode and playing around a bit I figured out that `nnn` stores the last dir in `~/.config/nnn/.lastd`. However, this means that it's ignoring the NNN_TMPFILE environment variable.

[2019-11-29 20:06] 0xACE commented on #391
I don't have time to check on this until sunday or monday night (maybe even tuesday) (but at least until wednesday)....

i did quickly search for `NNN_TMPFILE` in the source code and it only appears in https://github.com/jarun/nnn/blob/3b42b6fc42ce762ebb7fdb9849b8c5a48b88d02f/src/nnn.c#L5305 , and `write_lastdir` doesn't seem to reference it either...

[2019-11-29 20:22] jarun commented on #391
Yes, `NNN_TMPFILE` is fixed for a few releases already. Now it's just an indication to `nnn` whether to quit on CD or not. The exposed env vars are here: https://github.com/jarun/nnn#usage

I'll update the script to indicate this.

[2019-11-29 20:22] #391 closed

[2019-12-01 20:26] maximbaz commented on #365
I see `xargs` being used in `src/nnn.c`, what did you mean by this?

By the way, I maintain the package for Arch Linux now, if you keep a list of maintainers somewhere make sure to add me in 😉

[2019-12-01 20:33] jarun commented on #365
`xargs` has multiple sources - GNU xargs, BSD xargs, Busybox xargs other independent POSIX xargs. Now even the most minimal `xargs` would work with `nnn`.

Sure! You'll get the notis I send on new releases.

[2019-12-02 23:34] jlneder opened #392 "Batch rename limitations are undocumented"
Hi, I tried to batch rename some files but nnn simply didn't take into account that i was reusing a filename and replaced one of the files with another. I was a little alarmed, and I decided to see if I had seen it wrong but it failed in the same way again.
When I saw the implementation i was alarmed:

`paste -d'\n' %s %s | sed 'N; /^\\(.*\\)\\n\\1$/!p;d' | tr '\n' '\\0' | xargs -0 -n2 mv 2>/dev/n

[2019-12-02 23:48] 0xACE commented on #392
Hey there!

My understanding of `nnn`'s development plans is to rid itself of external dependencies as much as possible, in hope to make it portable, as in, bring it with you to any machine and make it work. Hence occurrences of such tendencies may appear.

Therefore it seems unlikely `nnn` will revert back to a external dependency such as `vidir` or `qmv`. Patches for fixing this may be appreciat

[2019-12-03 00:01] jarun commented on #392
Kindly provide the exact steps so we can reproduce this. @KlzXS can you please take a look once we have the info?

Thanks for the suggestion. We'll update the documentation and mention the alternatives. We missed this earlier.

Please add any of these as a plugin, set your custom keybind and you are ready to go.

[2019-12-03 00:25] jlneder commented on #392
Say you have this files on a directory:

Press r, go to editor of choice and change the first to the second:

When nnn run:

It does not matter the name **_file_2_** is changed at all.
**_file_1_** would replace **_file_2_** on the first mv of xargs and then if  **_file_2_** name is changed xargs would proceed to do **_mv 'file_2' 'anything'_** .

I would see about making a plugin now. Thanks!

[2019-12-03 00:43] jarun commented on #392
Got it! I don't think we are going to fix it when there's are several alternative to add as plugins. There's also the vim plugin [vim-renamer](https://github.com/qpkorr/vim-renamer).

Will document the current implementation right away.

Head here:

[2019-12-03 00:43] #392 closed

[2019-12-04 08:19] Brixy opened #394 "Tiny issue list"
[code]

Thank you very much for the super-cool 2.8 version.

I noticed a few things.

# 1

It is possible to double-select items after using `K` to edit the selection and accidentally delete deselected files.

**Steps to reproduce:**

- `a`
- `K` (remove one item)
- `a`
- unselect one item using `space`
- `X` will *delete* the item we unselected in the step before.

# 2

After using `K` the `+` sy

[2019-12-04 08:42] jarun commented on #394
Thank you for the tests and your time. I will take a look once I am back at my workstation.

[2019-12-04 09:20] 0xACE commented on #386
Hey, I think i encountered the `lastdir` problem described in: https://github.com/jarun/nnn/commit/20ac9da98852367646e2c3b195fcbfee844cca72#commitcomment-36198570

appear in commit: f80563e16a981deeaca43e17b48dbf6ca0ed0efd

as I was on the run, I didn't have time to note which commit i was on when it happened, and since then I have rebased on master... I tried reproducing it though and I can't any

[2019-12-04 09:57] jarun commented on #386
I think it's fixed in master. Please try a few more times with the release.

[2019-12-04 10:26] yxchng opened #395 "`ctrl-l` does not clear prompt after typing `n` to create a file or directory."
#### Environment details (Put `x` in the checkbox along with the information)

[ ] Operating System: Ubuntu 18.04
[ ] Desktop Environment:
[ ] Terminal Emulator:
[ ] Shell: gnome terminal
[ ] Custom desktop opener (if applicable):
[ ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
`ctrl-l` does not clear prompt after typing `n` to create a file or directory. It requires me t

[2019-12-04 10:34] jarun commented on #395
Can't reproduce this with master. Please try with release v2.8.

[2019-12-04 10:56] KlzXS commented on #394
### 1:
I'm unable to reproduce this and I think I don't fully get which files you're selecting and deselecting.

### 2:
This is the intended behavior. The `+` is there only until the selection is used, edited or the directory has changed.

### 3:
I can reproduce this. I'll submit a PR.

### 4:
I don't have trash setup. Someone else should take a look.

[2019-12-04 11:08] yxchng commented on #395
@jarun thanks. it works now in v2.8. i was using an old version install using `apt` on ubuntu.

[2019-12-04 11:08] #395 closed

[2019-12-04 11:33] yxchng opened #397 "How to open file in new tab or new window?"
How to open file in new tab or new window? Or is it not supported?

[2019-12-04 11:34] 0xACE commented on #386
I tried again, it happened again. I'm not exactly sure how to reproduce it.

I can't reproduce it in a "testing" scenario, the problem appears when I'm using `nnn` naturally...

[2019-12-04 11:42] 0xACE commented on #397
?? you can duplicate the current context by clicking `1`, `2`, `3` or `4`. and then do as you like from that context.

But `nnn` is not a terminal multiplexer...

[2019-12-04 12:11] jarun commented on #386
I d

[2019-12-04 12:14] jarun commented on #386
I am not sure how this helps. We had days to test this before the release and I did call out to all of you to pitch in. Your _natural_ usage is not helping me to reproduce this.

[2019-12-04 12:16] jarun commented on #397
Try the plugin fzcd. We can have something like it to open a dir in new tab. Please see if you can raise a PR.

[2019-12-04 13:00] maximbaz commented on #394
### 1:

I can reproduce it but I think it's by design. Let me first clarify repro steps:

[code]

* `a`
* `K` - delete `/tmp/test/2`, save and exit
* `a`
    * currently if you press `K`, selection will contain `1,3,1,2,3`, but @Brixy expected to see `1,2,3` here.
* Move cursor to `3` and press `Space` to unselect it.
* Press `X`
    * @Brixy expected that only `1` and `2` will get removed, but in

[2019-12-04 13:05] jarun commented on #394
1 and 2 are by design. Once you flush, you indicate you are OK with the files you have already selected. You also lose the `+` which means you can't deselect anymore. I will update the docs to add some more clarity but it's already there.

4 is not an issue for me.

[2019-12-04 13:05] #394 closed

[2019-12-04 13:05] jarun commented on #394
BTW, 3 is in master now.

[2019-12-04 13:12] jarun commented on #397
@yxchng this will only be for dirs. `nnn` is not a mime opener. To open a file detached, please visit the Wiki section on how to open text files in a new window.

@annagrram would it be possible for you to add a quick plugin for this (open the selected dir (in any) in next available free context (or fail, if there's none)? It would be great if we can have this in v2.8.1.

[2019-12-04 13:12] jarun commented on #397
But not a must as we can add plugins anytime.

[2019-12-04 13:22] jarun commented on #394
I have updated the docs.

@Brixy please read https://github.com/jarun/nnn/wiki#selection for more details on the behaviour.

[2019-12-04 13:27] jarun commented on #386
@0xACE any luck yet? Please confirm you are on master.

[2019-12-04 13:30] Brixy commented on #394
Thank you very much, guys.

I figured **1** had to be that way. So thank you for updating the docs and adressing **3.**

[2019-12-04 13:31] jarun commented on #394
Enjoy!

[2019-12-04 13:36] jarun commented on #386
@maximbaz can you please help us repro the issue @0xACE is seeing?

[2019-12-04 13:39] maximbaz commented on #386
Will try, but after you pushed https://github.com/jarun/nnn/commit/ef88a31a7ce632f35b538ff64466489902076883 and https://github.com/jarun/nnn/commit/0a5dc2e336cfa3aab64783fb44b0be519e46750c I've had zero issues with selection. If I spot it, I'll let you know right away.

[2019-12-04 13:42] jarun commented on #386
Yes, even I am not seeing this.

[2019-12-04 13:48] jarun commented on #386
@0xACE I also took a look at master source to track if we are clearing `lastdir` anywhere but I couldn't find any such instance.

[2019-12-04 13:53] jarun commented on #397
@yxchng when we create a new context, we copy the earlier one. What's stopping you from entering the directory in the next context?

Also, your use case is covered by `fzcd` already. Not just a child dir, you can open any dir in the subtree or parent dir of any file in the subtree with it.

[2019-12-04 13:53] #397 closed

[2019-12-04 17:44] 0xACE commented on #386
I did try it out in my limited time, and I don't recall that I encountered it

Yeah, atm I don't have a way to describe it because I don't understand it myself.

Yes I am on master.

No need to push yourselves, I haven't confirmed it myself, I was mostly wondering if someone else is encountering this issue.

Yeah, I haven't looked at the code yet. As I don't know how to reproduce it, I'm just gaug

[2019-12-04 22:27] jarun commented on #386
I'll try this.

[2019-12-05 13:43] jarun commented on #386
And no luck! I've made the minor release already. If it's really an issue we will surely get user reports and we can fix it when we have some more concrete data.

[2019-12-05 22:53] 0xACE commented on #386
Happened again, this time there were no torrents involved.

I'm disabling all my personal patches just incase this problem is caused my my changes. I'll let you know next time...

Btw is it important to `K` flush the selection? because I have never used it, and I don't think I intend to use it...

[2019-12-05 23:06] amanjitsk opened #398 "`getplugs` does not download `.nnn-plugin-helper` causing some plugins to fail"
Just a minor inconvenience, but the current version of `getplugs` does not download `.nnn-plugin-helper` file

[2019-12-06 01:39] jarun commented on #386
Not for flush, not really. Because of your use case, I made the flush to .selection file auto. But yes, it's required to edit.

[2019-12-06 01:40] jarun commented on #398
@KlzXS can you please take a look?

[2019-12-06 03:21] #398 closed

[2019-12-06 03:21] jarun commented on #398
I've taken care of it.

[2019-12-10 15:17] jarun opened #400 "Selection issues with version 2.8.1"
Received the following issue reports in mail:

I found four selection issues in 2.8.1:

--

1. In case I select files with Space, the number of selected files
is shown within the status bar. But when I de-select them again
the plus sign is removed but the number in the status bar is
increased instead of decreased.

--

2. If I now hit K to flush/edit my selection list I get "failed!"
instead of th

[2019-12-10 15:25] #400 closed

[2019-12-10 15:39] jarun commented on #400
1. Seems to be fixed in master. I can't reproduce. Commit 3b2b6f2b46325bc74e3dd202fb000760b0a55fe9 may be relevant.

2.

The message will now be "0 selected"

We do not update the selection buffer but we write to the selection file when we select files. This is done so users who are working on multi-nnn environments like tmux do not have to flush the buffer every time. This issue was happening as

[2019-12-12 16:12] jarun commented on #400
@0xACE take a look at commit and e7236662560ecc687b5349b825a438aed30f5874 and commit fcba62d296d6f2b1f79ce7df72f984afd0c8fe3f. I think these may be the use cases where you noticed the `lastdir` (a wrong `lastdir` prefixed to the files selected) issue:

- select a file and click on a second context (using mouse) where `lastdir` is something different
- select a file and then show hidden/change sort

[2019-12-12 21:52] 0xACE commented on #400
I'll test the patches, the reason I have been silent is because I didn't encounter issues yet. I have to be honest though, I haven't had much time infront of any computers the past 2-3 weeks.

[2019-12-14 17:18] urosk opened #402 "Insta-quit"
Would it be possible to add a command which allows the user to quit without confirmation. Or remove the confirmation altogether from SEL_QUIT.

Use case: I start nnn with a session with 4 pre-opened contexts. So to quit I need to either qqqq or qy, which are both more effort than I'd like :/

For now I just commented out the code which requests confirmation in my build.

[2019-12-14 17:33] jarun commented on #402
I can see why it can be annoying. I will add a switch to do this.

[2019-12-14 17:58] #402 closed

[2019-12-14 17:59] jarun commented on #402
Should be fixed now. Please confirm.

[2019-12-14 18:33] urosk commented on #402
Works perfectly 👍

[2019-12-15 22:54] maximbaz opened #404 "Ability to omit trash when removing files"
I generally like the integration with `trash-cli`, however I sometimes lack the ability to purge the file immediately, i.e. remove it completely instead of moving to the trash bin.

The reasons could be that it's a sensitive file, or it's a large file and I'm trying to free up disk space, and recently I found that quite often I need to remove the file from trash manually right after removing the f

[2019-12-15 23:47] jarun commented on #404
@maximbaz we don't want to have a specific shortcut for loosely coupled utilities as we don't want to advertise them as direct dependencies. We will need 2 additional shortcuts to satisfy this request - delete file to trash, delete file directly. delete selection to trash, delete selection directly.

We can't keep adding trivial functionality and additional shortcuts for every other thing. If you

[2019-12-15 23:47] #404 closed

[2019-12-15 23:49] jarun commented on #404
BTW, it's very easy to add a plugin that can do both. Try that instead.

[2019-12-15 23:50] maximbaz commented on #404
Fair points, and I agree about plugin, that is probably the easiest solution indeed 👍

[2019-12-16 13:10] maximbaz opened #405 "Show indicator of pending input in status bar"
Some commands require pressing two keys, and I think it would make sense to let `nnn` show in status bar if `nnn` is waiting for the _second_ keypress, because the meaning of this second keypress depends on whether `nnn` is listening on a key to finish some action.

For example, `;` marks the start of selecting a plugin, and the next keypress will select the plugin. If you have a plugin that say j

[2019-12-16 13:17] jarun commented on #405
There's no way someone can press `;` without understanding what it does. Why would you press `;` and then press `j` thinking it will go to next entry? If you have added a plugin with `j` in your rc file you know very well what the sequence `;j` does.

But if I pressed a `;` just now I should remember that.

We do show a popup that says "range selection on". Do you want the code to become a spaghet

[2019-12-16 13:17] #405 closed

[2019-12-16 13:18] jarun commented on #405
In a user can't remember what he is doing a fraction of a second back, trust me, `nnn` is not for him/her. We are not writing this for him/her.

[2019-12-16 13:19] jarun commented on #405
BTW, could you test the haiku port from https://github.com/jarun/nnn/pull/403?

[2019-12-16 13:28] maximbaz commented on #405
:)

I don't think the code would become spaghetti if we add a little bit of consistency in UI 🙂 I suppose there is a flag somewhere already that remembers that `;` was pressed and that the next keypress will behave differently, it's a matter of reading that flag as well when drawing status bar?

It could be a typo simply, e.g. a user accidentally hitting `;` instead of `'` (because they are next t

[2019-12-16 13:37] jarun commented on #405
No, when you press `;` the control goes to the lead key handling, there is no redraw.

Yes, it could be but as I mentioned above, we do not redraw in the lead key handler.

We can do this. Please raise a PR.

[2019-12-16 13:46] jarun commented on #405
I think both are doable easily. Raise the PR.

Also, when you think of an issue, also think from code perspective how to fix it. So see it from this angle - if I want to do this what do I need to do. And when you add the issue, please add the technical details of the fix.

I need contributors to be more proactive with these. I sound bitter because I returned home half an hour back and then I see U

[2019-12-16 13:47] jarun commented on #405
When you raise the ER, please test both the normal mode and navigate-as-you-type modes.

[2019-12-16 13:54] jarun commented on #405
Neither is @annagrram! ;)

Just download the ISO, set up a VM and boot into another *nux-ish OS. You'll know what to do past that. And if you need help, please check with @annagrram.

BTW, @annagrram I'll be visiting my hometown in Christmas and New Year for 2 weeks so I can test this. I have downloaded the ISO a few days back.

[2019-12-16 14:14] 0xACE commented on #405
I would like to point out that a it is not about knowing wether you pressed it or not, it's about clarity. I frequently run into this issue on touch-devices and poor keyboards.

But it honestly doesn't bother me enough to do something about it... I more frequently stumble on prompts that appear on the bottom left though. (mounting `sshfs` comes to mind atm, but its probably just muscle memory caus

[2019-12-16 14:59] jarun commented on #405
@maximbaz for the first issue (leader key), call a printprompt what whatever you want to show and let's see.

Please add this in the same PR.

[2019-12-16 15:06] jarun commented on #405
After a leader key, we either switch dirs or contexts or at least redraw. So the msg in the prompt will be gone.

Exceptions:
- if you press a bookmark key where the bookmark destination is the same as current dir. You need to clearprompt() here.
- bookmark destination cannot be accessed. Add a printwait() with "MSG_ACCESS" in this case. it is missing today.

[2019-12-16 17:30] tim77 opened #407 "Help screen is hard for perception"
#### BUG REPORTS

Hello. This help screen [1] is hard for perception. Would be nice to move second block to right a little bit. Also would be nice to colorize hotkeys for better readability.

#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Fedora
[x] Desktop Environment: i3wm/GNOME
[x] Terminal Emulator: gnome-terminal/alacritty
[x] Shell: fish

[2019-12-16 17:55] jarun commented on #407
Take a look at master. I recently cleaned it up a bit. Let me know if you have some suggestions to move around the entries further without having to shift a full column (that would add a number of bytes).

[2019-12-16 17:57] annagrram commented on #405
True.

After that, in order to build, you need 2 prerequisites that don't come out-of-the-box.
Just:
`pkgman install readline_devel ncurses6_devel`

I'll be on vacation for the entire Christmas week, so not sure I'll be available. Surely not for coding.

[2019-12-16 19:43] tim77 commented on #407
Version from master [2] looks definitely better. But TBH still think that nice to have colorized or bold hotkeys for better distinguish. Maybe this would be enough without shift a full column.

[2]
![DeepinScreenshot_select-area_20191216213416](https://user-images.githubusercontent.com/5614476/70937483-082da080-204d-11ea-9769-88226b1d962e.png)

[2019-12-16 20:08] maximbaz commented on #407
@jarun have you considered using `\t` to shift column? If you just go with a simple way of adding a new column of `\t` chars, it would at least not grow the binary by that much as it would if you added a column of say 8 spaces.

If the size is still a concern, you could expand `\t` yourself (say to `8` spaces) (so that `\t` has a predictable width, not dependent on users' PAGER) in `show_help()`,

[2019-12-16 20:10] maximbaz commented on #407
I completely agree that the current help is not very readable, most of all I dislike that different lines have different number of columns (most have two, but some have three).

[2019-12-16 20:38] ignatenkobrain commented on #407
You can use libsmartcols (from util-linux) to make proper table printing...

https://karelzak.blogspot.com/2014/05/libsmartcols-pretty-output-for-everyone.html

[2019-12-16 21:28] maximbaz commented on #407
Maybe a silly idea, but it was easy to implement, and imho already helps a lot, and also doesn't increase the binary size which seems to be a concern. https://github.com/jarun/nnn/pull/408

[2019-12-16 23:03] jarun commented on #407
No new deps please.

[2019-12-16 23:04] jarun commented on #407
Yeah, binary size is the main concern. People use `nnn` in custom initrds which are in MBs. So we are very particular about even byte-size gains.

[2019-12-17 01:13] jarun commented on #407
Closed at commit f10481e93e3cd043c6314bdc343843764d380f24.

[2019-12-17 01:13] #407 closed

[2019-12-17 10:19] maximbaz opened #412 "Reduce false positives in nav-as-you-type mode"
I use `nav-as-you-type` with `-t` flag because I experience too many false positives where I enter I directories I don't want to enter because I type too fast, but I think we can improve the mode so that `-t` flag will not be needed.

First, an example of what I mean:

Start in `navtest` dir:

[code]

Suppose you want to go to `hub/nnn/`. Launch `nnn -i`. You see `hom` and `hub`. I want to go to `

[2019-12-17 11:01] jarun commented on #412
We can't have keypresses vanish. This is a case of correct behaviour against user experience. In my case I use nav as you type like shortcuts. Yes, there are a few times I have faced what you are saying but that is max one extra level of depth and I could press left to jump back easily. If you face thos frequently, I would suggest you have a local copy.

[2019-12-17 11:01] #412 closed

[2019-12-17 11:05] maximbaz commented on #412
Do you think there is some limitation that will physically not allows us to implement this in any way?

I feel if this is done properly, we will not harm anyone's user experience, but will only improve it by reducing these false positives when you must click "left".

If you have an idea how this can be implemented, can you give me some hints? Maybe I can convince you that this is awesome idea afte

[2019-12-17 11:12] jarun commented on #412
What do you men by false positive? Aren't you getting correct matches against what you type? I think you are trying to tune the program based on your expectation. When I see what you think is false, I immediately know there were unique matches in the path. Next time I m careful or I get to typing the correct sequence once I enter the path  few times. It looks like you are trying to enter unvisited

[2019-12-17 11:15] jarun commented on #412
The person who knows the path in your example will actually press `hun` and with the changes you are suggesting he might have to press n multiple times. So what you are suggesting actually breaks a correct behaviour.

[2019-12-17 11:17] jarun commented on #412
You need to look at the monitor.

[2019-12-17 11:19] jarun commented on #412
This is a wrong expectation. Auto-dir select works on unique paths, that's the definition.

[2019-12-17 11:23] jarun commented on #386
@maximbaz can you check if there's any way to reduce the binary size further? For me it is 62.1 K now. I would love to bring it below 60 K.

[2019-12-17 11:29] jarun commented on #412
BTW, I had also thought of this before, when I started using this feature, but I refrained from breaking the correct behaviour because of the reasons above. And there's also a switch to disable auto dir select. You can use that.

[2019-12-17 12:27] maximbaz commented on #412
Not really, because this is very much dependent on the contents of all directories, as new folders appear and disappear the "unique" key changes.

Imagine I remove `hom` folder. Then `hun` will lead me to `hub/uber`, a completely different folder!

This feature is not helping productivity, but asking users to slow down, type veeeeeeeeeeeeryyyyyyyyy sloooooooooooooowlyyyyyyyyyyy, check what happens

[2019-12-17 12:36] maximbaz commented on #386
I'll have a look, out of curiosity, can you share the full command that you use to compile?

If I run `make` locally, it executes the command below, resulting in 93kb file.

[code]

If I run `make` on the build environment for Arch Linux (this is what we distribute to users), `make` executes the command below, resulting in 87kb file.

[code]

[2019-12-17 12:38] jarun commented on #412
Please don't bring in your personal perspectives to defect discussions. I type pretty fast myself and I do not have any issue with this feature.

No, in this case i don't really want to complicate a simple, we-defined behaviour. I am ending this discussion from my side here.

If anyone else in the team wants to discuss this, please go ahead.

[2019-12-17 12:41] jarun commented on #386
here's what I see on Ubuntu 18.04, amd64:

[code]

[2019-12-17 12:44] jarun commented on #412
BTW, you asked about the implementation. Just follow the `cfg.autoselect` variable.

You can implement it if you want and demo but I am almost 100% sure I will not agree to breaking it. And why I am resisting more is I don't want the team to waste time on trivia when we can actually work on much more important stuff.

[2019-12-17 12:48] jarun commented on #412
In case you are not checking the Haiku OS porting or the binary size thing, see if you can work on controlling the stdin and stdout of a plugin. That way we can show an image in an external image viewer and press next next next to navigate images in a dir. This is a simple example but there can be many applications of this.

I think we can have a 2-ended pipe in run_selected_plugin() to achieve th

[2019-12-17 12:56] hsanson opened #413 "Change `l` to pick file when in picker mode instead of open."
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System:  Linux
[x] Desktop Environment: Kde Neon
[x] Terminal Emulator: Konsole
[x] Shell: Bash
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

When using nnn in picker mode pressing `l` in a file opens it instead of picking it. This cau

[2019-12-17 13:06] jarun commented on #413
That's the desired behaviour: https://github.com/mcchrish/nnn.vim#usage

The code follows: https://github.com/jarun/nnn/blob/master/src/nnn.c#L4433

This is the way for someone to open `nnn` within an already open `vim` instance and play a file.

Adding @mcchrish for his opinion.

[2019-12-17 13:16] maximbaz commented on #412
Oh but this is fun, it gives a chance to test some assumptions that might bring some serious usability improvements!

But in this case you were 100% right 😄 I implemented a prototype, it turned out to be easier that I expected... and it's not really usable at all, not as what I had in my mind originally.

It turns out to be nearly impossible to find a delay that would both be invisible to the eye

[2019-12-17 13:19] jarun commented on #412
because the same precision doesn't work for everyone. there's a theory that the typing speed of people don't vary much over years and some security measures can actually use that.

[2019-12-17 13:22] jarun commented on #412
Yes, another kid I work with doing his PhD in Princeton thinks the same way. I still think his academics is much more important than spending time on open source projects. So I try to get only quality time from you guys.

[2019-12-18 00:50] hsanson commented on #413
If this is expected behavior then please ignore and close this issue. It felt like a bug to me since `l`, `Right`, and `Enter` do the same thing in normal mode but not in picker mode. Also other plugins (e.g. vim-ranger) behave the way I expected this to work, that is, open the file within (neo)vim when pressing `l` or `Right` after selecting it.

Since there is already a ^O action for `Open with`