[2019-12-18 03:01] jarun commented on #413
Yes, we want to keep the functionality of the file manager easily available. Maybe we should clarify that int he document.

[2019-12-18 03:01] #413 closed

[2019-12-18 03:05] jarun commented on #413
Updated the document at https://github.com/mcchrish/nnn.vim/commit/cf64e72709aea280c560cc36f9187c8fa90552fe.

[2019-12-18 21:38] jarun commented on #386
@annagrram shall we remove the "@" session after we restore it? I think currently it's not happening. I don't remember if we talked about this during implementation.

[2019-12-19 12:33] annagrram commented on #386
We haven't talked about it, but yeah. Sure

[2019-12-19 12:36] jarun commented on #386
I have checked-in the change already at commit cf388649b9cd6fba38b9c0dca49c29bad3b6f737. Please review once.

[2019-12-19 18:04] 0xACE commented on #386
Just a quickie: I tried opening a file which had a `'` in it: example `This Boy's Life` with `^o` (`CTRL-o`) and it failed to open it. anyone else having problems with this?

[2019-12-19 18:08] jarun commented on #386
which application did you try to open it with?

[2019-12-19 18:18] 0xACE commented on #386
a personal tool i made. But nvm, I can't reproduce the error anymore. I thought maybe i misspelled my tool, but looking at the history, i did write it in correctly.

Anyhow, since I can't reproduce it, it's most likely a user error on my end and not `nnn` related.

[2019-12-19 18:20] KlzXS commented on #386
On the other hand is anybody experiencing "swallowing of input", i.e. after `^o` if you try to open a cli program as gui (it seems to not work for every program but for vim it does), every second keypress doesn't do anything. This also persists even after exiting `nnn` until the terminal is closed. Also affects ttys.

[2019-12-19 18:23] jarun commented on #386
please don't do this. It will mess up your terminal. Open a CLI program as clia nd GUI program as gui. I don't think we will be able to support the mixinf with any kind of hacks.

@0xACE

Is the tool a cli-only opener? or does it invoke a gui program?

[2019-12-19 18:34] KlzXS commented on #386
This time I did it on accident but I think this also happens sometimes with some files when it doesn't know with what to open it. At least it did in the past. Just by using `l`, `Enter`.

[2019-12-19 18:39] jarun commented on #386
What's your opener?

If it's a text file do you have `NNN_USE_EDITOR` set?

[2019-12-19 18:46] 0xACE commented on #386
It's a cli only tool. It has no GUI elements involved.

I reckon it's safe to dismiss my "error". There is a good chance I actually made a mistake. As this problem appeared in my "regular" usage of `nnn` I didn't think to debug it, and by the time i "realised" that there might be wrong, I had already closed the window. Since none of use can replicate it atm, maybe it really was me making a mistake

[2019-12-19 18:49] jarun commented on #386
There's more to it. For gui programs, we do not wait and we also disable their stdout and stderr. Some UGI programs write debug and errors to stdout/stderr. That breaks the `nnn` interface.

In case of LCI programs, we spawn them, wait and also show their output.

[2019-12-19 22:14] maximbaz commented on #386
@jarun regarding executable size, I was searching how to get the most significant results and discovered compression tool called `upx`.

On my local machine, `upx --best nnn` compresses the `nnn` binary from `79904` bytes down to `39960` bytes!

Do you know about this tool? Any drawbacks in using it?

[2019-12-19 22:47] maximbaz opened #416 "Improvements for distribution"
Since I'm also a packager, I'd like to suggest some improvements for the Makefile and distribution practices in general 🙂

1. I can see you PGP sign your commits, would you consider providing signatures (`*.sig`) for release assets? That way users can have more trust that application sources did come from you. For Arch Linux specifically I would only want the signature for the source tarball file,

[2019-12-19 23:15] KlzXS commented on #386
Some basic disadvantages listed are:

Not sure if we really care about those. But it does sound cool.

[2019-12-20 01:20] jarun commented on #386
@maximbaz

But we would have to unpack it each time when we load, right?

[2019-12-20 01:21] jarun commented on #386
Let's leave that. strip is good enough. We should try to see from code perspective if we can do something.

[2019-12-20 01:38] jarun commented on #416
Yes, both of these are quality improvements. Please go ahead!

[2019-12-20 12:20] jcguu95 commented on #225
Off topic.. but I appreciate watching you fixing problems! Thanks for great work!

[2019-12-20 17:22] jarun commented on #416
Closing the issue as most of the discussion is happening in the PR.

[2019-12-20 17:22] #416 closed

[2019-12-24 00:19] heptathlon opened #419 "error: use of undeclared identifier 'CLOCK_REALTIME'"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: MacOS 10.11

#### Exact steps to reproduce the issue

[code]

[2019-12-24 01:23] 0xACE commented on #419
I'm not familiar with your machine setup. My man-page for `time.h` states:

Anyhow, afaik: most of the `nnn` devs are busy during the holidays. If it's urgent you can try to patch every occurance of `clock_gettime()` with what is done here: https://gist.github.com/jbenet/1087739

[2019-12-24 03:37] jarun commented on #419
1. We do compile `nnn` on macOS on Travis for every commit.
2. MacOS 10.11 is unsupported.

From https://en.wikipedia.org/wiki/OS_X_El_Capitan:

"Support status
--
Unsupported.  Extended support ended in September 2018. iTunes terminated as well.  (iTunes is replaced by separate apps in macOS Catalina, like iOS and  iPadOS.)."

@heptathlon please upgrade to the latest supported release of macOS.

[2019-12-24 03:37] #419 closed

[2019-12-24 18:53] dangerware opened #420 "Can't jump to bookmark location when the key is a digit"
This is the content of my `NNN_BMS` variable:
[code]
When running in interactive mode I can't jump to the directory that is assigned to the key `2` using `<Leader>2`. Instead it will select the second context. Yet if I execute it like `nnn -b 2` it starts `nnn` in the path defined by key `2`.

To get the expect behavior, I cloned this repo at [master](https://github.com/jarun/nnn/tree/f480de0065ac

[2019-12-24 23:50] 0xACE commented on #420
https://github.com/jarun/nnn/blob/f480de0065acdccb5afafa717665fe62b3110f43/src/nnn.c#L4611-L4618
⋮
https://github.com/jarun/nnn/blob/f480de0065acdccb5afafa717665fe62b3110f43/src/nnn.c#L4643-L4647
⋮
https://github.com/jarun/nnn/blob/f480de0065acdccb5afafa717665fe62b3110f43/src/nnn.c#L4670-L4671

TL;DR: keys: `1-4` and a couple of others get special treatment before they get parsed by the bookmark h

[2019-12-25 02:20] jarun commented on #420
I am thinking of removing the special powers of the lead key. This was initially added to help people in `nav-as-you-type` mode but one can also press `Esc` instead of the Lead key to do the same thing.

@0xACE what do you think?

[2019-12-25 03:03] 0xACE commented on #420
This current design leads to inconsistent behavior. Besides `.` none of these additions actually provide a different function compared to `Esc`.

I'm not the right person to decide if they should be removed or not as I never used them from within `filterentries()`. Instead I added my own special keys within `filterentries()` to access those features. You should see with other users who may be affe

[2019-12-25 03:17] jarun commented on #420
Let's leave the context handling as it is. I can see an additional advantage - you can retain filters if you switch the contexts using the Lead key.

[2019-12-25 03:19] jarun commented on #420
I'm closing the issue as this is documented from a long time: https://github.com/jarun/nnn/wiki/Usage#lead-key

and the behaviour is as expected.

[2019-12-25 03:19] #420 closed

[2019-12-25 03:19] jarun commented on #420
@0xACE why not document your changes in the wiki (like the pager one)? It will be useful to many users.

[2019-12-25 03:33] 0xACE commented on #420
are you referring to opening files in the pager from within `filterentries()` using `case 'P':` ?

It only works well because my `and_str()` is case-insensitive. i'm not sure if `visible_re()` is case-insentivie. judging by `visible_str()` I'm guessing both of these functions are case-sensitive

you could apply this patch locally if you want to try it out:

[code]

[2019-12-25 06:46] jarun commented on #420
I've change the Lead key to a bookmark key. Made the necessary modification to retain the filter on context change when in nav-as-you-type mode.

This actually simplifies a lot of things.

[2019-12-25 10:55] dangerware commented on #420
Thank you very much! It's working fine with that fix.

[2019-12-25 15:52] jarun commented on #420
It's not a fix. I changed a well-defined behaviour. And I see issues with clearing filters. So I may revert it back.

Also, I don't see it as a significant issue that 1-4 are reserved. There's a-d and so on.

[2019-12-25 16:54] jarun commented on #420
I had to revert this. I spent half a day but couldn't straighten the filter workflow without messing up the code.

[2019-12-25 19:50] dangerware commented on #420
No problem. Thank you anyway for the time you've spent. It would be convenient to me but in the end it's no big deal.

[2019-12-25 23:27] KlzXS opened #421 "Wide-character support not available with ncurses on all systems"
In short, installing libncurses doesn't always provide wide-character support, and so compilation fails. If that's the case you need to install libncursesw and than has a separate header. In my case I needed to `#include <ncursesw/curses.h>`

This is something we should consider. Sorry for the potential sloppy writing I stayed up late beating my head around this way longer than I should have.

[2019-12-26 03:05] jarun commented on #420
To clarify the issue for others, we retain filters while changing contexts. If we rely on `Esc` to exit filter mode but retain the filter, the filter will show in later refreshes of when you reload a new directory (like jumping to a bookmark) if you use nav-as-you-type mode. To handle this we can have a check before dir reload to clear the filter, but that will be too many checks for the type of s

[2019-12-26 03:11] jarun commented on #421
That's correct. Even on Ubuntu which I use does have both the versions. On macOS, however, ncurses provides both. `pkg-config` in the Makefile handles this. This is also in sync with our compilation instructions: https://github.com/jarun/nnn#from-source

TBH, distros should ship only the latest libs.

[2019-12-26 14:28] jarun commented on #421
Also, it's not really our problem. In the dependencies section we also mention that a curses library with wide char support is required: https://github.com/jarun/nnn#library-dependencies

So closing this.

[2019-12-26 14:28] #421 closed

[2019-12-26 14:32] KlzXS commented on #421
I just hadn't noticed that this is the case. I wish it wasn't this way, but oh well.

[2019-12-29 03:40] jarun commented on #420
@dangerware I am hoping this is fixed for good now. I have simplified the workflows greatly. The bookmark key will now handle only bookmarks. The lead key is gone. `Esc` from _nav-as-you-type_ to jump to special keys. It took a few days to stabilize this. Please spend some time to test.

@0xACE @KlzXS @annagrram please use master for your regular work so it gets tested.

Please check the help sett

[2019-12-29 12:35] jarun opened #422 "Sane keybinds and switches"
I spent a lot of time today on having some sanity in our keybinds & program switches. Came up with commit 146da5911d8273ce302fb70ddf443cb577f9def4.

Keybinds: https://github.com/jarun/nnn/wiki/Usage#keyboard-and-mouse

Options: https://github.com/jarun/nnn/wiki/Usage#command-line-options

I need all of you to review this and suggest any further changes or discuss if you have anything in mind. From

[2019-12-29 14:17] annagrram commented on #422
I have some job-interview tasks to do. So I'll be a bit busy in the next couple of days.

[2019-12-29 16:07] jarun commented on #422
No problem! We have time for this.

All the best!!!

[2019-12-29 18:13] maximbaz commented on #422
One idea: if `/` is filter, it feels very intuitive that `^/` would be some sort of "extended filter" mode, which is "nav-as-you-type" in `nnn`. I would therefore suggest to keep `b` for bookmarks and move `^/` to "nav-as-you-type".

[2019-12-29 18:17] maximbaz commented on #422
I would recommend changing `N  Context N` to `1 2 3 4  Context`, because (unless I'm mistaken?) it is hardcoded that we can have only 4 contexts, and the current help message misleads you into thinking that you must press `N`, while in fact you must press `1` or `2` or `3` or `4`.

[2019-12-29 18:27] jarun commented on #422
I did that in an intermediate check-in. There are several points against it:

- I need to provide a ctrl shortcut for people who use the nav-as-you-type mode all the time to pick bookmarks. The 2 keys in `^B` are too far from each other. it's too I was having difficulties myself.
- Users are already used to these keys.
- `^N` goes well with _Nav-as-you-type toggle_.
- The option to start in _nav-a

[2019-12-29 18:34] maximbaz commented on #422
I was thinking `b ^B` for bookmarks and `^N ^/` for nav-as-you-type, but I see your reasoning for `^B` being difficult to press... 🤔  OK I don't have a better suggestion at the moment.

👍

[2019-12-29 18:38] jarun commented on #422
Commit c1f168c7cbbf87a8f1acc4ba88e14d68da556392

[2019-12-29 18:58] maximbaz commented on #422
I noticed a new keybinding and flag `v` for version sort, and I wanted to ask, did you consider updating the existing algorithm for this scenario, instead of providing a choice for sorting approaches?

I simply noticed that `xstricmp` is already customized to provide intuitive results for files that are numbered (so we don't have two algorithms for that, which I approve 👍), why don't we customize

[2019-12-29 19:15] jarun commented on #422
`xstricmp()` works with pure-numeric (values), it's crude and not necessarily version sort:

[code]

The version sort algo in `strverscmp()` is from standard GLIBC GNU extensions with minor modifications:

[code]

1. As you see from the results, both have distinct purposes. `xstricmp()` considers locale.
2. The amount of testing required to test any attempt to merge these functions is significant

[2019-12-29 19:16] jarun commented on #422
Please stick to keybinds and options in this thread. I accidentally closed the issue thinking it was a new one.

[2019-12-30 00:27] dangerware commented on #420
@jarun First of all, thank you **very much** for getting back to this. I had already assumed the issue was settled. Tomorrow I'm going to pull the master branch, test it and let you know.

[2019-12-30 06:28] jarun opened #424 "Remove some error messages"
@maximbaz I am thinking of removing some of the invalid keys, 0 selected messages. The more you use the keys the more they seem counter-productive.

For 0 selected, it's evident from the status bar.

For invalid, no change in the context should indicate that.

Can you please raise a PR and we can start with it and see where we end up?

I am actually working on simplification of workflows for the n

[2019-12-30 06:55] jarun commented on #424
Once this is done, the next item I have in mind is to reduce the number of `goto nochange` branches in `browse()` in favour of bool checks and a single jump. I already eliminated a few in the recent comments.

[2019-12-30 10:11] dangerware commented on #420
As far as I can tell, this is working just fine! I've changed my `NNN_BMS` for both Bash and Fish to the following:

[code]

So all 10 slots are being used. Works fine under Arch Linux (LTS 4.19.91) + i3 + kitty.
Tested with the master branch at db647e7c4c0e482f9b7fb0e351abd4730d5b5cac.

Once again, thank you!

[2019-12-30 10:23] maximbaz commented on #424
How do we draw a line, which error message needs to be shown, and which needs to be silently ignored? For most errors I guess, they are evident because the intended action didn't happen.

[2019-12-30 11:41] jarun commented on #420
Thanks for confirming.

[2019-12-30 11:43] jarun commented on #424
I think so too! Start with something and we'll review and revisit.

[2019-12-31 15:18] jarun commented on #424
The 0 selected are actually fine because without them there will be no visual change and the user may think nothing happened. The case with invalid key is different though. There is a visual change.

[2019-12-31 15:20] jarun commented on #424
There's one more thing... in some cases we can skip redraws() due to break/continue by just a clearprompt().

BTW, I am working on these now.

[2019-12-31 15:46] jarun commented on #424
I think we can ignore this exercise. `clearprompt()` can't be an alternative in all cases because `printmsg()` and the next `nextsel()` are intelligent enough to show the filter symbol if _nav-as-you-type_ is on, else the file details in the status bar. Just a clear prompt is kind of bland. ;)

[2019-12-31 15:46] #424 closed

[2020-01-06 13:11] jarun commented on #422
@0xACE, @KlzXS, @annagrram need your input on this one. We have to free the keybinds in the next release.

[2020-01-06 13:27] KlzXS commented on #422
I hope that means to freeze them, I'm still getting used to things moving around and keybinds seem to be magically changing every few weeks.

I'm okay with keeping them as they are now, but do we maybe want to move range selection to something like `Y` as other selection options are also bound to that letter? Maybe it's too many things on a single key I don't know. Also what's the reason for archi

[2020-01-06 13:37] jarun commented on #422
Yes, this thread is meant to freeze the assigned keybinds.

Range selection belongs to the group:
[code]

The `y` stuff are for list related functionality. Maybe the following represents that better?

[code]

We support several archive formats by default (whatever's supported on a standard installation). I selected the `i` from `iving`, kind of the central letter with a stress.

This is a very fre

[2020-01-06 13:51] jarun commented on #422
This makes the spacing look very bad.

[2020-01-06 14:33] jarun commented on #422
I have re-ordered the help. Please take a look: https://github.com/jarun/nnn/wiki/Usage#keyboard-and-mouse

[2020-01-06 14:40] KlzXS commented on #422
Physically separating them makes it more obvious, yes. I didn't realize that that's how they were grouped. They seem to make sense when you think about them for a second or two.

[2020-01-06 15:43] jarun commented on #128
@fengyichui would you be interested in adding the package `nnn` to Cygwin?

Packaging docs: https://cygwin.com/packaging-contributors-guide.html

[2020-01-06 15:43] jarun commented on #151
@monkeysuffrage would you be interested in adding the package `nnn` to Cygwin?

Packaging docs: https://cygwin.com/packaging-contributors-guide.html

[2020-01-06 15:44] jarun commented on #212
@Viharrai would you be interested in adding the package `nnn` to Cygwin?

Packaging docs: https://cygwin.com/packaging-contributors-guide.html

[2020-01-06 21:53] annagrram commented on #422
@jarun I like the simplicity of the new keybinds, and personally can either get used to new sets or set my own keys, so I don't have a strong opinion on which key does what, as long as it has some logic that I can use when learning it.

[2020-01-07 02:11] jarun commented on #422
We own this to end-users, who would only want to install and use the utility. If you see the popular terminal FMs are at least a decade old, `nnn` is pretty young (2y 8m) in that respect. But I think now the initial instability is over and we can arrive at designated keys.

[2020-01-08 10:29] awsdert commented on #386
I saw on the linuxquestions site that you were looking for feature suggestions, personallyy I rather liked the grouping mechanism that windows explorer has and find it annoying that no linux file manager has that feature, perhaps you could lead the charge and implement one? Doesn't have to be on by default but by golly it makes manual searches easier

[2020-01-08 11:00] jarun commented on #386
Can you explain grouping? I seldom use Linux.

[2020-01-08 17:03] annagrram commented on #386
Me too. But a quick YouTube search yielded this: https://youtu.be/k_mlcPonzGo?t=485

[2020-01-08 17:15] jarun commented on #386
Thanks @annagrram!

As I can see, there are 4 grouping params: name, modification date, type, size. We support all 4 (and more).

@awsdert please press <kbd>d</kbd> to enable detail mode and use the respective sort keys to show the files ordered in the way.

default is by name, so look for the order in the file name column. For date, use the first column, for size see the size column.

Type in cas

[2020-01-08 22:05] ghistes commented on #386
It would be a nice feature to display the mime-type of a file in the detail-view as this information is need to configure applications for the file-openers. The mime-type is already determined when a file is edited, so I guess it would be easy to add.

[2020-01-08 22:09] ghistes commented on #386
When does the version-number change?
I have nnn both from the debian-repository and compiled the head myself.
Both display 2.8.1 as versions but they behave diffferently (eg toggle of execution-flag does not exist in the debian version).

[2020-01-08 22:12] jarun commented on #386
Only if `NNN_USE_EDITOR` is set and only when we open/edit it. But not when rendering file info as that would need calling `file` on all listed files affecting performance.

I am inclined to show it in the status bar _for the current file_ but some of the mime types can be quite lengthy and will push out vital info.

As this is an infrequent operation, how about showing it in the file details scre

[2020-01-08 22:13] jarun commented on #386
Just before making the release. So master is still at 2.8.1 we changes on top of last-released v2.8.1.

[2020-01-08 22:20] ghistes commented on #386
Showing the mime-type in the file details screen for the current file only is what I meant.

[2020-01-08 22:31] jarun commented on #386
Mime type shown at commit 5cb39b0db36a4afd30a0578799cd85dc28ed153c. ;)

[2020-01-08 22:34] jarun commented on #422
I have changed the option `-t` (disable dir auto-select in _nav-as-you-type_ mode) to `-A` to be in sync with other disable options.

[2020-01-08 22:39] ghistes commented on #386
perfect.

[2020-01-08 22:45] ghistes commented on #386
What I would like to have is way to reverse the sorts.
So when I press "z" the entries are sorted by size, decending.
I would like to press maybe "Z" and have the entries sorted by size but ascending.

Unfortunately such a logic currently cannot be extended as sort by extension is "E" while "e" is edit, but it seems you are currently discussing key-bindings anyway, so maybe it would be worth it to

[2020-01-08 22:49] KlzXS commented on #386
Why would we have a keybind for reverse sort for every sorting mechanism? Why not have a single key that reverses the sort independent from which mechanism you are using?

[2020-01-08 22:50] ghistes commented on #386
If that is possible it would be even better.

[2020-01-08 22:52] ghistes commented on #386
"nnn -z"  does not seem to work. Is there a way to set the preferred sort mode on the command-line?
If not, that would also be nice to have.

[2020-01-08 22:53] jarun commented on #386
Reverse has been discussed earlier. Please see issue #377. My stand hasn't changed on this one. It's trivial to rollover at an edge or press <kbd>G</kbd> to jump to the last file and see in reverse.

[2020-01-08 22:55] jarun commented on #386
There is no such option (try `nnn -h`). Only 2 sort orders (which are likely to be set constantly) are available - `-v` and `-S`.

[2020-01-08 22:58] jarun commented on #386
@KlzXS I must go to sleep now. It's 4:30 in the morning here.

For reverse, can you throw in a quick PR and we can check it out? I am not very inclined to have it but I would like to evaluate how much it affects our comparison... do we add checks in each case or we can drive the sorting functions to do this automatically without any condition checks?

[2020-01-08 23:01] jarun commented on #386
I want to avoid hacks in every condition and that's the reason I'm avoiding this. It's trivial to look at the files in reverse. To reverse with a key or to jump to end and look in reverse all you need is a single keypress.

[2020-01-08 23:03] ghistes commented on #386
Your reasoning about reverse sorts makes sense (from a a functionality point of view), nevertheless I for one never really used file managers, so I am used to seeing the files I am interested in at the bottom of an ls output.

So when I am interested in large files in a dir with many entries, I sort in such a way that ls displays these files at the end.

When using nnn I now have to re-adjust, whi

[2020-01-08 23:06] KlzXS commented on #386
I'll take a look at it tomorrow.

[2020-01-08 23:06] jarun commented on #386
Please raise a PR and we will revisit this.

Sure!

[2020-01-08 23:07] ghistes commented on #386
I would like to see the current active filter in the status line.

[2020-01-09 02:57] jarun commented on #386
And I would like people to look at the code and make simple changes rather than just making this their ToDo list.

[2020-01-09 03:26] jarun commented on #386
@KlzXS I am looking into the reverse thing.

[2020-01-09 14:15] jarun commented on #386
Reverse sort is implemented at commit f654e3ca2b95bebf4596b471172c91feadfd2555.

[2020-01-09 14:26] annagrram commented on #386
I hope you'll forgive me, but I'm going to do just that.
@jarun next time you edit the README, please remember to add Haiku to the supported platforms ;)

[2020-01-09 14:29] jarun commented on #386
Oh, you have contributed so many features I use happily everyday but would never have spend the time to add in `nnn`.

Sure thing!

[2020-01-09 14:44] ghistes commented on #386
Great stuff, I like the reverse sorting.
There is one more issue with sorting for me (sorry to expand my wishlist again - feel free to ignore it of course):

When I filter a directory I can toggle between detail view and simple view with "d" and that keeps the filter active.

However when I filter a directory and then press eg "z" to sort by size my intention would be to sort the filtered list - h

[2020-01-09 14:59] jarun commented on #386
In brief, sort a filtered view. Yes, we can look at it.

BTW, do you think showing the filter all the time is significant? I want to avoid this because the status bar is kind of well-populated today and a filter can be up to many characters long.

BTW, @annagrram and @KlzXS I am adding a ToDo. Feel free to explore when you get time. It's like whenever we type and move to the rightmost column, we s

[2020-01-09 15:50] ghistes commented on #386
Maybe displaying the filter expression all the time is not neccessary but when I apply a filter and move up and down I can no longer see what exactly is filtered. Some way of getting to the filter may be useful sometimes, but maybe not so important.

And I would not want a scrolling status bar.

The status bar imho wastes some space by displaying the extension all the time - even in cases where th

[2020-01-09 15:59] jarun commented on #386
This would need unicode conversion and stuff, which we are avoiding now.

[2020-01-09 16:01] jarun commented on #386
Also note that this way we do not need to count how many chars are printed already and all goes in a single print.

[2020-01-09 16:06] ghistes commented on #386
I see. But is there actually any point in displaying the filename at all in the status bar?
I mean I can see the filename in the list window - it's the currently selected entry.

And a minor (cosmetic) thing:

Whenever I sort two (or in the reverse case three) characters are inserted into the status bar, which makes eg the timestamp "jump" whenever I sort and unsort.

I would prefer a few extra bl

[2020-01-09 16:33] jarun commented on #386
I think we can remove it.

Space is precious. Let's not change the current behaviour.

[2020-01-09 16:36] jarun commented on #386
Now I remember why I had it. When scrolling up or down the list I look up the filename in the status bar. Just a small convenience.

[2020-01-09 17:15] ghistes commented on #386
As for filtering, I find that I tend to use the same filters again and again.

Would it be an idea to have an environment-variable like the bookmarks to pre-define filter-expressions that could then be applied with a key-stroke so you don't have to re-type your most common filters again and again?

What I would find extremely useful would be a way for an external program to define a filter, in the

[2020-01-09 18:35] jarun commented on #386
The dir won't reload on sort order change (other than du related) with commit 4c0210ce2b50dab849874e86f7d61549a667d138.

I can't invest my time on this. I will add a line item.

What's the use-case? Let's say you want to filter by time and you will feed in a range. Similarly for size. First, turning `nnn` into `find` is not _simple_ and secondly why would we want to do something (fild and list) th

[2020-01-09 18:38] jarun commented on #422
I have added <kbd>R</kbd> abd <kbd^T</kbd> for reverse order.

[2020-01-09 21:14] ghistes commented on #386
My use case would be for nnn to assist when you need to have some manual interaction with a list of files that is defined by some complex criteria in a directory.

An (admittedly contrieved) example would be all the video files in a directory that exceed a certain size and are not older then a week.

I want to manually go through this list (as some re-ocurring task) and decide on a file-by-file ba

[2020-01-09 21:25] jarun commented on #386
OK. Got it.

First of all, this would work best with subtree search and `nnn` doesn't have a subtree view. What I think would be possible is - if the files are in the same dir, `nnn` can read the list from an input file (e.g. the output of find with one entry in each line) and load the file details (we will need a new api for that).

@annagrram or @KlzXS would you like to try it out?

[2020-01-09 21:31] KlzXS commented on #386
So I take a list of entries to display from a file and then let the user operate on them. Basically creating a virtual directory. Am I getting this right?

[2020-01-09 21:38] jarun commented on #386
Exactly!

And now I don't think we need to limit ourselves to a single dir as well. We can just stat the files to fill the data and show them.

The path to the hovered file can be shown in the top row as we do today. Try to keep the workflow as separate as possible.

[2020-01-09 21:38] ghistes commented on #386
I don't know what a subtree view is, but being able to load a list of files (all from the same dir) into nnn and then being able to have my way with them is all I would need.

That would open a lot of possibilities I believe.

[2020-01-09 21:40] jarun commented on #386
OK. A single directory simplifies it. But say movie files... they are seldom within the same dir.

[2020-01-09 21:43] KlzXS commented on #386
I don't really care where the files are, I am more concerned with how should this, mode, view, how should we call it, behave. What should happen if I try to create a file with `n`. I probably shouldn't allow it since it's not a real place we are showing at the moment. What else should be forbidden?

[2020-01-09 21:44] ghistes commented on #386
Would it be possible to have my_script.pl | nnn - (i.e. to have a script generate a list of files and feed that directly into nnn without a temporary file?

btw: If you have an executable file 'a' and a non-executable file 'a*' (not very likely I know) they will be displayed in the exactly same way as you cannot tell if the training "*" is part of the filename or the decoration of an executable.

[2020-01-09 21:46] KlzXS commented on #386
@ghistes You can always look at the status bar at the bottom. The name is also displayed without the trailing `*`.

[2020-01-09 21:49] ghistes commented on #386
@KlzXS: The most intuitive way for me would be to restrict this to one dir. It's essentially a filter on a dir. No need to restrict anything. A new file can be created, unless it already exists in the dir.

[2020-01-09 21:52] KlzXS commented on #386
I guess I went a bit ahead with this. In a single dir there is much less to worry about.

[2020-01-09 21:55] jarun commented on #386
Anything that doesn't deal with `stat` of these files. We should allow playing, invoking plugins, Up/Down/Scroll.
No back.

I would suggest a function separate from browse() with the min subset of operations.

If we have a separate function it will get simpler. Just stat all the files by absolute path (or with current dir as base if relative path). malloc() the memory needed for path. Add a pointe

[2020-01-09 21:57] jarun commented on #386
I think @KlzXS will handle it that way.

@KlzXS limit it to a directory. It will remain much straightforward and you can run all ops, reuse the browse() API.

[2020-01-09 21:59] jarun commented on #386
@annagrram I have added a line-item to redraw only affected lines on Up/Down key navigation. Could you take a look at it?

[2020-01-09 22:01] KlzXS commented on #386
That sounds much better that duplicating code.

Do we really want to handle it this way? We would need to read in the whole thing before starting ncurses, right? I think that's how it works. Also where do we exit after the fact?

[2020-01-09 22:01] ghistes commented on #386
It would of course be even cooler to have this across a tree.
It would be a filter on a tree.
nnn displays only a subset of the files, but is of course aware that there are more, so all operations would be possible unless they collide with an existing file that is not visible.

Should a file in the input-list not exist, it's an error and nnn simply dies.

[2020-01-09 22:03] KlzXS commented on #386
I'm more for the ignore approach. If no files are left, exit.

I don't get the tree part.

[2020-01-09 22:12] ghistes commented on #386
An input of

/a/b/c/d1
/a/b/c/d2
/a/b/c/d3/e

would only show files "d1" and "d2" directory "d3" in /a/b/c and a file "e" in /a/b/c/d3.

If the user then tries to create a file /a/b/c/d3/f and that already exists it's an error, but if it does not exist he can create it.

If any of these do not exists then the script that generated the list has made an error.

The safe thing to do (in my opinon) is

[2020-01-09 22:17] KlzXS commented on #386
Will do this first. Then might consider a subtree.

[2020-01-09 22:22] ghistes commented on #386
One dir would already be a fantastic addition.

But I would rather err on the safe side. If anybody pumps invalid data (ie a file in a list that does not really exist) into nnn it's his fault. nnn should simply die.

[2020-01-09 22:26] jarun commented on #386
I still don't think single dir would be useful. Let's try multi-dir. We can take more time to discuss and ideate.

[2020-01-09 22:30] KlzXS commented on #386
Sure thing.

[2020-01-09 22:32] ghistes commented on #386
For curiosity: The "next" release is when you feel like it or do you have releases every n months?

And you should absolutely advertise (in your quickstart) that you add features by the hour and stress that compilation is trival, so people should use the head-version, rather than what gets packaged by the distributions.

[2020-01-09 22:32] jarun commented on #386
Let's resume tomorrow.

[2020-01-09 22:36] jarun commented on #386
they should not. we try our best to stabilize before releasing.

BTW, I have a request for you. For a while we are stuck on writing an article for a journal. I could come up with the points but I am not getting time to write it down. You are an advanced `nnn` user. Would you be interested in writing the article and submitting to the journal? That would be a great help.

[2020-01-09 22:41] ghistes commented on #386
I am absolutely not an advanced nnn user (I've looked at it for maybe 2 days) and I have never written an article before but I sure would be willing to help in principle (if I can).

Let me see what you've got and I will think about it.

[2020-01-10 02:01] jarun commented on #386
In that case, it's a good hands-on session. ;)

I'll share the notes.

[2020-01-10 05:28] annagrram commented on #386
Sorry, I've got lost in all the activity over the night.
Can you please explain what do you mean by that?
Affected by what?

[2020-01-10 08:36] jarun commented on #386
Currently in redraw() we refresh the whole view. It would be great if only for up and down arrows we can update the only 2 lines affected. The exceptions are at scrollock position where we move all entries up or down and the edges where we press up at top or down at bottom.

[2020-01-10 09:18] annagrram commented on #386
Got it.
I'll take a look at it.

[2020-01-10 14:43] awsdert commented on #386
only just figured out what this notification was for, I'm not talking about just sorting, I'm talking about those dividers between each section so for example in command line each time you switch from one group to another (including no group to group) You could plonk a description of the group and and line filled with = signs or something before starting the actual list, you can pull a description

[2020-01-10 14:47] jarun commented on #386
@awsdert a visual/textual example please.

[2020-01-10 14:55] awsdert commented on #386
I see peops mentioning about filters, just use regular expressions, example way to create it would be nnn --reg /bin/*

[2020-01-10 15:11] awsdert commented on #386
@joron, you'll have to wait for me to get back from work, only just started so can't focus on phone or think through an example

[2020-01-10 15:12] jarun commented on #386
I think you are talking about visual changes in the listing. No plans to change the current listing style as it will affect areas like navigation, drawing etc.

[2020-01-10 16:47] awsdert commented on #386
I actually thought this was a command lone utility like gcc, anyways I imagine your drawing function begins & ends with something like glBegin & glEnd, just put those in wrapper functions called FrameOne and FrameEnd and add a new one called FrameNxt and return the correct frame from them, when in grouping mode it just ends the previous and starts a new drawing ctx or whatever and then the main fu

[2020-01-10 16:49] KlzXS commented on #386
Well that's not how it's implemented. You can take a look at the code.

[2020-01-10 16:50] KlzXS commented on #386
Also this has nothing to do with opengl. This a terminal file manager, we use ncurses (or rather ncursesw if we're being 100% correct).

[2020-01-10 17:13] awsdert commented on #386
I said something LIKE, meaning however your drawing function begins and ends a simple check in the middle is enough to call FrameNxt, also since it really is a command line utility as I thought, why not just use printf?, you only have to add a couple lines midway every now and then, anyways I'll take a look myself when I get the chance, however could someone point me in the right direction?

[2020-01-10 17:13] jarun commented on #386
@KlzXS resuming the discussion on opening a list of files...

how about creating a temporary directory with softlinks to the list of files? All our issues would be gone. The user knows what he is doing and the file details will show the actual target.

[2020-01-10 17:14] jarun commented on #386
@awsdert the drawing is done in redraw(). For navigation search "SEL_NEXT".

[2020-01-10 17:18] jarun commented on #386
@awsdert

because ncursesw is lean and provides features like mouse handling, resizing, coloring etc. without having to worry about tty details. We are not interested in rebuilding the wheel here.

[2020-01-10 17:38] KlzXS commented on #386
Well that would mean you couldn't remove or rename files unless we implement special logic for it. Also it seems a bit wasteful to create all these links. Do you actually know if creating a bunch of links at once is a performance issue?

[2020-01-10 17:44] jarun commented on #386
You will know when you are in this mode. So we will always use the target file (readlink()) for these operations.

We will remove these when we quit. No it's not a performance problem. We already support softlink creation to selected files in bunch in `nnn`. Also I mentioned a tmp dir. Many people (like me) use tmpfs for that.

[2020-01-10 17:45] jarun commented on #386
And trust me, this is much better than storing every path and manipulating it wherever we access `path` in browse() today.

[2020-01-10 18:01] ghistes commented on #386
A little feedback on filtering (in particular with regexes):

Most of the time the "standard" case-insensitive substring search is exactly what I want.

But sometimes I would like to search case-sensitive - this applies to both substring-search and regexes. At the moment everything is case-insensitve all the time with no way to change that.

Sometimes I want to filter based on a regex and then I h

[2020-01-10 18:40] jarun commented on #386
It stays as it is. Most users wouldn't bother remembering the case in a filename.

That would mean another keybind... not happening. Close and open.

vim is not a great piece of software when it comes to memory management. I use `lnav` to check GBs of logs because vim is not fit for the job.
However, I think we can remember the last filter within the filter itself and show it at a particular keypr

[2020-01-10 18:52] jarun commented on #386
If you really want this, add the code within a macro and add a new Makefile target to compile with the PCRE library.

[2020-01-10 19:00] maximbaz commented on #386
Hey guys, just quickly dropping by to report a small issue with reverse sort (`R`), it doesn't work on filtered directories.

- Enter directory
- Press `/a<Esc>`
- Now try to reverse with `R`

Actual: List is not reversed, but status bar shows `R` as if it is.
Expected: Either list is reversed (preferred), or `R` doesn't appear in status bar

P.S. Wow this is a long thread! 😄

[2020-01-10 19:02] jarun commented on #386
I guess we can have key which when pressed in empty prompt switches between regex and string. What should the keybind be?

And what should this keypress be?

[2020-01-10 19:26] jarun commented on #386
@maximbaz commit c22bf87f3e23d39a2df939c9079aa193b8b3c336 should fix it.

[2020-01-10 19:32] jarun commented on #386
@ghistes I think I have probable ways for all your requests:

Maybe we can detect and enable case-sensitive matches when there's a capital in the string.

Suggest a keybind at empty prompt to do that.

I think we can remember the last filter within the filter itself and show it at a particular keypress if the filter is empty. Suggest a keypress.

If you really want this, add the code within a macr

[2020-01-10 19:37] jarun commented on #386
I have added line items for all of these.

[2020-01-10 20:14] KlzXS commented on #386
For the filter keybinds. Use up arrow for previous, it's intuitive. Maybe use the left and right arrows to switch between regex and substring and maybe put something like `s/r` as a prompt and highlight the currently enabled one. Just and idea.

[2020-01-10 21:42] jarun commented on #386
Currently the arrows work as they should in non-filter mode. Can't change the behaviour. Need control-codes.

[2020-01-10 21:54] jarun opened #427 "ToDo list"
Rolled from #386.

### For next release

- [x] program option `-e` replaces `NNN_USE_EDITOR`
- [x] program option `-t` replaces `NNN_IDLE_TIMEOUT`
- [x] use `umount` on macOS to unmount
- [x] confirm and try lazy unmount when regular unmount fails
- [x] quit with error code on <kbd>Q</kbd>
- [x] additional key <kbd>F5</kbd> to toggle hidden
- [x] fix crash on entering empty dir, then Down
- [x] ad

[2020-01-10 21:56] jarun commented on #386
Rolled at #427.

[2020-01-10 21:56] #386 closed

[2020-01-10 22:33] ghistes commented on #427
My absolutely biggest usability problem at the moment is that I search, don't find what I want and press "up" to access the search history.

In nnn this means that you don't access the search history but move up in the file-list, the status bar is displayed again and your previous search-term is gone for good.

So a big gain for me would be for nnn to at least remember the last search item, so you

[2020-01-10 22:42] ghistes commented on #427
Oh - to your idea about triggering case-sensitivtiy via capital-letters - I think that's not bad.

"/hubba" => case insensitive
/"Hubba" => case sensitive

So how would I search for an all-lower case word in a case-sensitive way?

If regexes would be case-sensitive (as I proposed above) and started with "//" you simply do

"//hubba"

All cases covered I believe.

[2020-01-10 22:44] jarun commented on #427
@ghistes I have added the line items. These are up for grabs now. If possible, please get your hands dirty with the code, understand how it is today and raise PRs.

[2020-01-10 23:47] jarun commented on #427
The last filter is remembered at commit 0e203288b4662c7781a2c5fc519da219f9eb7403.

[2020-01-11 02:23] jarun commented on #427
@ghistes I sent you 2 invites - for `nnn` collab and dev-discussions. Can you please join? I want to share the notes I was talking about.

[2020-01-11 03:03] jarun commented on #427
@ghistes

is not possible without redesigning search. Filters are _search as you type_ - you type the next char and the scan happens. This also helps in having a very efficient algorithm wrt. performance. So if you wanna come back, you have to delete chars and come back. Another advantage is the left and right key work as they should in normal mode.

No, it's not. We can have what you are proposin

[2020-01-11 08:21] jarun commented on #427
regex and string toggle is implemented at 8588b3f0bd39496dbcf481c31aa7a61d7e6df20a.

[2020-01-11 09:32] jarun commented on #422
@aeosynth I'll update.

[2020-01-11 09:38] jarun commented on #422
Done!

[2020-01-11 10:44] jarun commented on #427
Toggle filter case-sensitivity is implemented at 70dcbf43d786da63598ad1080c518e4c44baa7bd.

[2020-01-11 15:23] ghistes commented on #427
Wow, quick progess again. This is really getting very useful very fast.

There seems to be a little bug (or at least an inconsistent behaviour) with the history:

Press "/" to search. Then enter "n". Files are filtered. Press backspace. Filter is now empty, all files are visible. Press backspace again. Filter-prompt is replaced with status-bar. Press "/" to search again. Now "up" to access history

[2020-01-11 15:51] jarun commented on #427
@ghistes please join the nnn-dev discussion.

[2020-01-11 16:13] jarun commented on #427
The filter is gone.

The filter is empty, meaning there is no filter in history, so the Up arrow's original behaviour picks up. It's the correct behaviour.

Yes, you should predict and expect that when you erased the filter with backspace, the filter is gone. ;) Let's word it this way - the Up arrow shows the last filter if one exists.

Suggest alternatives. I changed `|` to `:`.

Yes. Maybe a bet

[2020-01-11 16:24] jarun commented on #427
Should they be pre-defined in your rc file or you would dynamically add and forget during a run? Maybe we can have 5 fixed and 5 dynamic?

[2020-01-11 16:28] jarun commented on #427
Forget I asked. Maybe we are over-complicating this thing with filtering.

@0xACE @KlzXS @annagrram what do you think?

[2020-01-11 17:13] jarun commented on #422
Assigned <kbd>^F</kbd> to fire a plugin. Needed a control key to fire plugins instantly.

[2020-01-11 20:13] ghistes commented on #427
Ideally (for christmas maybe?) I would like to have nnn remember the last 5 seaches/filters.
They should be persisted to a file so they survive a restart.

Also I would like to  define searches/filters in the same way as bookmarks work today - every one
assigned to a letter via an enviroment variable.

When the search-prompt is open you should be able to navigate through the history with up and do

[2020-01-11 20:21] ghistes commented on #427
And if I delete all chars from a filter I still have a filter (it's the emtpy filter showing all files).
So if I delete all the chars from a filter the last history-entry is this - the empty filter.
And when I then search the history it's not that there is no history.

What I am trying to say is that when you're in the search-prompt and press "up" you should NEVER select a file as (conceptually) t

[2020-01-12 01:41] Kabouik opened #430 "How to use ueberzug instead of w3m for image previews?"
Is that possible? Not really an issue, perhaps more of a feature request (unless already doable), but I described my environment below.

#### Environment details
[x] Operating System: Ubuntu 18.04 as chroot from SailfishOS
[x] Desktop Environment: xfce4
[x] Terminal Emulator: tilix
[x] Shell: bash
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

[2020-01-12 01:43] Kabouik commented on #430
Sorry I thought image preview was possible with w3m but could not find this information again, I believe I mixed up information I read on different cli-tools lately.

[2020-01-12 01:43] #430 closed

[2020-01-12 11:08] KlzXS commented on #427
Regarding getting list of files as input. Is it final that we create a subtree with symlinks in `/tmp`?

I wanted to discuss what we get for input. Does the user give absolute or relative paths, if absolute, do I assume that they point to something in the subtree of the current working dir i.e. relative paths but with cwd as prefix? Also can I assume that the paths don't contain `/./`, `/../` and

[2020-01-12 11:53] jarun commented on #427
I think the tmp dir is the simplest solution. Note that the symlinks may point across volumes. We need to handle that.

Regarding absolute and relative, there can be a mix. We already handle that in main().

[2020-01-12 12:04] KlzXS commented on #427
What do you mean we already handle it?
My main concern is how should the tree in tmp look like. Say I get the following:
[code]
Should I make a dir and put symlinks to d, e and f, should I make a dir c and in it make links to the files, should I go even higher? I would need to assume that they are pointing to something in the subtree of the cwd in which case just skip cwd prefix and pretend they a

[2020-01-12 12:24] jarun commented on #427
Okk, put symlinks to d, e, f in the same dir.

[2020-01-12 12:34] KlzXS commented on #427
Ok. I'll make minimal assumptions and we'll see how it behaves.

[2020-01-12 13:20] jarun commented on #427
It should work. Because in this particular mode, for each file we will stat with follow_symlink and get the details of the target file.

[2020-01-12 13:41] KlzXS commented on #427
It will. How does this sound:

- Get input from file
- Normalize input using a custom `realpath()` implementation (call it `xrealpath()`) that doesn't resolve symlinks
- Find the longest common prefix of all paths
- Make the tmp dir structure

I don't like the second point, but I don't like resolving symlinks even more, because that would make the result look confusing.

[2020-01-12 14:13] jarun commented on #427
How does this help?

[2020-01-12 14:21] KlzXS commented on #427
Say I have
[code]
I would display the following
[code]
I could display everything, but I think this way is more compact and straight to the point.

[2020-01-12 14:35] jarun commented on #427
Sounds good to me!

[2020-01-12 14:59] jarun commented on #427
Some notes on the algos to avoid re-work (you can suggest better ones, of course):

I think to get the common path you'll use an algo like:

get first file and take it's dirname, get second one, see how far they match (I am not sure if there's an API to do that already) and now this is you minimum common. Match third file's dirname with minimum common and so on...

In case there's no API to find m

[2020-01-12 21:18] jarun commented on #422
Assigned key <kbd>f</kbd> to jusp to first file in dir. Previously this was <kbd>'</kbd>.

[2020-01-12 21:23] jarun commented on #422
Would it be a good idea to combine all order toggles under a single key? When user presses the key we will show him the options (like archive options) and he can choose which filter to toggle.

[2020-01-12 21:27] annagrram commented on #422
Sounds good to me.

[2020-01-12 22:22] jarun commented on #422
Single key to order toggle implemented at 5fb4d637eefc9aa4ca10c79b837f6f8930d9f68b.

[2020-01-13 02:19] jarun commented on #422
Many keys reduced with the single order toggle switch! Can we merge anything else? Of course, if the code is similar (not just functionality).

[2020-01-13 04:38] jarun commented on #422
Now that `z` is free, how about having `z` for archiving?

Also, is it a good idea to quit on double escape?

[2020-01-13 12:07] maximbaz commented on #422
I think not, a habit that especially some vim users might have is pressing `Esc` several times to get out of prompts, it would be extremely annoying if nnn would exit when it shouldn't...

Both letters aren't mnemonic for archiving, so I don't have much preference for either of these.

[2020-01-13 12:36] denis-khizhniak opened #434 "Only 15 keybinds are working for plugins"
#### Environment details (Put `x` in the checkbox along with the information)

[x ] Operating System: Linux
[x] Desktop Environment: n/a, Windows Manager: bspwm
[x ] Terminal Emulator: urxvt
[x] Shell: bash
[x] Custom desktop opener (if applicable): n/a
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

1. Assign more than 15 keys for executing plugins in the shell startup

[2020-01-13 12:48] jarun commented on #434
The limit is [documented](https://github.com/jarun/nnn/wiki/Usage#configuration) and should be reasonable enough for regular users.

If you need more than 15 plugins and 10 bookmarks it means you are smart enough to compile the program yourself.

[2020-01-13 12:48] #434 closed

[2020-01-13 12:57] jarun commented on #422
@KlzXS also suggested `z` sometime back. 2 reasons - z is for zip (one of the longest known archive formats) and being the last letter of the alphabet, it's memorable to some extent. I never forgot `z` for size for example.

[2020-01-13 13:55] jarun commented on #422
Do you guys think it will make sense to combine selection ops like cp, mv, rm, list and edit together?

Users wouldn't have to remember a lot of keys if we do this. But I am not sure how acceptable the workflow would be. Currently for all these we need to press Shift key. And if you are in filter mode, Esc as well.

If we combine we will have a small key (regular mode) and a control key (for filte

[2020-01-13 14:00] maximbaz commented on #422
I'm not sure to be honest, combining the order toggles made sense to me because this is not a very frequent operation and it takes more mental power to remember all available the order shortcuts (or need to consult help page); cp, mv, rm and the likes on the other hand are essential, this is probably the main reason I even open `nnn`, and in this case having two level menu would actually slow me d

[2020-01-13 14:08] jarun commented on #422
Yes, forget about it. I also feel removal is going to be a drag.

I am thinking of combining list and edit sel. List first, then ask if user wants to edit and proceed. What do you think?

I am now trying to reduce the second group of shortcuts as you might have noticed already.

[2020-01-13 14:14] jarun commented on #422
After combining selection list and edit, I am thinking of combining fire plugin and pick plugin.

Pick can just be another option in fire plugin. Maybe just `;` followed by `;`?

[2020-01-13 14:42] jarun commented on #422
For `m ^K  Select range, clear` I am thinking of change `m` to `'` (single quote). It gives the idea of grouping together, like characters in a string. (Double quote is shifted, so single quote looks more preferable to me).

[2020-01-13 14:54] jarun commented on #422
Also making `F2` and `F5` undocumented. Who presses `F2` and `F5` while working in the terminal? ;)

[2020-01-13 16:13] maximbaz commented on #422
Love this 👍

Can we drop support of these keys instead of not documenting them?

`m` is _a lot_ easier to type... And for me it was mnemonic to "mark" :) I'm really not very fond of `'`...

`^Y` is documented but in fact it's `y`. But more importantly, this also feels stretched too much where it is not very usable... So say I want to edit the selection - I press `y`, less is opened with readonly s

[2020-01-13 16:51] jarun commented on #422
Sure!

OK. We keep it `m`. I'll document as _mark range/clear_

I think generally people would want to see the list first and then edit it. I will think more about this flow.

[2020-01-13 17:09] maximbaz commented on #422
Personally I could even live with _only_ edit functionality, because when I edit, I get a nice text editor opened with a list of selected files, and I can edit it and save, or I can close the editor without saving (if I only wanted to see the list without saving). For my own use-case, having two hotkeys (or two modes) to open the same file with two different apps is excessive. The same applies for

[2020-01-13 17:33] jarun commented on #422
p is needed. You can use the pager as the opener. @0xACE does that.

Yes, I think only edit option should be fine.

[2020-01-13 18:58] jarun commented on #422
I have modified the edit selection workflow to edit any selection in current instance. If none selected, it would try to list the selection file. I blocked editing the selection file because it should be edited from the instance in which the files were added.

[2020-01-13 19:00] jarun commented on #422
For edit sel I set the keybind `^W`... w for write loosely.

[2020-01-13 19:34] maximbaz commented on #422
I like, and it makes sense. What do you think about **not** asking `0 selected, list selection file?` and just listing selection immediately? In other words, if selection is opened in EDITOR that means it's selection from this instance and I can preview it and even edit if I want, but if selection is opened in PAGER then this means that the current instance has no selection and I'm previewing sele

[2020-01-13 19:38] jarun commented on #422
I felt the same, but wanted a second opinion as they are visually different. Thanks! I'll remove the question.

@maximbaz `p` and `e` are from `noice` and I kept it the way it was.

@0xACE I was thinking we can probably now remove these 2 keys:

- `p`: I remember your notes from [here](https://github.com/jarun/nnn/wiki/Advanced-use-cases#pager-as-opener). Can you explore how it can be set as `open

[2020-01-13 20:32] jarun commented on #422
I am removing both `p` and `e`. There are several ways to view and edit files as I mentioned above.

[2020-01-13 20:36] maximbaz commented on #422
Can we teach `Enter` to open _empty files_ in EDITOR when `NNN_USE_EDITOR` is set? This was probably my only use-case when I pressed `e` instead of `Enter`, because pressing `Enter` on an empty file would do nothing and say `empty: edit or open with`.

[2020-01-13 20:48] jarun commented on #422
We can do that. One question, if we use a CLI-only opener (with option `-c`), for text files shall we still respect NNN_USE_EDITOR if it is defined?

[2020-01-13 20:55] jarun commented on #422
Not respecting NNN_USE_EDITOR has its advantages... e.g. `nuke` opens man pages in troff. So I can edit and view. The editor would just let me edit, no preview. Only in case of an emoty file, we would have to use "open with"

[2020-01-13 21:00] maximbaz commented on #422
I haven't used `-c` yet but what you say makes sense, plus it seems `-c` even before already took priority over `NNN_USE_EDITOR`:

https://github.com/jarun/nnn/blob/5bc20f1460ddf02e778c1670c249655c6e3168e8/plugins/nuke#L14-L16

[2020-01-13 21:02] jarun commented on #422
Yes, I've followed it from the beginning. Just needed a second opinion,

[2020-01-13 21:08] jarun commented on #422
A better key for lock terminal?

[2020-01-13 21:08] maximbaz commented on #422
The latest commit works well, but I'll be testing more.

`L  Lock terminal` - wanted to confirm, is this a useful feature that warrants reserving it's hotkey? I'm just asking because it doesn't even seem to work in my terminal or I just don't know what to expect from it (pressing `L` hangs my terminal forever with writing the messages below in infinite loop, doesn't react on `Ctrl+C`, can only be

[2020-01-13 21:15] jarun commented on #422
Yes, I was taken by surprise there.

The feature is disabled by default. We need it so users can lock the terminal when they want. Works just fine for me.

How about the key `0`? To convey show 0 info?

[2020-01-13 21:19] KlzXS commented on #427
Where should we draw the limit to the size of input? I need to allocate some memory for the input, but how much the first time, and when do I stop and say that's too much?

I think we can start with 256 paths which translates to 1MiB, and go up to 2<sup>16</sup>, which is 256MiB. If you need more than that you probably know how to use xargs.

What do you think?

[2020-01-13 21:22] maximbaz commented on #422
Do you mean you expect `L` to do nothing unless user configures something? This definitely isn't the case, I searched around, it seems [`vlock` was merged in `kbd`](https://www.reddit.com/r/archlinux/comments/16n4qc/vlock_replacement/) some many years ago, and `kbd` in turn is a `systemd` dependency - so _everywhere_ where `systemd` is present, `vlock` is present as well, and it doesn't work becau

[2020-01-13 21:23] jarun commented on #427
Chunks of 4Kb would be fine with 0 gap. See dentfill on how we do this for file names today.

[2020-01-13 21:23] jarun commented on #427
Ahh OK. The input. I think we should go in steps of 512 KB.

[2020-01-13 21:29] jarun commented on #422
I meant timeout is not set. But if you press the key expect something. I'll set 0.

[2020-01-13 21:30] jarun commented on #422
Done.

[2020-01-13 21:30] KlzXS commented on #427
Ok. Do we put an upper limit or do we let it allocate until it crashes the system. I think 2<sup>16</sup> paths is enough.

[2020-01-13 21:33] maximbaz commented on #422
Nice. So many keys were made free, I feel like we should re-evaluate everything once again 🙂 For example, does it make sense to have capital `P`, `V`, `X` when lowercase are available?

[2020-01-13 21:40] jarun commented on #422
yes, that would be cool!

[2020-01-13 21:42] jarun commented on #422
maybe reassign e to edit sel?

[2020-01-13 21:45] maximbaz commented on #422
Yes!

What is your general approach for capital and Ctrl keys, do you have some guideline? For example, we have "delete sel" and "delete entry", one can be `x` (probably sel if all sel will be lowercase), one can be `X` (delete entry) and `^X` is assigned to ... most used?

[2020-01-13 21:53] jarun commented on #422
I keep the ^ shortcuts for people who use nav-as-you-type. ^ chars break away from filterentries().

[2020-01-13 21:55] jarun commented on #422
We should rename "Order toggle". Maybe "Sort  by"?

[2020-01-13 22:02] maximbaz commented on #422
"Sort by" is not bad, it helped to know that those keys are in fact toggles, i.e. if I select the same sort twice, it will be reversed. Maybe "Sort toggles"?

[2020-01-13 22:02] jarun commented on #427
2^16 is more than enough!

[2020-01-13 22:03] jarun commented on #422
Yes!

[2020-01-13 22:09] jarun commented on #422
How about ^F for file details?

[2020-01-13 22:11] maximbaz commented on #422
Both sound very intuitive for me, go for `^F` 👍

[2020-01-13 22:13] jarun commented on #422
Cool!

[2020-01-13 22:16] jarun commented on #422
From nav-as-you-type mode, Shift keys are horrible. You have to Esc to come out and then press 2 more keys. ^ keys are as good as a single key.

Looks like we don't have any compelling shift key anymore.

[2020-01-13 22:26] maximbaz commented on #422
Makes sense.

I feel like "copy/move/delete sel" are so important operations that they absolutely must have Ctrl shortcuts as well, otherwise nav-as-you-type is not as powerful mode.

Ideally we would assign `^P, ^V, ^X` keys to them in addition to `p, v, x`, but this conflicts with other existing shortcuts (which we could maybe think to remap?)

[2020-01-13 22:32] jarun commented on #422
Let's try!

[2020-01-13 22:37] jarun commented on #422
`^V  Copy/move sel as` can have `w ^W` coming from write and cp/mv.

Delete entry needs a ^ key. What would it be?

[2020-01-13 22:39] jarun commented on #422
And plugin needs a ^ key too! I have to go to sleep now. 4 here. Think about these.

[2020-01-13 23:09] maximbaz commented on #422
There you go: https://github.com/jarun/nnn/pull/436

As a user I particularly like how even less keys there are now to remember when Ctrl keys use the same letter as regular mapping (e.g. `p ^P`, `m ^M`, etc.)

[2020-01-13 23:25] KlzXS commented on #427
I noticed there are like 3 occurrences of `malloc()` which are not checked for `NULL`. Will you take care of this or should I? They are in `archive_selection()`, `get_kv_val()` and `setup_config()`.

[2020-01-14 02:49] jarun commented on #427
Please take care. :)

[2020-01-14 04:10] jarun commented on #427
Please raise this PR separately. We can have it for next release.

[2020-01-14 15:02] jarun commented on #422
I think we can settle with:

D - file details
f ^F - Fire plugin

[2020-01-14 15:31] jarun commented on #422
Let's have:

f ^F - file details
; ^S - select plugin

[2020-01-14 15:32] jarun commented on #422
I am pushing the changes. Please review.

[2020-01-14 15:33] jarun commented on #422
Commit 58d0b1234ed435edd8e004c7f431be602e698407.

[2020-01-14 15:51] jarun commented on #422
Please review commit 1b252b6ecbb8e754069a33b6cf585e41f705604a.

[2020-01-14 16:26] maximbaz commented on #422
Nice catch about `^;`, I'll play a bit more just to confirm your finding that it won't be possible to support it.

`Delete` with prompt is nice, one ask - in the specific case when I select a couple of files, press `x` and choose `c` (current) - can we not refresh screen, so that selection marker `+` is preserved?

Otherwise I think it already looks very very pleasant to me. 👍

[2020-01-14 16:52] jarun commented on #422
We have to remove the entry that's deleted, so we need to reload the directory. Also there are other reasons, say there was a link to the file, that gets orphaned and so on. When you change the directory contents, we should always reload. If it helps, I don't end the selection so you can continue selecting.

[2020-01-14 17:21] bullfrogj opened #437 "Fail to open directory in GUI file manager - NNN_DE_FILE_MANAGER"
###  Environment details (Put `x` in the checkbox along with the information)

[ X] Operating System: Debian 9.11
[X ] Desktop Environment: xfce
[X ] Terminal Emulator:xfce4-terminal
[X ] Shell: bash
[ ] Custom desktop opener (if applicable):
[X ] Issue exists on `nnn` master

#### Exact steps to reproduce the issue
Clone latest 1b252b6 commitment
Compile with 'make 0_DEBUG=1'
Insert into ~/.bashr

[2020-01-14 17:26] jarun commented on #437
I think you are on a very old version. Currently there is no such configuration option: https://github.com/jarun/nnn/wiki/Usage#configuration

What you want to do now is use the "launch app" shortcut (`=`) and type thunar.

You can also have a custom shortcut to run a command like plugin. See the plugin documentation: https://github.com/jarun/nnn/tree/master/plugins#running-commands-as-plugin

[2020-01-14 17:26] #437 closed

[2020-01-14 17:31] jarun commented on #437
You can have: `t:-_thunar*` and then press `;` followed by `t` to run thunar.

[2020-01-14 17:35] bullfrogj commented on #437
Hrmmm, i tried that.   in ~/.bashrc
`export NNN_PLUG='t:-_thunar*'`
then source ~/.bashrc
then nnn
press ? in nnn and it does show it as PLUGIN KEYS  "t:  -_thunar*"

I go to a folder, press `;` followed by `t` and it does nothing.

Version 2.8.1

(by the way, thank you so much for the quick response.  awesome project!)

[2020-01-14 17:47] maximbaz commented on #422
I can now see that `;` and `^;` are both recorded by `getch()` as just `;`, once again - nice catch :)

Other than that, I have no more suggestions for the key bindings, everything looks very reasonable to me.

[2020-01-14 17:48] jarun commented on #437
Because `-` and `*` are not available in v2.8.1: https://github.com/jarun/nnn/tree/v2.8.1/plugins

So it should be: export NNN_PLUG='t:_thunar'.

You are welcome!

Award a star then! ;)

[2020-01-14 17:50] jarun commented on #422
Same here! Fewer keybinds, quite meaningful...

@annagrram @KlzXS please review the latest set of keybinds. We are planning a release tomorrow.

[2020-01-14 17:56] jarun commented on #422
Current set:

[code]

[code]

[2020-01-14 18:49] bullfrogj commented on #437
Works!  It does say "Press ENTER to continue" after opening thunar in that folder.  Not a big deal, just requires pressing enter (or unless I close that thunar instance).

Starred!

[2020-01-14 18:54] jarun commented on #437
That can be suppressed on master as I mentioned. Please hold on till the next release.

[2020-01-14 23:12] jarun commented on #422
Closing the defect.

[2020-01-14 23:12] #422 closed

[2020-01-15 12:08] breuerfelix opened #439 "cd on quit not working"
first of all, thanks for this tool ! as a vim user i really appreciate the usage :)

i installed nnn via apt on ubuntu 18. i got nnn version 2.6.

i also got zsh as my shell, so i just created a script called `nnn.sh` and sourced it in my .zshrc.
the content is from [this file](https://github.com/jarun/nnn/blob/master/misc/quitcd/quitcd.zsh)

i already echoed after the nnn "@" command and this wor

[2020-01-15 12:15] maximbaz commented on #439
The issue comes from the fact that you use `quitcd.zsh` from master branch, but your `nnn` is of an old version, so they are not compatible.

I would really recommend you to install the latest `2.9` release, there have been sooo many improvements done, you would love it 😉

Debian packages are available as part of the Github release, just download them and install via `apt install ./nnn_2.9-1_ubunt

[2020-01-15 12:22] breuerfelix commented on #439
since i didnt use nnn for that long, i am not able to tell the difference but i always like to be on the cutting edge :D

it works ! somehow i was not able to install it from the .deb file from the releases, even though i took the correct one for ubuntu 18.04 but i installed it from source which worked like a charm :)

thanks for this awesome quick help !

[2020-01-15 12:22] #439 closed

[2020-01-15 23:49] maximbaz commented on #427
Idea: ability to exit `nnn` with non-zero exit code.

I have a real-world use-case that I'd like to try out in `nnn` (where I currently use `vifm` for this), and it requires both `take list of files as input and show`  (so I would be interested to test a PR when it's ready) as well as ability to exit file manager with non-zero exit code.

Without going too much into details for now, an ability to

[2020-01-16 01:41] jarun commented on #427
@KlzXS is already working on the list of files input. Please discuss with him.

[2020-01-16 08:05] maximbaz commented on #427
Yeah I know, that's why I wrote I would he interested to test the PR 🙂  What do you think about the idea of non zero exit codes though?

[2020-01-16 11:08] jarun commented on #427
non 0 - raise a PR please!

[2020-01-16 18:36] jarun commented on #200
@juacq97 you can now use `^S` in `nnn`. See the troubleshooting guide here: https://github.com/jarun/nnn/wiki/Troubleshooting#broken-control-keybind

[2020-01-16 20:43] sukima commented on #221
For those confused by @jarun answer as it is non-obvious.

1. Press <kbd>^R</kbd> on a single file/dir
2. Press <kbd>Enter</kbd> (yes rename to the same name it currently is)
3. nnn will notice the oddity of renaming to itself and instead ask for an alternative name to copy it to.

[2020-01-16 20:48] jarun commented on #221
See https://github.com/jarun/nnn/wiki/Basic-use-cases#duplicate-file

[2020-01-16 21:15] jarun commented on #427
@maximbaz I am considering replacing the config `NNN_USE_EDITOR` with a program option `-e`. Generally people use `nnn` with aliases and reading an env var is costlier than checking an option. What do you think?

[2020-01-16 21:17] jarun commented on #427
I am looking for areas to reduce startup time.

[2020-01-16 21:21] jarun commented on #427
Similarly `-t` can replace `NNN_IDLE_TIMEOUT`.

[2020-01-16 21:22] maximbaz commented on #427
you are right about people using aliases, I do that too, and yes to be honest I do find it a bit unusual that some nnn options are configured via env variables and others via cli args.

I would support replacing some env variables with cli flags.

Let me ask this: why not replace ALL env variables with cli arguments?

[2020-01-16 21:27] jarun commented on #427
There is a specific cases where we do not want data loss - `NNN_TRASH`.

The longer ones (strings) I want to keep as env vars. Users may find it intimidating they have to type a long option to do something. The alias is not always obvious.

[2020-01-16 21:30] jarun commented on #427
For now, can you raise a PR for `-e` and `-t`? I have to go to sleep.

Notes:

- the man page needs to be updated
- usage() too

[2020-01-16 21:36] maximbaz commented on #427
I can think of the opposite example, when you create a nnn.desktop as described on wiki, for many people this instance of nnn will not respect environment variables (users must know that they should these env variables not in .bashrc but in e.g. /etc/environment to have effect on nnn started as GUI app), and in this case data loss is very possible. When there only are cli arguments, users know the

[2020-01-16 21:40] jarun commented on #427
That's a good point. But let's document that. It's a one time setting for a system. There are instances where people may run `nnn` as `nnn` without an alias.

[2020-01-16 22:45] 0xACE commented on #427
I have been away for about a month, and geez a lot of things happened while I was gone.

I try to keep up with master all the time (referring to you asking us to use the master branch), but I run my personal changes ontop of it.

I just spent the last 30minutes rebasing ontop of the latest version. and seems like a lot of keys has been changed. I was in particular not happy with the removal of:

1

[2020-01-17 02:51] jarun commented on #427
Don't worry! These are convered. Only with more regular workflows.

I am using EDITOR that way myself with `;e`.

`SEL_EXEC` - did you try "./$nnn" at the prompt?

This has also been addressed and frozen in #422.

Do you mean the plugin needs a change? Then @mcchrish should be informed right away.

[2020-01-17 03:30] 0xACE commented on #427
Ah, my dumbass just got into the seat cold and started tinkering on things, ofc a plugin can do that... Alas as I have made another patch for it. i'm maintining it as seperate until i grow tired.

That's too many characters to hit for something i use commonly, i guess a plugin keystroke would do it better. but again I'll maintain this locally until i grow tired.

Yeah, i tried to read that thread

[2020-01-17 04:11] jarun commented on #427
Shall we change `$nnn` to `$n`? What issues do you guys see? Any possibility of conflict with n used as var in a script?

[2020-01-17 04:16] 0xACE commented on #427
I wouldn't recommend changing it to `$n`. We are already polluting the environment... My comment was regarding that hitting `./$nnn` is a rather large key-stroke sequence for me, even `./$n` would be considered too long for me, hence I'm sticking with `SEL_EXEC`.

[2020-01-17 04:18] jarun commented on #427
OK.

[2020-01-17 13:00] jarun commented on #427
@maximbaz I am working on `-e` and `-t`.

[2020-01-17 16:08] deadpyxel commented on #427
Not sure if I am missing something, but the shortcut to extract files inside `nnn` is gone, right?

Does that mean I have to setup a special shortcut for it and bind it, or I need to enable something in configs? Sorry if this is a stupid question.

[2020-01-17 16:13] jarun commented on #427
Yes. Did you try to hit `Enter` on the file? ;)

`nnn` now understand gzip, bzip2, zip by default. For more, install `atool` or `bsdtar` which understand those formats and export `NNN_ARCHIVE`: https://github.com/jarun/nnn/wiki/Usage#configuration will all file extensions you want to use.

I have `atool` and:

    export NNN_ARCHIVE="\\.(7z|a|ace|alz|arc|arj|bz|bz2|cab|cpio|deb|gz|jar|lha|lz|lzh|l

[2020-01-17 16:15] deadpyxel commented on #427
Oh, that is what I was missing. Ty @jarun , didn't think of `Enter`since I was thinking it would try to mount the zip. This way is much better to be honest.

[2020-01-17 16:18] jarun commented on #427
Yes, for the basic formats you don't even need to install anything or set any config. As we mentioned, v2.9 has several smart workflows.

[2020-01-17 16:21] jarun commented on #427
if you like the project do award a star and share with your friends. We invest a lot of our personal time on contributing to open source software for free. ;)

[2020-01-21 12:22] sjmulder opened #445 "Segfault on NetBSD with libedit & libtermcap"
On NetBSD 8.1/amd64, nnn crashes at startup when using libedit & libtermcap rather than GNU readline:

    # pkg_add ncursesw
    # pkg_delete readline

    $ gmake LDFLAGS="-L/usr/pkg/lib -Wl,-R/usr/pkg/lib" \
            LDLIBS="-ledit -ltermcap -lncursesw"
    cc  -Wall -Wextra -O3 -D_NETBSD_SOURCE -D_XOPEN_SOURCE=500 -I/usr/pkg/include -I/usr/pkg/include/ncursesw  -L/usr/pkg/lib -Wl,-R/usr/pkg

[2020-01-21 12:25] sjmulder commented on #445
Note that in pkgsrc we prefer to use system libraries if possible, but if no solution can be found in a reasonable timeframe we'll just switch over the package to GNU readline.

Unfortunately commit abd1df8 didn't solve this issue.

I'll recompile my userland and ncurses with debug symbols and without optimisations to do some proper debugging.

[2020-01-21 12:37] jarun commented on #445
Yes, please compile `nnn` in debug mode as well.

[2020-01-21 12:52] jarun commented on #445
[code]

may be the problem. Use the appropriate case for libedit.

[2020-01-21 13:43] jarun commented on #445
Does libedit support scroll up and down?
The else part is for that.

[2020-01-21 13:46] jarun commented on #445
OK. I see this was present in v2.8 as well. So this can't be the issue.

[2020-01-21 14:05] sjmulder commented on #445
Looks like this wasn't introduced in 2.9 as 1.7 (the first version that builds) and up behave the same. I'll have a closer look to see if a change in packaging or libraries is responsible.

[2020-01-21 14:25] jarun commented on #445
okies!

[2020-01-21 19:32] pat-s commented on #427
I'd like to see a force umount option - often stuck with the normal umount and force helps :)

[2020-01-21 19:41] jarun commented on #427
Unfortunately `pmount` doesn't have a force unmount option. But you can easily have a plugin that takes the device name as input and force unmonts.

[2020-01-22 00:03] jgmtzmd opened #446 "edit sel not working"
well after updating to 2.9 on my open suse leap 42.1 the "edit sel" function just stopped working, now it only opens the selection file (~/.config/nnn/.selection) not the paths listed in it.

[2020-01-22 01:45] jarun commented on #446
Are you saying there's no path listed in the selection file?

[2020-01-22 01:49] jgmtzmd commented on #446
there is a path listed. the problem is that pressing the 'e' key opens the selection file when it should open the file listed in it.

--
Enviado desde myMail para Android

martes, 21 enero 2020, 07:45p. m. -06:00 de Mischievous Meerkat notifications@github.com<mailto:notifications@github.com>:

Are you saying there's no path listed in the selection file?

—
You are receiving this because you autho

[2020-01-22 02:07] jarun commented on #427
@pat-s are you talking about the `Unmount` shortcut?

[2020-01-22 02:08] jarun commented on #446
OK. Edit in EDITOR and open in PAGER are gone in v2.9. You can have keybinds for those. See https://github.com/jarun/nnn/tree/master/plugins#some-useful-key-command-examples

[2020-01-22 02:26] jgmtzmd commented on #446
ok. thanks.
the help that is shown after pressing "?" still mentions 'e' for edit sel. that caused my confusion.

--
Enviado desde myMail para Android

martes, 21 enero 2020, 08:08p. m. -06:00 de Mischievous Meerkat notifications@github.com<mailto:notifications@github.com>:

OK. Edit in EDITOR and open in PAGER are gone in v2.9. You can have keybinds for those. See https://github.com/jarun/nnn/tre

[2020-01-22 02:43] jarun commented on #446
It stands for "edit selection", not "edit individual files in selection". :+1:

[2020-01-22 07:25] pat-s commented on #427
Yes, the one bound to `u`.

[2020-01-22 09:46] jarun commented on #427
Ok, I'll check what can be done.

[2020-01-22 13:24] jarun commented on #427
@pat-s please search a little and let me know the option for `fusermount`.

[2020-01-22 15:06] pat-s commented on #427
One can [pass mount options](http://manpages.ubuntu.com/manpages/xenial/man1/fusermount.1.html#options) via `-o` to `fusermount`.

So far I use `umount -f <mount point>` if I get the message `device not configured` when failing with the current `umount` via `nnn`.

This usually happens when there is a network disconnect and I didn't manually disconnect the drive beforehand.

[2020-01-22 15:22] jarun commented on #427
I tried `-o` but it seemed it's not having any effect. My problem is I can't repro this.

Try this: when the unmount from `nnn` fails try `fusermount` with the required options. Maybe:

    fusermount -u -o -f mount_dir

and see if it works. Share the command which works for you.

[2020-01-22 15:23] jarun commented on #427
Also see if `fusermount -zu /mount/point` works.

[2020-01-22 15:27] maximbaz commented on #427
Please don't make any forced unmount by default, normally there is some process blocking the resource and it makes sense to get an error and investigate this manually. Maybe if unmount failed, show prompt "retry with force? y/n" ?

[2020-01-22 15:29] jarun commented on #427
I am thinking of the following workflow:

u -> force? -> if y, force, else don't

@pat-s we can't use `umount` directly so please don't share umount solutions. I would like to know whatever works with `fusermount`.

[2020-01-22 16:18] jarun commented on #427
@pat-s I think what we are looking for is `fusermount -uz /mount/point`.

Can you please confirm?

[2020-01-22 16:53] jarun commented on #427
@pat-s please confirm if the following patch works.

[code]

[2020-01-22 17:01] pat-s commented on #427
Just found that `fusermount` [does not exist on macOS](https://github.com/osxfuse/sshfs/issues/31).

Do you handle os-dependent calls in `nnn`? Seems one needs to go with `umount` for macOS.
Hence, I can't test the `fusermount` approach you wrote.

Thanks for tackling this.

[2020-01-22 17:04] jarun commented on #427
The it's a problem. I think mount requires superuser permissions. Are you able to unmount the directory as a normal user? I'm on Ubuntu and it fails. That's the reason we use `fusermount`.

[2020-01-22 17:09] jarun commented on #427
Also, please share the following commands:

- umount without force/lazy that works in normal cases
- umount with force/lazy that works when you are disconnected

[2020-01-22 17:24] pat-s commented on #427
`umount -f` works as a normal user in a normal scenario (mount/umount without network disconnect or other interruptions). I do not get prompted for sudo.

Are you using `umount <mount point>` for unmounts currently to support macOS? Or how is it done currently?

Looking at the linked issue and the fact that there were no updates since 2017 in `sshfs` for macOS and the README still talks about `fus

[2020-01-22 17:28] jarun commented on #427
We are using `fusermount` at the moment and as you mentioned, it is not available on MacOS.

I think we can have a mac-specific handling where we use `umount` if the regular mount fails.

[2020-01-22 18:22] jarun commented on #427
@pat-s please test the following patch and confirm unmounting works for both remote mounts and mounted archives.

[code]

[2020-01-22 21:24] pat-s commented on #427
Works, even with a conflict I think. I think I spotted a short glimpse of the typical error I got but it was skipped immediately and the unmount worked.

Thanks!!

[2020-01-23 03:03] jarun commented on #427
Thanks for the confirmation!

[2020-01-23 03:04] jarun commented on #427
I am assuming you are used the lazy unmount version of the patch. If not sure, please test master.

[2020-01-23 03:05] jarun opened #448 "ToDo list"
Rolled from #386.

### For next release

- [x] take list of files as input and show
- [x] option `-e` replaces `NNN_USE_EDITOR`
- [x] option `-t` replaces `NNN_IDLE_TIMEOUT`
- [x] PCRE support
- [x] more readline bindings for native prompts
- [x] run GUI app as plugin
- [x] attempt lazy unmount when regular unmount fails
- [x] fix unmount on macOS: use `umount`
- [x] detect `sshfs` and `rclone` to

[2020-01-23 03:05] jarun commented on #427
Rolled at #448.

[2020-01-23 03:05] #427 closed

[2020-01-23 11:02] pdobsan opened #449 "xdg-open zombies"
Opening any files via `xdg-open` leaves the `xdg-open` behind as a zombie process after the launched process finished. The `xdg-open` zombies are cleaned up only after `nnn` exited.

For example, here is the result after clicking on a few files (.pdf, .mp4 etc.), viewing finshed, `nnn` still running.

  `90044 ?        Zs     0:00 [xdg-open] <defunct>`
  `90146 ?        Zs     0:00 [xdg-open] <def

[2020-01-23 12:43] jarun commented on #449
This was reported in #227 and I finally closed it without a fix because of the issues seen if we try to address it.

I do not see the problem if I use nuke. I am closing this as a duplicate of #227.

@KlzXS and @annagrram do share if you have some insights on #227.

[2020-01-23 12:43] #449 closed

[2020-01-23 13:04] jarun commented on #445
I compiled on Ubuntu with libedit 3.1-20170329-1 and I don't see this problem:

[code]

[2020-01-23 13:53] KlzXS commented on #449
As I understand detaching it would solve the problem, why do we not do that?

[2020-01-23 13:53] tommyalatalo commented on #448
Is there any future possibility of having nnn as a completely standalone binary without dependenices? This would make it much easier to install using terminal plugin managers such as zinit etc.

[2020-01-23 14:11] jarun commented on #449
The details are in #227. If we wait it doesn't become a zombie.

However, when we wait and the terminal is closed directly, all spawned apps are also killed.

I think the best solution is to make 0 (init) the parent of the spawned process (like xdg-open). Can you try that?

[2020-01-23 14:19] jarun commented on #448
There are 2 options:

- you can [compile `nnn` statically](https://github.com/jarun/nnn/wiki/Developer-guides#compile-statically) without readline dep
- remove the dependency on ncursesw (and libreadline): makes the code obfuscated with godforsaken color codes, term codes littered around. We won't do that. It's unmaintainable garbage.
-

[2020-01-23 14:27] KlzXS commented on #449
That's what I was going after. You just do a double `fork()`. fork the parent, fork the child, `exit()` the child. The grandchild is now an orphan under init. And perhaps a `setsid()` to make it more independent I guess.

[2020-01-23 14:32] jarun commented on #449
We do `setsid()`. Give it a try.

[2020-01-23 16:01] tommyalatalo commented on #448
Would you consider setting up a build and release for a statically compiled binary for your coming releases?
Installing those dependencies and setting up the build environment is too complex for sourcing in a shell environment, I would just want to be able to grab the binary from an archive, same way as fzf, rg and exa.

[2020-01-23 16:57] jarun commented on #448
@maximbaz I have pushed the static compilation flag at commit d67ad843600657c6658ddf028e378db5b6d18c08.

Can you please update CircleCi to package a statically compiled `nnn` (64-bit only) on release?

You need to install libgpm-dev on Ubuntu and use the following command to compile `nnn` statically:

    make O_STATIC=1 O_NORL=1 strip

[2020-01-23 19:12] sukima commented on #221
Oof. Yeah I search that wiki for like an hour. No idea why I couldn't see that section. 🤷‍♀

[2020-01-24 09:54] billop commented on #446
Just to confirm, is it now impossible to bind `e` to open in EDITOR? It seems like with keybinds I have to input `;e`.

[2020-01-24 12:07] jarun commented on #446
Or you can change the code and compile.

[2020-01-24 13:32] jarun commented on #449
Fixed at commit e2d37632eaa9599c344851cfeb9b77851cd97281.

[2020-01-24 13:32] jarun commented on #227
Fixed at commit e2d37632eaa9599c344851cfeb9b77851cd97281.

[2020-01-24 17:58] pdobsan commented on #449
I can confirm it works fine. An alternative solution to the double `fork` could have been using `sigaction (2)` with `SA_NOCLDWAIT` -- a bit late advice, I know.

Thank you for the quick fix.

[2020-01-24 18:00] jarun commented on #449
@pdobsan we would love to avoid the double fork. And it's never too late for that. Can you please raise a PR?

[2020-01-24 19:44] jarun commented on #449
On second thoughts, I think that would have issues with spawning cli mode children, when we need to wait.

[2020-01-25 14:07] Brixy opened #451 "Some issues with batch renaming"
[code]

Thanks a lot for version 2.9. It has excellent functionalities and sans shortcuts.

I noticed some little things:

- If you try to open a file with a gui (`o` with `g`ui) although you mean a `c`li, nnn and the current tab of the terminal do not react properly any more (tested with iTerm2).
- When you batch rename files in (n)vim using `r` although nothing was selected beforehand, renaming

[2020-01-25 14:17] jarun commented on #451
Sorry, I do not understand what you mean.

Do you mean `nnn` doesn't open the files in the directory in your EDITOR or that editing and renaming the files do not result in actually renaming them.

Steps please! How did you select? After pressing `r` what did you press?

Do you have any files in selection? Are all the problems with (n)vim? Can you try `vim` as EDITOR?

There is no _view_ in `nnn` a

[2020-01-25 14:20] jarun commented on #451
I wanted to install nvim myself to try these. But:

[code]

I have `vim` installed and `nvim` was supposed to be a better replacement! I can't litter my system with all this garbage.

[2020-01-25 14:21] jarun commented on #451
Please share the output of:

[code]

[2020-01-25 14:34] Brixy commented on #451
echo $VISUAL (empty)
echo $EDITOR: nvim
echo $NNN_USE_EDITOR (empty)

[2020-01-25 14:38] Brixy commented on #451
- ‘hover’ a .txt file
- press `o`
- “Open with:” `nvim`
- “'c'li / 'g'ui?” `g` (which is wrong)
- current tab of your terminal becomes very slow and does not react properly any more.

[2020-01-25 14:42] Brixy commented on #451
- `mm` to deselect everything
- `r`
- nvim then shows the content of the current folder (including folders)
- rename some files and folders
- `:wq`
- no files were renamed

[2020-01-25 14:44] Brixy commented on #451
- `space` to select a file/multiple files
- `r`
- choose `c` for current
- nvim then shows the content of the current folder (including folders)
- rename some files and folders
- `:wq`
- no files were renamed

[2020-01-25 14:47] Brixy commented on #451
It seems that when renaming fails nothing is selected. Sorry, I am not sure here.

[2020-01-25 14:49] Brixy commented on #451
Ok. Your explanation makes it clear to me.

[2020-01-25 14:49] 0xACE commented on #446
[code]

Maybe one day i'll write a funciton to let you bind plugins to regular keys via something like this:

[code]

[2020-01-25 14:59] 0xACE commented on #451
Opening a cli program as gui  causes issues, don't do that.

It's unclear to me. Is the problem with renaming resolved for you now?

[2020-01-25 15:09] Brixy commented on #451
Not really. I just don’t/can’t rename files and folders the way described above.

When you press `r` although nothing was selected nnn

- should either fail with something like “0 files selected. Nothing to rename.” or
- allow renaming as all files names of the current folder are shown in vim.

Sorry—I have not the correct technical vocabulary.

[2020-01-25 15:14] jarun commented on #451
Try this:

    export NNN_USE_EDITOR=1

[2020-01-25 15:17] jarun commented on #451
CLI and GUI apps **MUST BE** handled differently. nvim is a cli app. Why do you even expect it will be handled correctly if you select `g`? It's not a bug. And if you say I pressed by mistake, well `nnn` is not responsible for fixing your mistake in this case because it doesn't know how to do that.

[2020-01-25 15:18] jarun commented on #451
Try renaming the dir contents with `vim`.

[2020-01-25 15:25] jarun commented on #451
When you press r although nothing was selected nnn

- should either fail with something like “0 files selected. Nothing to rename.” or
- allow renaming as all files names of the current folder are shown in vim.

If you do not have any files selected then the files in directory should be edited. From your description it seems that happens. But after you save the file nothing gets renamed.

Did you

[2020-01-25 18:26] pdobsan commented on #449
You probably are right. Also, to raise a proper PR I would need to completely understand the whole program. Anyway, here is a skeleton `xfork()` which seems to work. You might need to do more work in the arms of the switch statement.

[code]

[2020-01-26 01:38] jarun commented on #449
Did you test with a case where we need to wait? For example, by having `-e` and opening a text file in vim as $EDITOR?

[2020-01-26 01:55] jarun commented on #451
@KlzXS if the files are listed and could be edited and saved, I have a hunch that batchrenamecmd may not be working on macOS. Can you take a look when @Brixy is back with more details?

[2020-01-26 04:44] AN3223 commented on #448
I'm writing my own opener and I feel it's awkward to tell nnn about my opener through an environment variable, and then tell nnn about my opener's behavior at the CLI. Would it be possible for the `-c` (cli-only opener) option to be set as an environment variable in a future release? Or maybe have an environment variable that sets default CLI options (just like how less has the LESS variable)?

[2020-01-26 05:24] jarun commented on #448
Why do you specifically need an env var?

Why not use an alias `n`?

[2020-01-26 06:54] AN3223 commented on #448
An alias would only be usable by a shell. So if I spawn nnn from
something that isn't a shell (a window manager in my case, but it
could be anything) I would either need to supply the -c argument
everywhere nnn is called (assuming I always want that behavior) or
call the nnn alias from an interactive shell (`sh -ic n`) so the
shell can interpret the alias. This is the reason `less` has the
aforeme

[2020-01-26 07:18] jarun commented on #448
If that's the concern, add a script in your PATH which calls `nnn -c` and name it `n`.

[2020-01-26 07:23] jarun commented on #448
The reason we want to reduce env vars is reading in env vars is much slower wrt. reading in an option. We want to keep the startup time blazing fast.

[2020-01-26 08:54] Brixy commented on #451
Now there is an error message when I try to batch rename things without selection: “failed!”

[2020-01-26 08:56] Brixy commented on #451
That’s absolutely clear and I don’t expect it to work. Yet, I just tested it and noticed that the terminal radically slows down. So it might be an issue for users who mix it up.

[2020-01-26 09:19] jarun commented on #451
Please get master. Add the following patch:

[code]

Compile in debug mode:

    make debug

Run the workflow and share the logs from `/tmp/nnndbg` (or from the current directory).

[2020-01-26 10:19] Brixy commented on #451
I was only able to apply the patch manually.

`make debug` does not work:

ld: library not found for -lrt

Nothing is written to `/tmp/nnndbg`.

Yet, `make` does work.

[2020-01-26 10:23] AN3223 commented on #448
In that case can't we hit two birds with one stone and replace some of the existing variables with CLI options, and then have an NNN variable for setting the default CLI flags?

As far as making a script that calls nnn with the options that I want, that would work in my case, but I still don't think it's a clean solution. For example if I wanted to call nnn from a script (to use as a file picker,

[2020-01-26 11:11] jarun commented on #451
I thunk on OSX you'll have to install some library. But was this batch rename dir entries working for you in v2.8?

[2020-01-26 11:41] pdobsan commented on #449
No, I did not. Trying now ... it does not work.

[2020-01-26 12:19] jarun commented on #449
It seemed so... the current solution works in all cases.

[2020-01-26 13:27] jarun commented on #451
Add the following patch to Makefile and try to `make debug`:

[code]

[2020-01-26 13:32] jarun commented on #451
@annagrram @maximbaz @0xACE @KlzXS does anyone have a mac? Can you guys please try it out?

@zmwangx looks like this is a batch rename entries in current dir issue exclusively on macOS? Would it be possible for you to try it once?

Steps:

[code]

[2020-01-27 14:43] jarun commented on #445
@sjmulder any update on this? As I understand, because of this issue, NetBSD users are not able to use `nnn` from v1.7. It would be great if you can take some time to bring it to closure.

[2020-01-27 14:58] jarun commented on #448
There aren't any binary ones left (on master) other than `NNN_TRASH`.

The opener can be a CLI opener (which can be GUI too if you spawn GUI apps in the bg like `nuke`) one or a purely GUI one. By default, if no opener is specified we support xdg-open which behaves as a GUI opener in a DE.

The best we can do is - scrap `-e` and assume that _if a custom opener is set_, it is CLI-only (and that cov

[2020-01-27 15:06] jarun commented on #184
@pat-s is this resolved?

[2020-01-27 15:21] jarun commented on #451
@kjnez @detunized @serverhiccups @maximilianschmitt @jessemillar @weatherbell @Jackymancs4 @orf @kajka @niklasbogensperger @ahmedelgabri @pat-s @shuizhongyueming @danielb2 @ParityError @ldelossa @sukima @faxotherapy @dangerware @relapi @jhsta @s-mage @heptathlon

Looks like we are in a situation here. None in the team uses macOS and we need help in figuring this problem. Can you guys help up out?

[2020-01-27 15:52] kjnez commented on #451
Tested using nnn 2.9, on MacOS Catalina via iTerm2, and it seems to be working.

[2020-01-27 15:52] kjnez commented on #451
Tested using nnn 2.9, on MacOS Catalina via iTerm2, and it seems to be working.

[2020-01-27 16:07] jarun commented on #451
Thanks @kjnez! I am assuming you are on v2.9 or master where this is reported.

@Brixy looks like there is no issue with the `xargs` options which I was suspecting. Looks more of a local or config issue to me. I remember I had a problem once with executing commands in `/tmp` as it was mouted as tmpfs...

Please add some debug logs and see where is fails. Start with the basics... are you able to op

[2020-01-27 16:07] #451 closed

[2020-01-27 16:08] jarun commented on #451
I closed the issue because we addressed your other concerns and we have no way to figure this out without being able to reproduce. Please let us know if you have a way to reproduce the issue 100% on all systems.

[2020-01-27 16:12] dangerware commented on #451
It's working for me too.
- nnn v2.9
- macOS Mojave 10.14.6
- iTerm2 v3.3.7
- Fish shell v3.0.2.

[2020-01-27 16:18] jarun commented on #451
Thanks @dangerware for confirming!

[2020-01-27 16:46] zmwangx commented on #451
Sorry for the late reply. I can't reproduce. I also grokked the code, `batchrenamecmd` looks pretty portable to me, should work on both GNU userland and BSD userland. Moreover, I can't seem to find a code path that would spawn editor and *then* print `MSG_FAILED`; the only possible return value of `batch_rename` after spawning the editor seems to be `true`, so even if there's something funny with

[2020-01-27 16:49] zmwangx commented on #451
Oh never mind the nonsense, I clearly overlooked the effect of the `goto finish` lines. So either the tmpfile can't be opened after editing, or the editing process changed the line count.

[2020-01-27 16:54] jarun commented on #451
Thanks a lot @zmwangx!

[2020-01-27 18:27] pat-s commented on #184
Oh yes! Just realized the `-x` option. Love it. Just hitting space and its in the clipboard.

[2020-01-27 18:41] jarun commented on #184
Awesome! Glad to know you like it!

[2020-01-27 18:59] jarun commented on #448
I was wrong. Many users have mimeopen on *BSD.

[2020-01-27 22:14] alfianguide commented on #448
Sorry jarun, so how is the keybind? i feel stupid using nnn, can't move nor delete files:( all i had to do is check the folder/file with nnn and then exit nnn and do mv or cp or rm :'(

[2020-01-27 22:36] maximbaz commented on #448
I'll try to get to CircleCI this week, but if you have time, feel free to just do it :+1:

Do you have some numbers, how much time is saved by removing environment variables? Just curious. I still feel a bit weird about making an exception for `NNN_TRASH` but nothing else, in my mind it should be either all or none :slightly_smiling_face:

[2020-01-27 23:01] Brixy commented on #451
Sorry for my late reply.

Thank you very much, guys, for your efforts!

[2020-01-27 23:14] maximbaz commented on #448
One more random thought on why environment variables are convenient: I normally use `n` alias with all my favorite CLI flags, but when I test development version I run binary as `./nnn` and it already happened to me twice that I was confused why behavior is unexpected, only realizing too late that `./nnn` doesn't include all my flags from `n` alias :slightly_smiling_face:

[2020-01-28 02:04] jarun commented on #448
@alfianguide all keybinds are fixed. Move to master. Did you read program docs?

See the program help using <kbd>?</kbd>.

To move files:

- use ^J to select or unselect
- go to the destination directory
- press ^V
- if you want to copy the files instead, press ^P

To remove files: press ^X on the file followed by `c`. If you want to force remove without any question, press `y`.

Please read the d

[2020-01-28 02:11] jarun commented on #448
I tried, hit some issues. Did not have the time to experiment.

I don't have numbers but I did see binary size decrease when I removed xgetenv. Also, try analytically - getenv scans a number of env variables by matching against the one you need. It's a flat list. Type `export` and you'll see how many are exported when you spawn a shell.

On the other hand, options are driven by what you use. If no

[2020-01-28 03:16] jarun commented on #448
@AN3223 I have spent some quality time thinking about it and my decision is to stick to the current mechanism. Most people do not write their own openers and if you are capable of writing one, you have probably read the in-file `nuke` documentation. Just because of a personal perception I can't go ahead and change a documented design that **works** just fine.

- Options are faster than scanning en

[2020-01-28 08:27] sjmulder opened #453 "Undefined clock_gettime() on CentOS 6"
When built on CentOS 6:

[code]

This can be fixed by adding `-lrt`, which that glibc version's man page says is required for the clock functions. I'll send a PR shortly.

[2020-01-28 08:43] jarun commented on #453
Thanks! Please raise the PR.

[2020-01-28 09:43] sjmulder commented on #445
I'm submitting the package with a NetBSD workaround (defaulting to GNU readline) for review. When I get my NetBSD source hacking environment set up I'll fix this properly.

(Btw, note that pkgsrc isn't just NetBSD, it's the default for SmartOS and Minix too and available for a whole bunch more. And it's on a quarterly release cycle.)

[2020-01-28 11:04] jarun commented on #445
If this is related to libreadline, why not use option `O_NORL=1`?

[2020-01-28 12:03] sjmulder commented on #445
Because it ought to work with it too.

[2020-01-28 13:01] jarun commented on #445
Do you see the crash if you do not ink to any of - libedit, libtermcap and libreadline AND use the option O_NORL=1?

[2020-01-28 13:23] jarun commented on #453
Closed as we do not have to support distros which have several newer releases available.

[2020-01-28 13:30] jarun commented on #445
As I understand from your analysis, no change is required from `nnn` for this issue. Closing the defect.

[2020-01-28 13:47] sjmulder commented on #453
It's still under support. It still gets updated. We support it in pkgsrc. It's a small fix (needs an if-not-Darwin though).

[2020-01-28 13:50] jarun commented on #453
I see.

where? In your PR I don't see this.

[2020-01-28 13:51] jarun commented on #453
My problem is - to support a older library we can't add a library dependency in Makefile for all other distros where it's redundant.

[2020-01-28 13:53] jarun commented on #453
Why don't you patch the Makefile downstream specifically for CentOS 6? Newer distros do note require `-lrt` and I have a problem adding a library dependency for this.

[2020-01-28 14:09] jarun commented on #453
In fact LDLIBS is additive. I tried the following:

    export LDLIBS=-lrt
    make
    cc  -Wall -Wextra -O3 -D_GNU_SOURCE -D_DEFAULT_SOURCE -I/usr/include/ncursesw  -o nnn src/nnn.c -lrt -lreadline -lncursesw -ltinfo

as you see, -lrt is picked.

[2020-01-28 14:24] sjmulder commented on #453
Haven't done it yet; at work.

librt is part of GNU libc

Yeah it is.
___

This thing does show how unportable plain Makefiles are without some sort of feature-detecting configure system. It's whack-a-mole.

[2020-01-28 14:26] sjmulder commented on #445
I haven't investigated in-depth yet, the issue may be anywhere but it manifests itself in nnn. It's too early  to say definitively where the issue is. What's the harm in keeping a ticket open whilst I investigate?

[2020-01-28 15:04] jarun commented on #445
Sure! I am re-opening it.

[2020-01-28 15:06] jarun commented on #453
How about clang or musl? Would this explicit linkage work? I think having `-lrt` pre-added in LDLIBS is a better option.

[2020-01-28 15:29] sjmulder commented on #453
Compiler is separate from libc. Musl ships librt. The curiosity really is that Darwin doesn't.

One can't be completely watertight without a configure script, but I think linking librt on Linux (and Linux only) comes closest.

[2020-01-28 15:30] sjmulder commented on #445
Thanks!

[2020-01-28 15:40] jarun commented on #453
Done!

[2020-01-28 18:30] lawnowner commented on #448
Merging key bindings and removing file name from status bar are nice additions, thanks.

I ran into a strange problem yesterday: I tend to use the batch renaming functionality when I need to rename files in nnn, usually because I can't use vi-command key bindings of Readline at nnn's ^R prompt. I didn't have any problems with it so far (except when window size is set in .vimrc without checking for

[2020-01-29 10:55] sjmulder commented on #453
Sorry, where? This isn't happening now.

[2020-01-29 11:00] jarun commented on #453
I meant I concur with what you said. However, this case of CentOS 6 I would prefer you set LDLIBS to -lrt before calling `make` for `nnn`.

[2020-01-29 11:02] jarun commented on #453
Out of all distro releases so far only CentOS 6 needs -lrt. We can make an exception I guess OR a patch for Makefile.

[2020-01-29 11:06] sjmulder commented on #453
Ok, cool :)

[2020-01-29 22:17] Kabouik opened #456 "[Feature request] Allow running command (Ctrl+S) on current selection or file/folder under current cursor position"
Unless I missed it, running a command from `nnn` using `Ctrl+S` ignores the current selection or file currently highlighted. It would be very useful to allow using arguments like `$1` to run the command on the highlighted file.

For instance, I have a script that uploads images to 0x0.st and expects a file name as argument. To use it with the Nautilus scripts feature, I just had to add `$1` in the

[2020-01-29 22:35] KlzXS commented on #456
The currently hovered over entry is available as `$nnn` and the selection can be found as a `\0` separated list in `$XDG_CONFIG_HOME/nnn/.selection` or `$HOME/.config/nnn/.selection` depending on how you have your environment variables set.

[2020-01-29 22:35] #456 closed

[2020-01-29 22:40] KlzXS commented on #448
@jarun I just realized that ^S is bound to start a plugin. That's quite an unlucky bind as it is also the control sequence that locks terminal output, ^Q unlocks it.

[2020-01-29 22:50] maximbaz commented on #448
By the way, you can use ^S and ^Q if you run `stty -ixon`, unless of course you use this lock functionality

[2020-01-29 23:06] KlzXS commented on #448
I don't actually use it myself but that's great info, we should probably document it somewhere.

Also a semi-cool totally intended feature is that exiting with ^G emits a beep if used on a tty and the correct modules are loaded.

[2020-01-30 00:36] jarun commented on #448
Link to docs: https://github.com/jarun/nnn/wiki/Troubleshooting#broken-control-keybind

[2020-01-30 00:38] jarun commented on #456
All this info is available in the Wiki: https://github.com/jarun/nnn/wiki

[2020-01-30 00:44] Kabouik commented on #456
Somehow this does not seem to work for me, `$nnn` seems to be empty. But surely I did something wrong because I noticed I have no `~/nnn` or `~/.config/nnn` directories. This is nnn 2.2., which I think I installed using `apt`. I'll look into it later, I am running out of battery right now.

[2020-01-30 00:53] jarun commented on #456
Use v2.9 or master.

[2020-01-30 01:29] jarun commented on #453
@sjmulder if you take a look at this conversation this is the third time I am saying that I would prefer this to be handled downstream. A possible approach is to have `-lrt` in `$LDLIBS`.

`-lrt` is required specifically for a very old distro release CentOS 6. I do not want to add `-lrt` in Makefile for all other distros _where it is not required_, whether it hurts or not is a different thing.

Th

[2020-01-30 02:34] gyvess commented on #448
I've been using nnn for a few weeks now and have a couple suggestions and comments. I hope this is the right thread to make them in.

* All selected files should open when an open key is pressed
    * At the moment only the highlighted file is opened. If this is changed, make sure only the selected files are opened and the highlighted file is not included.

* Add the option to run commands as plug

[2020-01-30 03:08] jarun commented on #448
Selected files can be of different types. Have a plugin that does this.

Use a plugin which can launch an app in the background. `nuke` does this. `launch` does something similar.

https://en.wikipedia.org/wiki/Control_key#Notation

I tried this on master - select a file, deselect, go to another dir and press ^P. No noti and it shows 0 selected message.

It's disabled by default. Do not set it. An

[2020-01-30 03:13] jarun commented on #448
A personal story - I know successful engineer colleagues (no joke till this part, they are good) who are eagerly looking forward to over to Linux for the past few years but cannot do so because they may not be able to watch movies in it or their wives may not be able to use it.

I would like `nnn` users to ask me if they can't find a file easily and when I tell them the way out, try a few regex ex

[2020-01-30 03:18] jarun commented on #448
I think we can have the `|` option, it's convenient. Can you raise a PR please?

[2020-01-30 04:24] gyvess commented on #448
True, I hadn't considered this as I only do this when attempting to open multiple of buffers in `nvim`.

I've been using `nuke` but a problem comes around when you want to use the same file in two separate programs. For exmaple, `.m3u` playlist files can be changed within a text editor for convenience and then launche with `mpv` afterward. Using `nuke`, `.m3u` files open with `nvim`by default so t

[2020-01-30 04:33] jarun commented on #448
I was suggesting to have a plugin like nuke, not nuke itself. You'll have an additional keybind anyway. I will check the | thing.

Session stores config. -Q was added recently.

[2020-01-30 08:36] aryadovoy commented on #448
Hello, I have next options in .bashrc:
[code]
But after update to 2.9 I cannot use `e` and `p` keys. How can I edit by `e` and view by `p`?
Thanks.

[2020-01-30 10:30] Kabouik commented on #456
Oh excellent, thanks, I have no idea my version was so different. Everything changed, even keybindings, and `$nnn` works now. Sorry for the noise.

[2020-01-30 11:21] jarun commented on #448
Pl

[2020-01-30 11:23] jarun commented on #448
e and p are gone. Please view plugin docs or man page to see how to bind editor and pager. You'll have to run those commands as plugins.

[2020-01-30 11:45] sjmulder commented on #453
I'm literally saying that if you prefer to not do it in the Makefile then I'm happy with that, there's nothing to argue about I think.

[2020-01-30 11:46] #453 closed

[2020-01-30 12:20] jarun commented on #453
Ok. We were both saying the same thing.

[2020-01-30 18:12] jarun commented on #448
@gyvess run GUI app as plugin is implemented at commit 6aed714347a34fa29d300b0cfa22adfa5f541ba0.

[2020-01-30 22:19] 0xACE commented on #448
@aryadovoy

https://github.com/jarun/nnn/issues/446#issuecomment-578412245 # but really I'd suggest you provde a editor and pager script, as maintaining that patch isn't going to be fun unless you intend to keep up with `nnn`s development.

[2020-01-30 23:27] billop commented on #446
So I've been using the new keybindings for a while now, and honestly, it really destroyed usability for me. I'm going to stick to a personal fork or just use older versions for now.

[2020-01-31 01:37] jarun commented on #446
Is this because of editor and pager or something else?

[2020-01-31 18:12] aryadovoy commented on #448
Ok, thanks!
And change info on wiki page: from `NNN_CONTEXT_COLORS` to `NNN_COLORS`.

How about adding owner info to detail view? And how can I view photo on right side of terminal? Now I use `sxiv` and plugin `imgview`, but it opens in new window and waiting, when I close.

[2020-01-31 22:53] Kabouik opened #458 "Failure to copy ownership permissions to remote folder mounted with sshfs"
#### Environment details

[x] Operating System: Solus 4
[x] Desktop Environment: Budgie Desktop
[x] Terminal Emulator: Tilix and Gnome terminal
[x] Shell: Bash
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master: yes

#### Exact steps to reproduce the issue
1. Mount a remote folder using `c`, then `s` for sshfs and type relevant user1@ip and password.
2. Copy local files wi

[2020-01-31 23:02] Kabouik opened #459 "Terminal display is broken after mounting a remote folder with rclone"
#### Environment details
[x] Operating System: Solus 4
[x] Desktop Environment: Budgie Desktop
[x] Terminal Emulator: Tilix and Gnome terminal
[x] Shell: Bash
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master: yes

#### Exact steps to reproduce the issue
1. Mount a remote folder using `c`, then `r` for rclone and type relevant user1@ip and password.
2. See the terminal di

[2020-01-31 23:20] jarun commented on #448
Updated. Thanks!

Adding the calls to view owner name and group increases the memory usage of the program heavily (because they lead to parsing of owner and group info files in the system). To quickly see these info use the plugin `uidgid`.

You can't with `nnn`. Read the last part of https://github.com/jarun/nnn/issues/448#issuecomment-580063542.

Press <kbd>t</kbd> or <kbd>t^T</kbd>.

[2020-01-31 23:31] jarun commented on #458
It depends on the SSHFS options you use to mount the remote. You can use custom options with `nnn` or set them in `~/.ssh/config`. `nnn` does have the `--preserve` option of `cp` set when it copies files.

Here's an example: https://superuser.com/questions/964821/translate-permissions-with-as-sshfs-remote-mount

[2020-01-31 23:31] #458 closed

[2020-01-31 23:35] jarun commented on #459
@Kabouik can you please try this on master?

@0xACE please take a look. It appears this has something to do with `KEY_RESIZE` handling.

[2020-01-31 23:56] 0xACE commented on #446
I'd guess it's that users are resentful to change.

I feel bad that I was unavailable during the discussions of standardizing the keys for `nnn`, so instead of complaining, I've remained quiet to patched things locally.

A couple of nit picks I can think off the top of my head:

* `x` used to run plugins. now it prompt for deleting files,  funny combo to hit if you have used to run a plugin `xy`.

[2020-02-01 00:20] 0xACE commented on #459
I'll take a look. None of my machines have `rclone` and I can't get it tested atm (machine crashed earlier this week, and I'm dealing with other issues).

Is anyone else capable to reproducing this? I've had similiar bugs appear before, and to my understanding it is usually related to a `GUI` app being run as a `CLI`

@Kabouik
If you do get a chance to try `master` try also applying this patch and

[2020-02-01 00:27] jarun commented on #446
Adding @maximbaz.

We had to standardize at some point. This was done exactly to stop changing keybinds on every release.

Yes, it will take some time to get used to older keys (like `x` and `,` you mentioned) with new changes but it can't be more than a few days. I also had to go through it.

`x` confirms OR trashes, `p` copies (you can recover), `v` copies (you can recover).

[2020-02-01 00:35] Kabouik commented on #458
Oh, thanks. I don't have much experience with sshfs actually. I need to find a way to set `allow_other,default_permissions` in `~/.ssh/config` now, I'm not sure how to do that yet since it seems the configuration file has no options for these parameters. The comment below is also a bit concerning:

I was assuming everything written on the remote folder would be owned by the username used when conn

[2020-02-01 00:38] 0xACE commented on #446
Yeah there is no arguing that.

My main concern atm is `x`, `v` and `p` should be shielded from accidental misfire. Those three commands are verbs that can act upon the file structure. They are damaging/writing commands which should be behind safeguards.

Yes I'm aware of it asking for confirmation, it just feels like walking on a ledge without rails. The question is who is the first user to misfi

[2020-02-01 00:41] 0xACE commented on #458
I have this in my `.bashrc` adjust it to your needs.

`export NNN_SSHFS_OPTS="sshfs -o follow_symlinks"`

ELI5: `sshfs` is essentially mapping `scp` commands to your file structure. If the `user` you are connecting as has access to a file, you will be given the same access.

I'm not 100% sure about the quote you added, you'd have to read further on `sshd` and co to understand what it means.

[2020-02-01 00:43] jarun commented on #458
Just a note. If you are on master, the env var would be: `NNN_SSHFS`

[2020-02-01 00:44] Kabouik commented on #459
I was using the master pulled yesterday when I reported the issue, but just pulled again the new commits; the issue is still here. I'm happy to try the diff but have no idea how to apply a patch yet. I'll look into it.

[2020-02-01 00:45] jarun commented on #446
We can make it smart enough to detect if rclone is present or not.

[2020-02-01 00:45] 0xACE commented on #458
Haha, a bit off topic, but seems like this code:
[code]
Is the reason I didn't detect that change

[2020-02-01 00:46] jarun commented on #459
Copy the diff as `file.patch` in `src` dir.

Then within `nnn` directory: patch -p1 < src/file.patch

[2020-02-01 00:47] jarun commented on #458
Clean up some of your patches. ;)

[2020-02-01 00:49] 0xACE commented on #446
I guess so. But really I wouldn't put much attention to it. just put it up on the `TODO` and see if anyone ever bothers to touch it. The problem may only be me. and in `remote_mount()` `opt = 's'` on my branch so the issue is gone.

Mostly I'm saying this because I know this will be another merge conflict for me :D

[2020-02-01 00:50] Kabouik commented on #459
Thanks, done. It seems I still have issues with the top row in the terminal where the contexts are normally shown.

[2020-02-01 00:52] 0xACE commented on #459
Out of curiosity, what happens when you hit `Ctrl-L` after the problem appears?

[2020-02-01 00:53] Kabouik commented on #459
I don't see anything happening.

[2020-02-01 00:55] Kabouik commented on #459
Wait, perhaps I had some white space issue in the patch file:

[code]

[2020-02-01 00:58] Kabouik commented on #458
Thanks, I will try `export NNN_SSHFS="sshfs -o follow_symlinks,allow_other,default_permission" instead of the `~/.ssh/config` way.

[2020-02-01 01:04] 0xACE commented on #459
Well from a quick glance, the difference between `rclone` and `sshfs` is the `flag` parameter. and it seems like `rclone` likes to yap off in the background wheres `sshfs` is quiet in my testing.

I'm heading to bed. May the tumbling with dragons be peaceful my dude

[2020-02-01 01:05] 0xACE commented on #458
I'm not sure if they accept `-o follow_symlink,...` maybe they have to be seperated completely `-o follow -o allow_other -o default_permission` etc... you get the point

[2020-02-01 01:13] Kabouik commented on #459
See the bug in action here (with master + patch): https://asciinema.org/a/OMRufxnuRcXXxP5hTLZ2jmHk3

The first remote connection is done with sshfs, the second with rclone.

[2020-02-01 01:13] 0xACE commented on #458
#460 There you go bud. Now i'm really heading to bed.

[2020-02-01 01:26] jarun commented on #459
@Kabouik I think I understand the problem. The screen is broken because `rclone` has thrown an error which is shown in your screenshot "config name contains invalid character".

[2020-02-01 01:31] jarun commented on #459
Please try the following patch:

[code]

[2020-02-01 01:33] Kabouik commented on #459
Yes, this warning was in the screenshot in the first post too, but I have no idea which config name it is referring to.

Thanks for the patch, will try too. Should I do it on top of the previous one?

[2020-02-01 01:34] jarun commented on #459
No, apply it independently.

[2020-02-01 01:36] Kabouik commented on #459
[code]

[2020-02-01 01:44] jarun commented on #459
Forget the patch I sent. It wouldn't work. I just tested.

[2020-02-01 01:47] jarun commented on #459
Just change the `F_CLI` to `F_SILENT` to silent and try.

[2020-02-01 01:50] jarun commented on #459
Also, instead of sharing general error output copies with devs please try to learn basic stuff like how to apply patches etc. It's probably late night for @0xACE and early morning for me and I am not remotely enjoying having to spoonfeed every step of basic debugging to someone who is interested in using the CLI.

[2020-02-01 02:13] Kabouik commented on #459
I am sorry for the inconvenience. Being told I'm being spoonfed is not particularly enjoyable either so believe me I would have preferred avoiding this situation. But you are right, I don't really have the skills to help debugging here. I'm interested in using a CLI file manager and there are some things I know how to use with a terminal, but I'm not even remotely a developer and never had to deal

[2020-02-01 02:24] billop commented on #446
Using nnn with neovim is such a big part of my workflow, removing the open with EDITOR keybinding made it quite unusuable for me. With the plugin setting I thought it would be twice as much work (2 keys instead of 1) but it's been actually worse since it doesn't work if there's a message or something (happened almost every time, since I would accidently press 'e', then nnn would complain ("0 selec

[2020-02-01 02:25] jarun commented on #459
This is exactly the reason we try to fix issues when the issue reporter is available and not wait for another time. And having to explain frequently slows the process down.

Don't worry about it. It's a suggestion that would go a long way and I had also heard a lot of it in my early days with hacking.

Try the F_SILENT change. I think the issue will be fixed.

[2020-02-01 02:31] jarun commented on #446
I see. That's a problem.

Yes, and it was an issue with several releases so far. So in v2.9 we discussed the keybinds are now locked. See issue #422.

[2020-02-01 02:33] jarun commented on #446
@maximbaz we had several usability reports over the re-assignment of key `e`. And the above problem makes it worse. I am thinking of making an exception for `e` given the number of user reports and return it back to edit in EDITOR. However, there won't be any open in PAGER still...

We need a keybind for edit selection though. What do you suggest? @billop please feel free to pitch in.

[2020-02-01 02:45] Kabouik commented on #459
Well I'm sorry if I misunderstood, but I replaced `F_CLI` by `F_SILENT` in the last patch you suggested, but the hunk still fails, even after I made sure my local git folder fully reflects master.

[2020-02-01 02:59] jarun commented on #459
can you tell what is all20192222.vcf?

[2020-02-01 03:01] Kabouik commented on #459
It's just a vcard file in the root remote folder. I don't think it is related to the error, it just happens to be displayed on the raw where the warning showed up when starting rclone, and since the warning does not fully disappear, it appears next to this file.

[2020-02-01 03:02] jarun commented on #459
It says failed to create file.... that's the error. if we can figure out which file and you can share that with me, I can reproduce and fix it.

[2020-02-01 03:04] Kabouik commented on #459
From the asciinema posted above, here is a snapshot showing the rclone error:

![Screenshot from 2020-02-01 04:03:22](https://user-images.githubusercontent.com/7107523/73585999-ec207a00-44a7-11ea-83fa-9262658a12ed.png)

[2020-02-01 03:09] jarun commented on #459
I can repro it. Just pass an invalid remote name and an error occurs.

[2020-02-01 03:10] Kabouik commented on #459
Oh right, it seems to work if I pass `nemo@192.168.1.29:/home/nemo`.

[2020-02-01 03:33] #459 closed

[2020-02-01 03:33] jarun commented on #459
This should be fixed now. Thanks for reporting the error!

[2020-02-01 08:51] maximbaz commented on #446
Before we jump to action, I wanted to confirm something, @billop have you tried exporting `NNN_USE_EDITOR=1` and using `Enter` instead of now gone `e`? That's exactly what I ended up doing, yes it requires knowing that `e` was remapped, but at least for me it was quite easy to switch to using `Enter` once I knew that.

[2020-02-01 08:54] maximbaz commented on #446
can we fix this? don't eat the key press while popup is shown, but move it down the global key handling pipeline maybe?

[2020-02-01 08:55] jarun commented on #446
Yes, please! I am looking into another issue right now. Please take care of this.

[2020-02-01 13:21] jarun commented on #446
@maximbaz have you tried exporting NNN_USE_EDITOR=1 and using Enter instead of now gone e

There are cases. I am using a custom cli-only opener (`-c`) which overrides `-e`. This is done so the opener can still use it's own defaults. So I have `glow` to open markdown, `man` to open man page and `w3m` to open html.

In case of the man page, I want to view, edit, view and so on... so I do need a edit

[2020-02-01 13:29] maximbaz commented on #446
That's what I'm trying to understand, maybe the reason users request `e` is simply because they are not aware that `Enter` can do the job :wink:

In neovim I imagine you don't need custom opener, so in that specific workflow `Enter` could be just as convenient as `e`.

All I'm saying is perhaps lets get more concrete feedback before we rush and change hotkeys right now, especially because we sort

[2020-02-01 13:41] jarun commented on #446
No it won't.

The custom opener opens in these utilities when you press `Enter`.

[2020-02-01 14:44] jarun commented on #446
@billop

This is fixed at commit c0f423496ea7b0d149bb64324e6590049e97d561.

Do you still see the need for the additional key for edit in EDITOR?

[2020-02-01 15:01] jarun commented on #446
@KlzXS what's your opinion on this? Shall we have the `e` for edit in EDITOR back or you think it's sufficient to have users set a run cmd as plugin...

[2020-02-01 15:37] KlzXS commented on #446
I think we should have `e` be edit file as it is a bit more common to edit a file rather than selection.

You can put edit selection as `E` or move it somewhere else completely.

[2020-02-01 15:39] jarun commented on #446
I was thinking of the same keybind.

[2020-02-01 16:43] maximbaz commented on #446
If we have `e` keybind to edit file, do I understand correctly that the purpose of `-e` CLI flag is simply to make `Enter` keypress do exactly what `e` keypress does? If so, does it even make sense to have `-e` CLI flag, why not simply teach users to edit with `e` always? Or there is more to it?

[2020-02-01 16:53] jarun commented on #446
- option `-e` indicates if you press `Enter` the file will be edited in EDITOR
- option `-c` overrides `-e` to use the app you specify in the opener, say `glow` to view `.md` files. So if you have `-c` pressing `Enter` opens the file in `glow`

So having the key `e` helps when you want to actually edit the `.md` in EDITOR instead of viewing it in `glow`.

Another use case is - after creating an em

[2020-02-01 16:57] jarun commented on #446
And the reason I would prefer `E` (capital) for edit sel is - it gives the message - _do not abuse it_. ;)

[2020-02-01 16:58] maximbaz commented on #446
ok, I'm fine with the change, let's have the `e` back.

[2020-02-01 17:00] #446 closed

[2020-02-01 17:01] jarun commented on #446
Thanks for the inputs guys!

[2020-02-02 12:11] Kabouik commented on #459
Thanks for the quick update.

[2020-02-05 20:24] mutable-dan opened #462 "using old style pager and editor"
question:
I've tried many options and can not recreate some of the older functionality where you could just press p or e to get the pager or vim.

is it possbile to do w/o plugins?

thanks

[2020-02-05 22:11] jarun commented on #462
Please see issue #446.

We have revived `e` and it will be back in next release. However, to use PAGER you will have to use the _run cmd as plugin_ method. Examples: https://github.com/jarun/nnn/tree/master/plugins#some-useful-key-command-examples

[2020-02-05 22:11] #462 closed

[2020-02-05 22:39] jarun opened #463 "Not all files are listed in list mode"
Inside the `nnn` directory, if I run:

    find . -print0 | nnn
only the `.git` directory is listed.

However, if I run:

    find . -print0 > out
    ./nnn < out

all files are listed.

[2020-02-05 22:42] jarun commented on #463
Debug logs:

[code]

[2020-02-05 22:43] jarun commented on #463
Are we missing chunks?

[2020-02-05 23:03] jarun commented on #463
If I remove the `.git` directory, all files are showing (I guess it had too many files and we hit some limit). However, other than CHANGELOG, all files are showing as directories:

[code]

logs:

[code]

[2020-02-05 23:16] jarun commented on #463
If I exit after `load_input()` and list the entries, I see they are created as directories:

[code]

[2020-02-05 23:17] mutable-dan commented on #462
nice, thx

[2020-02-05 23:28] jarun commented on #463
However, the entries are not created as directories if I use the `maxdepth` option:

    find . -maxdepth 1 -print0 | nnn

I see:

[code]

[2020-02-06 00:32] jarun commented on #463
I think the problem is, even if I run:

    ~/GitHub/nnn$ find . -type f -print0 | nnn

the following is wrong:

    g_prefixpath=/

[2020-02-06 08:51] KlzXS commented on #463
Ohhhh. I think I just got it. At lest the

message. You gave it both a directory and a file in that directory. So it gets a bit confused.

But it is only reading 4096 bytes. That could be due to the pipe, perhaps `find` has a weird output pattern?

[2020-02-06 08:51] KlzXS commented on #463
I'll take a more detailed look at it a bit later today.

[2020-02-06 08:53] KlzXS commented on #463
Also where on master are you?

[2020-02-06 09:31] jarun commented on #463
I am on latest commit. Added some local logs for testing.

[2020-02-06 16:54] KlzXS commented on #463
I can't reproduce this. For me it does run "correctly", that is, it displays some of the hidden files, like .git, .gitignore and .travis.yml, but it cuts out at a certain point for some reason.

[2020-02-06 16:59] KlzXS commented on #463
They are created as symlinks to dirs, that's the expected behavior.

[2020-02-06 17:01] jarun commented on #463
Please remove the `.git` directory and try,

[2020-02-06 17:02] jarun commented on #463
If you see my comment https://github.com/jarun/nnn/issues/463#issuecomment-582655168, the file LICENSE becomes a directory.

[2020-02-06 17:30] Eluminae opened #464 "Selected "+" disappear on redraw"
Hello there,
I love nnn but I got an annoying issue,

All is in the title.
Which is really an issue on wm as i3/sway when opening file will redimension window and force redraw.

[2020-02-06 17:59] KlzXS commented on #463
A wrong length was used for a function call, I'll fix that.

Also we quit reading after not reading a full chunk, that's not always good. In this case it isn't, we read output from find faster than it can write it so we call it a day. I'll redo it so we read until read a 0.

[2020-02-06 18:26] 0xACE commented on #464
I'm not sure what `SEL_SEL` is doing to disable redrawing. So I can't comment on a solution atm.

[2020-02-06 19:10] KlzXS commented on #463
I submited #465

[2020-02-06 22:12] AN3223 opened #466 "#### BUG REPORTS"
If it looks like a local environment issue, please try to debug yourself. Debugging local setup issues is not our top priority.

Before opening an issue, please try to reproduce on latest master. The bug you noticed might have already been fixed.

Useful links:

- compile `nnn` from source - https://github.com/jarun/nnn#from-source
- debugging `nnn` - https://github.com/jarun/nnn/wiki/debugging-nn

[2020-02-06 22:14] AN3223 commented on #466
Ugh. Didn't mean to open this.

[2020-02-06 22:14] #466 closed

[2020-02-06 22:49] AN3223 opened #467 "Odd behavior when canceling search and changing sort"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: void linux
[x] Desktop Environment: sway
[x] Terminal Emulator: alacritty
[x] Shell: busybox ash
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master: yes

#### Exact steps to reproduce the issue
1. Search for something, i.e. /nnn
2. Cancel search with ESC
3. Clear screen wit

[2020-02-06 23:14] 0xACE commented on #467
Haha, the past few weeks I was thinking it was my local branch that was causing this issue locally... This problem has been around since either december or early january, I can't remember anymore.

Nice find!

[2020-02-06 23:31] jarun commented on #464
@Eluminae

nnn version? opener?

I do see this when I open a file in a new tab or a cli app which forces a redraw. However not when the file opens in a GUI app like smplayer.

Workflow wise, I think it makes sense to complete your selection before opening a file. At least to me it doesn't seem _annoying_.

[2020-02-06 23:31] #464 closed

[2020-02-06 23:41] jarun commented on #467
All the directory contents will be reloaded at this step.
^L is not to clear screen, it's a full redraw when you are not at a prompt. AND if you are at a prompt it will only clear the prompt but won't reload dir contents.

Please refer to the program help.

The workflow should be:

1. Search for something, i.e. /nnn
2. Cancel search with ESC
3. Toggle sort time with tt (also occurs when sorting by

[2020-02-06 23:41] #467 closed

[2020-02-06 23:50] jarun commented on #464
I closed the issue as this cannot be handled smply. Say you have a filter applied. You have some files selected. When the reload happens, the dir contents are re-read and everything it listed. So the only way to re-select is to match every path entry in selection with every file path being loaded.

Note that we also allow cross-dir and cross-context selection which is the real cause we don't want

[2020-02-07 00:01] jarun commented on #463
@KlzXS there are issues still. Steps:

- remove nnn directory and git clone again
- you now have 97 files in nnn directory
- go into nnn directory
- run `find . -type f -print0 | nnn`
- nothing listed

However, if I run `find . -print0 | nnn` everything is listed.

[2020-02-07 00:06] AN3223 commented on #467
You're right. I meant to say redraw instead of clear.

The problem is that this provides the same result. The desired behavior
is to sort the contents of a directory, not to sort the results of a
search. Am I missing something here?

[2020-02-07 00:13] jarun commented on #467
I am on master. With just the 3 steps I do not see the complete directory reloaded.

Can you please test on master?

[2020-02-07 00:19] jarun commented on #467
This is exactly what I see on master.

Oh, your expectation is wrong. I would suggest you to read help and documentation in Wiki. `Esc` exits the filter prompt. It doesn't cancel/clear the filter.

To actually clear the filter:

when your filter shows `/nnn`, press `^L`.

[2020-02-07 00:26] jarun commented on #467
Please test with commit eaba594a9e713b35eafd1e71ac82f9fc0fb42585.

Now if you run your original steps, when you press `^L` in the 3rd step, the filter will be cleared. In your 4th step you should see the full dir contents sorted (the filter will not be applied).

[2020-02-07 00:38] AN3223 commented on #467
Yes, this is now the behavior that I expect.

[2020-02-07 00:42] jarun commented on #467
Thanks for the defect report!

[2020-02-07 02:55] jarun commented on #463
@KlzXS

We need to resolve this for the next release to happen. I will also try to stay awake tonight for some joint debugging session. I am in IST. Probably I can pitch in at 23:00 PM my time.

[2020-02-07 06:16] Eluminae commented on #464
Master build, and I'm opening images with feh.

* When browsing folder images named as "20200207070648.jpg"
* I open this image
* I close feh
* I press space to select the image
* I open the next image
* I close feh and my other selected images indicator disappeared.

I do not want to delete files when I'm not sure if I miss click somewhere.
So this workflow cannot be done with nnn which I regret.

[2020-02-07 06:22] Eluminae commented on #464
Where is the "list selected path" feature?

[2020-02-07 06:28] Eluminae commented on #464
I'm sorry but I think it miss something. Browsing trigger redraw and this prevent the user to know which file is selected. I cannot trust nnn when I'm cleaning, moving, deleting files. I got no way to know what I'm doing. Some weeks ago I just throw away a tons of files by error. I had to go in my backups to retrieve them.

[2020-02-07 07:31] KlzXS commented on #463
And... everything is listed. I assume you wrote "nnn" just form brevity and that you meant "path/to/this/pr/nnn".

I checked it out on two systems and it works. I'll need some more information.
Also "nothing listed". Is nothing listed, or "nothing" is listed as in there are hidden files?

This is referring to today, 7th of February, right?

[2020-02-07 07:34] jarun commented on #463
Yes, for me it's nothing... not even dots. I'll check again.

Yes, it's tonight.

[2020-02-07 07:37] jarun commented on #464
Files you have selected so far will be cleaned, moved or deleted.

If your workflow involves this refresh frequently, use the list and edit selection feature before running an operation involving selection. On master, it's the key `E`.

[2020-02-07 08:11] Eluminae commented on #464
Oh right! Amazing. This will help me a lot. ty ! :)

[2020-02-07 08:17] KlzXS commented on #463
I couldn't replicate what you are experiencing but I found a clone where it doesn't display .git/ref/remotes/origin. I'll look into that later.

[2020-02-07 08:20] KlzXS commented on #463
It would seem that's it's another "wrong length" type of issue that I missed. Since it's directory content dependent.

[2020-02-07 10:59] jarun commented on #464
Have fun!

[2020-02-07 11:34] 0xACE commented on #464
@Eluminae just a tip, mind you, and only for a minute:

1. `sxiv -o * > markedfiles`
2. hit `ENTER` to see thumbnails
3. inspect your images and mark them with `right click` or `m` (A small tick appears for the marked images)

for further tricks read `man sxiv` or look around. If you insist on `feh` I know something similiar can be done there too, but you'd have to read `man feh` as I don't rememb

[2020-02-07 12:34] Eluminae commented on #464
Amazing! Really cool. Thanks a lot for the tip

I'd have a look later. This could be cool too

[2020-02-07 15:59] jarun commented on #463
I confirmed. I have the patch in place. Now if I run:

    find . -type f -print0 | nnn
nothing is listed.

[2020-02-07 16:02] jarun commented on #463
With debug enabled, I see the following logs:

[code]

[2020-02-07 16:06] jarun commented on #463
If I print common_prefix:

    ln 6240: common_prefix=H<85>ÿ^O<84>w^A

The patch is in place. Note that the line number is at the beginning so you know where I added the log.

[2020-02-07 16:15] KlzXS commented on #463
I just pushed another commit that's supposed to fix the wrong lengths. For me it works.

[2020-02-07 16:21] KlzXS commented on #463
Unless you renamed something that's a function and not a variable. It makes sense that it's garbage.

[2020-02-07 16:32] KlzXS commented on #463
Oh and as for the debugging session, I probably won't have access to a machine at the time, if there is a need for such a session, I could maybe try to chime in over my phone. But hopefully this time I got it right.

[2020-02-07 16:50] jarun commented on #463
Let me test the latest version...

[2020-02-07 16:52] jarun commented on #463
Still the same... :(

I picked the complete file from your changes. So no local changes either.

[2020-02-07 16:57] maximbaz commented on #463
I know you guys are on it, but as you asked me to test, I can confirm that I repro the issue, and the latest code from #465 segfaults for me on `find . -print0 | ./nnn`

[2020-02-07 17:07] KlzXS commented on #463
Yes it does. Thanks for noticing.

What I've gathered is that it doesn't create some directories that it has to. That's the "ln 6121: strerror(errno)=No such file or directory". But I don't see right now why this could be happening.

[2020-02-07 17:09] jarun commented on #463
See how `g_prefixpath` changes when we are switching from file `config` to `.gitignore`. The common prefix should have been: `/home/vaio/GitHub/nnn/` but it comes as `/`:

[code]

[2020-02-07 17:11] jarun commented on #463
I think `common_prefix` is not calculating the prefix properly.

[2020-02-07 17:20] jarun commented on #463
One note: we should always pass 2 directories to `common_prefix`. For each path[i[ we should stat and see if it's a file or a path. If it's a file we should use `xbasename()` to determine the dir and then call `common_prefix`. In brief, we should not end up in a situation where the prefix is not a dir but a file path.

[2020-02-07 17:24] KlzXS commented on #463
That can't happen. `common_prefix()` _should_ only return prefixes ending with at a '/'. This would be problem in case only one path is supplied, should we then discard input when only one entry is given?

[2020-02-07 17:25] KlzXS commented on #463
I can't reproduce this. And I also can't debug it since the whole function is optimized away. Does the issue still exist if you compile with `-O0` or `-Og`?

[2020-02-07 18:00] jarun commented on #463
I meant dirname() earleir, not basename().

Yes.

    find . -type f -print0 | nnn
works with the following patch:

[code]

[2020-02-07 18:03] jarun commented on #463
The segfault was happening due to the setting of `*slash` without NULL check.

With the above patch we now have problem with:

    find . -print0 | nnn
That's because if there's a `.` as the first file, dirname() will give the parent directory and we will list only the parent dir.

We should skip `.` in some way.

[2020-02-07 18:05] KlzXS commented on #463
You only changed the comparison. How are the two different logically?

Nevermind. If it works, great, try it out a bit more and if there are no more issues, I'll put that in. That's what I get for trying to be fancy.

Didn't I push a commit for that?

[2020-02-07 18:14] jarun commented on #463
Maybe I didn't notice.

What would be the simplest way to remove `.` if it is the first file?

[2020-02-07 18:20] jarun commented on #463
The following patch works in all cases. @maximbaz please test and confirm.

@KlzXS shall we keep the debug logs for now?

[code]

[2020-02-07 18:21] jarun commented on #463
When you update the PR with this patch, please rebase as well.

[2020-02-07 18:23] jarun commented on #463
OR, shall I push the changes from my local?

[2020-02-07 18:31] KlzXS commented on #463
I'm fine with either.

It doesn't have to be the first file, nor only one appearance of it. The simplest would be to just handle all the NULLs preperly. The mkdir thing will fail as it should.

I'm fine with the debug logs it's just that they are very verbose.

[2020-02-07 18:42] jarun commented on #463
Fixed at commit 1d60b6a4759c0d78c5046e21a12dff9a667d90ae.

[2020-02-07 18:43] #463 closed

[2020-02-07 18:44] jarun commented on #463
Another point I was thinking of - when we list, we should probably tweak dentfill to use `stat()`. That way even for the symlinks, the sizes will show.

[2020-02-08 12:17] jarun commented on #463
See commit 72668069edc5499b6f4f3dce16a1de208f147075.

[2020-02-08 12:42] aryadovoy opened #468 "Doesn't work via cron"
I started tmux-session with `nnn` by `cron`, but result is `sh: command not found: nnn` or `zsh: command not found: nnn` (depends on shell). Another apps work fine.

`crontab -e -u aryadovoy`:
[code]
`startup.sh`:
[code]

v2.9

[2020-02-08 12:44] jarun commented on #468
What is the output of

    type nnn

[2020-02-08 12:46] aryadovoy commented on #468
`nnn not found`
But I can start it by `/usr/local/bin/nnn` or from outside of cron-tmux-session.

[2020-02-08 12:47] jarun commented on #468
Probably `/usr/local/bin/` is not in your PATH. What is the output of:

    echo $PATH

[2020-02-08 12:49] aryadovoy commented on #468
Yes, you're right. The PATH is different from `cron`.  Thanks!

[2020-02-08 12:50] jarun commented on #468
You can add `/usr/local/bin/` to `PATH` and try: https://unix.stackexchange.com/questions/26047/how-to-correctly-add-a-path-to-path

BTW, when you like a project, consider awarding a star. People spending their free time on the project feel good.

[2020-02-08 12:54] #468 closed

[2020-02-08 13:29] aryadovoy opened #469 "nnn via sudo"
Information on https://github.com/jarun/nnn/wiki/Basic-use-cases#open-as-root isn't correct.
You should use `sudo -E nnn`, if you want to use all options in `.bashrc`.

And `i`-flag doesn't exist. :)

[2020-02-08 13:51] #469 closed

[2020-02-10 06:26] alosich commented on #448
@jarun thanks for your work, I find the `nnn` idea very interesting.

A question: why `cp` and `mv` operations are embededd in the `nnn` itself? Can't they be expressed via plugins, taking into account that selection is acessible for plugins? This would make it much more flexible, for example instead of calling `cp` and `mv` in place, such plugin would be able to dispatch copying to some kind of f

[2020-02-10 08:26] jarun commented on #448
@alosich That's because cp and mv are omnipresent and the operations are tightly coupled to the concept of a fike manager. You are still free to have your own plugin(s) to do these.

[2020-02-10 08:27] jarun commented on #448
In fact, if you implement these plugins please contribute back. ;c and ;m would be excellent bindings.

[2020-02-10 08:41] alosich commented on #448
@jarun

I need to implement `file transfer daemon` to start with, heh. But if I get to this I will.

[2020-02-10 11:09] jarun commented on #448
See if rsync can be done in the background.

[2020-02-10 12:06] timonson opened #470 "Using the -p option: the focus doesn't move automatically to next file after selection"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: Arch
[x] Desktop Environment: i3
[x] Terminal Emulator: termite
[x] Shell: bash
Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

1. Enter nnn via `nnn -p -`
2. Press the `space` key while the focus is on an arbitrary file

**Expected

[2020-02-10 12:38] jarun commented on #470
This is intentional. Pressing `Enter` on a file in the picker mode _picks_ the file and exits `nnn`.

`nnn.vim` uses this feature: https://github.com/mcchrish/nnn.vim#usage

The workflow cannot be disturbed.

[2020-02-10 12:38] #470 closed

[2020-02-10 21:40] raaffaaeell opened #471 "Slow context switch when using MTP"
[ ] Operating System: FEDORA 30
[ ] Desktop Environment: i3
[ ] Terminal Emulator: KITTY
[ ] Shell: BASH
[X] Issue exists on `nnn` master

More like a question.

I understand that browsing cellphone can be a bit slower, but right now when trying to use more than one context, it always hangs when going back to the one on the mtp folder. Is this behaviour expected ?

Using 2 nnns kind works, I can s

[2020-02-10 21:54] KlzXS commented on #471
Each time you switch back to a context we get a new listing of files in the directory and that is, as you said, slow. There isn't much we can do about this.

My advice to you would be to try and not cause unnecessary refreshes. You can also use a terminal multiplexer to have two `nnn`s in the same window if you want.

https://github.com/jarun/nnn/wiki#dual-pane

[2020-02-10 21:54] #471 closed

[2020-02-11 01:43] jarun commented on #471
I use the following procedure myself to connect to my mobile: https://gist.github.com/jarun/660fd1d5e79e1a4038de8ba5f2e1a513

It's should be faster depending on your device capabilities.

[2020-02-11 01:44] jarun commented on #471
Ahh OK. Forget what I said. @KlzXS is right.

[2020-02-12 01:56] #448 closed

[2020-02-12 01:56] jarun opened #472 "ToDo list"
Rolled from #448.

### For next release

- [x] unlimited bookmarks and plugin keys
- [x] env var `NNN_OPTS` to specify binary options to `nnn`
- [x] ignore hard links when calculating disk usage
- [x] dim link names
- [x] add entry to selection on right click
- [x] more special keys at empty filter prompt in _nav-as-you-type_ mode
- [x] move to next entry on current file delete
- [x] use `s` in st

[2020-02-12 02:05] raaffaaeell commented on #471
Ah thanks for the clarification, I was just looking to confirm it. Cause I have an external hd and the first time I want to look at the downloads folder it takes a while, but after it loaded it's fast, but I figured it should have something to do with it being MTP, like it doesnt "save" the state.

Thanks for the clarification

[2020-02-12 06:11] alosich commented on #472
Filtering is case insensitive for english names, but case sensitive for russian.

[code]

"te" selects both "Test" and "test", while "те" selects only "тест" missing "Тест".

[2020-02-12 13:46] jarun commented on #472
By default, we do use `setlocale()` and `REG_ICASE` (or `PCRE_CASELESS`).

I think the issue may be with UTF8. As per the following man page: http://man7.org/linux/man-pages/man3/pcreposix.3.html REG_UTF8 is not POSIX. Can you try he PCRE version with the following patch:

[code]

To compile with PCRE, run:

    sudo make O_PCRE=1 strip install

[2020-02-12 16:01] alosich commented on #472
[code]
[code]
[code]

same behavior.

[2020-02-12 16:03] jarun commented on #472
I think either the library is not working correctly OR we need to do something extra that I am not aware or. I don't know Russian. Please raise a defect on libpcre and see what they have to say.

[2020-02-12 16:09] alosich commented on #472
Hm, I just retested, and if I filter by using regex (by doing `//` the `\` in prompt) it filters correctly, while when doing string filtering (when `/` in prompt) the problem shows.

So, when doing the regex filtering (`\` in prompt) the patch helps (I checked without it to confirm).

[2020-02-12 16:19] jarun commented on #472
At the filter prompt:

- press `/` to toggle string and regex
- press `:` to toggle case-sensitivity

When the prompt shows `/`, it's string. When it shows `\`, it's regex.

Try this without the patch:

Start in string filter mode (default), press `:` and see if case-insensitive search works.

[2020-02-12 17:06] alosich commented on #472
Testing without patch: in string search mode (`/` in prompt):

started:
[code]
search for "te" with default mode, shows both "test" and "Test" as expected:
[code]
searching for "te" in case sensitive mode ("noic") shows only "test" as expected:

[code]

searching for "те" in default mode shows only "тест", and not shows "Тест":

[code]

searching for "те" in case insensitive mode ("noic") shows on

[2020-02-12 17:11] jarun commented on #472
Did you build master with PCRE or without PCRE?

[2020-02-12 17:14] alosich commented on #472
`make O_PCRE=1 clean strip`

[2020-02-12 17:22] jarun commented on #472
OK. I compiled master without PCRE (and without patch):

    sudo make strip install

And here's what I see:

[code]

Which I think is expected.

My locale output:

[code]

[2020-02-12 17:28] alosich commented on #472
For regex that's expected, yes. But string search gives different result.

[2020-02-12 17:31] jarun commented on #472
And yes, when I compile with PCRE (without the pacth), I do see the issue in regex. I think we need the patch for regex.

I can repro the issue with string search with the above examples. In this case regex does not take effect as well.

[2020-02-12 17:34] jarun commented on #472
Also, with string search the issue exists in v2.9 as well.

[2020-02-12 17:57] jarun commented on #472
I think the problem is with using `strcasestr`. `noic` (`strstr()` works fine).

[2020-02-12 18:01] jarun commented on #472
If I see the man page of `strstr` or `strcasestr`:

[code]
which essentially tells me `strcasestr` depends on the locale. @KlzXS @annagrram are you aware of any locale independent api that can do this? Otherwise I think we will have to convert both the strings to lowercase and do the comparison.

[2020-02-12 18:20] jarun commented on #472
converting to lowercase is also locale dependent, so it will not help.

[2020-02-12 18:20] 0xACE commented on #472
Iirc, normalizing UTF-8 strings is going to require a huge external library to help with normalizing it, and afaik it's not 100% foolproof.

Btw, I would propose that regex keeps the `/` symbol, and another symbol is found for regular text search. The reason I propose this is because then at least you can copy paste the line and not have to worry that `\` will escape something if you paste it into

[2020-02-12 18:25] jarun commented on #472
Yes, I think it's not simple to achieve this.

@alosich with the PCRE fix in, I would suggest you use regex (POSIX or PCRE) for this use case. We can document this limitation.

Hey, it looks cool and id easy to figure. Copy/paste carefully all the time. ;)

[2020-02-12 20:54] lochlainn opened #473 "Open multiple files/selection of files?"
Is it possible to open multiple files at once, such as a selection? A use-case example would be selecting multiple video files, and having them open automatically as a playlist.

[2020-02-12 20:57] jarun commented on #473
Please have a plugin and contribute it back.

Hint: parse the selection file to get each file path and pass it to `nuke`.

[2020-02-12 20:57] #473 closed

[2020-02-13 05:46] alosich commented on #472
works for me.

[2020-02-13 08:03] jarun commented on #472
I have updated the documentation here: https://github.com/jarun/nnn/wiki#limitation

[2020-02-13 09:38] tommyalatalo opened #474 "Static binary release archive faulty"
There is something wrong with the static binary release archive "nnn-3.0-static-3.0.x86-64.tar.gz".
On opening this I get an error from my archive manager `"not in gzip format"`.

In a terminal it works to run `tar -xvf nnn-3.0-static-3.0.x86-64.tar.gz`, but I'm assuming it's doing some kind fallback because loading the archive with zinit also throws the "not in gzip format" error.

The packaging

[2020-02-13 09:49] #474 closed

[2020-02-13 09:54] jarun commented on #474
I will re-upload the package as well.

[2020-02-13 10:00] sjmulder commented on #445
Here's a minimal repro of the issue on NetBSD 8 with ncurses installed:

[code]

Compile with:

[code]

What happens is that ncurses overwrites libterm's `cur_term` with its own, incompatible version. I don't suppose termcap and ncurses should be used together. I'll see if I can fix it in the package, if so I'll close this ticket (and if not I'll follow up with a PR).

[2020-02-13 11:06] jarun commented on #474
All good!

[2020-02-14 11:36] uffejakobsen opened #475 "Feature request: NNN_OPTIONS variable"
Feature request: NNN_OPTIONS variable

Hi,
It would be nice if nnn had support for a variable (NNN_OPTIONS)
This would - if set - specify the (default) command line options to nnn

just with simple letters - much like the LESS env var works

[2020-02-14 13:07] jarun commented on #475
But why can't you use an alias?

[2020-02-14 13:13] jarun commented on #475
I feel aliases are handier. We try to have as few config env vars in `nnn` as possible.

[2020-02-14 13:13] #475 closed

[2020-02-14 13:36] uffejakobsen commented on #475
Long story
I work at a lot of different systems using SSH
SSH can allow certain env vars (restricted through patterns) to be exported from the client to the server.
Allowing all env vars named NNN_* actually saves me a lot of work keeping configurations in sync on all systems - and in this scenario an env var with default nnn options would be handy.

[2020-02-14 13:38] jarun commented on #475
Thanks for explaining. Please raise a PR in that case.

[2020-02-14 13:43] uffejakobsen commented on #475
Well - I actually sent you a pull request with my suggestion on how to add the NNN_OPTS feature :-)

[2020-02-14 15:42] uffejakobsen commented on #475
Solved by #476 - thanks :+1:

[2020-02-14 15:44] jarun commented on #475
Do award a star to the project if you feel it's worth.

[2020-02-17 22:13] chandi1988 opened #478 "zzd"
#### BUG REPORTS

If it looks like a local environment issue, please try to debug yourself. Debugging local setup issues is not our top priority.

Before opening an issue, please try to reproduce on latest master. The bug you noticed might have already been fixed.

Useful links:

- compile `nnn` from source - https://github.com/jarun/nnn#from-source
- debugging `nnn` - https://github.com/jarun/nnn

[2020-02-21 13:18] plejzner opened #479 "shortcut with 'alt' as modifier key"
Hi, thanks for this little software gem :)

I would like to define keyboard shortcuts with 'alt' as modifier key. Is it possible? There is no example in nnn.h i could copy..

[2020-02-21 13:24] jarun commented on #479
We've explored this before and it seemed like there's no portable way to do this: https://stackoverflow.com/questions/406933/how-to-intercept-special-alt-ctrl-key-press

[2020-02-21 13:24] #479 closed

[2020-02-21 13:32] jarun commented on #479
But do feel free to explore if you can find a way. It would help!

[2020-02-21 16:09] jarun commented on #472
@KlzXS @0xACE @maximbaz

I have a question on the `cfg.trash` variable. As it is in the cfg it's saved in sessions. Say at some point the user didn't have `NNN_TRASH` set and he saved a session. Later he wanted to trash and set `NNN_TRASH`. However, when he loads the session, cfg.trash would be lost and when he deletes a file it would be unrecoverable.

I think when we say, `NNN_TRASH` determines

[2020-02-21 21:23] jarun commented on #472
Implemented at commit ca257e6016c272e2ddb415a0f6427d49d305b354 as I had some time. But this is still open for discussion,

[2020-02-21 21:29] maximbaz commented on #472
I agree with what you did 👍

[2020-02-21 21:39] jarun commented on #472
BTW, I am enjoying v3.0 (+ O_NOMOUSE) thoroughly. 3.0 feels like an achievement.

[2020-02-21 21:42] maximbaz commented on #472
Me too!

Huh, I didn't realize until now that mouse _is_ supported, I never even thought to try to use mouse in nnn before 😄

[2020-02-21 21:47] jarun commented on #472
I used to realize it now and then when clicking to bring the terminal above other windows.

It reduces memory usage and binary size. On my system I have `O_NORL` + `O_NOMOUSE` and the size is 70.1KiB.

[2020-02-22 12:44] foxcpp opened #480 "Selection becomes invisible in certain situations"
#### Environment details

[x] Operating System: Linux
[x] Desktop Environment: sway
[x] Terminal Emulator: [termite](https://github.com/thestinger/termite/)
[x] Shell: fish
[ ] Custom desktop opener (if applicable):
[x] Issue exists on `nnn` master

#### Exact steps to reproduce the issue

##### Case 1

1. Launch nnn
2. Select some files by pressing Space
3. Switch to the second context
4. Switch

[2020-02-22 12:46] jarun commented on #480
This is expected. Please see the wiki section on selection: https://github.com/jarun/nnn/wiki#selection

[2020-02-22 12:46] #480 closed

[2020-02-22 12:48] jarun commented on #480
Also, the `E` keybind is provided for editing a selection after you lose the `+`. The reason the `+` disappears is `nnn` supports selection across dirs and contexts (which is probably not available in any other FM I am aware of) and it supports selecting thousands of files. We do not want to match dir contents with every selected file while loading a dir.

[2020-02-23 05:01] jarun commented on #464
@Eluminae I noticed something interesting today. Reminded me of your issue. Can you confirm if the following works for you?

- set [`nuke`](https://github.com/jarun/nnn/blob/master/plugins/nuke) as your opener (see in-file instructions)
- install [`viu`](https://github.com/atanunq/viu)

Note: `nuke` uses `viu` as the default image viewer.

With this, can you confirm if selection and viewing works

[2020-02-23 17:32] Eluminae commented on #464
Yes it works :)

[2020-02-23 17:41] jarun commented on #464
Awesome!

[2020-02-23 18:07] Eluminae commented on #464
Nuke seems an interesting script but I do not recommend hard coding
apps preference. I should recommend using mailcap as file seeing and
editing tool. run-mailcap is what I use atm and it made me the happier
person ever. Maybe nnn should recommend a basic .mailcap ?

[2020-02-23 18:47] jarun commented on #464
`nuke` is a sample. From the description:

[code]

Can you share your sample config file for mailcap? I would like to try it out.

[2020-02-23 19:11] jarun commented on #464
I took a look at the manpage. Even with metamail you have to specify the app which is to be used to open a mime type.

[2020-02-24 19:30] Eluminae commented on #464
Yup, you can find mine at https://hg.sr.ht/~reedwade/dotfiles/browse/default/.mailcap
This is not perfect atm, I add missing mime types over time

[2020-02-24 19:32] Eluminae commented on #464
What do you mean?

[2020-02-24 20:02] jarun commented on #464
I mean the config file requires one to specify the mime-app pair...

[2020-02-24 20:26] Eluminae commented on #464
In fact, I think the -c parameter solved my problem with feh too :)

[2020-02-24 20:29] jarun commented on #464
Cool!

[2020-02-26 04:51] JustAPerson commented on #472
If you filter in a context, the filter will be gone when you return to that context after switching away. This was pretty annoying for some work I was doing.

I tried to fix this but ran into a deadlock. It shows the correct results on the screen but stops responding to input :(

[code]
From what I read, when you change contexts, there's a switch-statement in `browse()` that has a case for `SEL_CT

[2020-02-26 05:17] jarun commented on #472
In which version are you? These are all fixed. In v3.0 the filter is retained and applied when you return to a context. And obviously the filter is shown in the filter prompt.

[2020-02-26 13:01] JustAPerson commented on #472
git master

No it is not.

- Open two contexts (in different directories)
- press `/` and type a filter query
- press `ESC` to finalize the filter so you can actually navigate in the context and do things with the files
- press `2` to go second context and then press `1` return to first one
- now the directory filter has disappeared and the entire directory's contets are visible.

This is what I m

[2020-02-26 14:03] jarun commented on #472
OK. I got the difference between your your use case and mine. I am in _nav-as-you-type_ mode, you are not.

Commit 3d5391cb53a935ae57775eb7ab8a7cf881e6fee1 should fix this.

[2020-02-26 14:13] jarun commented on #472
@JustAPerson please test with commit f0f8008014a39e3a849a8b51b709afca90205525. The previous one was not to my liking.

[2020-02-26 15:16] lawnowner commented on #472
When the below directory in an ext4 partition is entered and the du is toggled
with td, nnn exits with segmentation fault:

`  File: /home/lo/Desktop/Apollo - loc analysis`
`  Size: 4096            Blocks: 8          IO Block: 4096   directory`
`Device: 821h/2081d      Inode: 21634578    Links: 3`

However, when the same directory is copied to another ext4 partition with both
less capacity and les

[2020-02-26 15:22] jarun commented on #472
@lawnowner I think it's obvious I can't repro it on my system. Please enable debug logs and get your hands dirty.

Also,

- in which version are you? does this appear on master?
- do you see the issue in v2.8 and v2.9? This will help us determine if this is a regression.

[2020-02-26 17:26] jarun commented on #472
@lawnowner another option would be to compile in debug mode and run in gdb. When you get the segfault run `bt full` to get the line number in which the crash occurred.

[2020-02-26 18:10] lawnowner commented on #472
Segv happens at the line 710 of nnn.c: `*m |= 1 << (nr & 63);` . Apparently the issue is introduced with the commint 4a91df950b26660a9d6918cf97ab3f1f9cf7b97b, where the 24-bit hash bitmap that is defined for in-memory hard link detection may not be enough for larger inode numbers: `#define HASH_BITS (0xFFFFFF)`. Using a 32-bit constant prevents the segmentations fault, while also accounting for th

[2020-02-26 18:46] jarun commented on #472
Got it! A 32-bit HASH_BITS will increase the virtual memory usage drastically. So we need to figure a more efficient algo.

[2020-02-26 18:59] jarun commented on #472
@lawnowner can you please confirm if the following patch works:

[code]

[2020-02-26 19:05] jarun commented on #472
@lawnowner ignore the previous patch. Try the following (I have reduced the hash bits further):

[code]

[2020-02-27 06:28] lawnowner commented on #472
The segmentation fault returns after decreasing the variable width from ull to ulong at the commit c6cc8a5181c991ccfd7786deb6365cbb7fa95cb8.

You can reproduce the issue with test_set_bit() by setting the nr value in gdb regardless of whether your file system naturally produces it or not, but now the segv occurs even in the system directories (e.g. /usr) when the du toggle is switched.

[2020-02-27 08:41] jarun commented on #472
Yes, I have to reduce the width as well. I had to leave after the change. I'll fix it and update you to confirm.

[2020-02-27 13:20] jarun commented on #472
@lawnowner please confirm with commit 95356681ffc24987daeda46c8fb3fb5b04d9952f. I think it's fixed now.

[2020-02-27 23:53] maximbaz commented on #472
@jarun I noticed that if you remove a file in `nnn` with `x`, the selection goes to the previous file (line above) and not to the next file (line below). This is inconsistent with how text editors like vim work (when you `dd` a line, your cursor will go the next line), and also this makes it a bit more annoying when you want to delete 3 files, you must click `xjxjx` or `<space><space><space>xs` in

[2020-02-28 01:16] jarun commented on #472
@maximbaz I think it can be done easily. I'll make the change.

[2020-02-28 02:48] jarun commented on #472
@maximbaz this should be fixed at commit 76cf0c65d433f5c694ea2fb4c4edb183f7518e58. Please confirm.

[2020-02-28 04:42] JustAPerson commented on #472
This works somewhat.
When you return to a context, now the filter is active (and you can edit the filter), but I see two problems.
- The filter is currently editable, which means you have to press `ESC` to do things with the files in the context again. To have left this context in the first place, we already hit `ESC` once before we could hit `2` to go to a new context (otherwise the `2` would've

[2020-02-28 11:22] maximbaz commented on #472
Confirmed, thanks a lot! 👍

[2020-02-28 12:43] jarun commented on #472
@JustAPerson

That's the intention. With different filter applied and 4 contexts open, this is indeed helpful. What problem are you facing? Despite the filter showing there, up, down, enter. control keypresses work seamlessly. You do not need to clear the filter with `Esc` beforehand.

I can't reproduce this. More detailed steps please. Are you restoring from a session? When you press `RET` are yo

[2020-02-28 14:54] jarun commented on #472
I can repro it now.

[2020-02-29 01:32] jarun commented on #434
@denis-khizhniak we received some more requests to lift the limit on bookmarks and plugin keys. So the limit is not gone due to public demand. :+1:

[2020-02-29 01:32] jarun commented on #434
This is on master. Please test and confirm.

[2020-02-29 04:00] jiangjianshan opened #481 "Why not support Windows?"
Hello,
     I'm ready to use nnn.vim from https://github.com/mcchrish/nnn.vim. But it said must install nnn first. I have found nnn seems not support Windows. It is possible to implement it?

[2020-02-29 04:28] jarun commented on #481
Hi,

`nnn` uses ncursesw which doesn't work on Windows _directly_. I myself have to use Windows due to professional reasons and I use `nnn` and `nnn.vim` on WSL. `nnn` works in the Cygwin env as well.

[2020-02-29 04:28] #481 closed

[2020-03-01 08:26] jarun commented on #472
@JustAPerson in `filterentries()` can you uncomment the following 2 lines:

[code]

and see what keypress you get when you press `Enter`? For me it's '\r` (and ^M).

[2020-03-02 05:29] JustAPerson commented on #472
On 76cf0c65d433f5c694ea2fb4c4edb183f7518e58
[code]
`*ch=13` is carriage return `\r`.

I definitely think you should pursue fixing any undefined behavior in `nnn`, which it seems like there might be a fair bit of. Try exploring `-fsanitize`.

I will not be responding to this issue further.

[2020-03-02 07:34] jarun commented on #472
@JustAPerson nnn uses a shortcut to remember the last filter in-place in `ln`. The NULL terminator is also stored in-place however the start of the filter is hidden away. I am not sure your tool sees through that. That's the reason I wanted to concentrate on the issue you see. Anyway, I'm sure someone else will see it and report if you don't have the time.

[2020-03-02 12:56] jarun opened #483 "ToDo list"
Rolled from #472.

### For next release

- [x] unlimited bookmarks and plugin keys
- [x] config `NNN_OPTS` to specify binary options to `nnn`
- [x] config `NNN_MCLICK` to emulate configurable key
- [x] toggle selection on right click
- [x] ignore hard links when calculating disk usage
- [x] dim (hard/sym) link names (symlinks have `@`)
- [x] more special keys at empty filter prompt in _nav-as-you-

[2020-03-02 12:56] #472 closed

[2020-03-03 20:46] ada-43 opened #484 "Special file names are not aligned in detail view"
#### Environment details
[x] Operating System: linux
[x] Issue exists on `nnn` master

Special file names (symlinks, etc.) are shifted one position to the left.

[2020-03-04 00:27] 0xACE commented on #484
I can't reproduce this in `master`.

Could you submit extra details which you might find relevant? Maybe even a screenshot?

[2020-03-04 00:48] #484 closed

[2020-03-04 00:49] jarun commented on #484
@ada-43 Please confirm this is fixed on master.

@0xACE this is in detail mode due to a recent regression.

[2020-03-04 01:21] 0xACE commented on #484
My bad seems like i forgot to `fetch origin` before i rebased my master...

I noticed you added colours to `symlinks` and what not.

On my local branch i have a poor implementation for colouring files that are eXecutable, do you have plans to adding it to upstream?

Also I'd like to point out that the color the symlinks for directories on my cli are very difficult to see on dark backgrounds (I hav

[2020-03-04 01:25] jarun commented on #484
names of symlinks (to files or dirs) and hard links are dimmed on purpose. I had no other way to distinguish links. How about underlining then?

What happens if the context color is green and the first file after the list of dirs is an executable? The * won't be a quick guess.

[2020-03-04 01:36] 0xACE commented on #484
I'm not a fan of underlining. But do as you please, I'll manage myself. Atm, I don't have a suggestion for this particular problem. I am aware of blue not being the best colour to choose, but I find it relaxing on my screen.

Oh yeah, I forgot about that part, it's true... Since it's a personal build it didn't cause a issue for me. nvm it then...

I'd guess it's too convoluted to ask the user to s

[2020-03-04 01:41] jarun commented on #484
Have a good sleep!

[2020-03-04 09:30] ohcibi commented on #342
When I press `?` there is no mention of a "Lead" key but only a "bookmark key" (which I figure is the one since it is mapped to `^/`).

* The link to the readme above does not work anymore. The term "lead" does not exist in the current readme
* The only place in `man nnn` where a "Lead key" is mentioned, is the section for bookmarks. But it only tells to use the key but not which it is

This commi

[2020-03-04 09:51] jarun commented on #342
Lead key is gone in v2.9.  There's bookmark key and plugin key. I'll update the docs.

[2020-03-04 12:11] ada-43 commented on #484
Shifted names fixed, thank you.

[2020-03-04 13:02] romgrk opened #485 "Support dircolors"
https://linux.die.net/man/5/dir_colors

[2020-03-04 13:05] jarun commented on #485
https://github.com/jarun/nnn/wiki#design-factors

[2020-03-04 13:05] #485 closed

[2020-03-05 17:20] ada-43 opened #486 "^G causes crash"
[x] Issue exists on `nnn` master

^G causes crash "free(): invalid pointer".

Regression was introduced 2020-03-01 in commit a54a23eae53f024b1ae5fbebaa4567d167ca8884 "Minor refactor"
[code]

[2020-03-05 23:20] #486 closed

[2020-03-05 23:20] jarun commented on #486
@ada-43 can you please confirm if this is fixed in commit d97d1522694684fc86af8e553c55b10b6321b7b7?

[2020-03-06 02:07] al3xandru opened #487 "Question: delete forceably?"
What does delete forceably mean?  Is there a non-forceably delete?

Sorry for opening an issue to ask these questions but I couldn't find a better place.  Please feel free to point me to existing docs or a better place to get an answer.  thank you

[2020-03-06 06:36] artkpv commented on #462
Finally, found this. Had this issue also

[2020-03-06 07:57] jarun commented on #487
The message is changed in master to reflect more clearly what will be done.

[2020-03-06 07:57] #487 closed

[2020-03-06 11:39] ada-43 commented on #486
Issue is not fixed.
`(len - 8)` crashes.
`(len - 3)` crashes too.
`(len - 2)` apparently ok.

[2020-03-06 13:28] jarun commented on #486
Thanks for testing ti! I have reverted the change.

[2020-03-06 14:13] mkrusemark commented on #483
Please consider configuration of colors like dircolors. Blue on black is really bad ;-)

[2020-03-06 14:15] jarun commented on #483
@mkrusemark you can change the default color easily: https://github.com/jarun/nnn/wiki#context-color

[2020-03-06 14:18] mkrusemark commented on #483
It's not only about the context but directory and file names. A functionality like dircolors would be highly appreciated.

[2020-03-06 14:23] jarun commented on #483
`nnn` is a minimal file manager by design: https://github.com/jarun/nnn/wiki#design-factors

It supports 8-bit colors. If you are looking for a way to find files by extension use filters or sort by extension.

More that 8-bit colors will not be supported in `nnn`. There are plenty of good file managers which already do that. Pick one of those.

[2020-03-06 14:25] mkrusemark commented on #483
8-bit is sufficient. I just would like to change the color of file names and directories to ones that fit to my black background. The full feature set of dircolors is not necessary.

I think a black screen is standard but the dark blue color of file and directory names is almost impossible to read.

[2020-03-06 14:30] jarun commented on #483
That has nothing to do with `nnn`! You'll have to set the text color in you terminal emulator for files (`nnn` doesn't specify any color for that).

This can be set with `NNN_COLORS`. The color of the dir is the color of the dirs in that context.

[2020-03-06 14:32] #445 closed

[2020-03-06 14:37] jarun commented on #445
Sure thing!

[2020-03-06 14:53] jarun commented on #445
How did you resolve it?

[2020-03-06 15:23] sjmulder commented on #445
Kept the workaround already in place for 2.9: forcing GNU readline on NetBSD. I don't know enough about pkgsrc to find out why *both* termcap and ncurses get selected.

[2020-03-08 02:07] jarun opened #489 "batchrenamer issues"
I integrated the plugin with the following patch:

[code]

Now I enter the `nnn/misc` dir and edit as below:

[code]

and get the following output:

[code]

`auto-completion` is moved to the parent dir as exptected. But `haiku` and `quitcd` remain unchanged.

@KlzXS please take a look.

@0xACE and @maximbaz we will keep this issue open for a while to fix `batchrenamer` issues.

[2020-03-08 21:58] KlzXS commented on #489
Try it now, it should work as expected.

[2020-03-09 01:35] jarun commented on #489
Where's the change?

[2020-03-09 07:38] KlzXS commented on #489
Ohh... You merged the thing. My bad.

[2020-03-09 07:52] KlzXS commented on #489
I opened a PR with the fix.

[2020-03-09 08:59] jarun commented on #489
No problem! I'll commit the changes to invoke tke plugin if available and we can all test the plugin using the diff from PR #490.

[2020-03-09 12:39] jarun commented on #489
@KlzXS with latest changes...

I have `te st1` within `nnn` dir.

I edited as:

    10 misc/test1
to move the dir under `misc`. I get the following error:

    /home/vaio/.config/nnn/plugins/batchrename: ./test1 does not exit

[2020-03-09 12:40] jarun commented on #489
In fact I can't move `te st1` to `test` as well.

[2020-03-11 11:56] jarun commented on #489
Works fine for me so far.

@0xACE and @maximbaz can you guys try the latest version?

[2020-03-11 14:24] maximbaz commented on #489
Just tried, seems to work fine for me too - although I'll prefer to keep using the built-in version of the rename functionality, I don't feel missing any functionality that can be compensated by manually managing a separate rename plugin 🙂

[2020-03-11 14:35] jarun commented on #489
If the plugin is available, it will be used, else the in-built functionality. This is in commit f527dd1c6a6f2065ce9cdfb4337399021265631f.

For most users simple use-cases may suffice, but I've seen myself use-cases which need more powerful handling.

[2020-03-11 14:39] jarun commented on #489
@KlzXS even if I don't change anything, something takes time if I run the script in my home dir. Is it due to the sorting? Can you check if the timing can be improved a bit?

[2020-03-11 14:48] jarun commented on #489
In `/usr/bin` it takes more than 8/9 minutes! I have 1703 entries. I had to ^C when the CPU started noising...

I don't see any such lag with `vidir`.

Are we using the sorted intermediate file approach or doing the sorting in memory? Also post-edit do we sort using `sort` or something else?

[2020-03-11 14:55] KlzXS commented on #489
I'll see what I can do about that, but I'm not really optimistic. The main thing I have my eyes set on would be all the "array" operations. Since POSIX shell doesn't support arrays (besides the arguments array) you have to use some hacks to get around that.

[2020-03-11 14:58] jarun commented on #489
How about converting it to bash?

[2020-03-11 15:00] KlzXS commented on #489
Maybe. I'd have to try it first.

[2020-03-11 15:08] jarun commented on #489
Sure! Just check it out!

[2020-03-11 15:18] jarun commented on #489
Instead of arrays (I am assuming this is indeed the use case), can we save the edited file in another sorted file and read-in the lines from original file and match?

So from original file, read first line and entry number should be 1. From second file read a line, if entry number is 1 match the names and rename if required.
Say the entry number in second file is 3. Then delete entries 1 and 2 fro

[2020-03-11 15:25] KlzXS commented on #489
That could mean 2 and 3 were swapped, we don't know. Or 2 could be missing entirely meaning we should delete it.

Even then there are cases where the original values need to be modified, such as when the parent directory got moved and the child should be renamed as well.

I'll see what works best.

[2020-03-11 15:46] jarun commented on #489
We have already sorted and stored in the file after user edited. It can't be swapped.

Maybe just see what vidir does in this case.

[2020-03-11 15:58] KlzXS commented on #489
That is handles like vidir.

We don't currently sort the user edited file.

[2020-03-11 16:17] vijaygopal1234 opened #492 "`=` Launch app question"
https://github.com/jarun/nnn/blob/f527dd1c6a6f2065ce9cdfb4337399021265631f/src/nnn.c#L4235

I'm assuming `=` keybind is meant to start GUI programs. Why does it provide a "0" as an argument to the program? Am I using it wrong? Typing `=nautilus<Enter>` (or with dolphin) results in them opening with an error.

Additionally, I think some of the documentation is rather cryptic and requires me to look

[2020-03-11 16:30] #492 closed

[2020-03-11 16:30] jarun commented on #492
I think you don't have plugins installed. Please confirm if commit 02754205a295bbd57872be9a41df57f1a8289325 fixes the issue.

Please visit the wiki. Your specific workflow is explained here: https://github.com/jarun/nnn/wiki#selection

[2020-03-11 16:39] vijaygopal1234 commented on #492
That seems to fix the error. Could you clarify what the intended use case of `=` is? It doesn't seem to change the `$PWD` or anything, just a generic GUI app launcher?

Regarding the link to the wiki, I did see it and I get it now! That was more of a comment for beginners, the man page and the help page descriptions for specific features are rather vague and difficult to understand. Rather than `l

[2020-03-11 17:20] jarun commented on #492
The 4th param to spawn is the path. And it's a GUI app launcher.

Advanced usage if `nnn` is not possible without going through the Wiki. There are reasons we have to keep the help concise.

The feature list does say `Launch GUI apps`. Again, we want to keep the in-program help concise.

[2020-03-11 17:57] vijaygopal1234 commented on #492
That's fair. Thank you for nnn!

[2020-03-11 18:20] daniel-vera-g opened #493 "The selection mark(s) (+) disappear after visting a directory"
[x] Operating System: Ubuntu 18.04.4 LTS
[x] Desktop Environment: GNOME 3
[x] Terminal Emulator: gnome-terminal
[x] Shell: zsh
[x] Custom desktop opener (if applicable): -
[x] Issue exists on `nnn` master: v3.0

#### Exact steps to reproduce the issue

1. Open `nnn`
2. Mark file(s)
3. Navigate directory
4. Go back to directory where selected file(s) live

https://asciinema.org/a/u6xKqescFI7dAkofp2

[2020-03-11 19:40] 0xACE commented on #493
`nnn` doesn't support "remarking" items after the display has been manipulated.

Atm there are no plans to support it either because it comes at great cost to the simplicity of the source code.

This topic has been handled multiple times in these issues.

[2020-03-11 20:05] daniel-vera-g commented on #493
Ok. It's just confusing if you come back and cannot remember which files you marked. But if this has already been discussed, I should probably accept it.
Sorry for this "new" issue, but did not found related issues.

[2020-03-11 22:38] 0xACE commented on #493
Well my branch is different from the official one, but there is a key you can hit to preview the selected file in a editable buffer... The previous discussions go over these things...

Also, do other file managers list what files you marked when you leave the view?

I have previously had plans on implementing extra features into `nnn`. One of which was to handle "remarking" files. But really, imho

[2020-03-12 01:46] jarun commented on #493
You don't have to remember. You can press `E` to view (and/or edit) the list of already selected files anytime).

[2020-03-12 01:46] #493 closed

[2020-03-14 19:39] KlzXS commented on #489
Bash works wonders. The whole `/usr/bin`, where I have 4000 entries, can be opened and closed (without edits) in a fraction of a second.

There seems to be a problem where I can't write the original file quick enough, so it reports invalid numbers.

Do you want me to PR the bash version?

[2020-03-14 23:37] jarun commented on #489
Cool!

Sure thing!

[2020-03-15 01:55] jarun commented on #489
Probably we should also rename the plugin to indicate it's an internal one. Maybe `.nren`. At a point I considered making this mechanism as the fallback in `renamer` but I believe we have a much better standalone solution that doesn't need the user to go through installation woes.

[2020-03-15 02:05] jarun commented on #489
Or `.nmv` perhaps...

[2020-03-15 10:54] KlzXS commented on #489
Right. Just let me handle some edge cases and I'll submit it.

[2020-03-15 11:05] jarun commented on #489
Take your time! I am locked indoor with family due to the current situation. Wishing things get back to normal every moment.

[2020-03-15 12:00] KlzXS commented on #489
Checkout #495.

[2020-03-15 14:37] jarun commented on #489
My earlier tests passed in flying colors! Merged.

[2020-03-16 17:53] byulen commented on #483
It would be nice if an option or environment for listing files according to modification time is available. I like to list the files and directories in modification time order and each time I open nnn I have to press "t" twice to make it active. That becomes annoying after a while. Is there a way to make it automatic?

[2020-03-16 22:32] jarun commented on #483
@byulen

That's applicable for all the sort orders. Shall we have program options for all of them?

[2020-03-17 05:53] byulen commented on #483
Yes, please.

[2020-03-17 12:08] 0xACE commented on #483
I'd wager yes, a option to change sorting order would be nice.

Btw another question, sometimes i hit `tt` to sort by time, but what is the intended way to restore sorting to alphabetical order? I find it difficult to know which `tX` combination i should hit to go back to alphabetical...

[2020-03-17 12:32] jarun commented on #483
We are talking of multiple options for each sorting order. I don't think we can have so many options.

Press `tt` again.

[2020-03-17 16:13] jarun commented on #483
@byulen we can't have so many redundant options and we can't give preference to time sort over others. Please use the sort toggle key as it's designed to be used.

[2020-03-17 16:15] jarun commented on #489
This works well so far. I am closing the issue. If we find anything else we'll raise a new one.

[2020-03-17 16:15] #489 closed

[2020-03-17 16:45] byulen commented on #483
@jarun Thanks for answering. There are only 8 sort options that I see from the wiki "T,A,S,E,V,R,du,au". I don't understand what do you mean by many. Furthermore, I think that having a sort option is more important for a file manager that say having colored contexts options which is kind of decoration (not that colored context is not useful though). With all my respect, minimal should not mean lac

[2020-03-17 19:56] jarun commented on #483
@byulen @0xACE @maximbaz

I think I have a better way to do it. What if we provide an option which will make `nnn` ask the sort order at the start?

[2020-03-17 20:01] jarun commented on #483
Or, even better, an option that will take the value of the input we provide on `t`.

[2020-03-17 20:13] 0xACE commented on #483
? From what i can tell we are using `getopt()`, and it supports having commandline flags utilizing arguments.

My suggestion would be that we introduce a command line argument which sets default sort order.
example: `-s t` would sort by `time`. (it doesn't have to be `-s` im just using it as an example).

Or did I misunderstand the question?

Yeah the problem for me is there are times when i forge

[2020-03-17 20:18] jarun commented on #483
Your understanding is correct.

I am planning to use `-T` and remove `-v`. I will leave `-S` as many people would be using `nnn` as a `du` tool already.

[2020-03-17 21:05] jarun commented on #483
This is implemented at commit 85379a703bb698eb69447a1fc2a717e8f2813717.

[2020-03-18 22:27] jarun commented on #483
@0xACE and @maximbaz we need to test the new batch renamer plugin before making the next release. My tests went well but I need more independent results.

[2020-03-19 11:15] zoxves opened #496 "Feature request: no-history mode"
Is there any plans for no-history mode that leaves no traces in .config/nnn after exit? Could be implemented through command line argument.

[2020-03-19 15:53] jarun commented on #496
What do you mean by _history_? If it's the .history file, either

- compile `nnn` with `O_NORL=1`, or
- use a shell function to remove it manunally after running `nnn`

The second way can also be used to remove any other files you don't want to retain.

[2020-03-19 15:53] #496 closed

[2020-03-19 19:35] maximbaz commented on #483
It works for me 👍

I'm still not sure how I feel about plugins though, you want to test them before releases, but they aren't distributed as part of the release, and users will install random version of plugin and expect that it will work? You will be getting bug reports like "I downloaded batch renamer plugin on date X, it doesnt work with version Y of nnn". What if right after releasing 3.1 you

[2020-03-19 19:37] maximbaz commented on #483
Maybe batch renamer plugin shouldn't pollute stdout? After I exit `nnn` I don't really want to see these lines:

[code]

[2020-03-19 19:59] jarun commented on #483
Plugins are not shipped. They are indicative. In-plugin docs are a must read. Maybe we need to document these clearly. So far we did not have any `nnn`-integration related or `nnn` version specific issue because `nnn` is almost decoupled from plugins. What we pass from `nnn` when we invoke a plugin is well-documented and it's not going to change.

@KlzXS can we have conditional logging?

[2020-03-20 16:01] zoxves commented on #496
You mean recompile it without readline completely to get rid of one history-writing string?
Deleting it through script is a bit weird, I don't want it to be written in the first place, isn't "minimize read/writes" one of design goals?
I would try to do PR if it could be accepted.

[2020-03-20 16:56] jarun commented on #496
You have a valid point. I have disabled history file usage by default. User has to use option `-f` now to use it.

[2020-03-20 17:07] rwtallant13 commented on #483
this is not really the place to ask but i didnt want to create a whole new issue for this question. what is the best way to invert a selection with nnn? When encoding my media i tack "-new" onto the file name and would like to be able to select those files with nnn and then invert that selection to be left with just the files that dont have "-new" in the filename. Could this be built into nnn or i

[2020-03-20 17:10] zoxves commented on #496
Oh, so quick. I've just baked PR, but I guess it's history now.
Thank you.

[2020-03-20 17:45] jarun commented on #496
You are welcome!

[2020-03-20 17:47] jarun commented on #483
@rwtallant13 it's on master: `t` followed by `r`.

[2020-03-20 18:02] rwtallant13 commented on #483
that just reverses the sort order right?

What I'm trying to do is something like - select all files that contain '-new' but then invert that selection so i have all files that don't contain '-new' selected, which I can then delete.

[2020-03-20 18:24] jarun commented on #483
If you mean you want to edit a selection manually:

Select the files, then press `E`. Then edit those in your editor. To sort in `vim`: https://vim.fandom.com/wiki/Sort_lines

`nnn` doesn't list _only_ selected files because they can be from different directories.

Otherwise you can also use the list mode in `nnn` where you `find` the files ending with `-new` and feed them to `nnn`.

[2020-03-20 18:33] rwtallant13 commented on #483
I think I was going about it wrong. What about filtering for files in your dir that do **not** contain a certain string? so if i wanted to see all files that don't have the string '-new', how would i do this? i tried using regex ^(?!new) but this didn't work for me.

Again, thanks, I'm sure I am missing something obvious here.

[2020-03-20 19:10] jarun commented on #483
You need PCRE - https://github.com/jarun/nnn/wiki/Developer-guides#compile-with-pcre-lib

[2020-03-20 19:15] KlzXS commented on #483
See #497.

[2020-03-20 19:16] maximbaz commented on #483
`nnn -g` 🙂

[2020-03-20 19:16] maximbaz commented on #483
`nnn -g` 🙂

[2020-03-20 19:24] jarun commented on #483
I tested it. The GNU regex doesn't work with the exclusion pattern. The PCRE one works.

[2020-03-24 14:18] aryadovoy commented on #483
I use with "cp mv progress", but how can I copy dir and set "Yes for all" for overwrite?

[2020-03-24 18:16] 0xACE commented on #483
I'm busy right now so responses from me may be spotty.

I don't think we have this implemented in `origin/master`. You should be able to do it in a plugin though. Feel free to share it with us. (There may even be such a plugin, but I don't tinker much with the supplied plugins)

[2020-03-27 06:29] amanjitsk opened #498 "Feature request: Sort toggles on filtered results only"
Thanks for the amazing project. I encountered a use case for use sort toggles on filtered results only, but AFAIK nnn does not yet do this. So for example, if I cd into a directory with a huge number of files, and filter results, I would like to able to do a du toggle (or others) on just the filtered results. Right now it scans over the entire directory, which can take very long depending on the d

[2020-03-27 07:36] #498 closed

[2020-03-27 07:37] jarun commented on #498
This was working on master and broke due to commit 2d952795a848a8430e5ffcc5613fcedcd0d860b3.

You can use sort toggles on filtered results _on master_ for orders except du and au.

With du and au it's not possible as we need to rescan the directory for per-dir du, calculate total du etc. We also use the same field for size/du for dirs.

[2020-03-28 21:54] jarun commented on #498
du and au should also work fine now. Please confirm.

[2020-03-28 22:38] amanjitsk commented on #498
Sorry still doesn't work. I compiled from master right now

[2020-03-28 22:45] jarun commented on #498
Steps please?

[2020-03-28 22:46] jarun commented on #498
This still applies as du/au has to calculate the current directory usage. But the filter should remain intact.

[2020-03-28 22:49] amanjitsk commented on #498
oh nvmd then it works I guess. I thought you meant du/au also works on the filters now. Thanks!

[2020-03-30 03:14] jarun commented on #366
@annagrram

Is there an easy way to detect that no fortunes are installed? I would really love to have this.

[2020-03-30 03:16] jarun commented on #366
How about having a program switch to make it conditional (disabled by default)?

[2020-03-30 03:49] jarun commented on #366
Added optional fortune in commit 54d25807999282bf1d6ed282be3f38efcdf5bad0.

[2020-03-30 20:29] NovaDev94 commented on #470
@jarun Sorry but I just stumbled upon this, it's fairly annoying cuz I got used to Space selecting and going to next line. And I don't understand how keeping the normal Space behavior gonna mess up nnn.vim either (I'm using it).

[2020-03-30 21:14] jarun commented on #470
Say you want to pick only a single file and use space on it. With auto-proceed enabled the next file is hovered. If you accidentally press Enter, both the files are picked. And generally in picker mode people choose a single file.

[2020-03-31 04:50] NovaDev94 opened #499 "Command prompt not cleared after each command ran"
#### Environment details (Put `x` in the checkbox along with the information)

[x] Operating System: macOS Mojave 10.14.6
[x] Desktop Environment: -
[x] Terminal Emulator: Terminal.app, iTerm, Kitty (all 3)
[x] Shell: bash, zsh, fish (all 3, changed via `chsh -s`)
[x] Custom desktop opener (if applicable): -
[x] Issue exists on `nnn` master: -

#### Exact steps to reproduce the issue

1. Open `nnn

[2020-03-31 05:09] jarun commented on #499
- Are you using the readline version?
- Is the prompt clear?

I see something like the following with zsh and bash (output from the previous command and prompt clean and ready for next input):

[code]

[2020-03-31 05:10] jarun commented on #499
Note: This is from master.

[2020-03-31 05:11] jarun commented on #499
I see the asciinema now.

[2020-03-31 05:25] NovaDev94 commented on #499
I built `nnn` using readline installed from `brew`

[code]

[code]

[2020-03-31 05:27] NovaDev94 commented on #499
I tried it inside Vim (via `nnn.vim`), and seems like there's no problem with `nnn -p -` since the prompt is displayed at the bottom of the screen
![image](https://user-images.githubusercontent.com/6073918/77990195-f3022680-734a-11ea-8f70-0f902216d95d.png)

[2020-03-31 05:30] jarun commented on #499
This is the built-in prompt (not the readline one). In picker mode this is used. You can compile `nnn` without libreadline using the make option `O_NORL=1`.

My readline version is 7.0-3. I am not seeing this issue on kitty (tested latest release available) as well.

[2020-03-31 06:12] jarun commented on #499
I compiled with readline 8.0 now. And still I don't see the issue.

Probably the problem is not with libreadline/nnn as they don't handle printing to the terminal and moving the _pointer_ forward to the end of the input.

@KlzXS any ideas?

[2020-03-31 06:16] NovaDev94 commented on #499
Yeah, I just tried switching to readline 7.0.5 (compile from source) and the problem still persists. It also happens with other terminal emulator and shell too.

Here's a vanilla `/bin/bash` in `Terminal.app`
![image](https://user-images.githubusercontent.com/6073918/77993182-c9003280-7351-11ea-9b35-bfe9f46ce5bf.png)

[2020-03-31 07:40] KlzXS commented on #499
I can't reproduce this. Is this a mac specific bug?

[2020-03-31 10:13] jarun commented on #499
@KlzXS looks like that.

@NovaDev94 can you try with stock readline? Also, just to double check, you are on master, right?

[2020-03-31 14:49] vuduyhung94 commented on #499
I'm having the same problem: zsh, iTerm, macOS 10.14.6, installed via: brew install nnn --HEAD
![image](https://user-images.githubusercontent.com/41577825/78039919-e86e7e00-7398-11ea-98b2-b2c4e2760498.png)

[2020-03-31 15:59] SecretAgentAgentX opened #500 "Installed nnn but can seem to find it"
vvv

[2020-03-31 16:20] jarun commented on #500
I can't understand the issue. There's just vvv in description.

[2020-03-31 16:20] #500 closed

[2020-03-31 16:39] leovilok commented on #500
From the description before editing, I think he is looking for nnn in the KDE menu.
If you want that you'll have to make a `.desktop` file (you can copy [`ranger.desktop`](https://github.com/ranger/ranger/blob/master/doc/ranger.desktop) and replace `ranger` with `nnn` everywhere) and put it in `~/.local/share/applications` (or even `/usr/share/applications`).